Repository apache/hertzbeat, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, license, script, helm, kubernetes, build, docker, docker-compose, doc, home, webapp, e2e, backend, collector, monitoring-template

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

infra:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".asf.yaml"
          - ".gitignore"
          - ".licenserc.yaml"
          - "SECURITY.md"
          - "CODE_OF_CONDUCT.md"
          - "CONTRIBUTING.md"

license:
  - changed-files:
      - any-glob-to-any-file:
          - "material/licenses/**/*"
          - "LICENSE"
          - "NOTICE"

script:
  - changed-files:
      - any-glob-to-any-file:
          - "script/**/*"

helm:
  - changed-files:
      - any-glob-to-any-file:
          - "script/helm/**/*"

kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "script/helm/**/*"

build:
  - changed-files:
      - any-glob-to-any-file:
          - "script/assembly/**/*"

docker:
  - changed-files:
      - any-glob-to-any-file:
          - "script/docker/**/*"
          - "script/docker-compose/**/*"

docker-compose:
    - changed-files:
      - any-glob-to-any-file:
          - "script/docker-compose/**/*"

doc:
  - changed-files:
      - any-glob-to-any-file:
          - "**/README.md"
          - "**/README_CN.md"
          - "home/**/*"

home:
  - changed-files:
      - any-glob-to-any-file:
          - "home/src/**/*"
    
webapp:
  - changed-files:
      - any-glob-to-any-file:
          - "web-app/**/*"

e2e:
  - changed-files:
      - any-glob-to-any-file:
          - "e2e/**/*"


backend:
  - changed-files:
      - any-glob-to-any-file:
          - "alerter/**/*"
          - "collector/**/*"
          - "common/**/*"
          - "grafana/**/*"
          - "manager/**/*"
          - "push/**/*"
          - "remoting/**/*"
          - "warehouse/**/*"

collector:
  - changed-files:
      - any-glob-to-any-file:
          - "collector/**/*"
            
monitoring-template:
  - changed-files:
      - any-glob-to-any-file:
          - "manager/src/main/resources/define/**/*"

[refactor] StoreProperties is no longer useful, delete it
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/store/StoreProperties.java
Labels: backend

i18n for dm
  manager/src/main/resources/define/app-dm.yml
Labels: backend, monitoring-template

i18n for opengauss
  manager/src/main/resources/define/app-opengauss.yml
Labels: backend, monitoring-template

i18n for sqlserver
  manager/src/main/resources/define/app-sqlserver.yml
Labels: backend, monitoring-template

[doc] I18n for monitoring template yml metrics (#1888)
  manager/src/main/resources/define/app-dm.yml
  manager/src/main/resources/define/app-opengauss.yml
  manager/src/main/resources/define/app-sqlserver.yml
Labels: backend, monitoring-template

bugfix statistical metrics data matching fails
  common/src/main/java/org/apache/hertzbeat/common/entity/message/ClusterMsg.java
  common/src/main/java/org/apache/hertzbeat/common/entity/message/CollectRep.java
  common/src/main/java/org/apache/hertzbeat/common/util/JsonUtil.java
Labels: backend

Use generics
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/ConnectionCommonCache.java
Labels: backend, collector

bugfix statistical metrics data matching fails
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
  common/src/main/java/org/apache/hertzbeat/common/util/CommonUtil.java
Labels: backend, collector

[refactor] StoreProperties is no longer useful, delete it (#1887)
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/store/StoreProperties.java
Labels: backend

bugfix statistical metrics data matching fails (#1884)
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
  collector/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
  collector/src/test/java/org/apache/hertzbeat/collector/util/CollectUtilTest.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/JsonLongListAttributeConverter.java
  common/src/main/java/org/apache/hertzbeat/common/entity/message/ClusterMsg.java
  common/src/main/java/org/apache/hertzbeat/common/entity/message/CollectRep.java
  common/src/main/java/org/apache/hertzbeat/common/util/CommonUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/JsonUtil.java
Labels: backend, collector

[doc]add almalinux doc
  home/docs/help/almalinux.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/almalinux.md
Labels: doc

[doc]add almalinux doc
  home/docs/help/almalinux.md
Labels: doc

[doc]add almalinux doc
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/almalinux.md
  home/sidebars.json
Labels: doc

[doc] add help doc for flink monitoring
  home/docs/help/flink.md
  home/docs/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/flink.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/sidebars.json
Labels: doc

[doc] add help doc for flink monitoring (#1893)
  home/docs/help/flink.md
  home/docs/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/flink.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/sidebars.json
Labels: doc

[doc] add almalinux documentation (#1892)
  home/docs/help/almalinux.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/almalinux.md
  home/sidebars.json
Labels: doc

[bugfix]Jexl expression Elasticsearch adaptation
  manager/src/main/resources/define/app-elasticsearch.yml
Labels: backend, monitoring-template

[improve] missing a generic (#1889)
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/ConnectionCommonCache.java
Labels: backend, collector

[bugfix] fixed some metrics of Jexlespression not matching in Elasticsearch (#1894)
  manager/src/main/resources/define/app-elasticsearch.yml
Labels: backend, monitoring-template

feat(*): Support Time Type to Tengine Data Storage
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryTdEngineDataStorage.java
Labels: backend

fix when manager restart, collect register error
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/CollectorAndJobScheduler.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/netty/ManageServer.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/netty/process/HeartbeatProcessor.java
Labels: backend

[improve] support Time Type to Tengine Data Storage (#1890)
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryTdEngineDataStorage.java
Labels: backend

fix when manager restart, collect register error
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/CollectorAndJobScheduler.java
Labels: backend

support random jwt secret when not custom
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/HashedWheelTimer.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/Timeout.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/Timer.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/TimerTask.java
  manager/src/main/java/org/apache/hertzbeat/manager/config/CommonCommandLineRunner.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SystemSecret.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SystemSecretServiceImpl.java
  remoting/README.md
  remoting/src/main/java/org/apache/hertzbeat/remoting/RemotingClient.java
  remoting/src/main/java/org/apache/hertzbeat/remoting/RemotingServer.java
  remoting/src/main/java/org/apache/hertzbeat/remoting/RemotingService.java
  remoting/src/main/java/org/apache/hertzbeat/remoting/netty/NettyRemotingAbstract.java
  remoting/src/main/java/org/apache/hertzbeat/remoting/netty/NettyRemotingClient.java
  remoting/src/main/java/org/apache/hertzbeat/remoting/netty/NettyRemotingServer.java
Labels: doc, backend, collector

Add @HeartLinked as a contributor
  .all-contributorsrc
  README.md
  README_CN.md
Labels: doc

support random jwt secret when not custom
  home/src/pages/team/index.jsx
Labels: doc, home

[feature] support random jwt secret when not custom (#1897)
  .all-contributorsrc
  README.md
  README_CN.md
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/HashedWheelTimer.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/Timeout.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/Timer.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/TimerTask.java
  home/src/pages/team/index.jsx
  manager/src/main/java/org/apache/hertzbeat/manager/config/CommonCommandLineRunner.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SystemSecret.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SystemSecretServiceImpl.java
  remoting/README.md
  remoting/src/main/java/org/apache/hertzbeat/remoting/RemotingClient.java
  remoting/src/main/java/org/apache/hertzbeat/remoting/RemotingServer.java
  remoting/src/main/java/org/apache/hertzbeat/remoting/RemotingService.java
  remoting/src/main/java/org/apache/hertzbeat/remoting/netty/NettyRemotingAbstract.java
  remoting/src/main/java/org/apache/hertzbeat/remoting/netty/NettyRemotingClient.java
  remoting/src/main/java/org/apache/hertzbeat/remoting/netty/NettyRemotingServer.java
Labels: doc, home, backend, collector

bugfix can not use empty collection as query params in eclipselink
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
Labels: backend

[doc]add opensuse doc
  home/docs/help/opensuse.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/opensuse.md
Labels: doc

[doc]add opensuse doc
  home/docs/help/opensuse.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/opensuse.md
  home/sidebars.json
Labels: doc

improve code
  manager/src/main/resources/application.yml
Labels: backend

when receive heartbeat msg, if channel is not exist, collectGoOnline
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/CollectorJobScheduler.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/SchedulerInit.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/netty/ManageServer.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/netty/process/HeartbeatProcessor.java
Labels: backend

improve code
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/jpa/JpaDatabaseDataStorage.java
Labels: backend

[doc] add opensuse doc (#1902)
  home/docs/help/opensuse.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/opensuse.md
  home/sidebars.json
Labels: doc

improve code
  common/src/main/java/org/apache/hertzbeat/common/entity/dto/CollectorInfo.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/CollectorAndJobScheduler.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/controller/MetricsDataController.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/DataStorageDispatch.java
Labels: backend

[bugfix] fix when manager restart, collect register error (#1896)
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/CollectorJobScheduler.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/SchedulerInit.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/netty/ManageServer.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/netty/process/HeartbeatProcessor.java
Labels: backend

update doc
  home/static/img/home/0.png
  home/static/img/home/1.png
  home/static/img/home/10.png
  home/static/img/home/11.png
  home/static/img/home/12.png
  home/static/img/home/13.png
  home/static/img/home/14.png
  home/static/img/home/15.png
  home/static/img/home/16.png
  home/static/img/home/17.png
  home/static/img/home/2.png
  home/static/img/home/3.png
  home/static/img/home/4.png
  home/static/img/home/6.png
  home/static/img/home/7.png
  home/static/img/home/8.png
  home/static/img/home/9.png
  home/static/img/home/status.png
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: doc, webapp

update doc
  README.md
  README_CN.md
Labels: doc

update doc
  README.md
  README_CN.md
  home/docs/advanced/extend-http-example-hertzbeat.md
  home/docs/advanced/extend-http-example-token.md
  home/docs/advanced/extend-tutorial.md
  home/docs/introduce.md
  home/docs/start/account-modify.md
  home/docs/start/docker-deploy.md
  home/docs/start/package-deploy.md
  home/docs/start/quickstart.md
  home/docs/start/sslcert-practice.md
  home/docs/start/upgrade.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http-example-hertzbeat.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http-example-token.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/docker-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/mysql-change.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/package-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/postgresql-change.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/quickstart.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/sslcert-practice.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/upgrade.md
  script/docker/collector/README.md
  script/docker/collector/build.sh
  script/docker/server/README.md
  script/docker/server/build.sh
  web-app/src/app/routes/setting/collector/collector.component.html
Labels: script, docker, doc, webapp

update doc
  README.md
  README_CN.md
Labels: doc
