Repository apache/hertzbeat, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, license, script, helm, kubernetes, build, docker, docker-compose, doc, home, webapp, e2e, backend, collector, monitoring-template

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

infra:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".asf.yaml"
          - ".gitignore"
          - ".licenserc.yaml"
          - "SECURITY.md"
          - "CODE_OF_CONDUCT.md"
          - "CONTRIBUTING.md"

license:
  - changed-files:
      - any-glob-to-any-file:
          - "material/licenses/**/*"
          - "LICENSE"
          - "NOTICE"

script:
  - changed-files:
      - any-glob-to-any-file:
          - "script/**/*"

helm:
  - changed-files:
      - any-glob-to-any-file:
          - "script/helm/**/*"

kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "script/helm/**/*"

build:
  - changed-files:
      - any-glob-to-any-file:
          - "script/assembly/**/*"

docker:
  - changed-files:
      - any-glob-to-any-file:
          - "script/docker/**/*"
          - "script/docker-compose/**/*"

docker-compose:
    - changed-files:
      - any-glob-to-any-file:
          - "script/docker-compose/**/*"

doc:
  - changed-files:
      - any-glob-to-any-file:
          - "**/README.md"
          - "**/README_CN.md"
          - "home/**/*"

home:
  - changed-files:
      - any-glob-to-any-file:
          - "home/src/**/*"
    
webapp:
  - changed-files:
      - any-glob-to-any-file:
          - "web-app/**/*"

e2e:
  - changed-files:
      - any-glob-to-any-file:
          - "e2e/**/*"


backend:
  - changed-files:
      - any-glob-to-any-file:
          - "alerter/**/*"
          - "collector/**/*"
          - "common/**/*"
          - "grafana/**/*"
          - "manager/**/*"
          - "push/**/*"
          - "remoting/**/*"
          - "warehouse/**/*"

collector:
  - changed-files:
      - any-glob-to-any-file:
          - "collector/**/*"
            
monitoring-template:
  - changed-files:
      - any-glob-to-any-file:
          - "manager/src/main/resources/define/**/*"

Update hip/README.md
  hip/README.md
Labels: doc

Update hip/README.md
  hip/README.md
Labels: doc

add refer from
  common/src/main/java/org/apache/hertzbeat/common/util/AliYunSendSmsUtil.java
Labels: backend

Add @Aias00 as a contributor
  .all-contributorsrc
  README.md
  README_CN.md
Labels: doc

Add @westboy as a contributor
  .all-contributorsrc
  README.md
  README_CN.md
Labels: doc

update
  home/src/pages/team/index.jsx
Labels: doc, home

[doc] Add HIP document and template (#1913)
  hip/README.md
  hip/TEMPLATE.md
Labels: doc

update
  home/src/pages/team/index.jsx
Labels: doc, home

update
  script/docker/collector/Dockerfile
  script/docker/server/Dockerfile
Labels: script, docker

[feature] support use ngql query metrics from nebulaGraph
  collector/pom.xml
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NGQLCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NebulaTemplate.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
  collector/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
  collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  collector/src/test/java/org/apache/hertzbeat/collector/util/CollectUtilTest.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/NQGLProtocol.java
  manager/src/main/resources/define/app-nebula_graph_cluster.yml
Labels: backend, collector, monitoring-template

update
  .gitattributes
Labels: none

update
  .gitattributes
Labels: none

update
  .gitattributes
Labels: none

update
  .gitattributes
Labels: none

update
  .gitattributes
Labels: none

update release doc
  home/docs/community/how-to-release.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/how-to-release.md
Labels: doc

[improve] close session pool after metrics query
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NGQLCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NebulaTemplate.java
Labels: backend, collector

[doc] update contribution and add run-build guide
  home/blog/2022-12-19-new-committer.md
  home/docs/community/contribution.md
  home/docs/community/development.md
  home/docs/start/quickstart.md
  home/docusaurus.config.js
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/en/docusaurus-plugin-content-docs/version-v1.1.x.json
  home/i18n/en/docusaurus-theme-classic/footer.json
  home/i18n/en/docusaurus-theme-classic/navbar.json
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-12-19-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/contributing.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/development.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/quickstart.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.1.x.json
  home/i18n/zh-cn/docusaurus-theme-classic/footer.json
  home/i18n/zh-cn/docusaurus-theme-classic/navbar.json
  home/sidebars.json
Labels: doc

[doc] update contribution and add run-build guide
  CONTRIBUTING.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/contribution.md
Labels: infra, doc

[doc] update contribution and add run-build guide
  home/docs/community/how-to-release.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/how-to-release.md
Labels: doc

[refactor] check style and fix
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NebulaTemplate.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NgqlCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
  collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/NgqlProtocol.java
Labels: backend, collector

[improve] add license info for com.vesoft/client/3.6.0
  material/licenses/backend/LICENSE
Labels: license

[type:feat] upgrade webapp angualr ngzorro alain version #1707
  web-app/package.json
  web-app/yarn.lock
Labels: webapp

CONTRIBUTING.md
  CONTRIBUTING.md
  home/docs/others/contributing.md
Labels: infra, doc
