Repository apache/hertzbeat, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, license, script, helm, kubernetes, build, docker, docker-compose, doc, home, webapp, e2e, backend, collector, monitoring-template

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

infra:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".asf.yaml"
          - ".gitignore"
          - ".licenserc.yaml"
          - "SECURITY.md"
          - "CODE_OF_CONDUCT.md"
          - "CONTRIBUTING.md"

license:
  - changed-files:
      - any-glob-to-any-file:
          - "material/licenses/**/*"
          - "LICENSE"
          - "NOTICE"

script:
  - changed-files:
      - any-glob-to-any-file:
          - "script/**/*"

helm:
  - changed-files:
      - any-glob-to-any-file:
          - "script/helm/**/*"

kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "script/helm/**/*"

build:
  - changed-files:
      - any-glob-to-any-file:
          - "script/assembly/**/*"

docker:
  - changed-files:
      - any-glob-to-any-file:
          - "script/docker/**/*"
          - "script/docker-compose/**/*"

docker-compose:
    - changed-files:
      - any-glob-to-any-file:
          - "script/docker-compose/**/*"

doc:
  - changed-files:
      - any-glob-to-any-file:
          - "**/README.md"
          - "**/README_CN.md"
          - "home/**/*"

home:
  - changed-files:
      - any-glob-to-any-file:
          - "home/src/**/*"
    
webapp:
  - changed-files:
      - any-glob-to-any-file:
          - "web-app/**/*"

e2e:
  - changed-files:
      - any-glob-to-any-file:
          - "e2e/**/*"


backend:
  - changed-files:
      - any-glob-to-any-file:
          - "alerter/**/*"
          - "collector/**/*"
          - "common/**/*"
          - "grafana/**/*"
          - "manager/**/*"
          - "push/**/*"
          - "remoting/**/*"
          - "warehouse/**/*"

collector:
  - changed-files:
      - any-glob-to-any-file:
          - "collector/**/*"
            
monitoring-template:
  - changed-files:
      - any-glob-to-any-file:
          - "manager/src/main/resources/define/**/*"

[bugfix] fix can not use empty collection as query params in eclipselink (#1900)
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
Labels: backend

add download page
  home/docs/download.md
  home/docusaurus.config.js
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/download.md
Labels: doc

add download page
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/en/docusaurus-theme-classic/navbar.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-theme-classic/navbar.json
Labels: doc

remove unused
  home/src/constants.js
  home/src/pages/components/Sponsor.js
  home/src/pages/index.js
  home/static/img/icons/cmge_logo.png
  home/static/img/icons/cnsodata_logo.svg
  home/static/img/icons/hibobi_logo.svg
  home/static/img/icons/sc_edu_logo.png
  home/static/img/icons/skyworth_logo.png
Labels: doc, home

update doc
  home/docs/start/package-deploy.md
  home/docs/start/upgrade.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/package-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/upgrade.md
Labels: doc

update doc
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/sslcert-practice.md
  manager/src/main/resources/application.yml
  manager/src/main/resources/sureness.yml
  script/docker-compose/hertzbeat-mysql-iotdb/README.md
  script/docker-compose/hertzbeat-mysql-iotdb/README_CN.md
  script/docker-compose/hertzbeat-mysql-iotdb/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-tdengine/README.md
  script/docker-compose/hertzbeat-mysql-tdengine/README_CN.md
  script/docker-compose/hertzbeat-mysql-tdengine/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/README.md
  script/docker-compose/hertzbeat-mysql-victoria-metrics/README_CN.md
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/sureness.yml
  script/docker-compose/hertzbeat-postgresql-iotdb/README.md
  script/docker-compose/hertzbeat-postgresql-iotdb/README_CN.md
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/sureness.yml
  script/helm/hertzbeat/templates/manager/configmap.yaml
  script/sureness.yml
Labels: script, helm, kubernetes, docker, docker-compose, doc, backend

update doc
  script/helm/hertzbeat/Chart.yaml
  script/helm/hertzbeat/README.md
Labels: script, helm, kubernetes, doc

update doc
  script/assembly/collector/bin/entrypoint.sh
  script/assembly/collector/bin/restart.sh
  script/assembly/collector/bin/shutdown.sh
  script/assembly/collector/bin/startup.sh
Labels: script, build

Add UdpCollectImplTest
  collector/src/test/java/org/apache/hertzbeat/collector/collect/udp/UdpCollectImplTest.java
Labels: backend, collector

[test] add test for UdpCollectImpl (#1906)
  collector/src/test/java/org/apache/hertzbeat/collector/collect/udp/UdpCollectImplTest.java
Labels: backend, collector

[improve]fix github unknown licenses found
  .gitpod.yml
  .licenserc.yaml
  LICENSE.tpl
Labels: infra

[improve]fix github unknown licenses found (#1907)
  .gitpod.yml
  .licenserc.yaml
  LICENSE.tpl
Labels: infra

[type:bugfix] fix customized menu invalid bug #1898
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AppServiceImpl.java
Labels: backend

[type:bugfix] fix HTTP API bug #1895
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
Labels: backend, collector

[bugfix] fix customized menu invalid bug #1898 (#1908)
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AppServiceImpl.java
Labels: backend

[bugfix] fix HTTP API bug #1895 (#1909)
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
Labels: backend, collector

Add WebsocketCollectImplTest
  collector/src/main/java/org/apache/hertzbeat/collector/collect/websocket/WebsocketCollectImpl.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/websocket/WebsocketCollectImplTest.java
Labels: backend, collector

HIP document and template
  hip/README.md
  hip/TEMPLATE.md
Labels: doc

clean up unused home code
  home/docs/help/issue.md
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/issue.md
  home/sidebars.json
  home/src/CdnTransfer.js
  home/src/constants.js
  home/src/css/custom.css
  home/src/css/docsearch.css
  home/src/pages/components/DiaLog.js
  home/src/pages/components/DiaLog.module.css
  home/src/pages/components/Feature.js
  home/src/pages/components/Feature.module.css
  home/src/pages/components/Highlight.js
  home/src/pages/components/LogoCarousel.js
  home/src/pages/components/LogoCarousel.module.css
  home/src/pages/components/LogoCarouselStatic.js
  home/src/pages/components/Robot.js
  home/src/pages/components/Robot.module.css
  home/src/pages/components/Section.js
  home/src/pages/components/Section.module.css
  home/src/pages/components/Sponsor.js
  home/src/pages/components/Sponsor.module.css
  home/src/pages/components/highlight.module.css
  home/src/pages/index.js
  home/src/pages/styles.module.css
  home/src/pages/team/index.css
  home/src/pages/team/index.jsx
  home/src/sw.js
  home/src/theme/card.jsx
  home/static/img/icons/tancloud-logo.svg
  home/static/img/icons/tancloud_logo.svg
  home/static/manifest.json
  home/versioned_sidebars/version-v1.1.x-sidebars.json
Labels: doc, home

[test] add test for WebsocketCollectImpl (#1912)
  collector/src/main/java/org/apache/hertzbeat/collector/collect/websocket/WebsocketCollectImpl.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/websocket/WebsocketCollectImplTest.java
Labels: backend, collector

clean up unused home code
  home/src/css/custom.css
  home/src/css/docsearch.css
  home/src/css/hero.css
  home/src/css/navbar.css
  home/src/pages/styles.module.css
  home/src/pages/team/index.css
Labels: doc, home

clean up unused home code
  home/src/css/custom.css
  home/src/css/docsearch.css
  home/src/css/navbar.css
Labels: doc, home

[doc] translates chinese comment to english.
  script/assembly/server/assembly-docker-compose.xml
  script/assembly/server/assembly-linux-amd64.xml
  script/assembly/server/assembly-linux-arm64.xml
  script/assembly/server/assembly-macos-amd64.xml
  script/assembly/server/assembly-macos-arm64.xml
  script/assembly/server/assembly-windows-64.xml
  script/assembly/server/assembly.xml
  script/assembly/server/bin/entrypoint.sh
  script/assembly/server/bin/restart.sh
  script/assembly/server/bin/shutdown.sh
  script/assembly/server/bin/startup.sh
Labels: script, build

[test] add test for UdpCollectImpl (#1906)
  collector/src/test/java/org/apache/hertzbeat/collector/collect/udp/UdpCollectImplTest.java
Labels: backend, collector

[test] add test for WebsocketCollectImpl (#1912)
  collector/src/main/java/org/apache/hertzbeat/collector/collect/websocket/WebsocketCollectImpl.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/websocket/WebsocketCollectImplTest.java
Labels: backend, collector

[bugfix] fix HTTP API bug #1895 (#1909)
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
Labels: backend, collector

[improve]fix github unknown licenses found (#1907)
  .gitpod.yml
  .licenserc.yaml
  LICENSE.tpl
Labels: infra

[bugfix] fix customized menu invalid bug #1898 (#1908)
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AppServiceImpl.java
Labels: backend

clean up unused home code
  home/src/css/buttons.css
  home/src/css/custom.css
  home/src/css/docsearch.css
  home/src/css/hero.css
  home/src/pages/index.js
Labels: doc, home

[doc] translates chinese comment to english. (#1914)
  script/assembly/server/assembly-docker-compose.xml
  script/assembly/server/assembly-linux-amd64.xml
  script/assembly/server/assembly-linux-arm64.xml
  script/assembly/server/assembly-macos-amd64.xml
  script/assembly/server/assembly-macos-arm64.xml
  script/assembly/server/assembly-windows-64.xml
  script/assembly/server/assembly.xml
  script/assembly/server/bin/entrypoint.sh
  script/assembly/server/bin/restart.sh
  script/assembly/server/bin/shutdown.sh
  script/assembly/server/bin/startup.sh
Labels: script, build

clean up unused home code
  home/docusaurus.config.js
Labels: doc

update webapp remove unused
  web-app/README.md
  web-app/angular.json
  web-app/proxy.conf.js
  web-app/src/app/core/startup/startup.service.ts
  web-app/src/assets/app-data.json
  web-app/src/assets/img/icon-gitee.js
Labels: doc, webapp

update refer from
  common/src/main/java/org/apache/hertzbeat/common/util/AliYunSendSmsUtil.java
  e2e/start.sh
  manager/src/main/java/org/apache/hertzbeat/manager/nativex/HertzbeatRuntimeHintsRegistrar.java
Labels: e2e, backend

add web-app/src/app/routes/exception in license
  .licenserc.yaml
  LICENSE
  web-app/src/app/routes/exception/exception-routing.module.ts
  web-app/src/app/routes/exception/exception.component.ts
  web-app/src/app/routes/exception/exception.module.ts
Labels: infra, license, webapp

Update hip/README.md
  hip/README.md
Labels: doc

Update hip/README.md
  hip/README.md
Labels: doc

Update hip/README.md
  hip/README.md
Labels: doc

Update hip/README.md
  hip/README.md
Labels: doc

Update hip/README.md
  hip/README.md
Labels: doc

Update hip/README.md
  hip/README.md
Labels: doc
