Repository apache/hertzbeat, changes with the labels that .github/labeler.yml gives for each.
All labels: infra, license, script, helm, kubernetes, build, docker, docker-compose, doc, home, webapp, e2e, backend, collector, monitoring-template

.github/labeler.yml:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

infra:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".asf.yaml"
          - ".gitignore"
          - ".licenserc.yaml"
          - "SECURITY.md"
          - "CODE_OF_CONDUCT.md"
          - "CONTRIBUTING.md"

license:
  - changed-files:
      - any-glob-to-any-file:
          - "material/licenses/**/*"
          - "LICENSE"
          - "NOTICE"

script:
  - changed-files:
      - any-glob-to-any-file:
          - "script/**/*"

helm:
  - changed-files:
      - any-glob-to-any-file:
          - "script/helm/**/*"

kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "script/helm/**/*"

build:
  - changed-files:
      - any-glob-to-any-file:
          - "script/assembly/**/*"

docker:
  - changed-files:
      - any-glob-to-any-file:
          - "script/docker/**/*"
          - "script/docker-compose/**/*"

docker-compose:
    - changed-files:
      - any-glob-to-any-file:
          - "script/docker-compose/**/*"

doc:
  - changed-files:
      - any-glob-to-any-file:
          - "**/README.md"
          - "**/README_CN.md"
          - "home/**/*"

home:
  - changed-files:
      - any-glob-to-any-file:
          - "home/src/**/*"
    
webapp:
  - changed-files:
      - any-glob-to-any-file:
          - "web-app/**/*"

e2e:
  - changed-files:
      - any-glob-to-any-file:
          - "e2e/**/*"


backend:
  - changed-files:
      - any-glob-to-any-file:
          - "alerter/**/*"
          - "collector/**/*"
          - "common/**/*"
          - "grafana/**/*"
          - "manager/**/*"
          - "push/**/*"
          - "remoting/**/*"
          - "warehouse/**/*"

collector:
  - changed-files:
      - any-glob-to-any-file:
          - "collector/**/*"
            
monitoring-template:
  - changed-files:
      - any-glob-to-any-file:
          - "manager/src/main/resources/define/**/*"

[feature] add influxdb metrics monitoring (#1730)
  home/docs/help/influxdb.md
  home/i18n/en/docusaurus-plugin-content-docs/version-v1.1.x/help/influxdb.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/influxdb.md
  home/sidebars.json
  manager/src/main/resources/define/app-influxdb.yml
Labels: doc, backend, monitoring-template

[bugfix]centos top10 repair
  manager/src/main/resources/define/app-centos.yml
Labels: backend, monitoring-template

[doc] add help document for rocketmq
  home/docs/help/influxdb.md
  home/docs/help/rocketmq.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/rocketmq.md
  home/sidebars.json
Labels: doc

[doc] add help document for rocketmq (#1874)
  home/docs/help/influxdb.md
  home/docs/help/rocketmq.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/rocketmq.md
  home/sidebars.json
Labels: doc

support flyway upgrade sql
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/JsonStringListAttributeConverter.java
  common/src/main/java/org/apache/hertzbeat/common/util/JsonUtil.java
  manager/pom.xml
  manager/src/main/java/org/apache/hertzbeat/manager/config/FlywayConfiguration.java
  manager/src/main/resources/application.yml
  manager/src/main/resources/db/migration/h2/V160__update_column.sql
  manager/src/main/resources/db/migration/mysql/V160__update_column.sql
  manager/src/main/resources/db/migration/postgresql/V160__update_column.sql
  material/licenses/backend/LICENSE
  pom.xml
Labels: license, backend

merge from master
  manager/src/test/java/org/apache/hertzbeat/manager/ManagerTest.java
Labels: backend

[feature] Support Redfish protocol to monitoring server (#1867)
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/RedfishConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/ConnectSession.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishClient.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishCollectionSchema.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishConnectSession.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/Session.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  collector/src/test/java/org/apache/hertzbeat/collector/collect/redfish/RedfishCollectImplTest.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/RedfishProtocol.java
  manager/src/main/resources/define/app-redfish.yml
Labels: backend, collector, monitoring-template

[bugfix] fix debian monitoring template issue about process monitoring (#1868)
  manager/src/main/resources/define/app-debian.yml
Labels: backend, monitoring-template

[bugfix] centos top10 shows missing one (#1870)
  manager/src/main/resources/define/app-centos.yml
Labels: backend, monitoring-template

support flyway upgrade sql
  manager/src/main/resources/db/migration/postgresql/V160__update_column.sql
  manager/src/main/resources/logback-spring.xml
Labels: backend

Update manager/src/main/resources/db/migration/h2/V160__update_column.sql
  manager/src/main/resources/db/migration/h2/V160__update_column.sql
Labels: backend

Update manager/src/main/resources/db/migration/postgresql/V160__update_column.sql
  manager/src/main/resources/db/migration/postgresql/V160__update_column.sql
Labels: backend

Update manager/src/main/resources/db/migration/mysql/V160__update_column.sql
  manager/src/main/resources/db/migration/mysql/V160__update_column.sql
Labels: backend

support flyway upgrade sql
  manager/src/main/resources/db/migration/h2/V160__update_column.sql
  manager/src/main/resources/db/migration/mysql/V160__update_column.sql
  manager/src/main/resources/db/migration/postgresql/V160__update_column.sql
Labels: backend

[bugfix]Fix top10 process command.
  manager/src/main/resources/define/app-almalinux.yml
  manager/src/main/resources/define/app-centos.yml
  manager/src/main/resources/define/app-coreos.yml
  manager/src/main/resources/define/app-euleros.yml
  manager/src/main/resources/define/app-freebsd.yml
  manager/src/main/resources/define/app-linux.yml
  manager/src/main/resources/define/app-opensuse.yml
  manager/src/main/resources/define/app-redhat.yml
  manager/src/main/resources/define/app-rockylinux.yml
  manager/src/main/resources/define/app-ubuntu.yml
Labels: backend, monitoring-template

support flyway upgrade sql
  manager/src/main/resources/db/migration/mysql/V160__update_column.sql
Labels: backend

fix test
  manager/src/main/resources/application-test.yml
Labels: backend

[doc] update help document (#1861)
  home/docs/help/guide.md
  home/docs/help/websocket.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/websocket.md
  home/sidebars.json
  manager/src/main/resources/define/app-nebulaGraph.yml
Labels: doc, backend, monitoring-template

[improve] Delete the timestamp field in the class MetricFamily.Metric
  collector/src/main/java/org/apache/hertzbeat/collector/collect/prometheus/parser/MetricFamily.java
Labels: backend, collector

Use java.lang.AutoCloseable instead of CacheCloseable
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/CacheCloseable.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/ConnectionCommonCache.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/JdbcConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/JmxConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/MongodbConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/RedfishConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/RedisConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/SshConnect.java
Labels: backend, collector

Update @gjjjj0101 as a contributor
  .all-contributorsrc
  README.md
  README_CN.md
Labels: doc

Add @LLP2333 as a contributor
  .all-contributorsrc
  README.md
  README_CN.md
Labels: doc

Revert " Add @LLP2333 as a contributor"
  .all-contributorsrc
  README.md
  README_CN.md
Labels: doc

Add @LLP2333 as a contributor
  .all-contributorsrc
  README.md
  README_CN.md
Labels: doc

update doc
  home/src/pages/team/index.jsx
Labels: doc, home

[bugfix]Fix top10 process command.
  manager/src/main/resources/define/app-almalinux.yml
  manager/src/main/resources/define/app-centos.yml
  manager/src/main/resources/define/app-coreos.yml
  manager/src/main/resources/define/app-euleros.yml
  manager/src/main/resources/define/app-freebsd.yml
  manager/src/main/resources/define/app-linux.yml
  manager/src/main/resources/define/app-opensuse.yml
  manager/src/main/resources/define/app-redhat.yml
  manager/src/main/resources/define/app-rockylinux.yml
  manager/src/main/resources/define/app-ubuntu.yml
Labels: backend, monitoring-template

[feature] support the VictoriaMetrics cluster
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/store/vm/cluster/VictoriaMetricsClusterProperties.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/store/vm/cluster/VictoriaMetricsInsertProperties.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/store/vm/cluster/VictoriaMetricsSelectProperties.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryVictoriaMetricsClusterDataStorage.java
Labels: backend

[featurn] support flyway database migration (#1875)
  .all-contributorsrc
  README.md
  README_CN.md
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/JsonStringListAttributeConverter.java
  common/src/main/java/org/apache/hertzbeat/common/util/JsonUtil.java
  home/src/pages/team/index.jsx
  manager/pom.xml
  manager/src/main/java/org/apache/hertzbeat/manager/config/FlywayConfiguration.java
  manager/src/main/resources/application-test.yml
  manager/src/main/resources/application.yml
  manager/src/main/resources/db/migration/h2/V160__update_column.sql
  manager/src/main/resources/db/migration/mysql/V160__update_column.sql
  manager/src/main/resources/db/migration/postgresql/V160__update_column.sql
  manager/src/main/resources/logback-spring.xml
  material/licenses/backend/LICENSE
  pom.xml
Labels: license, doc, home, backend

[improve] Delete the timestamp field in the class MetricFamily.Metric (#1878)
  collector/src/main/java/org/apache/hertzbeat/collector/collect/prometheus/parser/MetricFamily.java
Labels: backend, collector

[improve] Use java.lang.AutoCloseable instead of CacheCloseable (#1879)
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/CacheCloseable.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/ConnectionCommonCache.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/JdbcConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/JmxConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/MongodbConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/RedfishConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/RedisConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/SshConnect.java
Labels: backend, collector

[improve]Replace -aux to aux
  manager/src/main/resources/define/app-almalinux.yml
  manager/src/main/resources/define/app-centos.yml
  manager/src/main/resources/define/app-coreos.yml
  manager/src/main/resources/define/app-euleros.yml
  manager/src/main/resources/define/app-freebsd.yml
  manager/src/main/resources/define/app-linux.yml
  manager/src/main/resources/define/app-opensuse.yml
  manager/src/main/resources/define/app-redhat.yml
  manager/src/main/resources/define/app-rockylinux.yml
  manager/src/main/resources/define/app-ubuntu.yml
Labels: backend, monitoring-template

[bugfix] fix top10 process command. (#1876)
  manager/src/main/resources/define/app-almalinux.yml
  manager/src/main/resources/define/app-centos.yml
  manager/src/main/resources/define/app-coreos.yml
  manager/src/main/resources/define/app-euleros.yml
  manager/src/main/resources/define/app-freebsd.yml
  manager/src/main/resources/define/app-linux.yml
  manager/src/main/resources/define/app-opensuse.yml
  manager/src/main/resources/define/app-redhat.yml
  manager/src/main/resources/define/app-rockylinux.yml
  manager/src/main/resources/define/app-ubuntu.yml
Labels: backend, monitoring-template

[feature] support the VictoriaMetrics cluster (#1880)
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/store/vm/cluster/VictoriaMetricsClusterProperties.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/store/vm/cluster/VictoriaMetricsInsertProperties.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/store/vm/cluster/VictoriaMetricsSelectProperties.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryVictoriaMetricsClusterDataStorage.java
Labels: backend

Refactor common cache code.
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/AbstractConnection.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/ConnectionCommonCache.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/JdbcConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/JmxConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/MongodbConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/RedfishConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/RedisConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/database/JdbcCommonCollect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/jmx/JmxCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/mongodb/MongodbSingleCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redis/RedisCommonCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/ssh/SshCollectImpl.java
Labels: backend, collector

[improve] Refactor common cache code (#1881)
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/AbstractConnection.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/ConnectionCommonCache.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/JdbcConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/JmxConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/MongodbConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/RedfishConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/RedisConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/database/JdbcCommonCollect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/jmx/JmxCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/mongodb/MongodbSingleCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redis/RedisCommonCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/ssh/SshCollectImpl.java
Labels: backend, collector

[improve] Eliminate Unnecessary Unboxing and Generics
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineExcelImExportServiceImpl.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefinesControllerTest.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/pop3/Pop3CollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/push/PushCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/HashedWheelTimer.java
  collector/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
  common/src/test/java/org/apache/hertzbeat/common/util/JsonUtilTest.java
  push/src/main/java/org/apache/hertzbeat/push/service/impl/PushServiceImpl.java
Labels: backend, collector

[bugfix][doc]Add kafka sidebar.
  home/sidebars.json
Labels: doc

[refactor] eliminate unnecessary unboxing and generics (#1882)
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineExcelImExportServiceImpl.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefinesControllerTest.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/pop3/Pop3CollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/push/PushCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/HashedWheelTimer.java
  collector/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
  common/src/test/java/org/apache/hertzbeat/common/util/JsonUtilTest.java
  push/src/main/java/org/apache/hertzbeat/push/service/impl/PushServiceImpl.java
Labels: backend, collector

[bugfix][doc] add kafka sidebar. (#1883)
  home/sidebars.json
Labels: doc

bugfix statistical metrics data matching fails
  collector/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
  collector/src/test/java/org/apache/hertzbeat/collector/util/CollectUtilTest.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/JsonLongListAttributeConverter.java
Labels: backend, collector
