Repository apache/hertzbeat, pull requests merged in 2022-12, with the labels that each got.

#489 [script] support service restart shell
  script/assembly/server/bin/restart.sh
Labels: enhancement

#491 [collector] fix protocol ssl_cert not support
  collector/src/main/resources/META-INF/services/com.usthe.collector.collect.AbstractCollect
Labels: bug

#493 Update sqlserver.md
  home/docs/help/sqlserver.md
Labels: documentation, enhancement, good first pull request

#501 [webapp] upgrade web base angular version to 14
  CONTRIBUTING.md
  home/docs/others/contributing.md
  home/i18n/en/docusaurus-plugin-content-docs/current/others/contributing.md
  home/versioned_docs/version-v1.0.0/others/contributing.md
  web-app/.gitignore
  web-app/README.md
  web-app/_mock/_user.ts
  web-app/angular.json
  web-app/package.json
  web-app/src/app/core/startup/startup.service.ts
  web-app/src/app/layout/basic/basic.component.ts
  web-app/src/app/layout/basic/widgets/fullscreen.component.ts
  web-app/src/app/layout/passport/passport.component.less
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/dashboard/dashboard.component.less
  web-app/src/app/routes/dashboard/dashboard.component.ts
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/passport/login/login.component.less
  web-app/src/app/routes/setting/tags/tags.component.html
  web-app/src/app/routes/setting/tags/tags.component.spec.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/img/avatar.svg
  web-app/src/assets/img/icon-gitee.js
  web-app/src/styles.less
  web-app/src/styles/theme.less
  web-app/yarn.lock
Labels: enhancement, good first pull request

#507 support apache shenyu metrics monitoring
  manager/src/main/resources/define/app/app-shenyu.yml
  manager/src/main/resources/define/param/param-shenyu.yml
Labels: enhancement, good first pull request

#508 [collector] bugfix npe when ssh collect error
  collector/src/main/java/com/usthe/collector/collect/ssh/SshCollectImpl.java
Labels: bug

#515 [manager] springboot2 monitor support base path config
  manager/src/main/resources/define/app/app-springboot2.yml
  manager/src/main/resources/define/param/param-springboot2.yml
Labels: bug

#518 [collector] add unit test collector/util/CollectUtil.java (#446)
  collector/src/test/java/com/usthe/collector/util/CollectUtilTest.java
Labels: enhancement, good first pull request, unit test case

#523 [doc] correct copyright info
  home/docusaurus.config.js
  web-app/src/app/layout/basic/basic.component.ts
  web-app/src/app/layout/passport/passport.component.html
Labels: good first pull request
