Repository apache/hertzbeat, pull requests merged in 2022-03, with the labels that each got.

#11 feature: 支持mariadb数据库类型监控
  collector/src/main/java/com/usthe/collector/collect/database/JdbcCommonCollect.java
  home/docs/help/guide.md
  home/docs/help/mariadb.md
  home/sidebars.json
  manager/src/main/resources/define/app/mariadb.yml
  manager/src/main/resources/define/param/mariadb.yml
Labels: enhancement

#16 [collector,manager]feature 支持postgresql数据库的监控
  collector/pom.xml
  collector/src/main/java/com/usthe/collector/collect/database/JdbcCommonCollect.java
  collector/src/main/java/com/usthe/collector/util/CollectorConstants.java
  manager/src/main/resources/define/app/postgresql.yml
  manager/src/main/resources/define/param/postgresql.yml
Labels: enhancement

#20 支持Linux操作系统监控类型
  collector/pom.xml
  collector/src/main/java/com/usthe/collector/collect/common/cache/CommonCache.java
  collector/src/main/java/com/usthe/collector/collect/common/ssh/CommonSshClient.java
  collector/src/main/java/com/usthe/collector/collect/ssh/SshCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/telnet/TelnetCollectImpl.java
  collector/src/main/java/com/usthe/collector/dispatch/DispatchConstants.java
  collector/src/main/java/com/usthe/collector/dispatch/MetricsCollect.java
  common/src/main/java/com/usthe/common/entity/job/Metrics.java
  common/src/main/java/com/usthe/common/entity/job/protocol/SshProtocol.java
  home/docs/help/guide.md
  home/docs/help/issue.md
  home/docs/help/linux.md
  home/sidebars.json
  manager/src/main/resources/define/app/linux.yml
  manager/src/main/resources/define/param/linux.yml
  web-app/src/assets/app-data.json
Labels: enhancement, good first issue

#22 [docs]add github action
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/codeql-analysis.yml
  .github/workflows/issues-translator.yml
  .github/workflows/maven-build.yml
Labels: enhancement

#27 添加docker-compose部署方案
  hertzbeat-for-dockercompose/Readme.md
  hertzbeat-for-dockercompose/conf/application.yml
  hertzbeat-for-dockercompose/conf/sql/schema.sql
  hertzbeat-for-dockercompose/conf/sureness.yml
  hertzbeat-for-dockercompose/dbdata/mysqldata/.gitignore
  hertzbeat-for-dockercompose/dbdata/taosdata/.gitignore
  hertzbeat-for-dockercompose/docker-compose.yaml
Labels: enhancement

#29 [manager,webapp]feature 监控列表支持过滤搜索
  manager/src/main/java/com/usthe/manager/controller/MonitorsController.java
  web-app/src/app/layout/basic/widgets/search.component.ts
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/service/monitor.service.ts
Labels: enhancement

#40 [collector]fix jdbc spi并发加载死锁
  collector/src/main/java/com/usthe/collector/collect/database/JdbcSpiLoader.java
  collector/src/main/resources/META-INF/spring.factories
Labels: bug

#43 [collector]fix 采集任务超时监测线程处理异常
  collector/src/main/java/com/usthe/collector/dispatch/CommonDispatcher.java
  common/src/main/java/com/usthe/common/entity/job/Job.java
  warehouse/src/main/java/com/usthe/warehouse/store/TdEngineDataStorage.java
Labels: bug
