Repository apache/hertzbeat, pull requests merged in 2022-11, with the labels that each got.

#409 【bugfix#408】if logs dir not exist, create logs dir
  script/assembly/server/bin/startup.bat
Labels: bug, good first pull request

#411 [home] add DM db document supplement
  home/docs/help/dm.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/dm.md
  home/i18n/en/docusaurus-plugin-content-docs/version-v1.0.0.json
  home/sidebars.json
Labels: good first pull request

#413 [warehouse] bugfix RealTimeRedisDataStorage wrong extend from
  warehouse/src/main/java/com/usthe/warehouse/store/RealTimeRedisDataStorage.java
Labels: bug

#414 end The query closed the dataSet
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryIotDbDataStorage.java
Labels: bug

#417 [collector] support more powerful replace placeholder ^_^ and -_-
  collector/src/main/java/com/usthe/collector/collect/snmp/SnmpCollectImpl.java
  collector/src/main/java/com/usthe/collector/util/CollectUtil.java
Labels: enhancement, good first pull request

#418 [collector] support trigger and grading multiple subtasks through -_- placeholder expression
  collector/src/main/java/com/usthe/collector/dispatch/CommonDispatcher.java
  collector/src/main/java/com/usthe/collector/util/CollectUtil.java
  common/src/main/java/com/usthe/common/entity/job/Metrics.java
Labels: enhancement, good first pull request

#421 WIP:feature support k8s monitor, http monitor nacos, service&http_micro monitor msa
  collector/pom.xml
  collector/src/main/java/com/usthe/collector/collect/AbstractParseResponse.java
  collector/src/main/java/com/usthe/collector/collect/http/HttpCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/http/MicroServiceActuatorHttpCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/http/micro/AbstractMicroParse.java
  collector/src/main/java/com/usthe/collector/collect/http/micro/MicroCommonParse.java
  collector/src/main/java/com/usthe/collector/collect/http/micro/MicroLastParser.java
  collector/src/main/java/com/usthe/collector/collect/http/micro/MicroParseCreater.java
  collector/src/main/java/com/usthe/collector/collect/http/micro/MicroRequestsParse.java
  collector/src/main/java/com/usthe/collector/collect/k8s/K8sCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/k8s/K8sMetricsModel.java
  collector/src/main/java/com/usthe/collector/collect/k8s/K8sMetricsUtil.java
  collector/src/main/java/com/usthe/collector/collect/microservice/JsonPathParseResponse.java
  collector/src/main/java/com/usthe/collector/collect/microservice/MicroServiceParentCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/microservice/parse/DefaultParseResponse.java
  collector/src/main/java/com/usthe/collector/collect/microservice/parse/MicroParseResponse.java
  collector/src/main/java/com/usthe/collector/collect/microservice/parse/PrometheusParseResponse.java
  collector/src/main/java/com/usthe/collector/collect/microservice/parse/SiteMapParseResponse.java
  collector/src/main/java/com/usthe/collector/collect/microservice/parse/WebsiteParseResponse.java
  collector/src/main/java/com/usthe/collector/collect/microservice/parse/XmlPathParseResponse.java
  collector/src/main/java/com/usthe/collector/collect/strategy/CollectStrategyFactory.java
  collector/src/main/java/com/usthe/collector/collect/strategy/ParseStrategyFactory.java
  collector/src/main/java/com/usthe/collector/dispatch/DispatchConstants.java
  collector/src/main/java/com/usthe/collector/dispatch/MetricsCollect.java
  collector/src/main/java/com/usthe/collector/util/JsonPathParser.java
  collector/src/main/java/com/usthe/collector/util/K8sClient.java
  common/src/main/java/com/usthe/common/entity/job/Metrics.java
  common/src/main/java/com/usthe/common/entity/job/protocol/HttpProtocol.java
  common/src/main/java/com/usthe/common/entity/job/protocol/K8sProtocol.java
  common/src/main/java/com/usthe/common/entity/job/protocol/ServiceProtocol.java
  common/src/main/java/com/usthe/common/model/ServicePodModel.java
  common/src/main/java/com/usthe/common/util/GsonUtil.java
  manager/src/main/resources/define/app/app-elasticsearch.yml
  manager/src/main/resources/define/app/appmanager.yml
  manager/src/main/resources/define/app/k8s.yml
  manager/src/main/resources/define/app/nacos.yml
  manager/src/main/resources/define/param/appmanager.yml
  manager/src/main/resources/define/param/k8s.yml
  manager/src/main/resources/define/param/nacos.yml
  manager/src/main/resources/define/param/param-elasticsearch.yml
Labels: enhancement, good first pull request

#438 [manager,collector] support docker metrics monitor
  collector/src/main/java/com/usthe/collector/dispatch/CommonDispatcher.java
  common/src/main/java/com/usthe/common/entity/job/Metrics.java
  home/docs/help/docker.md
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/en/docusaurus-plugin-content-docs/current/help/docker.md
  home/sidebars.json
  manager/src/main/resources/define/app/app-docker.yml
  manager/src/main/resources/define/param/param-docker.yml
Labels: enhancement, good first pull request

#451 [manager] support linux process top10 cpu_usage mem_usage
  manager/src/main/resources/define/app/app-centos.yml
  manager/src/main/resources/define/app/app-linux.yml
  manager/src/main/resources/define/app/app-ubuntu.yml
Labels: enhancement, good first pull request

#453 [hertzbeat] support springboot2.0 metrics monitor
  README.md
  README_CN.md
  collector/src/main/java/com/usthe/collector/collect/http/HttpCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/http/MicroServiceActuatorHttpCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/http/micro/AbstractMicroParse.java
  collector/src/main/java/com/usthe/collector/collect/http/micro/MicroCommonParse.java
  collector/src/main/java/com/usthe/collector/collect/http/micro/MicroLastParser.java
  collector/src/main/java/com/usthe/collector/collect/http/micro/MicroParseCreater.java
  collector/src/main/java/com/usthe/collector/collect/http/micro/MicroRequestsParse.java
  collector/src/main/java/com/usthe/collector/collect/k8s/K8sCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/k8s/K8sMetricsModel.java
  collector/src/main/java/com/usthe/collector/collect/k8s/K8sMetricsUtil.java
  collector/src/main/java/com/usthe/collector/collect/microservice/JsonPathParseResponse.java
  collector/src/main/java/com/usthe/collector/collect/microservice/MicroServiceParentCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/microservice/parse/DefaultParseResponse.java
  collector/src/main/java/com/usthe/collector/collect/microservice/parse/MicroParseResponse.java
  collector/src/main/java/com/usthe/collector/collect/microservice/parse/PrometheusParseResponse.java
  collector/src/main/java/com/usthe/collector/collect/microservice/parse/SiteMapParseResponse.java
  collector/src/main/java/com/usthe/collector/collect/microservice/parse/WebsiteParseResponse.java
  collector/src/main/java/com/usthe/collector/collect/microservice/parse/XmlPathParseResponse.java
  collector/src/main/java/com/usthe/collector/dispatch/MetricsCollect.java
  collector/src/main/java/com/usthe/collector/util/CollectUtil.java
  collector/src/main/java/com/usthe/collector/util/CollectorConstants.java
  collector/src/main/java/com/usthe/collector/util/JsonPathParser.java
  common/src/main/java/com/usthe/common/entity/job/Metrics.java
  common/src/main/java/com/usthe/common/entity/job/protocol/K8sProtocol.java
  manager/pom.xml
  manager/src/main/java/com/usthe/manager/controller/MonitorController.java
  manager/src/main/java/com/usthe/manager/service/MonitorService.java
  manager/src/main/java/com/usthe/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/resources/application.yml
  manager/src/main/resources/define/app/app-k8s.yml
  manager/src/main/resources/define/app/app-kubernetes.yml
  manager/src/main/resources/define/app/app-springboot2.yml
  manager/src/main/resources/define/app/appmanager.yml
  manager/src/main/resources/define/app/k8s.yml
  manager/src/main/resources/define/param/appmanager.yml
  manager/src/main/resources/define/param/k8s.yml
  manager/src/main/resources/define/param/param-kubernetes.yml
  manager/src/main/resources/define/param/param-springboot2.yml
  manager/src/main/resources/sureness.yml
  manager/src/test/java/com/usthe/manager/controller/MonitorControllerTest.java
  script/sureness.yml
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.ts
Labels: enhancement, good first pull request

#459 [manager] bugfix the gmtUpdate not change when update monitor param
  manager/src/main/java/com/usthe/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/resources/application-test.yml
Labels: bug

#460 [manager] support custom monitor api response data code
  manager/src/main/resources/define/app/app-api_code.yml
  manager/src/main/resources/define/param/param-api_code.yml
Labels: enhancement, good first pull request
