Repository apache/hertzbeat, pull requests merged in 2022-10, with the labels that each got.

#321 [script] add startup log and optimize port service judgment
  script/assembly/server/bin/startup.bat
  script/assembly/server/bin/startup.sh
Labels: bug, enhancement, good first pull request

#322 [web-app] optimize the monitor detect feedback method
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request

#325 [web-app] fix echarts y-axis value tip overflow
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.html
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
Labels: bug, good first pull request

#326 support metrics unit extract, convert and display
  collector/src/main/java/com/usthe/collector/dispatch/CommonDispatcher.java
  collector/src/main/java/com/usthe/collector/dispatch/MetricsCollect.java
  collector/src/main/java/com/usthe/collector/dispatch/unit/DataUnit.java
  collector/src/main/java/com/usthe/collector/dispatch/unit/UnitConvert.java
  collector/src/main/java/com/usthe/collector/dispatch/unit/impl/DataSizeConvert.java
  collector/src/main/java/com/usthe/collector/util/CollectUtil.java
  collector/src/main/resources/META-INF/spring.factories
  common/src/main/java/com/usthe/common/entity/job/Metrics.java
  common/src/main/java/com/usthe/common/entity/message/CollectRep.java
  common/src/main/java/com/usthe/common/util/Pair.java
  common/src/main/message/collect_rep.proto
  manager/src/main/resources/define/app/app-elasticsearch.yml
  manager/src/main/resources/define/app/app-jvm.yml
  manager/src/main/resources/define/app/app-redis.yml
  warehouse/src/main/java/com/usthe/warehouse/controller/MetricsDataController.java
  warehouse/src/main/java/com/usthe/warehouse/store/TdEngineDataStorage.java
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.html
Labels: enhancement, good first pull request, new feature

#332 [collector] fix doubleAndUnit npe bug，update cpu_load_average calculate
  collector/src/main/java/com/usthe/collector/dispatch/MetricsCollect.java
  manager/src/main/resources/define/app/app-elasticsearch.yml
Labels: bug, good first pull request

#338 [manager] bugfix server cors policy error
  home/blog/2022-10-08-hertzbeat-v1.2.0.md
  manager/src/main/java/com/usthe/manager/config/SecurityCorsConfiguration.java
Labels: bug

#337 [web-app] enable app default lang to en
  web-app/src/app/app.component.ts
  web-app/src/app/app.module.ts
  web-app/src/app/core/i18n/i18n.service.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request

#336 [workflow] support custom robot auto update issue title in translate-action
  .github/workflows/issues-translator.yml
Labels: documentation, enhancement

#344 [collector] bugfix redis collect failed to create a child event loop
  collector/pom.xml
  collector/src/main/java/com/usthe/collector/collect/redis/RedisSingleCollectImpl.java
  home/blog/2022-10-08-hertzbeat-v1.2.0.md
  manager/pom.xml
Labels: bug

#346 [alerter] added code comments in English
  alerter/src/main/java/com/usthe/alert/AlerterProperties.java
  alerter/src/main/java/com/usthe/alert/AlerterWorkerPool.java
  alerter/src/main/java/com/usthe/alert/calculate/CalculateAlarm.java
  alerter/src/main/java/com/usthe/alert/controller/AlertDefineController.java
  alerter/src/main/java/com/usthe/alert/controller/AlertDefinesController.java
  alerter/src/main/java/com/usthe/alert/controller/AlertsController.java
  alerter/src/main/java/com/usthe/alert/dao/AlertDao.java
  alerter/src/main/java/com/usthe/alert/dao/AlertDefineDao.java
  alerter/src/main/java/com/usthe/alert/dao/AlertMonitorDao.java
  alerter/src/main/java/com/usthe/alert/service/AlertDefineService.java
  alerter/src/main/java/com/usthe/alert/service/AlertService.java
  alerter/src/main/java/com/usthe/alert/service/impl/AlertDefineServiceImpl.java
  alerter/src/main/java/com/usthe/alert/service/impl/AlertServiceImpl.java
  alerter/src/main/java/com/usthe/alert/util/AlertTemplateUtil.java
Labels: good first pull request

#365 [web-app] fix history echarts chart tooltip only show one instance
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
Labels: bug, enhancement, good first pull request

#373 [webapp,warehouse] support historical interval aggregate data chart
  warehouse/src/main/java/com/usthe/warehouse/WarehouseProperties.java
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryIotDbDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryTdEngineDataStorage.java
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
Labels: enhancement, good first pull request

#375 [manger] add mockito unit test
  manager/src/test/java/com/usthe/manager/dao/NoticeRuleDaoTest.java
  manager/src/test/java/com/usthe/manager/dao/ParamDaoTest.java
  manager/src/test/java/com/usthe/manager/dao/ParamDefineDaoTest.java
  manager/src/test/java/com/usthe/manager/dao/TagDaoTest.java
Labels: enhancement, good first pull request

#380 NoticeConfigController Test class writing completed
  manager/src/test/java/com/usthe/manager/controller/NoticeConfigControllerTest.java
Labels: enhancement, good first pull request, unit test case

#381 SummaryControllerTest Test class writing completed
  manager/src/test/java/com/usthe/manager/controller/SummaryControllerTest.java
Labels: enhancement, good first pull request, unit test case

#382 [manager] upgrade sureness v1.0.8 to fix bypassing api auth bug
  manager/pom.xml
  manager/src/main/resources/application.yml
Labels: bug, good first pull request

#383 [collector] fix the snmp service create too many thread but not reused.
  collector/src/main/java/com/usthe/collector/collect/snmp/SnmpCollectImpl.java
Labels: bug, good first pull request

#391 [home] notice jvm code_cache only support jdk8
  home/docs/help/jvm.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/jvm.md
Labels: bug, documentation

#392 [home] support time-series db dependency iotdb deploy doc
  home/docs/start/docker-deploy.md
  home/docs/start/iotdb-init.md
  home/docs/start/package-deploy.md
  home/docs/start/tdengine-init.md
  home/i18n/en/docusaurus-plugin-content-blog/2022-10-08-hertzbeat-v1.2.0.md
  home/i18n/en/docusaurus-plugin-content-docs/current/start/docker-deploy.md
  home/i18n/en/docusaurus-plugin-content-docs/current/start/iotdb-init.md
  home/i18n/en/docusaurus-plugin-content-docs/current/start/package-deploy.md
  home/i18n/en/docusaurus-plugin-content-docs/current/start/sslcert-practice.md
  home/i18n/en/docusaurus-plugin-content-docs/current/start/tdengine-init.md
  home/sidebars.json
  manager/src/main/resources/application.yml
  script/application.yml
  script/docker-compose/conf/application.yml
Labels: documentation

#394 [docs] update hertzbeat arch pic
  README.md
  README_CN.md
  home/static/img/docs/hertzbeat-arch.png
  home/static/img/docs/hertzbeat-arch.svg
Labels: documentation

#401 [warehouse] fix 400: statement is a query statement
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryIotDbDataStorage.java
Labels: bug
