Repository apache/hertzbeat, pull requests merged in 2022-09, with the labels that each got.

#270 [manager] bugfix alert tags is null when tags map key normal value null.
  manager/src/main/resources/application.yml
Labels: bug

#273 [alert,webapp] support delete all alerts at once.
  alerter/src/main/java/com/usthe/alert/controller/AlertsController.java
  alerter/src/main/java/com/usthe/alert/service/AlertService.java
  alerter/src/main/java/com/usthe/alert/service/impl/AlertServiceImpl.java
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-center/alert-center.component.ts
  web-app/src/app/service/alert.service.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement

#274 [web-app] support switch button config in table list
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
Labels: enhancement

#275 [alert] bugfix: the alert global preset config do not take effect
  alerter/src/main/java/com/usthe/alert/dao/AlertDefineDao.java
  alerter/src/main/java/com/usthe/alert/service/impl/AlertDefineServiceImpl.java
Labels: bug

#276 [web-app] update home background image
  web-app/src/app/layout/passport/passport.component.less
  web-app/src/assets/bg.png
Labels: enhancement

#283 [webapp,home] fix middle category icon and update home doc
  home/blog/2022-09-04-hertzbeat-v1.1.3.md
  home/blog/2022-09-10-ssl-practice.md
  home/docs/help/alert_threshold_expr.md
  home/docs/help/jvm.md
  home/docs/help/tomcat.md
  home/docs/others/contact.md
  home/docs/start/docker-deploy.md
  home/docs/start/mysql-init.md
  home/docs/start/package-deploy.md
  home/docs/start/tdengine-init.md
  home/docusaurus.config.js
  home/i18n/en/docusaurus-plugin-content-docs/current/help/jvm.md
  home/i18n/en/docusaurus-plugin-content-docs/current/start/docker-deploy.md
  home/i18n/en/docusaurus-plugin-content-docs/current/start/tdengine-init.md
  home/src/constants.js
  home/src/pages/components/LogoCarousel.js
  home/src/pages/components/LogoCarouselStatic.js
  home/src/pages/index.js
  home/static/img/home/1.png
  home/static/img/home/2.png
  home/static/img/home/3.png
  home/static/img/home/4.png
  home/static/img/home/5.png
  home/static/img/home/6.png
  home/static/img/home/7.png
  home/static/img/home/8.png
  home/static/img/icons/JavaHouDuan_logo.png
  home/static/img/icons/cubic_logo.png
  home/static/img/icons/dante-cloud_logo.png
  home/static/img/icons/easy_es_logo.png
  home/static/img/icons/easypdf_logo.png
  home/static/img/icons/fast_request_logo.png
  home/static/img/icons/gobrs_logo.png
  home/static/img/icons/image-combiner_logo.png
  home/static/img/icons/jpom_logo.png
  home/static/img/icons/koalas_rpc_logo.png
  home/static/img/icons/maxkey_logo.png
  home/static/img/icons/northstar_logo.png
  home/static/img/planet.jpg
  web-app/src/app/routes/dashboard/dashboard.component.html
Labels: bug, documentation

#287 [config] update issue template guide
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/ISSUE_TEMPLATE/volunteer.yml
Labels: documentation

#289 [webapp] auto redirect url when detect browser language
  home/src/pages/index.js
Labels: enhancement, new feature

#293 更换FastRequest、TLog的logo，配置远端图床logo地址，并做容错处理
  home/src/constants.js
  home/src/pages/components/LogoCarousel.js
  home/static/img/icons/fast_request_logo.gif
  home/static/img/icons/fast_request_logo.png
  home/static/img/icons/go-view_logo.png
  home/static/img/icons/tlog_logo.png
Labels: documentation, enhancement

#296 [webapp] update ui theme
  .all-contributorsrc
  README.md
  README_CN.md
  web-app/src/app/routes/alert/alert-center/alert-center.component.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/routes/setting/tags/tags.component.ts
  web-app/src/styles/theme.less
Labels: enhancement

#299 [common]feature:use "apache.http.conn.util" replace "sun.net.util" for upgrading java version
  common/pom.xml
  common/src/main/java/com/usthe/common/util/IpDomainUtil.java
Labels: bug

#302 [home,webapp] add users logo and update hertzbeat brand
  home/docusaurus.config.js
  home/src/constants.js
  home/src/css/custom.css
  home/src/pages/components/LogoCarousel.js
  home/src/pages/index.js
  home/static/img/hertzbeat-brand-white.svg
  home/static/img/hertzbeat-brand.svg
  home/static/img/icons/cmge_logo.png
  home/static/img/icons/cnsodata_logo.svg
  home/static/img/icons/hibobi_logo.svg
  home/static/img/icons/sc_edu_logo.png
  home/static/img/icons/skyworth_logo.png
  home/static/img/icons/tancloud_logo.svg
  web-app/src/app/layout/passport/passport.component.html
  web-app/src/assets/brand.svg
  web-app/src/assets/brand_white.svg
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: documentation

#305 [monitor] alerter notify test throw msg to front, optional spring.email config
  home/docs/start/docker-deploy.md
  home/docs/start/tdengine-init.md
  home/i18n/en/docusaurus-plugin-content-docs/current/start/docker-deploy.md
  home/i18n/en/docusaurus-plugin-content-docs/current/start/tdengine-init.md
  manager/src/main/java/com/usthe/manager/component/alerter/AlertNotifyHandler.java
  manager/src/main/java/com/usthe/manager/component/alerter/DispatcherAlarm.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/CommonRobotNotifyResp.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/DingTalkRobotAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/EmailAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/WeWorkRobotAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/WebHookAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/controller/NoticeConfigController.java
  manager/src/main/resources/application.yml
  script/application.yml
  script/docker-compose/conf/application.yml
Labels: enhancement, good first pull request

#306 [home]doc:update docker-deploy.md and tdengine-init.md
  home/docs/start/docker-deploy.md
  home/docs/start/tdengine-init.md
Labels: documentation, enhancement, good first pull request

#313 fix(sec): upgrade snakeyaml to 1.31
  manager/pom.xml
Labels: bug
