Repository apache/hertzbeat, pull requests merged in 2022-04, with the labels that each got.

#68 [monitor]feature:support hide advanced params define
  common/src/main/java/com/usthe/common/entity/manager/ParamDefine.java
  manager/src/main/resources/define/app/telnet.yml
  manager/src/main/resources/define/param/A-example.yml
  manager/src/main/resources/define/param/api.yml
  manager/src/main/resources/define/param/mariadb.yml
  manager/src/main/resources/define/param/mysql.yml
  manager/src/main/resources/define/param/oracle.yml
  manager/src/main/resources/define/param/postgresql.yml
  manager/src/main/resources/define/param/sqlserver.yml
  manager/src/main/resources/define/param/telnet.yml
  manager/src/main/resources/define/param/website.yml
  web-app/src/app/pojo/ParamDefine.ts
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.less
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/app/routes/monitor/monitor.module.ts
Labels: enhancement

#75 [manager]bugfix:fix linux interface metrics no instance
  manager/src/main/resources/define/app/linux.yml
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.less
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
Labels: bug

#76 [monitor]feature:support linux cpu usage,memory usage,disk free
  collector/src/main/java/com/usthe/collector/dispatch/MetricsCollect.java
  common/src/main/java/com/usthe/common/util/CommonUtil.java
  common/src/test/java/com/usthe/common/util/CommonUtilTest.java
  manager/src/main/resources/define/app/linux.yml
Labels: enhancement

#89 [script]bugfix: zh garbled characters appear in window's bat script e…
  script/assembly/server/bin/shutdown.bat
  script/assembly/server/bin/startup.bat
Labels: bug

#97 [web-app]bugfix: filter is missing when alert-center pageSize change
  web-app/src/app/layout/basic/widgets/notify.component.ts
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-center/alert-center.component.ts
  web-app/src/app/routes/dashboard/dashboard.component.ts
  web-app/src/app/service/alert.service.ts
Labels: enhancement

#106 [manager]feature: refactor DispatchAlarm
  manager/src/main/java/com/usthe/manager/component/alerter/AlertNotifyHandler.java
  manager/src/main/java/com/usthe/manager/component/alerter/AlertStoreHandler.java
  manager/src/main/java/com/usthe/manager/component/alerter/DispatchAlarm.java
  manager/src/main/java/com/usthe/manager/component/alerter/DispatcherAlarm.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/DbAlertStoreHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/DingTalkRobotAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/EmailAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/SmsAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/WeChatAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/WeWorkRobotAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/WebHookAlertNotifyHandlerImpl.java
Labels: enhancement, good first pull request

#107 feat: [collector,manager]feature:I18N Support #wqh
  collector/src/main/java/com/usthe/collector/collect/AbstractCollect.java
  collector/src/main/java/com/usthe/collector/dispatch/CollectDataDispatch.java
  collector/src/main/java/com/usthe/collector/dispatch/CommonDispatcher.java
  collector/src/main/java/com/usthe/collector/dispatch/DispatchConstants.java
  collector/src/main/java/com/usthe/collector/dispatch/DispatchProperties.java
  collector/src/main/java/com/usthe/collector/dispatch/MetricsCollect.java
  collector/src/main/java/com/usthe/collector/dispatch/MetricsCollectorQueue.java
  collector/src/main/java/com/usthe/collector/dispatch/MetricsTaskDispatch.java
  collector/src/main/java/com/usthe/collector/dispatch/WorkerPool.java
  manager/src/main/java/com/usthe/manager/config/AngularErrorViewResolver.java
  manager/src/main/java/com/usthe/manager/config/HeaderRequestInterceptor.java
  manager/src/main/java/com/usthe/manager/controller/I18nController.java
  manager/src/main/java/com/usthe/manager/service/impl/AppServiceImpl.java
Labels: good first pull request
