Repository apache/hertzbeat, pull requests merged in 2023-10, with the labels that each got.

#1222 [ospp] add push style collector
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/http/CommonHttpClient.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/push/PushCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/MetricsCollect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/timer/WheelTimerTask.java
  collector/src/main/java/org/dromara/hertzbeat/collector/util/CollectUtil.java
  collector/src/main/resources/META-INF/services/org.dromara.hertzbeat.collector.collect.AbstractCollect
  collector/src/main/resources/application.yml
  collector/src/test/java/org/dromara/hertzbeat/collector/util/JsonPathParserTest.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Job.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/PushProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/push/PushMetrics.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/push/PushMetricsDto.java
  common/src/main/java/org/dromara/hertzbeat/common/util/SnowFlakeIdGenerator.java
  manager/pom.xml
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/AppController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MonitorController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/scheduler/SchedulerInit.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/AppService.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/MonitorService.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/resources/define/app-push.yml
  manager/src/main/resources/sureness.yml
  pom.xml
  push/pom.xml
  push/src/main/java/org/dromara/hertzbeat/push/config/PushAutoConfiguration.java
  push/src/main/java/org/dromara/hertzbeat/push/controller/PushController.java
  push/src/main/java/org/dromara/hertzbeat/push/dao/PushMetricsDao.java
  push/src/main/java/org/dromara/hertzbeat/push/dao/PushMonitorDao.java
  push/src/main/java/org/dromara/hertzbeat/push/service/PushService.java
  push/src/main/java/org/dromara/hertzbeat/push/service/impl/PushServiceImpl.java
  push/src/main/resources/META-INF/spring.factories
  remoting/pom.xml
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.ts
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/service/app-define.service.ts
  web-app/src/app/shared/components/metrics-field-input/metrics-field-input.component.html
  web-app/src/app/shared/components/metrics-field-input/metrics-field-input.component.less
  web-app/src/app/shared/components/metrics-field-input/metrics-field-input.component.spec.ts
  web-app/src/app/shared/components/metrics-field-input/metrics-field-input.component.ts
  web-app/src/app/shared/shared.module.ts
Labels: enhancement, good first pull request, new feature

#1263 add 1.4.1 version doc
  README.md
  README_CN.md
  home/blog/2023-08-14-hertzbeat-v1.4.0.md
  home/blog/2023-09-26-hertzbeat-v1.4.1.md
  home/docs/start/upgrade.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-08-14-hertzbeat-v1.4.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-09-26-hertzbeat-v1.4.1.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/quickstart.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/upgrade.md
  home/sidebars.json
  home/src/pages/index.js
  home/static/img/home/0.png
Labels: documentation

#1266 support using Huawei Cloud OBS to store custom define yml file
  manager/pom.xml
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/FileDTO.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/ObjectStoreConfigChangeEvent.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/ObjectStoreDTO.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/SystemConfig.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/ObjectStoreService.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AbstractGeneralConfigServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/ObjectStoreConfigServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/ObsObjectStoreServiceImpl.java
  manager/src/main/resources/logback-spring.xml
  manager/src/test/java/org/dromara/hertzbeat/manager/ManagerTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/service/AppServiceTest.java
  web-app/src/app/pojo/ObjectStore.ts
  web-app/src/app/routes/setting/setting-routing.module.ts
  web-app/src/app/routes/setting/setting.module.ts
  web-app/src/app/routes/setting/settings/object-store/object-store.component.html
  web-app/src/app/routes/setting/settings/object-store/object-store.component.less
  web-app/src/app/routes/setting/settings/object-store/object-store.component.spec.ts
  web-app/src/app/routes/setting/settings/object-store/object-store.component.ts
  web-app/src/app/routes/setting/settings/settings.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature, huawei cloud feature

#1272 [doc] add more contact channel
  README.md
  README_CN.md
  home/docs/others/contact.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/others/contact.md
  home/static/img/tancloud-brand.jpg
  home/static/img/tancloud-brand.png
  home/static/img/tancloud-brand.svg
Labels: documentation

#1268 bugfix app-tomcat memory_pool unit mb
  manager/src/main/resources/define/app-tomcat.yml
Labels: good first pull request, bugfix

#1270 [doc] update docker.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/docker.md
Labels: documentation

#1273 bugfix jmx memory_pool unit and time unit error
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/unit/TimeLengthUnit.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/unit/impl/TimeLengthConvert.java
  collector/src/test/java/org/dromara/hertzbeat/collector/dispatch/unit/TimeLengthConvertTest.java
  manager/src/main/resources/define/app-activemq.yml
  manager/src/main/resources/define/app-hadoop.yml
  manager/src/main/resources/define/app-jetty.yml
  manager/src/main/resources/define/app-jvm.yml
  manager/src/main/resources/define/app-spark.yml
  manager/src/main/resources/define/app-tomcat.yml
Labels: enhancement, good first pull request, bugfix

#1278 bugfix old version monitor alert has no monitor name
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/DbAlertStoreHandlerImpl.java
Labels: bugfix

#1282 support edit monitor in monitor detail page
  manager/src/main/resources/define/app-push.yml
  push/pom.xml
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
Labels: enhancement

#1281 reset alert converge reduce cache when restored alert trigger
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmConvergeReduce.java
  common/src/main/java/org/dromara/hertzbeat/common/constants/CommonConstants.java
Labels: enhancement, bugfix

#1267 [ospp] add push style collector doc
  home/docs/advanced/extend-push.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-push.md
  home/sidebars.json
  home/static/img/docs/advanced/extend-push-example-1.png
Labels: documentation, enhancement, good first pull request

#1285 bugfix threshold availability automatically carries threshold parameters
  manager/src/main/resources/define/app-windows.yml
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
Labels: enhancement, bugfix

#1288 bugfix AvailableAlertDefineInit - query did not return a unique result
  alerter/src/main/java/org/dromara/hertzbeat/alert/dao/AlertDefineDao.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/DispatcherAlarm.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/AvailableAlertDefineInit.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/NoticeConfigService.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/NoticeConfigServiceImpl.java
  manager/src/test/java/org/dromara/hertzbeat/manager/service/NoticeConfigServiceTest.java
Labels: bugfix

#1291 upgrade to version angular 15
  CONTRIBUTING.md
  web-app/.stylelintrc
  web-app/README.md
  web-app/angular.json
  web-app/package.json
  web-app/src/app/routes/dashboard/dashboard.component.ts
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
  web-app/src/test.ts
  web-app/tsconfig.json
  web-app/yarn.lock
Labels: enhancement

#1292 support push style for multiple messages
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/push/PushCollectImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/push/PushMetricsDto.java
  push/src/main/java/org/dromara/hertzbeat/push/service/impl/PushServiceImpl.java
Labels: enhancement, good first pull request

#1294 update hertzbeat upgrade help doc
  home/docs/help/issue.md
  home/docs/help/ping.md
  home/docs/start/upgrade.md
  home/docusaurus.config.js
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/issue.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/ping.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/upgrade.md
  web-app/src/app/layout/basic/widgets/user.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: documentation, enhancement

#1296 fix tdengine sql and metric deserialize bug
  common/src/main/java/org/dromara/hertzbeat/common/entity/dto/PromVectorOrMatrix.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryTdEngineDataStorage.java
Labels: enhancement, good first pull request, bugfix

#1298 external alarm add firstAlarmTime and lastAlarmTime
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertServiceImpl.java
Labels: good first pull request, bugfix

#1279 update the test waiting for server and client start
  remoting/src/main/java/org/dromara/hertzbeat/remoting/RemotingService.java
  remoting/src/main/java/org/dromara/hertzbeat/remoting/netty/NettyRemotingClient.java
  remoting/src/main/java/org/dromara/hertzbeat/remoting/netty/NettyRemotingServer.java
  remoting/src/test/java/org/dromara/hertzbeat/remoting/RemotingServiceTest.java
Labels: enhancement, good first pull request

#1300 feat alert converge, define, silence support search query
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertConvergesController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertDefinesController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertSilencesController.java
  manager/src/main/resources/templates/1-emailTemplate.html
  manager/src/main/resources/templates/10-weWorkAppTemplate.txt
  manager/src/main/resources/templates/11-smnTemplate.txt
  manager/src/main/resources/templates/12-serverChanTemplate.txt
  manager/src/main/resources/templates/4-weWorkRobotTemplate.txt
  manager/src/main/resources/templates/5-dingTalkRobotTemplate.txt
  manager/src/main/resources/templates/6-flyBookRobotTemplate.txt
  manager/src/main/resources/templates/7-telegramBotTemplate.txt
  manager/src/main/resources/templates/8-slackTemplate.txt
  manager/src/main/resources/templates/9-discordBotTemplate.txt
  web-app/src/app/core/startup/startup.service.ts
  web-app/src/app/layout/basic/widgets/user.component.ts
  web-app/src/app/pojo/NoticeRule.ts
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.html
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.ts
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/service/alert-converge.service.ts
  web-app/src/app/service/alert-silence.service.ts
  web-app/src/assets/app-data.json
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement

#1302 support emqx monitor
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/HttpCollectImpl.java
  manager/src/main/resources/define/app-emqx.yml
Labels: enhancement, good first pull request, new feature

#1303 add an explicit tag filter
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature

#1305 add hertzbeat icon
  .idea/icon.png
Labels: documentation, enhancement, good first pull request
