Repository apache/hertzbeat, pull requests merged in 2023-05, with the labels that each got.

#923 enable export monitors by excel, yaml in web
  manager/src/main/java/org/dromara/hertzbeat/manager/config/YamlMapperConfig.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MonitorsController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/MonitorService.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/ExcelImExportServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/YamlImExportServiceImpl.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/controller/MetricsDataController.java
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/service/monitor.service.ts
  web-app/src/assets/i18n/zh-CN.json
Labels: enhancement

#926 bugfix http header content-type error when send dingtalk message
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/DingTalkRobotAlertNotifyHandlerImpl.java
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
Labels: bugfix

#931 fix the textarea value judgment error
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  common/src/main/java/org/dromara/hertzbeat/common/util/JsonUtil.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  script/sql/schema.sql
Labels: enhancement, good first pull request, bugfix

#932 bugfix restTemplate change default content type application/json
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/DiscordBotAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/HuaweiCloudSmnAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/SlackAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/TelegramBotAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeWorkRobotAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WebHookAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/config/HeaderRequestInterceptor.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/HuaweiCloudSmnAlertNotifyHandlerImplTest.java
Labels: bugfix

#938 Update mysql-change.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/mysql-change.md
Labels: documentation, bugfix

#939 fix JsonUtil TypeReference not config class type
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineServiceImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/util/CollectUtil.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/alerter/JsonMapAttributeConverter.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/JsonByteListAttributeConverter.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/JsonOptionListAttributeConverter.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/JsonTagListAttributeConverter.java
  common/src/main/java/org/dromara/hertzbeat/common/util/JsonUtil.java
  home/docs/others/images-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/others/images-deploy.md
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
Labels: enhancement, bugfix

#942 bugfix redis collections out of bounds
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/redis/RedisCommonCollectImpl.java
Labels: enhancement, good first pull request, bugfix

#946 [webapp] bugfix can not auto change i18n data
  web-app/src/app/core/i18n/i18n.service.spec.ts
  web-app/src/app/core/i18n/i18n.service.ts
  web-app/src/app/core/startup/startup.service.ts
Labels: good first pull request, bugfix

#948 bugfix monitor status can not auto update, remove status UN_REACHABLE
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dao/AlertMonitorDao.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertServiceImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/constants/CommonConstants.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/DbAlertStoreHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/AppCount.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  web-app/src/app/pojo/AppCount.ts
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/dashboard/dashboard.component.ts
Labels: enhancement, bugfix

#951 [fix] Restructured & fixed navbar overflow
  CONTRIBUTING.md
  home/blog/2022-10-08-hertzbeat-v1.2.0.md
  home/blog/2022-11-28-hertzbeat-v1.2.2.md
  home/blog/2023-01-05-monitor-iotdb.md
  home/blog/2023-02-10-new-committer.md
  home/docs/advanced/extend-http-jsonpath.md
  home/docs/others/contributing.md
  home/docs/others/developer.md
  home/docs/others/policy.md
  home/docs/start/docker-deploy.md
  home/docs/start/greptime-init.md
  home/docs/start/influxdb-init.md
  home/docs/start/iotdb-init.md
  home/docs/start/mysql-change.md
  home/docs/start/package-deploy.md
  home/docs/start/postgresql-change.md
  home/docusaurus.config.js
  home/src/css/docsearch.css
  home/src/css/navbar.css
  home/src/pages/components/LogoCarousel.js
Labels: documentation, enhancement, good first pull request, bugfix

#940 support monitoring freebsd unix metrics
  manager/src/main/resources/define/app-freebsd.yml
Labels: enhancement, good first pull request, new feature

#956 [collector] fix dispatch concurrency bug
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Job.java
Labels: enhancement, good first pull request, bugfix

#957 [collector]feature: optimize zookeeper collector, based telnet
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/telnet/TelnetCollectImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/TelnetProtocol.java
  manager/src/main/resources/define/app-zookeeper.yml
Labels: enhancement, good first pull request, new feature

#960 [fix] update app-docker.yml template file,support collect the exited …
  manager/src/main/resources/define/app-docker.yml
Labels: enhancement, good first pull request, bugfix

#963 [common]bugfix: improve domain verification tools.
  common/src/main/java/org/dromara/hertzbeat/common/util/IpDomainUtil.java
  common/src/test/java/org/dromara/hertzbeat/common/util/IpDomainUtilTest.java
Labels: good first pull request, bugfix

#964 bugfix TDengine missing first TS parameter
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryTdEngineDataStorage.java
Labels: enhancement, good first pull request, bugfix

#966 [common]feature:add kafka common queue
  common/pom.xml
  common/src/main/java/org/dromara/hertzbeat/common/queue/impl/KafkaCommonDataQueue.java
  common/src/main/java/org/dromara/hertzbeat/common/serialize/AlertDeserializer.java
  common/src/main/java/org/dromara/hertzbeat/common/serialize/AlertSerializer.java
  common/src/main/java/org/dromara/hertzbeat/common/serialize/KafkaMetricsDataDeserializer.java
  common/src/main/java/org/dromara/hertzbeat/common/serialize/KafkaMetricsDataSerializer.java
  manager/src/main/resources/application-test.yml
  manager/src/main/resources/application.yml
Labels: enhancement, good first pull request, new feature

#970 Fixed overflow and alignment issues on homepage
  home/i18n/en/code.json
  home/src/pages/components/DiaLog.js
  home/src/pages/components/DiaLog.module.css
  home/src/pages/components/LogoCarousel.js
  home/src/pages/components/LogoCarousel.module.css
  home/src/pages/components/Sponsor.module.css
  home/src/pages/index.js
Labels: enhancement, good first pull request

#973 Fixed Footer Overflow issue on the homepage
  home/src/css/custom.css
Labels: enhancement, good first pull request

#975 Fixed Carousel Overflow on homepage and made it responsive
  home/src/pages/components/LogoCarousel.js
Labels: enhancement, good first pull request

#974 support monitoring debian rocky alama coreos metrics
  home/docs/start/greptime-init.md
  home/docs/start/influxdb-init.md
  home/docs/start/iotdb-init.md
  home/docs/start/tdengine-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/greptime-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/influxdb-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/iotdb-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/tdengine-init.md
  manager/src/main/resources/define/app-almalinux.yml
  manager/src/main/resources/define/app-coreos.yml
  manager/src/main/resources/define/app-debian.yml
  manager/src/main/resources/define/app-rockylinux.yml
Labels: new feature

#979 [manager] bugfix: fix multiple monitorId and monitorName tags when im…
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
Labels: good first pull request, bugfix

#983 add sshd server when build hertzbeat docker image
  script/docker/server/Dockerfile
Labels: enhancement, good first pull request

#984 Failed to fix the WeWork Robot sending messages
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/WeWorkWebHookDto.java
Labels: enhancement, good first pull request, bugfix

#997 support monitoring opensuse os metrics
  manager/src/main/resources/define/app-opensuse.yml
Labels: good first pull request, new feature

#999 新增ssl模版监控变量days_remaining 显示ssl证书到期天数比如10.0
  manager/src/main/resources/define/app-ssl_cert.yml
Labels: enhancement, good first pull request

#998 fix depend on postgres error
  script/docker-compose/hertzbeat-postgresql-iotdb/docker-compose.yaml
Labels: good first pull request, bugfix

#989 [collector] enhancement: support user define which http statusCode sh…
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/HttpCollectImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/HttpProtocol.java
  manager/src/main/resources/define/app-springboot2.yml
Labels: enhancement, good first pull request, bugfix
