Repository apache/hertzbeat, pull requests merged in 2023-09, with the labels that each got.

#1220 add app-ping i18n
  manager/src/main/resources/define/app-ping.yml
Labels: enhancement, good first pull request

#1214 some codes opt
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/CommonDispatcher.java
  collector/src/main/java/org/dromara/hertzbeat/collector/util/CollectUtil.java
  common/pom.xml
  pom.xml
Labels: enhancement

#1223 bugfix threshold setting template variables has repeated parameters
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
Labels: enhancement, good first pull request, bugfix

#1225 support display metrics i18n label when threshold setting
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement

#1229 add hertzbeat about msg card
  README.md
  README_CN.md
  web-app/src/app/layout/basic/basic.component.ts
  web-app/src/app/layout/basic/widgets/clear-storage.component.ts
  web-app/src/app/layout/basic/widgets/fullscreen.component.ts
  web-app/src/app/layout/basic/widgets/i18n.component.ts
  web-app/src/app/layout/basic/widgets/user.component.ts
  web-app/src/app/layout/layout.module.ts
  web-app/src/app/layout/passport/passport.component.less
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: documentation, enhancement

#1236 add app-api i18n
  manager/src/main/resources/define/app-api.yml
Labels: enhancement, good first pull request

#1237 [feature]Add `getAlertDefinesByName`.
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertDefinesController.java
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/service/alert-define.service.ts
Labels: enhancement, good first pull request, new feature

#1240 thread pool executor support shutdown gracefully
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/CommonDispatcher.java
Labels: enhancement

#1241 fix: expression injection RCE
  common/src/main/java/org/dromara/hertzbeat/common/config/AviatorConfiguration.java
  common/src/test/java/org/dromara/hertzbeat/common/config/AviatorConfigurationTest.java
Labels: good first pull request, bugfix

#1245 [bugfix]Replace schema "{key1:value1}" to "{\"key1\":\"value1\"}"
  common/src/main/java/org/dromara/hertzbeat/common/entity/dto/AlertReport.java
Labels: good first pull request, bugfix

#1247 [Refactor] Use static methods instead of constructors for Message.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertConvergeController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertConvergesController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertDefineController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertDefinesController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertReportController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertSilenceController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertSilencesController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertsController.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/dto/Message.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/AccountController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/AppController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/CollectorController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/GeneralConfigController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/I18nController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MetricsController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MonitorController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MonitorsController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/NoticeConfigController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/SummaryController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/TagController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/WeWorkWebHookDto.java
  manager/src/main/java/org/dromara/hertzbeat/manager/support/GlobalExceptionHandler.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/controller/MetricsDataController.java
Labels: enhancement, good first pull request

#1239 bugfix snake yaml decode rce
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/AppController.java
  pom.xml
Labels: bugfix

#1249 bugfix jackson deserialize localDatetime error
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertServiceImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/dto/AlertReport.java
  common/src/main/java/org/dromara/hertzbeat/common/util/JsonUtil.java
Labels: bugfix

#1257 bugfix mongodb collect extra metrics npe
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/mongodb/MongodbSingleCollectImpl.java
Labels: bugfix

#1256 bugfix fix collector run cyclic when connect auth failed
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/entrance/processor/GoCloseProcessor.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/entrance/processor/GoOfflineProcessor.java
  common/src/main/java/org/dromara/hertzbeat/common/constants/CommonConstants.java
Labels: bugfix

#1260 update webapp login ui
  README.md
  home/blog/2023-08-14-hertzbeat-v1.4.0.md
  home/docs/introduce.md
  home/i18n/en/code.json
  script/helm/hertzbeat/README.md
  web-app/src/app/layout/passport/passport.component.html
  web-app/src/app/routes/passport/lock/lock.component.html
  web-app/src/app/routes/passport/login/login.component.html
  web-app/src/app/routes/passport/login/login.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: documentation, enhancement

#1259 bugfix collector can not auto reconnect when channel idle
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/entrance/CollectServer.java
  manager/src/main/java/org/dromara/hertzbeat/manager/scheduler/SchedulerProperties.java
  manager/src/main/java/org/dromara/hertzbeat/manager/scheduler/netty/ManageServer.java
  manager/src/main/java/org/dromara/hertzbeat/manager/scheduler/netty/process/CollectorOnlineProcessor.java
  manager/src/main/java/org/dromara/hertzbeat/manager/scheduler/netty/process/HeartbeatProcessor.java
  remoting/src/main/java/org/dromara/hertzbeat/remoting/netty/NettyRemotingServer.java
  remoting/src/main/java/org/dromara/hertzbeat/remoting/netty/NettyServerConfig.java
Labels: bugfix

#1258 update alarm notice wework app send content ui
  common/src/main/java/org/dromara/hertzbeat/common/queue/impl/KafkaCommonDataQueue.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeWorkAppAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/WeChatAppDTO.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/resources/templates/alertNotifyWeWorkApp.txt
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImplTest.java
Labels: enhancement

#1261 [hertzbeat] release hertzbeat version v1.4.1
  CONTRIBUTING.md
  README.md
  README_CN.md
  collector/src/main/resources/application.yml
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/others/contributing.md
  script/assembly/collector/assembly.xml
  script/assembly/server/assembly.xml
  script/docker/collector/Dockerfile
  script/helm/hertzbeat/Chart.yaml
  script/helm/hertzbeat/templates/collector/configmap.yaml
  web-app/src/app/layout/basic/basic.component.ts
  web-app/src/app/layout/basic/widgets/i18n.component.ts
  web-app/src/app/layout/basic/widgets/user.component.ts
  web-app/src/app/layout/passport/passport.component.html
  web-app/src/app/layout/passport/passport.component.ts
  web-app/src/app/routes/setting/collector/collector.component.ts
  web-app/src/app/shared/constants.ts
  web-app/src/app/shared/consts.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: documentation, good first pull request

#1262 auto split webhook token when user input hook url
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
Labels: enhancement

#1265 bugfix counting wrong tasks num of collector
  manager/src/main/java/org/dromara/hertzbeat/manager/scheduler/CollectorAndJobScheduler.java
Labels: bugfix
