Repository apache/hertzbeat, pull requests merged in 2023-11, with the labels that each got.

#1308 [doc] update kafka help doc
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/kafka.md
Labels: documentation, good first pull request

#1306 support webhook custom template
  README.md
  README_CN.md
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/resources/alerter_en_US.properties
  alerter/src/main/resources/alerter_zh_CN.properties
  common/src/main/java/org/dromara/hertzbeat/common/constants/CommonConstants.java
  home/README.md
  home/docs/help/alert_webhook.md
  home/docs/others/media.md
  home/docs/others/private.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_webhook.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/others/media.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/others/private.md
  home/sidebars.json
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/DingTalkRobotAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/DiscordBotAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/EmailAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/HuaweiCloudSmnAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/ServerChanAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/SlackAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/SmsAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/TelegramBotAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeChatAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeWorkAppAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeWorkRobotAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WebHookAlertNotifyHandlerImpl.java
  manager/src/main/resources/templates/1-EmailTemplate.html
  manager/src/main/resources/templates/10-WeWorkAppTemplate.txt
  manager/src/main/resources/templates/11-HuaweiCloudSmnTemplate.txt
  manager/src/main/resources/templates/12-ServerChanTemplate.txt
  manager/src/main/resources/templates/2-WebhookTemplate.txt
  manager/src/main/resources/templates/4-WeWorkRobotTemplate.txt
  manager/src/main/resources/templates/5-DingTalkRobotTemplate.txt
  manager/src/main/resources/templates/6-FlyBookRobotTemplate.txt
  manager/src/main/resources/templates/7-TelegramBotTemplate.txt
  manager/src/main/resources/templates/8-SlackTemplate.txt
  manager/src/main/resources/templates/9-DiscordBotTemplate.txt
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
Labels: enhancement

#1310 set ssh param connect reused default false
  home/docusaurus.config.js
  manager/src/main/resources/define/app-almalinux.yml
  manager/src/main/resources/define/app-centos.yml
  manager/src/main/resources/define/app-coreos.yml
  manager/src/main/resources/define/app-debian.yml
  manager/src/main/resources/define/app-euleros.yml
  manager/src/main/resources/define/app-freebsd.yml
  manager/src/main/resources/define/app-linux.yml
  manager/src/main/resources/define/app-opensuse.yml
  manager/src/main/resources/define/app-redhat.yml
  manager/src/main/resources/define/app-rockylinux.yml
  manager/src/main/resources/define/app-ubuntu.yml
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.html
  web-app/src/assets/i18n/en-US.json
Labels: enhancement

#1311 upgrade greptimedb to v0.4
  warehouse/pom.xml
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryGrepTimeDbDataStorage.java
Labels: enhancement, good first pull request

#1312 add some emqx monitoring metrics
  manager/src/main/resources/define/app-emqx.yml
Labels: enhancement

#1316 feature: app-mysql.yml
  manager/src/main/resources/define/app-mysql.yml
Labels: documentation, enhancement, good first pull request, new feature

#1246 bugfix timestamp is null
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryTdEngineDataStorage.java
Labels: good first pull request, bugfix

#1317 [hertzbeat] release hertzbeat version v1.4.2
  alerter/src/main/java/org/dromara/hertzbeat/alert/util/AlertTemplateUtil.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/NoticeTemplate.java
  script/assembly/collector/assembly.xml
  script/assembly/server/assembly.xml
  script/helm/hertzbeat/Chart.yaml
  script/sql/schema.sql
  script/sureness.yml
  web-app/src/app/shared/constants.ts
Labels: documentation

#1318 bugfix alarm time span match in silence and notice
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmSilenceReduce.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/NoticeConfigServiceImpl.java
Labels: enhancement, bugfix

#1324 update available alert threshold trigger times default 2
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmCommonReduce.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/AvailableAlertDefineInit.java
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement

#1322 bugfix rabbitmq contains duplicated metric
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/resources/define/app-rabbitmq.yml
Labels: bugfix

#1325 [alerter] optimize the encoding of how to add Extern Alarm Manage API(#1320)
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertReportController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dto/CloudAlertReportAbstract.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dto/TenCloudAlertReport.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/enums/CloudServiceAlarmInformationEnum.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/AlertConvertService.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertConvertTenCloudServiceImpl.java
  alerter/src/test/java/org/dromara/hertzbeat/alert/controller/AlertReportControllerTest.java
Labels: task

#1327 bugfix webhook post body error and alarm recover exception
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  collector/src/test/java/org/dromara/hertzbeat/collector/collect/telnet/TelnetCollectImplTest.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/NoticeTemplate.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WebHookAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/NoticeConfigServiceImpl.java
Labels: bugfix

#1328 build hertzbeat package with jdk runtime
  .gitignore
  collector/pom.xml
  manager/README.md
  manager/pom.xml
  script/assembly/collector/assembly-linux-amd64.xml
  script/assembly/collector/assembly-linux-arm64.xml
  script/assembly/collector/assembly-macos-amd64.xml
  script/assembly/collector/assembly-macos-arm64.xml
  script/assembly/collector/assembly-windows-64.xml
  script/assembly/collector/bin/entrypoint.sh
  script/assembly/collector/bin/startup.bat
  script/assembly/collector/bin/startup.sh
  script/assembly/server/assembly-linux-amd64.xml
  script/assembly/server/assembly-linux-arm64.xml
  script/assembly/server/assembly-macos-amd64.xml
  script/assembly/server/assembly-macos-arm64.xml
  script/assembly/server/assembly-windows-64.xml
  script/assembly/server/bin/entrypoint.sh
  script/assembly/server/bin/startup.bat
  script/assembly/server/bin/startup.sh
Labels: enhancement, new feature

#1330 update package deploy doc
  README.md
  README_CN.md
  home/docs/start/package-deploy.md
  home/docs/start/quickstart.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/package-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/quickstart.md
  script/assembly/collector/assembly-windows-64.xml
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: documentation

#1332 bugfix duplicate collect job when update monitor templates
  home/blog/2022-07-10-hertzbeat-v1.1.1.md
  home/blog/2023-11-12-hertzbeat-v1.4.2.md
  home/docs/advanced/extend-http-example-hertzbeat.md
  home/docs/advanced/extend-http-example-token.md
  home/docs/advanced/extend-tutorial.md
  home/docusaurus.config.js
  home/i18n/en/code.json
  home/i18n/en/docusaurus-plugin-content-docs/version-v1.1.x/advanced/extend-http-example-hertzbeat.md
  home/i18n/en/docusaurus-plugin-content-docs/version-v1.1.x/advanced/extend-http-example-token.md
  home/i18n/en/docusaurus-plugin-content-docs/version-v1.1.x/advanced/extend-tutorial.md
  home/i18n/zh-cn/code.json
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-11-12-hertzbeat-v1.4.2.md
  home/src/pages/components/DiaLog.js
  home/src/pages/index.js
  home/versioned_docs/version-v1.3.x/advanced/extend-http-example-hertzbeat.md
  home/versioned_docs/version-v1.3.x/advanced/extend-http-example-token.md
  home/versioned_docs/version-v1.3.x/advanced/extend-tutorial.md
  manager/src/main/java/org/dromara/hertzbeat/manager/dao/CollectorMonitorBindDao.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  script/docker/collector/build.sh
Labels: bugfix

#1334 bugfix number variable in freemarker template display error
  manager/pom.xml
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/config/ThymeleafConfig.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MailServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/NoticeConfigServiceImpl.java
  manager/src/main/resources/application.yml
  manager/src/main/resources/templates/1-EmailTemplate.html
  manager/src/test/java/org/dromara/hertzbeat/manager/service/MailServiceTest.java
  script/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/application.yml
  script/helm/hertzbeat/templates/manager/configmap.yaml
Labels: bugfix

#1326 [alerter] Enhanced reporting of external general alert API
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertReportController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dto/CloudAlertReportAbstract.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dto/GeneralCloudAlertReport.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dto/TenCloudAlertReport.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/util/DateUtil.java
  alerter/src/test/java/org/dromara/hertzbeat/alert/controller/AlertReportControllerTest.java
Labels: task

#1335 [doc] update hertzbeat-mysql-tdengine readme
  script/docker-compose/hertzbeat-mysql-tdengine/README.md
  script/docker-compose/hertzbeat-mysql-tdengine/README_CN.md
Labels: documentation

#1337 app-mysql.yml: Adjust slow query translation
  manager/src/main/resources/define/app-mysql.yml
Labels: documentation, enhancement

#1341 [doc] add vinci as new committer
  .all-contributorsrc
  README.md
  README_CN.md
  home/docs/others/developer.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/others/developer.md
Labels: documentation

#1345 [feature] add tag word cloud in dashboard
  home/docusaurus.config.js
  home/src/css/hero.css
  home/src/pages/index.js
  home/static/img/home/1.png
  home/static/img/home/2.png
  home/static/img/home/5.png
  home/static/img/home/9.png
  web-app/package.json
  web-app/src/app/app.module.ts
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/dashboard/dashboard.component.ts
  web-app/src/app/routes/routes.module.ts
  web-app/yarn.lock
Labels: enhancement

#1346 support custom prometheus endpoint path
  manager/src/main/resources/define/app-prometheus.yml
  manager/src/main/resources/sureness.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/sureness.yml
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/sureness.yml
  script/helm/hertzbeat/templates/manager/configmap.yaml
  script/sureness.yml
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/app/routes/setting/define/define.component.html
  web-app/src/app/shared/components/help-massage-show/help-massage-show.component.html
  web-app/src/app/shared/components/help-massage-show/help-massage-show.component.less
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
  web-app/src/assets/style.dark.css
  web-app/src/styles/theme.less
Labels: bugfix

#1348 bugfix tdengine query interval history metrics data with instance error
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryTdEngineDataStorage.java
Labels: bugfix

#1351 unlimit Alert.java content field length
  common/src/main/java/org/dromara/hertzbeat/common/entity/alerter/Alert.java
Labels: enhancement

#1352 update monitor detail table ui layout
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.html
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement

#1359 feature: app-mongodb.yml
  manager/src/main/resources/define/app-mongodb.yml
Labels: good first pull request

#1364 Add time type to support query_time of mysql and mariadb
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/MetricsCollect.java
  common/src/main/java/org/dromara/hertzbeat/common/constants/CommonConstants.java
  common/src/main/java/org/dromara/hertzbeat/common/util/CommonUtil.java
  manager/src/main/resources/define/app-mariadb.yml
  manager/src/main/resources/define/app-mysql.yml
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request

#1366 Error occured when I followed running steps to start Front-web
  CONTRIBUTING.md
Labels: documentation, good first pull request
