Repository apache/hertzbeat, pull requests merged in 2023-01, with the labels that each got.

#527 initial mongodb support
  collector/pom.xml
  collector/src/main/java/com/usthe/collector/collect/mongodb/MongodbSingleCollectImpl.java
  collector/src/main/java/com/usthe/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/com.usthe.collector.collect.AbstractCollect
  common/src/main/java/com/usthe/common/entity/job/Metrics.java
  common/src/main/java/com/usthe/common/entity/job/protocol/MongodbProtocol.java
  manager/src/main/resources/application.yml
  manager/src/main/resources/define/app/app-mongodb.yml
  manager/src/main/resources/define/param/param-mongodb.yml
Labels: enhancement, good first pull request, new feature

#526 [collector,home] bugfix exception may npe when collect metrics
  collector/src/main/java/com/usthe/collector/collect/database/JdbcCommonCollect.java
  collector/src/main/java/com/usthe/collector/collect/http/HttpCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/http/SslCertificateCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/icmp/IcmpCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/jmx/JmxCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/redis/RedisSingleCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/snmp/SnmpCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/ssh/SshCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/telnet/TelnetCollectImpl.java
  collector/src/main/java/com/usthe/collector/util/CollectUtil.java
  common/src/main/java/com/usthe/common/util/CommonUtil.java
  home/docs/others/resource.md
  home/static/img/hertzbeat-brand.jpg
  home/static/img/hertzbeat-brand.png
  home/static/img/hertzbeat_brand.jpg
  home/static/img/tancloud-brand-white.svg
  home/static/img/tancloud-brand.jpg
  home/static/img/tancloud-brand.png
  home/static/img/tancloud-brand.svg
Labels: bug

#529 Mongodb feature extended
  collector/src/main/java/com/usthe/collector/collect/mongodb/MongodbSingleCollectImpl.java
  manager/src/main/resources/define/app/app-mongodb.yml
Labels: enhancement, good first pull request

#533 [manager] add monitor service UT (#357)
  manager/src/test/java/com/usthe/manager/service/MonitorServiceTest.java
Labels: good first pull request, unit test case

#535 [home] add apache shenyu help doc and more
  home/docs/help/shenyu.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/api.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/centos.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/dm.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/fullsite.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/jvm.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/kubernetes.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/shenyu.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/springboot2.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/ssl_cert.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/website.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/zookeeper.md
  home/sidebars.json
Labels: documentation, good first pull request

#539 [script] support iotdb deploy
  home/versioned_docs/version-v1.0.0/start/quickstart.md
  script/docker-compose/README.md
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/sql/schema.sql
  script/docker-compose/hertzbeat-mysql-iotdb/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-iotdb/dbdata/mysqldata/.gitignore
  script/docker-compose/hertzbeat-mysql-iotdb/dbdata/taosdata/.gitignore
  script/docker-compose/hertzbeat-mysql-iotdb/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/sql/schema.sql
  script/docker-compose/hertzbeat-mysql-tdengine/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-tdengine/dbdata/mysqldata/.gitignore
  script/docker-compose/hertzbeat-mysql-tdengine/dbdata/taosdata/.gitignore
  script/docker-compose/hertzbeat-mysql-tdengine/docker-compose.yaml
Labels: enhancement, good first pull request, new feature

#543 [doc] fix compose doc `exec -it container name` error
  script/docker-compose/hertzbeat-mysql-tdengine/README.md
Labels: bug

#541 remove unused host bind ports
  script/docker-compose/hertzbeat-mysql-iotdb/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-tdengine/docker-compose.yaml
Labels: good first pull request

#547 [home] Use HertzBeat to monitor the IoTDB Practice Doc
  home/blog/2023-01-05-monitor-iotdb.md
  home/docs/help/iotdb.md
  home/i18n/en/docusaurus-plugin-content-blog/2023-01-05-monitor-iotdb.md
  home/static/img/blog/alert-notice-1.png
  home/static/img/blog/alert-notice-2.png
  home/static/img/blog/monitor-iotdb-1.png
  home/static/img/blog/monitor-iotdb-2.png
  home/static/img/blog/monitor-iotdb-3.png
  home/static/img/blog/monitor-iotdb-4.png
  home/static/img/blog/monitor-iotdb-5.png
  home/static/img/blog/monitor-iotdb-6.png
  home/static/img/docs/help/alert-notice-8.png
Labels: documentation, good first pull request

#551 [web-app] bugfix too long metrics chart does not display all data
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
Labels: bug, good first pull request

#559 [manager] add feature-clickhouse(#179)
  collector/pom.xml
  collector/src/main/java/com/usthe/collector/collect/database/JdbcCommonCollect.java
  collector/src/main/java/com/usthe/collector/collect/database/JdbcSpiLoader.java
  manager/src/main/resources/define/app/app-clickhouse.yml
  manager/src/main/resources/define/param/param-clickhouse.yml
  manager/src/test/java/com/usthe/manager/service/MonitorServiceTest.java
Labels: enhancement, good first pull request, new feature

#562 [manager] support rabbitmq metrics monitoring
  manager/src/main/resources/define/app/app-flink.yml
  manager/src/main/resources/define/app/app-rabbitmq.yml
  manager/src/main/resources/define/param/param-rabbitmq.yml
Labels: enhancement, good first pull request, new feature

#563 [manager] support apache activemq metrics monitoring
  manager/src/main/resources/define/app/app-activemq.yml
  manager/src/main/resources/define/param/param-activemq.yml
Labels: enhancement, good first pull request, new feature

#564 [doc] support rabbitmq and activemq help doc
  home/docs/help/activemq.md
  home/docs/help/dynamic_tp.md
  home/docs/help/guide.md
  home/docs/help/jvm.md
  home/docs/help/kafka.md
  home/docs/help/rabbitmq.md
  home/docs/help/zookeeper.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/activemq.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/guide.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/jvm.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/kafka.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/rabbitmq.md
  home/i18n/en/docusaurus-plugin-content-docs/current/help/zookeeper.md
  home/sidebars.json
  manager/src/main/resources/define/app/app-activemq.yml
  manager/src/main/resources/define/param/param-activemq.yml
Labels: documentation, good first pull request

#565 [alerter] add AlerterWorkerPoolTest (#443)
  alerter/src/test/java/com/usthe/alert/AlerterWorkerPoolTest.java
Labels: good first pull request, unit test case

#570 [docs] fix insert SQL contains Chinese throw GenericJDBCException;
  home/docs/start/mysql-change.md
Labels: documentation, good first pull request, bugfix

#550 [collector,manager] reuse connect in mongodb collect, fix historical chart no data
  collector/src/main/java/com/usthe/collector/collect/common/cache/MongodbConnect.java
  collector/src/main/java/com/usthe/collector/collect/database/JdbcCommonCollect.java
  collector/src/main/java/com/usthe/collector/collect/mongodb/MongodbSingleCollectImpl.java
  common/src/main/java/com/usthe/common/entity/job/protocol/MongodbProtocol.java
  manager/pom.xml
  manager/src/main/resources/define/app/app-mongodb.yml
  manager/src/main/resources/logback-spring.xml
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
Labels: enhancement

#577 alerter模块下的AlertDefinesController控制器的测试类
  alerter/src/test/java/com/usthe/alert/controller/AlertDefinesControllerTest.java
Labels: good first pull request, unit test case

#579 [web-app] update dashboard ui and pic
  README.md
  README_CN.md
  home/static/img/home/1.png
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/dashboard/dashboard.component.ts
Labels: good first pull request

#580 #245 Notification type supports telegram
  common/src/main/java/com/usthe/common/entity/manager/NoticeReceiver.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/TelegramBotAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/WeWorkRobotAlertNotifyHandlerImpl.java
  manager/src/test/java/com/usthe/manager/component/alerter/impl/TelegramBotAlertNotifyHandlerImplTest.java
  web-app/src/app/pojo/NoticeReceiver.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature

#583 [alerter, manager] use thymeleaf to render notify content
  alerter/src/main/java/com/usthe/alert/AlerterProperties.java
  common/src/main/java/com/usthe/common/entity/manager/NoticeReceiver.java
  common/src/main/java/com/usthe/common/util/CommonUtil.java
  manager/pom.xml
  manager/src/main/java/com/usthe/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/DingTalkRobotAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/SmsAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/TelegramBotAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/WeWorkRobotAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/config/ThymeleafConfig.java
  manager/src/main/java/com/usthe/manager/pojo/dto/DingTalkWebHookDto.java
  manager/src/main/java/com/usthe/manager/pojo/dto/FlyBookWebHookDto.java
  manager/src/main/resources/application.yml
  manager/src/main/resources/templates/alertNotifyDingTalkRobot.txt
  manager/src/main/resources/templates/alertNotifyFlyBook.txt
  manager/src/main/resources/templates/alertNotifyTelegramBot.txt
  manager/src/main/resources/templates/alertNotifyWeWorkRobot.txt
  manager/src/test/java/com/usthe/manager/component/alerter/impl/DingTalkRobotAlertNotifyHandlerImplTest.java
  manager/src/test/java/com/usthe/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImplTest.java
  manager/src/test/java/com/usthe/manager/component/alerter/impl/WeWorkRobotAlertNotifyHandlerImplTest.java
Labels: enhancement, good first pull request

#584 [doc] update readme add supported
  README.md
  README_CN.md
Labels: documentation

#587 [alerter] support AlertsController unit test case (#442)
  alerter/src/test/java/com/usthe/alert/controller/AlertsControllerTest.java
Labels: good first pull request, unit test case

#589 add test unit case
  collector/src/test/java/com/usthe/collector/util/JsonPathParserTest.java
Labels: good first pull request, unit test case

#591 [manager, web-app] Notification type supports slack webhook, upgrade jdk version to JDK11
  common/src/main/java/com/usthe/common/entity/manager/NoticeReceiver.java
  common/src/main/java/com/usthe/common/util/GsonUtil.java
  home/versioned_docs/version-v1.0.0/start/package-deploy.md
  manager/src/main/java/com/usthe/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/DingTalkRobotAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/SlackAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/TelegramBotAlertNotifyHandlerImpl.java
  manager/src/main/java/com/usthe/manager/component/alerter/impl/WeWorkRobotAlertNotifyHandlerImpl.java
  manager/src/main/resources/templates/alertNotifySlack.txt
  manager/src/test/java/com/usthe/manager/component/alerter/impl/SlackAlertNotifyHandlerImplTest.java
  pom.xml
  web-app/src/app/pojo/NoticeReceiver.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature

#597 [home] support telegram alert notify help doc
  collector/pom.xml
  collector/src/main/java/com/usthe/collector/collect/http/promethus/exporter/ExporterParser.java
  home/docs/help/alert_telegram.md
  home/sidebars.json
  home/static/img/docs/help/telegram-bot-1.png
  home/static/img/docs/help/telegram-bot-2.png
  home/static/img/docs/help/telegram-bot-3.png
  manager/src/main/resources/define/app/app-fullsite.yml
  manager/src/main/resources/define/app/app-mongodb.yml
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryIotDbDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryTdEngineDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/RealTimeMemoryDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/RealTimeRedisDataStorage.java
  web-app/src/app/layout/passport/passport.component.html
  web-app/src/app/layout/passport/passport.component.ts
Labels: documentation

#596 [collector,common,manager] Add a new monitoring type to monitor the FTP server #586
  collector/src/main/java/com/usthe/collector/collect/ftp/FtpCollectImpl.java
  collector/src/main/java/com/usthe/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/com.usthe.collector.collect.AbstractCollect
  common/src/main/java/com/usthe/common/entity/job/Metrics.java
  common/src/main/java/com/usthe/common/entity/job/protocol/FtpProtocol.java
  manager/src/main/resources/define/app/app-ftp.yml
  manager/src/main/resources/define/param/param-ftp.yml
Labels: enhancement, good first pull request, new feature

#598 fix(sec): upgrade com.google.code.gson:gson to 2.8.9
  collector/pom.xml
  common/pom.xml
Labels: bugfix

#602 fix(sec): upgrade org.postgresql:postgresql to
  collector/pom.xml
Labels: bugfix

#604 [webapp] support auto refresh monitor detail data chart
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature

#605 [webapp] bugfix alarm notification keeps spinning in circles occasionally
  web-app/src/app/layout/basic/widgets/notify.component.ts
  web-app/src/assets/img/empty-full.svg
  web-app/src/assets/img/notification.svg
Labels: bugfix
