Repository apache/hertzbeat, pull requests merged in 2023-03, with the labels that each got.

#678 support config monitoring define yml in web ui
  manager/src/main/java/com/usthe/manager/controller/AppController.java
  manager/src/main/java/com/usthe/manager/pojo/dto/MonitorDefineDto.java
  manager/src/main/java/com/usthe/manager/service/AppService.java
  manager/src/main/java/com/usthe/manager/service/impl/AppServiceImpl.java
  web-app/angular.json
  web-app/package.json
  web-app/src/app/core/startup/startup.service.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/routes/setting/define/define.component.html
  web-app/src/app/routes/setting/define/define.component.less
  web-app/src/app/routes/setting/define/define.component.spec.ts
  web-app/src/app/routes/setting/define/define.component.ts
  web-app/src/app/routes/setting/setting-routing.module.ts
  web-app/src/app/routes/setting/setting.module.ts
  web-app/src/app/service/app-define.service.ts
  web-app/src/assets/app-data.json
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
  web-app/src/styles/theme.less
  web-app/yarn.lock
Labels: enhancement, good first pull request, new feature

#677 [task]Filter empty fields
  collector/src/main/java/com/usthe/collector/dispatch/MetricsCollect.java
Labels: enhancement, good first pull request

#679 support delete monitoring define yml in web ui
  README.md
  README_CN.md
  home/src/pages/index.js
  home/static/img/home/9.png
  manager/src/main/java/com/usthe/manager/controller/AppController.java
  manager/src/main/java/com/usthe/manager/service/AppService.java
  manager/src/main/java/com/usthe/manager/service/impl/AppServiceImpl.java
  web-app/src/app/routes/setting/define/define.component.html
  web-app/src/app/routes/setting/define/define.component.ts
  web-app/src/app/service/app-define.service.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: documentation, enhancement

#683 [manager] add mysql, oracle, pg db more metrics
  manager/src/main/resources/define/app-mariadb.yml
  manager/src/main/resources/define/app-mysql.yml
  manager/src/main/resources/define/app-oracle.yml
  manager/src/main/resources/define/app-postgresql.yml
Labels: enhancement, good first pull request

#682 [collector] bugfix metrics has a lot of repetition fields
  collector/src/main/java/com/usthe/collector/dispatch/MetricsCollect.java
Labels: bugfix

#684 [warehouse] support jpa store metrics history data
  common/src/main/java/com/usthe/common/entity/warehouse/History.java
  manager/src/main/resources/application.yml
  script/application.yml
  warehouse/pom.xml
  warehouse/src/main/java/com/usthe/warehouse/config/WarehouseProperties.java
  warehouse/src/main/java/com/usthe/warehouse/dao/HistoryDao.java
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryJpaDatabaseDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/RealTimeMemoryDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/RealTimeRedisDataStorage.java
Labels: enhancement, good first pull request, new feature

#690 optimized code and add iotdb compose config
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryIotDbDataStorage.java
Labels: good first pull request, bugfix

#691 [warehouse] support jpa expired metrics data auto cleaner
  common/src/main/java/com/usthe/common/entity/warehouse/History.java
  common/src/main/java/com/usthe/common/util/TimePeriodUtil.java
  manager/src/main/java/com/usthe/manager/Manager.java
  manager/src/main/resources/application.yml
  script/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
  warehouse/src/main/java/com/usthe/warehouse/config/WarehouseProperties.java
  warehouse/src/main/java/com/usthe/warehouse/dao/HistoryDao.java
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryJpaDatabaseDataStorage.java
Labels: enhancement

#692 [doc] update deploy doc
  README.md
  README_CN.md
  home/docs/introduce.md
  home/docs/start/account-modify.md
  home/docs/start/docker-deploy.md
  home/docs/start/iotdb-init.md
  home/docs/start/mysql-change.md
  home/docs/start/package-deploy.md
  home/docs/start/quickstart.md
  home/docs/start/tdengine-init.md
  home/i18n/en/code.json
  home/i18n/en/docusaurus-plugin-content-docs/current/introduce.md
  home/i18n/en/docusaurus-plugin-content-docs/current/start/account-modify.md
  home/i18n/en/docusaurus-theme-classic/footer.json
  home/i18n/en/docusaurus-theme-classic/navbar.json
  home/i18n/zh-cn/code.json
  home/i18n/zh-cn/docusaurus-theme-classic/footer.json
  home/i18n/zh-cn/docusaurus-theme-classic/navbar.json
  home/sidebars.json
  home/src/css/buttons.css
  home/src/css/navbar.css
  home/src/pages/index.js
Labels: documentation, good first pull request

#697 [warehouse] bugfix metrics data not consume oom
  README.md
  README_CN.md
  collector/src/main/java/com/usthe/collector/collect/common/CollectorProperties.java
  home/docs/others/sponsor.md
  home/i18n/en/docusaurus-plugin-content-docs/current/others/sponsor.md
  home/src/pages/components/Sponsor.js
  warehouse/src/main/java/com/usthe/warehouse/controller/MetricsDataController.java
  warehouse/src/main/java/com/usthe/warehouse/store/AbstractHistoryDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/AbstractRealTimeDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/DataStorageDispatch.java
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryIotDbDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryJpaDatabaseDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryTdEngineDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/RealTimeMemoryDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/RealTimeRedisDataStorage.java
  warehouse/src/test/java/com/usthe/warehouse/controller/MetricsDataControllerTest.java
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.ts
Labels: good first pull request, bugfix

#701 [manager] bugfix npe when load old define yml in windows env
  manager/src/main/java/com/usthe/manager/service/impl/AppServiceImpl.java
Labels: bug, good first pull request, bugfix

#699 snmp collect protocol support walk operation
  collector/src/main/java/com/usthe/collector/collect/snmp/SnmpCollectImpl.java
  common/src/main/java/com/usthe/common/entity/job/protocol/SnmpProtocol.java
  manager/src/main/resources/define/app-windows.yml
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryIotDbDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryTdEngineDataStorage.java
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.ts
Labels: enhancement

#702 support v1.0.+ iotdb
  manager/src/main/resources/application.yml
  warehouse/pom.xml
  warehouse/src/main/java/com/usthe/warehouse/config/IotDbVersion.java
  warehouse/src/main/java/com/usthe/warehouse/config/WarehouseProperties.java
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryIotDbDataStorage.java
Labels: enhancement, good first pull request

#705 feature support monitor switch network metrics
  manager/src/main/resources/define/app-cisco_switch.yml
  manager/src/main/resources/define/app-hpe_switch.yml
  manager/src/main/resources/define/app-huawei_switch.yml
  manager/src/main/resources/define/app-tplink_switch.yml
  manager/src/main/resources/define/app-windows.yml
  web-app/src/app/routes/setting/define/define.component.html
  web-app/src/assets/app-data.json
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, new feature

#706 [webapp] change alert define trigger times from max 10 to max 999
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
Labels: good first pull request

#709 [bugfix]delete window cpu metrics
  manager/src/main/resources/define/app-windows.yml
Labels: good first pull request

#715 Update kubernetes.md
  home/docs/help/kubernetes.md
Labels: documentation

#723 bugfix job metrics set concurrent modification exception
  common/src/main/java/com/usthe/common/entity/job/Job.java
Labels: good first pull request, bugfix

#724 [webapp] bugfix the cover of the big screen is too small
  web-app/src/app/layout/passport/passport.component.less
Labels: good first pull request, bugfix

#726 [hertzbeat] release hertzbeat version v1.3.0
  script/assembly/server/assembly.xml
  script/docker/server/Dockerfile
  web-app/src/app/shared/consts.ts
Labels: documentation

#728 update iotdb doc
  home/docs/start/iotdb-init.md
  manager/src/main/resources/application.yml
Labels: documentation, good first pull request

#734 bugfix redis collector create too many instance case oom
  collector/src/main/java/com/usthe/collector/collect/common/cache/RedisConnect.java
  collector/src/main/java/com/usthe/collector/collect/mongodb/MongodbSingleCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/redis/RedisClusterCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/redis/RedisCommonCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/redis/RedisSingleCollectImpl.java
  collector/src/main/java/com/usthe/collector/collect/ssh/SshCollectImpl.java
  collector/src/test/java/com/usthe/collector/collect/redis/RedisClusterCollectImplTest.java
  collector/src/test/java/com/usthe/collector/collect/redis/RedisSingleCollectImplTest.java
  common/src/main/java/com/usthe/common/entity/warehouse/History.java
  manager/src/main/java/com/usthe/manager/service/JobSchedulerInit.java
  manager/src/main/resources/application.yml
  warehouse/src/main/java/com/usthe/warehouse/config/WarehouseProperties.java
  warehouse/src/main/java/com/usthe/warehouse/store/DataStorageDispatch.java
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryJpaDatabaseDataStorage.java
Labels: enhancement, bugfix

#735 support tdengine3.0 and fix issues714
  warehouse/pom.xml
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryTdEngineDataStorage.java
Labels: enhancement, good first pull request, bugfix

#743 [collector]bugfix linux ssh collect npe
  collector/src/main/java/com/usthe/collector/collect/ssh/SshCollectImpl.java
Labels: good first pull request, bugfix

#744 [manager] add example app define i18n comment
  manager/src/main/resources/define/app-a_example.yml
Labels: documentation

#745 [collector] support linux ssh private key
  collector/src/main/java/com/usthe/collector/collect/ssh/SshCollectImpl.java
  collector/src/main/java/com/usthe/collector/util/KeyPairUtil.java
  collector/src/test/java/com/usthe/collector/util/KeyPairUtilTest.java
  common/src/main/java/com/usthe/common/entity/job/protocol/SshProtocol.java
  manager/src/main/resources/define/app-centos.yml
  manager/src/main/resources/define/app-linux.yml
  manager/src/main/resources/define/app-ubuntu.yml
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
Labels: enhancement, good first pull request, new feature

#746 [collector] trust sqlserver server certificate default
  collector/src/main/java/com/usthe/collector/collect/database/JdbcCommonCollect.java
  collector/src/main/java/com/usthe/collector/collect/snmp/SnmpCollectImpl.java
  home/docs/others/developer.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/others/developer.md
  home/static/img/docs/cert-committer.png
  home/static/img/docs/cert-contributor.png
Labels: documentation, good first pull request, bugfix

#750 [script] update warehouse jpa store metrics expire-time to 1h
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/iotdb-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/tdengine-init.md
  home/src/constants.js
  home/src/pages/index.js
  home/static/img/icons/bugstack_logo.png
  manager/src/main/resources/application-test.yml
  script/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
  warehouse/src/main/java/com/usthe/warehouse/controller/MetricsDataController.java
  warehouse/src/main/java/com/usthe/warehouse/store/AbstractRealTimeDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/DataStorageDispatch.java
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryJpaDatabaseDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/RealTimeMemoryDataStorage.java
  warehouse/src/main/java/com/usthe/warehouse/store/RealTimeRedisDataStorage.java
  warehouse/src/test/java/com/usthe/warehouse/controller/MetricsDataControllerTest.java
Labels: enhancement, good first pull request

#753 fix prometheus exporter parse metric name and label name bug
  collector/src/main/java/com/usthe/collector/collect/http/promethus/exporter/ExporterParser.java
  collector/src/test/java/com/usthe/collector/collect/http/promethus/exporter/ExporterParserTest.java
  manager/src/main/resources/application.yml
Labels: enhancement, good first pull request, bugfix

#754 [warehouse] bugfix too many data in h2 db cause oom
  manager/pom.xml
  warehouse/src/main/java/com/usthe/warehouse/dao/HistoryDao.java
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryJpaDatabaseDataStorage.java
Labels: bugfix

#756 [common] auto generate index when jpa auto-ddl
  common/src/main/java/com/usthe/common/entity/alerter/AlertDefineMonitorBind.java
  common/src/main/java/com/usthe/common/entity/manager/Monitor.java
  common/src/main/java/com/usthe/common/entity/manager/Param.java
  common/src/main/java/com/usthe/common/entity/manager/TagMonitorBind.java
  common/src/main/java/com/usthe/common/entity/warehouse/History.java
  manager/src/main/resources/logback-spring.xml
  warehouse/src/main/java/com/usthe/warehouse/dao/HistoryDao.java
  warehouse/src/main/java/com/usthe/warehouse/store/HistoryJpaDatabaseDataStorage.java
Labels: enhancement

#761 [manager,doc] fix springboot metrics collect error, update doc
  home/blog/2023-03-22-monitor-springboot2.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-03-15-hertzbeat-v1.3.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-03-22-monitor-springboot2.md
  home/static/img/blog/monitor-springboot2-1.png
  home/static/img/blog/monitor-springboot2-2.png
  home/static/img/blog/monitor-springboot2-3.png
  home/static/img/blog/monitor-springboot2-4.png
  home/static/img/blog/monitor-springboot2-5.png
  home/static/img/blog/monitor-springboot2-6.png
  home/static/img/blog/monitor-springboot2-7.png
  home/static/img/blog/monitor-springboot2-8.png
  manager/src/main/resources/application.yml
  manager/src/main/resources/define/app-springboot2.yml
  manager/src/main/resources/define/app-springboot3.yml
Labels: documentation, bugfix

#766 enhance nacos.yml
  manager/src/main/resources/define/app-nacos.yml
Labels: enhancement, good first pull request

#768 [webapp] fix unlock tip message
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: documentation, good first pull request

#778 pref: app-mysql.yml internationalization notes
  manager/src/main/resources/define/app-mysql.yml
Labels: documentation, good first pull request

#783 add springboot2,springboot3 define yml comment translation
  manager/src/main/resources/define/app-springboot2.yml
  manager/src/main/resources/define/app-springboot3.yml
Labels: enhancement, good first pull request

#784 update app-oracle.yml tablespace metrics
  manager/src/main/resources/define/app-oracle.yml
Labels: enhancement, good first pull request

#787 comment and translate define yml sqlserver
  manager/src/main/resources/define/app-sqlserver.yml
Labels: enhancement, good first pull request

#790 解决部分Mysql数据库启动失败和redis连接失败的说明
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/mysql-change.md
Labels: documentation, good first pull request

#796 [manager] feature: app-influxdb_promql.yml
  manager/src/main/resources/define/app-influxdb_promql.yml
Labels: good first pull request

#798 Translate https://github.com/dromara/hertzbeat/blob/master/manager/sr…
  manager/src/main/resources/define/app-ssl_cert.yml
Labels: enhancement, good first pull request

#800 constraint common dependencies version
  alerter/pom.xml
  collector/pom.xml
  collector/src/main/java/com/usthe/collector/dispatch/export/MetricsDataExporter.java
  common/pom.xml
  common/src/main/java/com/usthe/common/util/GsonUtil.java
  home/static/img/hertzbeat-logo.png
  home/static/img/tancloud-logo.jpg
  manager/pom.xml
  manager/src/test/java/com/usthe/manager/controller/MonitorsControllerTest.java
  pom.xml
  warehouse/pom.xml
Labels: enhancement, good first pull request

#803 update app-jetty.yml comment
  manager/src/main/resources/define/app-jetty.yml
Labels: good first pull request

#804 update app-docker.yml
  manager/src/main/resources/define/app-docker.yml
Labels: good first pull request

#811 update app-clickhouse.yml comment
  manager/src/main/resources/define/app-clickhouse.yml
Labels: documentation

#815 Update app-api.yml
  manager/src/main/resources/define/app-api.yml
Labels: documentation, good first pull request

#816 Update app-api_code.yml
  manager/src/main/resources/define/app-api_code.yml
Labels: documentation

#818 [task#769]add app-redis.yml translate
  manager/src/main/resources/define/app-redis.yml
Labels: good first pull request

#822 bugfix historical chart time expression format error
  manager/src/main/java/com/usthe/manager/service/impl/AppServiceImpl.java
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
Labels: enhancement, good first pull request, bugfix

#819 [script] update github workflow, add pr template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/codeql-analysis.yml
  alerter/src/main/java/com/usthe/alert/service/impl/AlertServiceImpl.java
Labels: enhancement, good first pull request, bugfix
