Repository apache/hertzbeat, pull requests merged in 2023-12, with the labels that each got.

#1368 enriches the cncf landscape
  README.md
  README_CN.md
  home/static/img/home/cncf-landscape-left-logo.svg
  home/static/img/home/cncf-right-logo.svg
Labels: documentation

#1371 Fix flaky test in CollectUtilTest
  collector/src/test/java/org/dromara/hertzbeat/collector/util/CollectUtilTest.java
Labels: enhancement, good first pull request, bugfix

#1373 Fix flaky test replaceSmilingPlaceholder
  collector/src/test/java/org/dromara/hertzbeat/collector/util/CollectUtilTest.java
Labels: enhancement

#1370 add docker-compose script hertzbeat+mysql+victoria-metrics all in one
  README.md
  README_CN.md
  home/docs/start/iotdb-init.md
  home/docs/start/victoria-metrics-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/victoria-metrics-init.md
  home/sidebars.json
  script/docker-compose/README.md
  script/docker-compose/hertzbeat-mysql-tdengine/README.md
  script/docker-compose/hertzbeat-mysql-victoria-metrics/README.md
  script/docker-compose/hertzbeat-mysql-victoria-metrics/README_CN.md
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/application.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/sql/schema.sql
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/docker-compose.yaml
  script/docker/server/build.sh
  script/helm/hertzbeat/templates/manager/configmap.yaml
  script/helm/hertzbeat/templates/tsdb/service.yaml
  script/helm/hertzbeat/templates/tsdb/statefulset.yaml
  script/helm/hertzbeat/values.yaml
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement

#1376 Feature: app-jvm.yml support for international name aliases
  manager/src/main/resources/define/app-jvm.yml
Labels: enhancement, good first pull request

#1374 feature: support monitoring spring gateway metrics
  home/docs/help/spring_gateway.md
  manager/src/main/resources/define/app-spring_gateway.yml
Labels: enhancement, good first pull request, new feature

#1383 fix exception when sending email has special chars
  alerter/src/main/java/org/dromara/hertzbeat/alert/util/AlertTemplateUtil.java
  alerter/src/test/java/org/dromara/hertzbeat/alert/util/AlertTemplateUtilTest.java
Labels: enhancement, good first pull request, bugfix

#1387 test: add e2e testing for some basic APIs
  .github/workflows/maven-build.yml
  .gitpod.yml
  README.md
  README_CN.md
  e2e/Dockerfile
  e2e/Makefile
  e2e/RADME.md
  e2e/compose.yaml
  e2e/data/monitor-http.json
  e2e/entrypoint.sh
  e2e/start.sh
  e2e/testsuite.yaml
  script/docker/server/build.sh
Labels: enhancement, good first pull request, test, new feature

#1384 bugfix auto generate monitor name error when add monitor
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/entrance/processor/GoCloseProcessor.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/entrance/processor/GoOfflineProcessor.java
  manager/src/main/java/org/dromara/hertzbeat/manager/scheduler/SchedulerInit.java
  manager/src/main/resources/define/app-api_code.yml
  manager/src/main/resources/define/app-windows.yml
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/app/shared/components/help-massage-show/help-massage-show.component.less
Labels: bugfix

#1388 bugfix CalculateAlarm execAlertExpression NPE
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
Labels: bugfix

#1390 Feature: app-redis.yml support for international name aliases
  manager/src/main/resources/define/app-redis.yml
Labels: documentation, enhancement, good first pull request

#1391 test: add more monitor related e2e testing case
  e2e/data/monitor-ftp.json
  e2e/data/monitor-ping.json
  e2e/data/monitor-port.json
  e2e/data/monitor-sitemap.json
  e2e/data/monitor-ssl.json
  e2e/data/monitor-udp.json
  e2e/data/monitor-website.json
  e2e/testsuite.yaml
Labels: enhancement, good first pull request, test

#1392 chore: update the pr template about the e2e testing
  .github/PULL_REQUEST_TEMPLATE.md
  e2e/README.md
Labels: documentation, enhancement, good first pull request

#1399 add help header ui when update or add monitors
  home/static/img/hertzbeat-brand-white-y.png
  home/static/img/hertzbeat-brand-white-y.svg
  home/static/img/hertzbeat-brand-y.png
  home/static/img/hertzbeat-brand-y.svg
  home/static/img/tancloud-brand-white-y.png
  home/static/img/tancloud-brand-white-y.svg
  home/static/img/tancloud-brand-white.png
  home/static/img/tancloud-brand-y.png
  home/static/img/tancloud-brand-y.svg
  manager/src/main/resources/define/app-ftp.yml
  manager/src/main/resources/define/app-port.yml
  manager/src/main/resources/define/app-ssl_cert.yml
  manager/src/main/resources/define/app-udp_port.yml
  manager/src/main/resources/define/app-website.yml
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/shared/components/help-massage-show/help-massage-show.component.html
  web-app/src/app/shared/components/help-massage-show/help-massage-show.component.less
  web-app/src/app/shared/components/help-massage-show/help-massage-show.component.ts
Labels: enhancement

#1400 [hertzbeat] release hertzbeat version v1.4.3
  .github/workflows/backend-build-test.yml
  .github/workflows/doc-pdf-builder.yml
  .github/workflows/frontend-build-test.yml
  .github/workflows/issues-translator.yml
  script/assembly/collector/assembly.xml
  script/assembly/server/assembly.xml
  script/docker/collector/build.sh
  script/docker/server/Dockerfile
  script/helm/hertzbeat/Chart.yaml
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/shared/constants.ts
Labels: documentation

#1407 add smtp protocol and support smtp monitoring
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/smtp/SmtpCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/org.dromara.hertzbeat.collector.collect.AbstractCollect
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/SmtpProtocol.java
  manager/src/main/resources/define/app-smtp.yml
Labels: enhancement, good first pull request, new feature, task

#1411 add ntp protocol and support ntp monitoring
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/ntp/NtpCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/org.dromara.hertzbeat.collector.collect.AbstractCollect
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/NtpProtocol.java
  manager/src/main/resources/define/app-ntp.yml
Labels: enhancement, good first pull request, new feature, task

#1413 monitoring the availability of websockets through handshake.
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/websocket/WebsocketCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/org.dromara.hertzbeat.collector.collect.AbstractCollect
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/WebsocketProtocol.java
  manager/src/main/resources/define/app-websocket.yml
Labels: enhancement, good first pull request, new feature, task

#1412 [Task-1386] When adding tags in tag management, random colors are given by default.
  web-app/src/app/pojo/Tag.ts
Labels: enhancement, good first pull request

#1416 #1397 feature: support for dns monitoring
  collector/pom.xml
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/dns/DnsCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/org.dromara.hertzbeat.collector.collect.AbstractCollect
  collector/src/test/java/org/dromara/hertzbeat/collector/collect/dns/DnsCollectImplTest.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/DnsProtocol.java
  manager/src/main/resources/define/app-dns.yml
Labels: enhancement, good first pull request, new feature, task

#1414 support legend pageable in history data charts
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
Labels: enhancement

#1420 feature: support monitoring nginx metrics and add a help doc
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/nginx/NginxCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/org.dromara.hertzbeat.collector.collect.AbstractCollect
  collector/src/test/java/org/dromara/hertzbeat/collector/collect/nginx/NginxCollectImplTest.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/NginxProtocol.java
  home/docs/help/nginx.md
  manager/src/main/resources/define/app-nginx.yml
Labels: enhancement, good first pull request, new feature

#1421 update parser to parse from prometheus txt metrics data
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/HttpCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/prometheus/PrometheusAutoCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/prometheus/parser/MetricFamily.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/prometheus/parser/TextParser.java
Labels: enhancement

#1423 support monitoring memcached metrics and add a help doc
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/memcached/MemcachedCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/org.dromara.hertzbeat.collector.collect.AbstractCollect
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/MemcachedProtocol.java
  home/docs/help/memcached.md
  manager/src/main/resources/define/app-memcached.yml
Labels: enhancement, good first pull request, new feature, task

#1424 support all ssh connect key exchange
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/ssh/CommonSshClient.java
Labels: enhancement, bugfix

#1425 [doc] add code of conduct
  CODE_OF_CONDUCT.md
Labels: documentation

#1426 update label structure store in victoria metrics, make it prometheus like
  common/src/main/java/org/dromara/hertzbeat/common/constants/CommonConstants.java
  home/i18n/en/code.json
  manager/src/main/java/org/dromara/hertzbeat/manager/scheduler/CollectorAndJobScheduler.java
  manager/src/main/java/org/dromara/hertzbeat/manager/scheduler/SchedulerInit.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/AppService.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/test/java/org/dromara/hertzbeat/manager/service/MonitorServiceTest.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryVictoriaMetricsDataStorage.java
Labels: enhancement

#1427 feature: support monitoring pop3 metrics and add help doc
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/pop3/Pop3CollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/org.dromara.hertzbeat.collector.collect.AbstractCollect
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/Pop3Protocol.java
  home/docs/help/nginx.md
  home/docs/help/pop3.md
  manager/src/main/resources/define/app-pop3.yml
Labels: enhancement, good first pull request, new feature, task

#1428 Update sidebars.json
  home/sidebars.json
Labels: documentation

#1429 Add zh-cn help doc
  home/docs/help/hive.md
  home/docs/help/spring_gateway.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/hive.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/nginx.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/pop3.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/spring_gateway.md
Labels: documentation

#1430 update monitoring state un-manage to unmonitored, update pic
  common/src/main/java/org/dromara/hertzbeat/common/constants/CommonConstants.java
  e2e/Dockerfile
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_telegram.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.3.x/help/alert_telegram.md
  home/static/img/home/10.png
  home/static/img/home/11.png
  home/static/img/home/12.png
  home/static/img/home/13.png
  home/static/img/home/14.png
  home/static/img/home/16.png
  home/static/img/home/17.png
  home/static/img/home/2.png
  home/static/img/home/3.png
  home/versioned_docs/version-v1.1.x/help/alert_telegram.md
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/DbAlertStoreHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/AppCount.java
  manager/src/main/resources/define/app-api.yml
  manager/src/main/resources/define/app-api_code.yml
  manager/src/main/resources/define/app-ftp.yml
  manager/src/main/resources/define/app-memcached.yml
  manager/src/main/resources/define/app-ntp.yml
  manager/src/main/resources/define/app-ping.yml
  manager/src/main/resources/define/app-port.yml
  manager/src/main/resources/define/app-smtp.yml
  manager/src/main/resources/define/app-udp_port.yml
  manager/src/main/resources/define/app-website.yml
  manager/src/main/resources/define/app-websocket.yml
  script/sql/schema.sql
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: documentation, enhancement

#1431 Add jpa to date type storage
  common/src/main/java/org/dromara/hertzbeat/common/entity/warehouse/History.java
  script/sql/schema.sql
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryJpaDatabaseDataStorage.java
Labels: enhancement, good first pull request

#1434 bugfix ^o^ token error, protect metrics api auth
  collector/src/main/java/org/dromara/hertzbeat/collector/Collector.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/CommonDispatcher.java
  collector/src/main/java/org/dromara/hertzbeat/collector/util/CollectUtil.java
  common/src/main/java/org/dromara/hertzbeat/common/config/AviatorConfiguration.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Job.java
  manager/src/main/resources/application.yml
  manager/src/main/resources/define/app-hertzbeat.yml
  manager/src/main/resources/define/app-hertzbeat_token.yml
  manager/src/main/resources/sureness.yml
  script/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/application.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/sureness.yml
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/sureness.yml
  script/sureness.yml
Labels: bugfix

#1437 Add relevant documents for SMTP and NTP
  home/docs/help/ntp.md
  home/docs/help/smtp.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/ntp.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/smtp.md
Labels: documentation, good first pull request

#1435 bugfix threshold init error in mysql env
  README.md
  README_CN.md
  alerter/src/main/java/org/dromara/hertzbeat/alert/dao/AlertDefineDao.java
  home/docs/others/developer.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/others/developer.md
  manager/src/main/java/org/dromara/hertzbeat/manager/service/AvailableAlertDefineInit.java
Labels: bugfix

#1439 app-rabbitmq.yml support for international name aliases
  manager/src/main/resources/define/app-rabbitmq.yml
Labels: documentation, enhancement, good first pull request

#1438 fix(*): error create lru-cache-timeout-cleaner thread
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/CommonCache.java
Labels: enhancement, good first pull request, bugfix

#1441 support monitoring NebulaGraph metrics and add help doc
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/nebulagraph/NebulaGraphCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/org.dromara.hertzbeat.collector.collect.AbstractCollect
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/NebulaGraphProtocol.java
  home/docs/help/nebulagraph.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/nebulagraph.md
  manager/src/main/resources/define/app-nebulaGraph.yml
Labels: enhancement, good first pull request, new feature

#1442 Fix Nginx Collect validateParams function NPE
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/nginx/NginxCollectImpl.java
Labels: enhancement, good first pull request, bugfix

#1445 feature: add metrics i18n for app-springboot3.yml
  manager/src/main/resources/define/app-springboot3.yml
Labels: documentation, enhancement, good first pull request

#1446 feat: add metrics i18n for app-docker.yml
  manager/src/main/resources/define/app-docker.yml
Labels: documentation, good first pull request

#1447 update docker-compose script and fix version
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/docker-compose-1.0.yaml
  script/docker-compose/hertzbeat-mysql-iotdb/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-tdengine/README.md
  script/docker-compose/hertzbeat-mysql-tdengine/README_CN.md
  script/docker-compose/hertzbeat-mysql-tdengine/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/docker-compose.yaml
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-iotdb/docker-compose.yaml
Labels: enhancement

#1443 bugfix java.lang.IllegalArgumentException: Illegal character in query…
  manager/src/main/resources/define/app-hertzbeat.yml
  manager/src/main/resources/define/app-spring_gateway.yml
Labels: bugfix

#1451 bugfix delete monitor error after monitor canceled
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
Labels: enhancement, good first pull request, bugfix

#1456 remove sleep, probably busy-waiting
  README.md
  README_CN.md
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/ConnectionCommonCache.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/JdbcConnect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/JmxConnect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/MongodbConnect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/RedisConnect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/SshConnect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/http/CommonHttpClient.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/database/JdbcCommonCollect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/jmx/JmxCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/mongodb/MongodbSingleCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/redis/RedisCommonCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/ssh/SshCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/CommonDispatcher.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/MetricsCollectorQueue.java
  collector/src/test/java/org/dromara/hertzbeat/collector/collect/common/cache/CommonCacheTest.java
Labels: enhancement

#1453 [doc] add new committer ZY945
  .all-contributorsrc
  README.md
  README_CN.md
  home/docs/others/developer.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/others/developer.md
Labels: documentation

#1458 Update app-zookeeper.yml
  manager/src/main/resources/define/app-zookeeper.yml
Labels: documentation
