Repository apache/hertzbeat, pull requests merged in 2023-04, with the labels that each got.

#826 [script] update monitoring app define yml
  manager/src/main/resources/application.yml
  manager/src/main/resources/define/app-a_example.yml
  manager/src/main/resources/define/app-api.yml
  manager/src/main/resources/define/app-api_code.yml
  manager/src/main/resources/define/app-centos.yml
  manager/src/main/resources/define/app-cisco_switch.yml
  manager/src/main/resources/define/app-clickhouse.yml
  manager/src/main/resources/define/app-dm.yml
  manager/src/main/resources/define/app-dynamic_tp.yml
  manager/src/main/resources/define/app-elasticsearch.yml
  manager/src/main/resources/define/app-ftp.yml
  manager/src/main/resources/define/app-hertzbeat_token.yml
  manager/src/main/resources/define/app-hpe_switch.yml
  manager/src/main/resources/define/app-huawei_switch.yml
  manager/src/main/resources/define/app-jetty.yml
  manager/src/main/resources/define/app-linux.yml
  manager/src/main/resources/define/app-mariadb.yml
  manager/src/main/resources/define/app-mysql.yml
  manager/src/main/resources/define/app-oracle.yml
  manager/src/main/resources/define/app-springboot2.yml
  manager/src/main/resources/define/app-springboot3.yml
  manager/src/main/resources/define/app-sqlserver.yml
  manager/src/main/resources/define/app-tomcat.yml
  manager/src/main/resources/define/app-tplink_switch.yml
  manager/src/main/resources/define/app-ubuntu.yml
  manager/src/main/resources/define/app-website.yml
  script/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
Labels: documentation, good first pull request

#828 support postgresql store meta data instead of h2 database
  home/docs/start/postgresql-change.md
  script/docker-compose/README.md
  script/docker-compose/hertzbeat-postgresql-iotdb/README.md
  script/docker-compose/hertzbeat-postgresql-iotdb/README_CN.md
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/sql/schema.sql
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/sureness.yml
  script/docker-compose/hertzbeat-postgresql-iotdb/docker-compose.yaml
Labels: documentation, enhancement, good first pull request, new feature

#834 [warehouse]Add support for greptimedb.
  warehouse/pom.xml
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/config/WarehouseProperties.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryGrepTimeDbDataStorage.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryJpaDatabaseDataStorage.java
Labels: enhancement, good first pull request, new feature

#842 [manage]add app-redis_cluster.yml translate
  manager/src/main/resources/define/app-redis_cluster.yml
Labels: documentation

#845 [refactor] avoid i18nName null
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
Labels: enhancement, good first pull request

#844 [task#736]Add enterprise WeChat application notifications for alerts
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/NoticeReceiver.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/WeChatAppDTO.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/WeChatAppReq.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImplTest.java
  web-app/src/app/pojo/NoticeReceiver.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature

#846 use jackson instead of gson
  .github/workflows/codeql-analysis.yml
  alerter/src/test/java/org/dromara/hertzbeat/alert/controller/AlertDefineControllerTest.java
  alerter/src/test/java/org/dromara/hertzbeat/alert/controller/AlertDefinesControllerTest.java
  alerter/src/test/java/org/dromara/hertzbeat/alert/controller/AlertsControllerTest.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/PrometheusMatrixParser.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/PrometheusVectorParser.java
  collector/src/main/java/org/dromara/hertzbeat/collector/util/CollectUtil.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/alerter/Alert.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/alerter/JsonMapAttributeConverter.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Job.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/JsonByteListAttributeConverter.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/JsonOptionListAttributeConverter.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/JsonTagListAttributeConverter.java
  common/src/main/java/org/dromara/hertzbeat/common/util/GsonUtil.java
  common/src/main/java/org/dromara/hertzbeat/common/util/JsonUtil.java
  common/src/test/java/org/dromara/hertzbeat/common/util/JsonUtilTest.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/JobSchedulerInit.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/test/java/org/dromara/hertzbeat/manager/controller/AccountControllerTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/controller/MonitorControllerTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/controller/MonitorsControllerTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/controller/NoticeConfigControllerTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/controller/TagControllerTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/dao/ParamDefineDaoTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/support/GlobalExceptionHandlerTest.java
Labels: good first pull request, bugfix

#848 add app-redis_cluster.yml translate
  manager/src/main/resources/define/app-redis_sentinel.yml
Labels: documentation

#849 add app-jvm.yml translate
  manager/src/main/resources/define/app-jvm.yml
Labels: documentation

#851 Monitor service
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MonitorsController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
Labels: enhancement

#852 Add logo
  home/src/constants.js
  home/static/img/icons/sms_aggregator_logo.png
Labels: documentation

#854 update enterprise wechat notify
  home/docs/help/alert_enterprise_wechat_app.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_enterprise_wechat_app.md
  home/sidebars.json
  home/static/img/docs/help/alert-wechat-1.jpg
  home/static/img/docs/help/alert-wechat-2.jpg
  home/static/img/docs/help/alert-wechat-3.jpg
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/WeChatAppDTO.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/WeChatAppReq.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImplTest.java
  script/sql/schema.sql
Labels: enhancement, good first pull request

#858 [style] use StringUtils.hasText()
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MonitorsController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
Labels: enhancement, good first pull request

#860 [alerter]bugfix: fix the error according to the monitorid query.
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertsController.java
Labels: enhancement, good first pull request, bugfix

#855 [docs] add postgresql-change zh-cn doc
  alerter/src/main/java/org/dromara/hertzbeat/alert/dao/AlertDao.java
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/postgresql-change.md
  home/sidebars.json
Labels: documentation

#859 support custom define monitoring availability alert
  alerter/src/main/java/org/dromara/hertzbeat/alert/AlerterProperties.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dao/AlertDefineDao.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/AlertDefineService.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineServiceImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/alerter/AlertDefine.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Job.java
  common/src/main/java/org/dromara/hertzbeat/common/util/CommonConstants.java
  home/CNAME
  home/docs/start/custom-config.md
  home/docusaurus.config.js
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/custom-config.md
  home/static/CNAME
  manager/src/main/java/org/dromara/hertzbeat/manager/service/AppService.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/AvailableAlertDefineInit.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/resources/application.yml
  manager/src/main/resources/logback-spring.xml
  script/application.yml
  script/sql/schema.sql
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryGrepTimeDbDataStorage.java
  web-app/src/app/pojo/AlertDefine.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature

#871 add app-rabbitmq.yml translate
  manager/src/main/resources/define/app-rabbitmq.yml
Labels: documentation, good first pull request

#875 optimize caffeine cache
  common/pom.xml
  common/src/main/java/org/dromara/hertzbeat/common/cache/CacheFactory.java
  common/src/main/java/org/dromara/hertzbeat/common/cache/CaffeineCacheServiceImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/cache/ICacheService.java
  common/src/test/java/org/dromara/hertzbeat/common/cache/CaffeineCacheTest.java
  manager/pom.xml
  manager/src/main/java/org/dromara/hertzbeat/manager/cache/CaffeineCacheServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/NoticeConfigServiceImpl.java
Labels: enhancement, good first pull request

#882 Added the @Column(length=2048) for special fields
  common/src/main/java/org/dromara/hertzbeat/common/entity/alerter/Alert.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/alerter/AlertDefine.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/NoticeReceiver.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/NoticeRule.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/Param.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/ParamDefine.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/Tag.java
Labels: enhancement, good first pull request

#886 Update mysql-change.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/mysql-change.md
Labels: documentation

#881 [warehouse] bugfix inttIotDB collectCheck Bug
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryIotDbDataStorage.java
Labels: enhancement, good first pull request, bugfix

#883 [collector] bugfix npe when snmp walk special fields
  README.md
  README_CN.md
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/snmp/SnmpCollectImpl.java
  home/docs/others/huaweicloud.md
  home/docusaurus.config.js
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/others/huaweicloud.md
Labels: good first pull request, bugfix

#888 模块优化命名，优化pom依赖管理
  alerter/pom.xml
  collector/pom.xml
  common/pom.xml
  manager/pom.xml
  pom.xml
  warehouse/pom.xml
Labels: enhancement, good first pull request

#879 Feature#imexportexcel
  collector/pom.xml
  manager/pom.xml
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/ExcelImExportServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/JsonImExportServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  web-app/_mock/README.md
Labels: enhancement, good first pull request, new feature

#891 [manager]import and export by excel
  collector/pom.xml
  manager/pom.xml
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/ExcelImExportServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/JsonImExportServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  web-app/_mock/README.md
Labels: enhancement, good first pull request

#880 fixed bugs. change nacos monitor to prometheus.
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/exporter/ExporterParser.java
  collector/src/test/java/org/dromara/hertzbeat/collector/collect/http/promethus/exporter/ExporterParserTest.java
  manager/src/main/resources/define/app-nacos.yml
Labels: enhancement, good first pull request, bugfix

#892 support monitoring network h3c switch
  manager/src/main/resources/define/app-h3c_switch.yml
Labels: good first pull request, new feature

#896 [manager]import and export by YAML via YamlImExportServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/config/YamlMapperConfig.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/YamlImExportServiceImpl.java
Labels: enhancement, good first pull request, new feature

#898 [collector] bugfix sshd error no more sessions sometime
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/CommonCache.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/JdbcConnect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/JmxConnect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/MongodbConnect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/RedisConnect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/SshConnect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/ssh/CommonSshClient.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/ssh/SshCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/CommonDispatcher.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/timer/WheelTimerTask.java
  manager/src/main/resources/define/app-centos.yml
  manager/src/main/resources/define/app-dm.yml
  manager/src/main/resources/define/app-euleros.yml
  manager/src/main/resources/define/app-linux.yml
  manager/src/main/resources/define/app-mariadb.yml
  manager/src/main/resources/define/app-mysql.yml
  manager/src/main/resources/define/app-opengauss.yml
  manager/src/main/resources/define/app-oracle.yml
  manager/src/main/resources/define/app-postgresql.yml
  manager/src/main/resources/define/app-sqlserver.yml
  manager/src/main/resources/define/app-ubuntu.yml
Labels: good first pull request, bugfix

#906 修复LocalDateTime返回前端接受为数组问题。
  manager/src/main/java/org/dromara/hertzbeat/manager/config/YamlMapperConfig.java
Labels: enhancement, good first pull request, bugfix

#903 [warehouse] issue:897 修改TDengine查询历史记录时关键字查询bug。
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryTdEngineDataStorage.java
Labels: enhancement, good first pull request, bugfix

#904 [manager] support huaweiyun smn to send alert notify
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/NoticeReceiver.java
  home/docs/help/alert_smn.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_smn.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/sidebars.json
  home/static/img/docs/help/alert-notice-10.png
  home/static/img/docs/help/alert-notice-11.png
  home/static/img/docs/help/alert-notice-12.png
  home/static/img/docs/help/alert-notice-13.png
  home/static/img/docs/help/alert-notice-14.png
  manager/pom.xml
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/EmailAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/HuaweiyunSmnAlertNotifyHandlerImpl.java
  manager/src/main/resources/application-prod.yml
  manager/src/main/resources/application.yml
  manager/src/main/resources/templates/alertNotifySmn.txt
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/HuaweiyunSmnAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/support/GlobalExceptionHandlerTest.java
  pom.xml
  web-app/src/app/pojo/NoticeReceiver.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature

#908 [bug#877]Maximum length control for password increase
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/AccountController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/AppController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/LoginDto.java
Labels: enhancement, good first pull request, bugfix

#911 [webapp] update monitor chart ui
  home/static/img/hertzbeat-brand-white.svg
  home/static/img/hertzbeat-brand.jpg
  home/static/img/hertzbeat-brand.png
  home/static/img/hertzbeat-brand.svg
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.html
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.ts
  web-app/src/assets/brand.svg
  web-app/src/assets/brand_white.svg
Labels: enhancement, good first pull request

#916 [feature]logback-spring.xml Scroll to delete expired logs
  manager/src/main/resources/logback-spring.xml
Labels: enhancement, good first pull request

#914 [doc] add greptimeDB store mertics help doc
  README.md
  README_CN.md
  home/docs/start/greptime-init.md
  home/docs/start/package-deploy.md
  home/docs/start/tdengine-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/greptime-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/mysql-change.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/package-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/quickstart.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/tdengine-init.md
  home/sidebars.json
  home/static/img/docs/cert-committer.png
  home/static/img/docs/cert-contributor.png
Labels: documentation

#915 bugfix monitoring host field can not custom define in ui
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MonitorsController.java
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
Labels: enhancement, good first pull request, bugfix

#920 support monitoring template doc
  README.md
  README_CN.md
  home/docs/template.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/influxdb-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/template.md
  home/sidebars.json
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: documentation

#921 bugfix protobuf generate CollectRep
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/CommonDispatcher.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/unit/UnitConvert.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/message/CollectRep.java
Labels: bugfix

#918 fix array out of bound when collect redis metrics
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/redis/RedisCommonCollectImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/resources/define/app-redis.yml
  manager/src/main/resources/define/app-redis_sentinel.yml
Labels: enhancement, good first pull request, bugfix
