Repository apache/hertzbeat, pull requests merged in 2023-07, with the labels that each got.

#1060 support collector run as an independent process
  collector/pom.xml
  collector/src/main/java/org/dromara/hertzbeat/collector/Collector.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/AbstractParseResponse.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/HttpCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/strategy/ParseStrategyFactory.java
  collector/src/main/java/org/dromara/hertzbeat/collector/util/KeyPairUtil.java
  collector/src/main/resources/application.yml
  collector/src/main/resources/banner.txt
  collector/src/main/resources/logback-spring.xml
  common/src/main/java/org/dromara/hertzbeat/common/constants/CommonConstants.java
  common/src/main/java/org/dromara/hertzbeat/common/model/ServicePodModel.java
  common/src/main/java/org/dromara/hertzbeat/common/support/ResourceBundleUtf8Control.java
  common/src/main/java/org/dromara/hertzbeat/common/util/LruHashMap.java
  common/src/main/java/org/dromara/hertzbeat/common/util/MapCapUtil.java
  script/assembly/collector/assembly.xml
  script/assembly/collector/bin/entrypoint.sh
  script/assembly/collector/bin/restart.sh
  script/assembly/collector/bin/shutdown.bat
  script/assembly/collector/bin/shutdown.sh
  script/assembly/collector/bin/startup.bat
  script/assembly/collector/bin/startup.sh
  script/docker/collector/Dockerfile
  script/docker/collector/README.md
  web-app/README.md
Labels: enhancement

#1066 bugfix some email server config can not send message
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/EmailAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/config/MailConfigProperties.java
  manager/src/main/java/org/dromara/hertzbeat/manager/dao/GeneralConfigDao.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MailGeneralConfigServiceImpl.java
  manager/src/main/resources/application.yml
  script/sureness.yml
Labels: bugfix

#1068 bugfix linux shell echo field value is too long and causes a line break
  manager/src/main/resources/define/app-linux.yml
Labels: enhancement, good first pull request, bugfix

#1070 remove auto replace uri special char in http request params
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/HttpCollectImpl.java
Labels: enhancement, good first pull request, bugfix

#1069 bugfix some alarm message can not be triggered normally
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmConvergeReduce.java
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: bugfix

#1044 [hertzbeat] release hertzbeat version v1.3.2
  README.md
  README_CN.md
  home/static/img/home/0.png
  home/static/img/home/2.png
  home/static/img/home/4.png
  home/static/img/home/6.png
  home/static/img/home/7.png
  script/assembly/server/assembly.xml
  script/docker/server/Dockerfile
  script/docker/server/README.md
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryGrepTimeDbDataStorage.java
  web-app/src/app/shared/consts.ts
Labels: documentation

#1080 remove elasticsearch unused param index
  manager/src/main/resources/define/app-elasticsearch.yml
Labels: bug

#1081 feature support monitoring apache airflow
  home/docs/help/airflow.md
  manager/src/main/resources/define/app-airflow.yml
Labels: enhancement, good first pull request, new feature

#1087 bugfix update dashboard alerts cards height not consist
  web-app/src/app/routes/dashboard/dashboard.component.html
Labels: enhancement, bugfix

#1094 bugfix dm database monitoring connect error
  manager/src/main/resources/define/app-dm.yml
Labels: good first pull request, bugfix

#1097 update alert rule operator display "<=" to ">="
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
Labels: bugfix

#1098 [doc] add custom monitoring relate document
  README.md
  README_CN.md
  home/README.md
  home/blog/2023-05-09-hertzbeat-v1.3.1.md
  home/blog/2023-07-05-hertzbeat-v1.3.2.md
  home/docs/advanced/extend-http-default.md
  home/docs/advanced/extend-http-example-hertzbeat.md
  home/docs/advanced/extend-http-example-token.md
  home/docs/advanced/extend-http-jsonpath.md
  home/docs/advanced/extend-http.md
  home/docs/advanced/extend-jdbc.md
  home/docs/advanced/extend-jmx.md
  home/docs/advanced/extend-point.md
  home/docs/advanced/extend-snmp.md
  home/docs/advanced/extend-ssh.md
  home/docs/advanced/extend-tutorial.md
  home/docs/template.md
  home/i18n/en/code.json
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/en/docusaurus-plugin-content-docs/version-v1.1.x/advanced/extend-http-example-hertzbeat.md
  home/i18n/en/docusaurus-plugin-content-docs/version-v1.1.x/advanced/extend-http-example-token.md
  home/i18n/en/docusaurus-plugin-content-docs/version-v1.1.x/advanced/extend-tutorial.md
  home/i18n/en/docusaurus-theme-classic/navbar.json
  home/i18n/zh-cn/code.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http-default.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http-example-hertzbeat.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http-example-token.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http-jsonpath.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-jdbc.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-jmx.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-point.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-snmp.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-ssh.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-tutorial.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/template.md
  home/i18n/zh-cn/docusaurus-theme-classic/navbar.json
  home/sidebars.json
  home/static/img/docs/advanced/extend-point-1.png
  home/versioned_docs/version-v1.0.0/start/quickstart.md
  home/versioned_docs/version-v1.1.x/advanced/extend-http-example-hertzbeat.md
  home/versioned_docs/version-v1.1.x/advanced/extend-http-example-token.md
  home/versioned_docs/version-v1.1.x/advanced/extend-tutorial.md
  home/versioned_docs/version-v1.1.x/start/quickstart.md
  manager/src/main/resources/define/app-airflow.yml
  web-app/_mock/README.md
  web-app/_mock/_user.ts
  web-app/_mock/index.ts
  web-app/src/app/routes/setting/define/define.component.html
  web-app/src/environments/environment.ts
Labels: documentation

#1102 Remove unreachable status
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
Labels: good first pull request, bugfix

#1104 139 auto update alert status
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/AlertService.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertServiceImpl.java
Labels: enhancement, good first pull request

#1106 feat: aviator fn for str contains, exists & matches
  alerter/src/test/java/org/dromara/hertzbeat/alert/service/AlertDefineServiceTest.java
  common/src/main/java/org/dromara/hertzbeat/common/config/AviatorConfiguration.java
  common/src/test/java/org/dromara/hertzbeat/common/config/AviatorConfigurationTest.java
Labels: enhancement, good first pull request

#1108 bugfix common alarm do not need monitorId tag existed
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmCommonReduce.java
Labels: bugfix

#1111 bugfix extern alert do not have labels mapping inner monitor
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/DbAlertStoreHandlerImpl.java
Labels: bugfix

#1114 feature: support apache spark metrics monitoring
  home/docs/help/spark.md
  manager/src/main/resources/define/app-spark.yml
Labels: enhancement, good first pull request, new feature

#1118 [manager] fix: can query by tags when tagValue is null
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MonitorsController.java
Labels: good first pull request, bugfix

#1120 bugfix the notification template environment variable display error
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
Labels: good first pull request, bugfix

#1122 feature:monitor brearer token api, ignore letter case to comparison
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/HttpCollectImpl.java
Labels: good first pull request

#1128 docs: enhance README
  README.md
Labels: documentation, good first pull request

#1137 bugfix return old cache json file when upgrade version
  web-app/src/app/core/i18n/i18n.service.ts
  web-app/src/app/core/startup/startup.service.ts
Labels: enhancement, bugfix

#1138 feat(web): alert threshold UI support matches & contains
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request
