Repository apache/hertzbeat, pull requests merged in 2023-06, with the labels that each got.

#1005 [manager]feature: support configuring the maximum retention count of history records for JPA
  manager/src/main/resources/application.yml
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/config/WarehouseProperties.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/dao/HistoryDao.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryJpaDatabaseDataStorage.java
Labels: enhancement, good first pull request

#1011 [manager] feature: modify app-api.yml
  manager/src/main/resources/define/app-api.yml
Labels: enhancement, good first pull request

#1017 refactor common kafka data queue
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/SilenceAlarm.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertServiceImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/config/CommonProperties.java
  common/src/main/java/org/dromara/hertzbeat/common/queue/CommonDataQueue.java
  common/src/main/java/org/dromara/hertzbeat/common/queue/impl/InMemoryCommonDataQueue.java
  common/src/main/java/org/dromara/hertzbeat/common/queue/impl/KafkaCommonDataQueue.java
  common/src/main/java/org/dromara/hertzbeat/common/serialize/AlertDeserializer.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/DispatcherAlarm.java
  manager/src/main/resources/application-test.yml
  manager/src/main/resources/application.yml
  script/application.yml
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/DataStorageDispatch.java
Labels: enhancement

#1016 Hadoop integration/adaptation has been completed.
  home/docs/help/hadoop.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/hadoop.md
  manager/src/main/resources/define/app-hadoop.yml
Labels: documentation, enhancement, good first pull request

#1025 support monitoring apache doris database health and metrics
  home/docs/help/doris_be.md
  home/docs/help/doris_fe.md
  manager/src/main/resources/define/app-doris_be.yml
  manager/src/main/resources/define/app-doris_fe.yml
Labels: enhancement, good first pull request, new feature

#1019 bugfix HistoryTdEngineDataStorage sql
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryTdEngineDataStorage.java
Labels: good first pull request, bugfix

#1013 support query monitors by tags filter
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MonitorsController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/MonitorService.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/test/java/org/dromara/hertzbeat/manager/service/MonitorServiceTest.java
Labels: enhancement, good first issue

#1029 add monitors center and support tag group
  common/src/main/java/org/dromara/hertzbeat/common/entity/alerter/AlertSilence.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MonitorsController.java
  web-app/src/app/layout/basic/widgets/search.component.ts
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/routes/routes-routing.module.ts
  web-app/src/app/routes/setting/tags/tags.component.html
  web-app/src/app/routes/setting/tags/tags.component.ts
  web-app/src/app/service/monitor.service.ts
  web-app/src/app/shared/utils/common-util.ts
  web-app/src/assets/app-data.json
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature

#1030 support alert define threshold expression display ui
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MonitorsController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/Hierarchy.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/assets/app-data.json
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, new feature

#1027 add github action that auto build hertzbeat docs pdf
  .github/workflows/doc-pdf-builder.yml
  home/docs/help/hadoop.md
  home/sidebars.json
Labels: documentation, enhancement

#1033 support alarm convergence to deal with duplicate alarm info
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertConvergeController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertConvergesController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dao/AlertConvergeDao.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmCommonReduce.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmConvergeReduce.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmSilenceReduce.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/AlertConvergeService.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertConvergeServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertSilenceServiceImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/cache/CacheFactory.java
  common/src/main/java/org/dromara/hertzbeat/common/constants/CommonConstants.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/alerter/Alert.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/alerter/AlertConverge.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MailServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/NoticeConfigServiceImpl.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/DingTalkRobotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/DiscordBotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/HuaweiCloudSmnAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/SlackAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/TelegramBotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeWorkRobotAlertNotifyHandlerImplTest.java
  script/sql/schema.sql
  web-app/src/app/layout/basic/widgets/notify.component.ts
  web-app/src/app/pojo/Alert.ts
  web-app/src/app/pojo/AlertConverge.ts
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.html
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.less
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.spec.ts
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.ts
  web-app/src/app/routes/alert/alert-routing.module.ts
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/alert/alert.module.ts
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/service/alert-converge.service.spec.ts
  web-app/src/app/service/alert-converge.service.ts
  web-app/src/assets/app-data.json
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, new feature

#1036 support quay.io as hertzbeat docker images repository
  README.md
  README_CN.md
  home/docs/start/docker-deploy.md
  home/docs/start/quickstart.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/docker-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/quickstart.md
  script/docker-compose/hertzbeat-mysql-iotdb/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/sureness.yml
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/sureness.yml
Labels: documentation

#1040 [Fix BUG : use Enterprise WeChat APP alarm notification,log print "invalid access token" ]
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImpl.java
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
Labels: enhancement, good first pull request, bugfix

#1038 bugfix alert tag match missing
  alerter/src/main/java/org/dromara/hertzbeat/alert/dao/AlertMonitorDao.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmCommonReduce.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/DbAlertStoreHandlerImpl.java
Labels: bugfix

#1042 1018 task host support ipv6 address
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/HttpCollectImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/constants/CollectorConstants.java
  common/src/main/java/org/dromara/hertzbeat/common/util/IpDomainUtil.java
Labels: enhancement, good first pull request

#1047 修改mysql连接，HibernateException异常解决方法
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/mysql-change.md
Labels: documentation

#1052 Fix the issue where Slack, Discord, WeChat for Enterprise, and Huawei SMN do not display notification types when choosing recipients for new notification policies.
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
Labels: good first pull request, bugfix

#1054 upgrade greptime dependency, ignore proto
  warehouse/pom.xml
Labels: enhancement, good first pull request

#1058 replace "\#" by "#"
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/MetricsCollect.java
Labels: enhancement, good first pull request, bugfix
