Repository apache/hertzbeat, pull requests merged in 2023-08, with the labels that each got.

#1147 add collector card in dashboard
  common/src/main/java/org/dromara/hertzbeat/common/entity/dto/CollectorSummary.java
  home/static/img/home/1.png
  home/static/img/home/9.png
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/CollectorController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/CollectorService.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/CollectorServiceImpl.java
  manager/src/main/resources/sureness.yml
  web-app/src/app/pojo/CollectorSummary.ts
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/dashboard/dashboard.component.ts
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/app/service/collector.service.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request

#1151 bugfix: linux collect warning: bad syntax, perhaps a bogus '-'
  manager/src/main/resources/define/app-linux.yml
Labels: enhancement, good first pull request, bugfix

#1153 bugfix can not startup when error monitoring template yml file
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
Labels: enhancement, bugfix

#1159 tags also deleted when the monitor is deleted
  manager/src/main/java/org/dromara/hertzbeat/manager/service/TagService.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/TagServiceImpl.java
  manager/src/test/java/org/dromara/hertzbeat/manager/service/MonitorServiceTest.java
Labels: good first pull request, bugfix

#1155 monitoring param host with http head will not be error reported
  common/src/main/java/org/dromara/hertzbeat/common/support/valid/HostParamValidator.java
  common/src/main/java/org/dromara/hertzbeat/common/support/valid/HostValid.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
Labels: enhancement, good first pull request

#1162 [script] feature update build.sh and Dockerfile: detect app version a…
  script/docker/server/Dockerfile
  script/docker/server/build.sh
Labels: enhancement, good first pull request

#1178 [bug fixed]When importing and exporting monitoring, support export collectors, configure collectors when importing
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/ExcelImExportServiceImpl.java
Labels: enhancement, good first pull request, new feature

#1180 support alert threshold rule config system value row count
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  common/src/main/java/org/dromara/hertzbeat/common/config/AviatorConfiguration.java
  common/src/test/java/org/dromara/hertzbeat/common/config/AviatorConfigurationTest.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/controller/MetricsDataController.java
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, bugfix

#1182 Update README.md
  README.md
  README_CN.md
Labels: documentation, enhancement

#1160 the back-end of help component has been built
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Job.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/resources/define/app-a_example.yml
Labels: enhancement, good first pull request, new feature

#1185 support enable alert threshold auto resolved notice
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/resources/alerter_en_US.properties
  alerter/src/main/resources/alerter_zh_CN.properties
  common/src/main/java/org/dromara/hertzbeat/common/entity/alerter/AlertDefine.java
  common/src/main/java/org/dromara/hertzbeat/common/support/event/MonitorDeletedEvent.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/DbAlertStoreHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/AvailableAlertDefineInit.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/test/java/org/dromara/hertzbeat/manager/service/MonitorServiceTest.java
  script/sql/schema.sql
  web-app/src/app/pojo/AlertDefine.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature

#1189 Delete <a> tag of the dashboard's homepage on the top four pages
  web-app/src/app/routes/dashboard/dashboard.component.html
Labels: enhancement, good first pull request, bugfix

#1187 config default system timezone and fix monitor status auto recover
  README.md
  README_CN.md
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmConvergeReduce.java
  collector/pom.xml
  common/src/main/java/org/dromara/hertzbeat/common/constants/CommonConstants.java
  home/docs/start/docker-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/docker-deploy.md
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/DispatcherAlarm.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/DbAlertStoreHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/AvailableAlertDefineInit.java
  manager/src/main/java/org/dromara/hertzbeat/manager/support/exception/IgnoreException.java
  script/docker/collector/Dockerfile
  script/docker/server/Dockerfile
  web-app/src/app/pojo/NoticeRule.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, bugfix

#1193 update-doc-doris
  README.md
  README_CN.md
Labels: documentation, enhancement, good first pull request

#733 [manager] support tidb database monitoring
  manager/src/main/resources/define/app-tidb.yml
Labels: enhancement, good first pull request, new feature

#1198 support monitor metrics name i18n
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/dromara/hertzbeat/common/util/CommonUtil.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/AppController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/resources/define/app-a_example.yml
  manager/src/main/resources/define/app-almalinux.yml
  manager/src/main/resources/define/app-centos.yml
  manager/src/main/resources/define/app-coreos.yml
  manager/src/main/resources/define/app-debian.yml
  manager/src/main/resources/define/app-euleros.yml
  manager/src/main/resources/define/app-freebsd.yml
  manager/src/main/resources/define/app-linux.yml
  manager/src/main/resources/define/app-opensuse.yml
  manager/src/main/resources/define/app-redhat.yml
  manager/src/main/resources/define/app-rockylinux.yml
  manager/src/main/resources/define/app-tidb.yml
  manager/src/main/resources/define/app-ubuntu.yml
  web-app/src/app/routes/alert/alert-center/alert-center.component.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.html
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.ts
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/shared/pipe/i18n-else.pipe.spec.ts
  web-app/src/app/shared/pipe/i18n-else.pipe.ts
  web-app/src/app/shared/pipe/timezone.pipe.ts
  web-app/src/app/shared/shared.module.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, new feature

#1202 support google analytics
  web-app/src/index.html
  web-app/src/styles/theme.less
Labels: documentation, enhancement

#1205 bugfix fix found 2 dataQueue bean when not config common.queue param
  collector/pom.xml
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/export/NettyDataQueue.java
  common/src/main/java/org/dromara/hertzbeat/common/queue/impl/InMemoryCommonDataQueue.java
  script/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/docker-compose-1.0.yaml
  script/docker-compose/hertzbeat-mysql-iotdb/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/docker-compose.yaml
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-iotdb/docker-compose.yaml
Labels: bugfix

#1149 bugfix enterprise wechat push display content is too cumbersome
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImpl.java
Labels: enhancement, good first pull request, bugfix

#1208 bugfix WeChatAppAlertNotifyHandlerImpl
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImpl.java
Labels: bugfix

#1215 fix jmx jndi inject vulnerability
  manager/src/main/java/org/dromara/hertzbeat/manager/Manager.java
  manager/src/test/java/org/dromara/hertzbeat/manager/ManagerTest.java
Labels: enhancement, good first pull request, bugfix

#1216 bugfix monitoring param number limit range
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
Labels: enhancement, good first pull request, bugfix
