Repository apache/hertzbeat, pull requests merged in 2024-08, with the labels that each got.

#2329 [bugfix] fixed jpa expired data clean error
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/dao/HistoryDao.java
Labels: good first pull request, bugfix, backend

#2412 [Improve] add AlarmCommonReduce unit test
  alerter/src/test/java/org/apache/hertzbeat/alert/reduce/AlarmCommonReduceTest.java
Labels: backend

#2424 [Improve] add AlertConvergesController & AlertConvergeController unit test
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertConvergeControllerTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertConvergesControllerTest.java
Labels: backend

#2438 [Improve] script command blacklist
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/ssh/CommonSshBlacklist.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/ssh/SshCollectImpl.java
Labels: collector, backend

#2425 [Improve] add AlertSilenceController unit test
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertSilenceControllerTest.java
Labels: backend

#2439 [Feature] add oceanbase template
  manager/src/main/resources/define/app-oceanbase.yml
Labels: good first pull request, monitoring-template, backend

#2442 [feature] add greenplum template
  manager/src/main/resources/define/app-greenplum.yml
Labels: monitoring-template, backend

#2431 [Improve] add KafkaMetricsDataSerializer & KafkaMetricsDataDeserializer unit test
  common/src/main/java/org/apache/hertzbeat/common/serialize/KafkaMetricsDataSerializer.java
  common/src/test/java/org/apache/hertzbeat/common/serialize/KafkaMetricsDataDeserializerTest.java
  common/src/test/java/org/apache/hertzbeat/common/serialize/KafkaMetricsDataSerializerTest.java
Labels: backend

#2429 [refactor] move code from AlertDefinesController to AlertDefineService
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertDefinesController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/AlertDefineService.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineServiceImpl.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefinesControllerTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineServiceTest.java
Labels: good first pull request, backend

#2447 [ci]: add e2e logs to debug e2e test & delete unnecessary files
  .github/workflows/backend-build-test.yml
  e2e/Dockerfile
  e2e/docker-compose.yml
  e2e/script/entrypoint.sh
  e2e/script/start.sh
Labels: good first pull request, bugfix, e2e, infra

#2430 [Improve] add AlertSerializer & AlertDeserializer unit test
  collector/src/main/java/org/apache/hertzbeat/collector/util/TimeExpressionUtil.java
  common/src/test/java/org/apache/hertzbeat/common/serialize/AlertDeserializerTest.java
  common/src/test/java/org/apache/hertzbeat/common/serialize/AlertSerializerTest.java
Labels: good first pull request, unit test case, collector, backend

#2432 [improve] add TimeZoneListener test
  manager/src/test/java/org/apache/hertzbeat/manager/component/listener/TimeZoneListenerTest.java
Labels: good first pull request, unit test case, backend

#2448 [improve] add i18n for postgresql\kingbase\greenplum
  manager/src/main/resources/define/app-greenplum.yml
  manager/src/main/resources/define/app-kingbase.yml
  manager/src/main/resources/define/app-postgresql.yml
Labels: doc, good first pull request, monitoring-template, backend

#2450 remove useless invoke method
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/entrance/processor/GoOfflineProcessor.java
  remoting/src/main/java/org/apache/hertzbeat/remoting/netty/NettyRemotingAbstract.java
Labels: collector, backend

#2443 [Improve] add AiController unit test
  manager/src/main/java/org/apache/hertzbeat/manager/controller/AiController.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/AiControllerTest.java
Labels: backend

#2444 [Improve] add GeneralConfigController unit test
  manager/src/test/java/org/apache/hertzbeat/manager/controller/GeneralConfigControllerTest.java
Labels: backend

#2445 [Improve] add MetricsController unit test
  manager/src/test/java/org/apache/hertzbeat/manager/controller/MetricsControllerTest.java
Labels: unit test case, backend

#2446 [Improve] add StatusPagesController & StatusPagePublicController unit test
  manager/src/test/java/org/apache/hertzbeat/manager/controller/StatusPageControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/StatusPagePublicControllerTest.java
Labels: unit test case, backend

#2452 [Improve] add push module service unit test
  push/src/main/java/org/apache/hertzbeat/push/service/impl/PushServiceImpl.java
  push/src/test/java/org/apache/hertzbeat/push/service/PushGatewayServiceTest.java
  push/src/test/java/org/apache/hertzbeat/push/service/PushServiceTest.java
Labels: unit test case, backend

#2456 [doc] Add zookeeper doc
  home/docs/help/zookeeper.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/zookeeper.md
Labels: doc

#2434 [refactor] move code from AlertReportController to AlertService
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertReportController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/AlertService.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertServiceImpl.java
  alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertServiceTest.java
Labels: good first pull request, backend

#2428 [refactor] move code from AlertConvergesController to AlertConvergeService
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertConvergesController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/AlertConvergeService.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertConvergeServiceImpl.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertConvergesControllerTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertConvergeServiceTest.java
Labels: good first pull request, backend

#2466 [improve] : Optimize queues to obtain data and prevent cpu idling
  alerter/src/main/java/org/apache/hertzbeat/alert/calculate/CalculateAlarm.java
  common/src/main/java/org/apache/hertzbeat/common/queue/impl/InMemoryCommonDataQueue.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/DispatcherAlarm.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/DataStorageDispatch.java
Labels: enhancement, good first pull request, improve, backend

#2464 feat: fix log upload, when e2e fails it still uploads
  .github/workflows/backend-build-test.yml
Labels: infra

#2453 extracting common function for KafkaCommonDataQueue
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/entrance/internal/CollectJobService.java
  common/src/main/java/org/apache/hertzbeat/common/queue/impl/KafkaCommonDataQueue.java
Labels: collector, backend

#2465 [improve] add missed field i18n
  manager/src/main/resources/define/app-greenplum.yml
  manager/src/main/resources/define/app-kingbase.yml
  manager/src/main/resources/define/app-postgresql.yml
Labels: monitoring-template, backend

#2458 [improve] : Use constant
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/export/NettyDataQueue.java
  common/src/main/java/org/apache/hertzbeat/common/constants/DataQueueConstants.java
  common/src/main/java/org/apache/hertzbeat/common/queue/impl/InMemoryCommonDataQueue.java
  common/src/main/java/org/apache/hertzbeat/common/queue/impl/KafkaCommonDataQueue.java
  common/src/main/java/org/apache/hertzbeat/common/queue/impl/RedisCommonDataQueue.java
Labels: good first pull request, improve, collector, backend

#2459 [Improve] add AiServiceFactoryImpl unit test
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/AliAiResponse.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AlibabaAiServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/AiServiceFactoryTest.java
Labels: backend

#2460 [Improve] add ExcelImExportServiceImpl unit test
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ExcelImExportServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/CollectorServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/ConfigServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/ExcelImExportServiceTest.java
Labels: backend

#2435 [refactor] move code from AlertsController to AlertService
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertsController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/AlertService.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertServiceImpl.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertsControllerTest.java
Labels: good first pull request, backend

#2436 [refactor] move code from AlertSilencesController to AlertSilenceService
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertSilencesController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/AlertSilenceService.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertSilenceServiceImpl.java
  alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertSilenceServiceTest.java
Labels: good first pull request, backend

#2472 [chore] add service test tmpl file
  manager/src/test/java/org/apache/hertzbeat/manager/service/AccountServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/AlibabaAiServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/KimiAiServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/MailGeneralConfigServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/ObjectStoreConfigServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/ObsObjectStoreServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/SmsGeneralConfigServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/SparkDeskAiServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/StatusPageServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/SystemGeneralConfigServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/SystemSecretServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/ZhiPuServiceTest.java
Labels: backend

#2468 [improve] optimize collect thread prevent cpu idling
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollectorQueue.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/redis/RedisClusterCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/redis/RedisSingleCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/dispatch/MetricsCollectorQueueTest.java
Labels: collector, backend

#2451 [Improve] add push module controller unit test
  alerter/src/main/java/org/apache/hertzbeat/alert/reduce/AlarmSilenceReduce.java
  push/src/test/java/org/apache/hertzbeat/push/controller/PushControllerTest.java
  push/src/test/java/org/apache/hertzbeat/push/controller/PushGatewayControllerTest.java
Labels: backend

#2480 [type:improve] fix md index order and typo
  home/blog/2022-06-01-hertzbeat-v1.0.md
  home/blog/2022-06-22-one-step-up.md
  home/blog/2022-07-10-hertzbeat-v1.1.1.md
  home/blog/2022-09-10-ssl-practice.md
  home/blog/2022-11-28-hertzbeat-v1.2.2.md
  home/blog/2022-12-28-hertzbeat-v1.2.3.md
  home/docs/help/alert_slack.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-06-01-hertzbeat-v1.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-06-19-hertzbeat-v1.1.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-06-22-one-step-up.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-07-10-hertzbeat-v1.1.1.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-11-28-hertzbeat-v1.2.2.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-12-28-hertzbeat-v1.2.3.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_slack.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.4.x/help/alert_slack.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/help/alert_slack.md
  home/versioned_docs/version-v1.4.x/help/alert_slack.md
  home/versioned_docs/version-v1.5.x/help/alert_slack.md
Labels: doc

#2437 [refactor] move code from MetricsDataController to MetricsService
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/controller/MetricsDataController.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/service/MetricsDataService.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/service/impl/MetricsDataServiceImpl.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/service/impl/WarehouseServiceImpl.java
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/controller/MetricsDataControllerTest.java
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/service/MetricsDataServiceTest.java
Labels: good first pull request, backend

#2471 [improve] add TemplateConfigServiceImpl unit test
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/TemplateConfigServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/TemplateConfigServiceTest.java
Labels: unit test case, backend

#2474 [improve] use file constant & extract file utils
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineExcelImExportServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineJsonImExportServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineYamlImExportServiceImpl.java
  common/src/main/java/org/apache/hertzbeat/common/constants/ExportFileConstants.java
  common/src/main/java/org/apache/hertzbeat/common/util/FileUtil.java
  common/src/test/java/org/apache/hertzbeat/common/util/FileUtilTest.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ExcelImExportServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/JsonImExportServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/YamlImExportServiceImpl.java
Labels: backend

#2481 [improve] add some code style improve
  alerter/src/main/java/org/apache/hertzbeat/alert/reduce/AlarmConvergeReduce.java
  alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineYamlImExportServiceTest.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/jmx/JmxCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/prometheus/PrometheusAutoCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishConnectSession.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/telnet/TelnetCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/HashedWheelTimer.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/unit/DataUnit.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/unit/TimeLengthUnit.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/http/promethus/exporter/ExporterParserTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/nginx/NginxCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/util/PrivateKeyUtilsTest.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeTemplate.java
  common/src/main/java/org/apache/hertzbeat/common/util/AesUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/CommonUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/IpDomainUtil.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/ConsistentHash.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ExcelImExportServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/NoticeConfigServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ObsObjectStoreServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/DingTalkRobotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/DiscordBotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/HuaweiCloudSmnAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/SlackAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/TelegramBotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/WeComRobotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/MonitorsControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/NoticeConfigControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/MonitorServiceTest.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/greptime/GreptimeDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/iotdb/IotDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/tdengine/TdEngineDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsClusterDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsDataStorage.java
Labels: collector, backend

#2470 [improve] add YamlImExportServiceImpl unit test
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/YamlImExportServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/ExcelImExportServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/YamlImExportServiceTest.java
Labels: backend

#2482 [Improve] add unit test & fix some bugs
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MailGeneralConfigServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ObjectStoreConfigServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/MailGeneralConfigServiceTest.java
Labels: unit test case, backend

#2488 [Improve] add ObsObjectStoreServiceImpl unit test
  manager/src/test/java/org/apache/hertzbeat/manager/service/ObsObjectStoreServiceTest.java
Labels: backend

#2491 [improve] add StatusPageServiceImpl unit test
  manager/src/test/java/org/apache/hertzbeat/manager/service/StatusPageServiceTest.java
Labels: backend

#2469 [refactor] refactor connect common cache
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/ConnectionCommonCache.java
Labels: collector, backend

#2496 [Improve] add AvailableAlertDefineIni & SystemSecretServiceImpl unit test
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SystemSecretServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/AvailableAlertDefineInitTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/StatusPageServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/SystemSecretServiceTest.java
Labels: backend

#2497 [Improve] add WarehouseServiceImpl unit test
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/service/WarehouseServiceTest.java
Labels: backend

#2494 [bugfix] fix alarm threshold ava can not modify
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
Labels: webapp

#2433 [refactor] move code from CollectorController to CollectorService
  manager/src/main/java/org/apache/hertzbeat/manager/controller/CollectorController.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/CollectorService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/CollectorServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/CollectorServiceTest.java
Labels: good first pull request, backend

#2501 [improve] add AccountServiceImpl unit test
  manager/src/test/java/org/apache/hertzbeat/manager/service/AccountServiceTest.java
Labels: backend

#2503 [type:improve] add iceberg template
  manager/src/main/resources/define/app-iceberg.yml
Labels: new feature, monitoring-template, backend

#2502 [improve] add ObjectStoreConfigServiceImpl unit test
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ObjectStoreConfigServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/ObjectStoreConfigServiceTest.java
Labels: unit test case, backend

#2504 [type:improve] add hive i18n
  manager/src/main/resources/define/app-hive.yml
  manager/src/main/resources/define/app-iceberg.yml
Labels: monitoring-template, backend

#2506 [type:improve] add hertzbeat i18n
  manager/src/main/resources/define/app-dynamic_tp.yml
  manager/src/main/resources/define/app-emqx.yml
  manager/src/main/resources/define/app-euleros.yml
  manager/src/main/resources/define/app-hertzbeat.yml
  manager/src/main/resources/define/app-hertzbeat_token.yml
Labels: doc, improve, monitoring-template, backend

#2505 [improve] add more i18n
  manager/src/main/resources/define/app-activemq.yml
  manager/src/main/resources/define/app-airflow.yml
  manager/src/main/resources/define/app-almalinux.yml
  manager/src/main/resources/define/app-doris_be.yml
  manager/src/main/resources/define/app-doris_fe.yml
Labels: monitoring-template, backend

#2507 [type:improve] add kafka\influxdb\jetty i18n
  manager/src/main/resources/define/app-influxdb_promql.yml
  manager/src/main/resources/define/app-jetty.yml
  manager/src/main/resources/define/app-kafka.yml
  manager/src/main/resources/define/app-kafka_promql.yml
Labels: monitoring-template, backend

#2508 [type:improve] add oracle i18n
  manager/src/main/resources/define/app-oracle.yml
Labels: monitoring-template, backend

#2509 [type:improve] add pulsar\push\rabbitm1 i18n
  manager/src/main/resources/define/app-pulsar.yml
  manager/src/main/resources/define/app-push.yml
  manager/src/main/resources/define/app-rabbitmq.yml
Labels: monitoring-template, backend

#2510 [type:improve] add redis cluster i18n
  manager/src/main/resources/define/app-redis_cluster.yml
  manager/src/main/resources/define/app-redis_sentinel.yml
Labels: monitoring-template, backend

#2511 [improve] add shenyu\spring gateway i18n
  manager/src/main/resources/define/app-shenyu.yml
  manager/src/main/resources/define/app-spring_gateway.yml
Labels: monitoring-template, backend

#2512 [type:improve] add spring\tidb i18n
  manager/src/main/resources/define/app-springboot2.yml
  manager/src/main/resources/define/app-tidb.yml
Labels: monitoring-template, backend

#2516 [Improve]add presto monitor metric
  home/docs/help/prestodb.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/prestodb.md
  manager/src/main/resources/define/app-prestodb.yml
Labels: doc, monitoring-template, backend

#2514 [improve] add MetricsDataRedisCodec unit test
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/store/MetricsDataRedisCodecTest.java
Labels: backend

#2515 [improve] add MemoryDataStorage unit test
  alerter/src/main/java/org/apache/hertzbeat/alert/dto/TenCloudAlertReport.java
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/service/WarehouseServiceTest.java
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/store/MemoryDataStorageTest.java
Labels: backend

#2513 [type:improve] add windows i18n
  manager/src/main/resources/define/app-windows.yml
Labels: monitoring-template, backend

#2517 [infra] support build and push docker image to hub nightly everyday
  .github/workflows/nightly-build.yml
  script/docker/server/build.sh
Labels: docker, script, infra

#2525 [bugfix] fix github action build docker image error
  .github/workflows/backend-build-test.yml
  .github/workflows/nightly-build.yml
  e2e/docker-compose.yml
  script/docker/collector/Dockerfile
  script/docker/collector/build.sh
  script/docker/server/Dockerfile
  script/docker/server/build.sh
Labels: e2e, docker, script, infra

#2529 [optimize] use okhttpclient connection pool
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertConvergeController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertDefineController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertSilenceController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineExcelImExportServiceImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/unit/impl/TimeLengthConvert.java
  common/src/main/java/org/apache/hertzbeat/common/constants/NetworkConstants.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/config/AiProperties.java
  manager/src/main/java/org/apache/hertzbeat/manager/config/RestTemplateConfig.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/influxdb/InfluxdbDataStorage.java
Labels: collector, backend

#2532 [bugfix] webhook template json escape
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/WebHookAlertNotifyHandlerImpl.java
Labels: good first pull request, bugfix, backend

#2530 [imporve] simplify NoticeConfig Code.
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/DispatcherAlarm.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/NoticeConfigController.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/NoticeConfigService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/NoticeConfigServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/NoticeConfigControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/NoticeConfigServiceTest.java
Labels: backend

#2535 [improve]ElasticSearch historical chart display optimization
  manager/src/main/resources/define/app-elasticsearch.yml
Labels: monitoring-template, backend

#2531 [improve] auto generate readable random monitor name
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/app/shared/utils/common-util.ts
Labels: webapp

#2537 [improve] delete deprecate field
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-jmx.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-point.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-snmp.md
  manager/src/main/resources/define/app-spring_gateway.yml
Labels: doc, monitoring-template, backend

#2543 chore: fix typo
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/new_committer_process.md
Labels: doc

#2544 infra: update actions/checkout version to 4.1.7
  .github/workflows/backend-build-test.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/doc-build-test.yml
  .github/workflows/doc-pdf-builder.yml
  .github/workflows/frontend-build-test.yml
  .github/workflows/license-checker.yml
Labels: infra

#2546 [bugfix] fix monitor search sync error
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
Labels: good first pull request, bugfix, webapp

#2548 Add Contributors' chart
  README.md
  README_CN.md
Labels: doc

#2547 [type:feature] add valkey template
  manager/src/main/resources/define/app-valkey.yml
Labels: new feature, monitoring-template, backend

#2545 [bugfix] clear qbdata when cascade change
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
Labels: webapp

#2550 chore(infra): remove redundant security bug reporting options
  .github/ISSUE_TEMPLATE/config.yml
Labels: infra

#2551 [type:feature] add greptimedb template
  manager/src/main/resources/define/app-greptime.yml
Labels: good first pull request, new feature, monitoring-template, backend

#2552 [improve] fix docker compose package script and update contributor doc
  .all-contributorsrc
  README.md
  README_CN.md
  home/src/pages/team/index.jsx
  home/src/pages/team/member.json
  script/assembly/server/assembly-docker-compose.xml
Labels: doc, home, build, script

#2554 docs: add new committer docs
  home/blog/2024-08-18-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-08-18-new-committer.md
  home/static/img/blog/committer/yuluo-yx/1.jpg
  home/static/img/blog/committer/yuluo-yx/2.png
  home/static/img/blog/committer/yuluo-yx/3.jpg
  home/static/img/blog/committer/yuluo-yx/4.jpg
  home/static/img/blog/committer/yuluo-yx/5.jpg
  home/static/img/blog/committer/yuluo-yx/6.jpg
  home/static/img/blog/committer/yuluo-yx/7.jpg
  yarn.lock
Labels: doc

#2555 [improve] Add GeneralConfigTypeEnum.
  common/src/main/java/org/apache/hertzbeat/common/constants/GeneralConfigTypeEnum.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MailGeneralConfigServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ObjectStoreConfigServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SmsGeneralConfigServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SystemGeneralConfigServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SystemSecretServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/TemplateConfigServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/ConfigServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/MailGeneralConfigServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/ObjectStoreConfigServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/SmsGeneralConfigServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/SystemGeneralConfigServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/SystemSecretServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/TemplateConfigServiceTest.java
Labels: backend

#2542 [imporve] move ai package and improve ai code.
  common/src/main/java/org/apache/hertzbeat/common/constants/AiTypeEnum.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/AiController.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/ai/AiService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/ai/AlibabaAiServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/ai/KimiAiServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/ai/SparkDeskAiServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/ai/ZhiPuServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/ai/factory/AiServiceFactoryImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/AiControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/AiServiceFactoryTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/AlibabaAiServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/KimiAiServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/SparkDeskAiServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/ZhiPuServiceTest.java
Labels: backend

#2553 [improve] support plugins using other jar
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/PluginServiceImpl.java
  manager/src/main/resources/application.yml
  plugin/pom.xml
  plugin/src/main/resources/assembly/assembly.xml
Labels: enhancement, backend, plugin

#2560 [doc] update doc style check
  home/docs/community/code-style-and-quality-guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/code-style-and-quality-guide.md
Labels: doc

#2575 [bugfix] fix kingbase spotless apply
  home/docs/help/kingbase.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/kingbase.md
Labels: doc

#2577 [webapp] auto resize the monitor detail ui width
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.html
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.html
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.ts
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
Labels: webapp

#2564 [feature] add kvrocks template
  manager/src/main/resources/define/app-kvrocks.yml
Labels: monitoring-template, backend

#2565 [e2e]: add some configuration args to observation atest running status
  .github/workflows/backend-build-test.yml
  e2e/docker-compose.yml
  e2e/report/report.md
  e2e/testsuite.yaml
Labels: e2e, infra

#2579 [feature] support dead link check
  .github/exclude_files.txt
  .github/link_check.json
  .github/workflows/doc-build-test.yml
  home/docs/start/upgrade.md
  script/docker-compose/hertzbeat-mysql-iotdb/README.md
  script/docker-compose/hertzbeat-mysql-iotdb/README_CN.md
  script/docker-compose/hertzbeat-mysql-tdengine/README.md
  script/docker-compose/hertzbeat-mysql-tdengine/README_CN.md
  script/docker-compose/hertzbeat-mysql-victoria-metrics/README.md
  script/docker-compose/hertzbeat-mysql-victoria-metrics/README_CN.md
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/README_CN.md
Labels: doc, docker-compose, docker, script, infra

#2569 [feature] add vastbase help md
  home/docs/help/vastbase.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/vastbase.md
  home/sidebars.json
Labels: doc

#2580 [Improve] improve markdown format for MD024
  .markdownlint-cli2.jsonc
  home/blog/2022-12-19-new-committer.md
  home/docs/help/flink_on_yarn.md
  home/docs/help/iceberg.md
  home/docs/help/kingbase.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-09-04-hertzbeat-v1.1.3.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-12-19-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/iceberg.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/kingbase.md
Labels: doc

#2570 [feature] add greenplum help md
  home/docs/help/greenplum.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/greenplum.md
  home/sidebars.json
Labels: doc

#2588 [Improve] improve markdown format for MD041
  .markdownlint-cli2.jsonc
  home/docs/help/status.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-06-11-hertzbeat-v1.6.0-update.md
Labels: doc

#2590 [webapp] fix #2244 and update detail ui
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.html
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.html
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.ts
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
Labels: good first pull request, webapp

#2571 [feature] manage dependencies version by parent pom
  alerter/pom.xml
  collector/pom.xml
  common/pom.xml
  manager/pom.xml
  plugin/pom.xml
  pom.xml
  push/pom.xml
  remoting/pom.xml
  warehouse/pom.xml
Labels: collector, backend

#2586 [improve] improve markdown format for MD047
  .markdownlint-cli2.jsonc
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-09-04-hertzbeat-v1.1.3.md
Labels: doc

#2587 [improve] improve md format MD025
  .markdownlint-cli2.jsonc
  home/blog/2022-12-19-new-committer.md
  home/blog/2023-02-10-new-committer.md
  home/blog/2024-01-11-new-committer.md
  home/blog/2024-01-18-hertzbeat-v1.4.4.md
  home/blog/2024-07-07-new-committer.md
  home/docs/community/how-to-verify.md
  home/docs/help/http_sd.md
  home/docs/start/update-1.6.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-12-19-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-02-10-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-01-11-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-01-18-hertzbeat-v1.4.4.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-07-07-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/how-to-verify.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.4.x/help/ntp.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/community/how-to-verify.md
  home/versioned_docs/version-v1.5.x/community/how-to-verify.md
  home/versioned_docs/version-v1.5.x/help/http_sd.md
Labels: doc

#2601 [Improve]Temporarily disable import sort
  script/checkstyle/checkstyle.xml
Labels: script

#2603 [bugfix] fix alarm recover not match in converge reduce in some condition
  alerter/src/main/java/org/apache/hertzbeat/alert/reduce/AlarmConvergeReduce.java
Labels: backend

#2599 [doc] fix markdown lint md013 check
  .markdownlint-cli2.jsonc
  home/blog/2022-06-01-hertzbeat-v1.0.md
  home/blog/2023-08-14-hertzbeat-v1.4.0.md
  home/blog/2023-08-28-new-committer.md
  home/blog/2024-07-08-new-committer.md
  home/blog/2024-07-15-new-committer.md
  home/blog/2024-07-29-new-committer.md
  home/blog/2024-08-18-new-committer.md
  home/docs/community/how-to-release.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.4.x/help/ntp.md
  home/versioned_docs/version-v1.5.x/community/how-to-release.md
  home/versioned_docs/version-v1.5.x/template.md
Labels: doc

#2597 [fixbug]: Fix Redfish protocol parse bug
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishClient.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishCollectImpl.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/redfish/RedfishCollectImplTest.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/RedfishProtocol.java
  manager/src/main/resources/define/app-redfish.yml
Labels: good first pull request, bugfix, monitoring-template, collector, backend

#2592 [improve] Improve markdown md035
  .markdownlint-cli2.jsonc
  home/blog/2022-06-19-hertzbeat-v1.1.0.md
  home/blog/2022-06-22-one-step-up.md
  home/blog/2023-03-15-hertzbeat-v1.3.0.md
  home/blog/2023-08-14-hertzbeat-v1.4.0.md
  home/blog/2023-09-26-hertzbeat-v1.4.1.md
  home/blog/2023-11-12-hertzbeat-v1.4.2.md
  home/blog/2023-12-11-hertzbeat-v1.4.3.md
  home/blog/2024-01-11-new-committer.md
  home/blog/2024-01-18-hertzbeat-v1.4.4.md
  home/docs/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-06-19-hertzbeat-v1.1.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-06-22-one-step-up.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-03-15-hertzbeat-v1.3.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-08-14-hertzbeat-v1.4.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-12-11-hertzbeat-v1.4.3.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-01-11-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-01-18-hertzbeat-v1.4.4.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/introduce.md
  home/versioned_docs/version-v1.5.x/introduce.md
Labels: doc

#2609 [fixbug]Fixbug kafka version display
  manager/src/main/resources/define/app-kafka.yml
Labels: monitoring-template, backend

#2605 [task]:Supports plug-in custom parameters
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/DispatcherAlarm.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/PluginController.java
  manager/src/main/java/org/apache/hertzbeat/manager/dao/PluginParamDao.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/PluginParam.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/PluginService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/PluginServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/PluginServiceTest.java
  plugin/src/main/java/org/apache/hertzbeat/plugin/Plugin.java
Labels: task, backend

#2611 Complete task #2600
  web-app/src/app/routes/setting/plugins/plugin.component.html
  web-app/src/app/routes/setting/plugins/plugin.component.ts
  web-app/src/app/service/plugin.service.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#2584 [Feature] Supports Bulletin to view all metrics.
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/Monitor.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/bulletin/Bulletin.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/bulletin/BulletinDto.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/bulletin/BulletinMetricsData.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/bulletin/BulletinVo.java
  common/src/main/java/org/apache/hertzbeat/common/util/JsonUtil.java
  common/src/test/java/org/apache/hertzbeat/common/util/JsonUtilTest.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/AppController.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/BulletinController.java
  manager/src/main/java/org/apache/hertzbeat/manager/dao/BulletinDao.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/AppService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/BulletinService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/BulletinServiceImpl.java
  manager/src/main/resources/sureness.yml
  script/sureness.yml
  web-app/src/app/pojo/BulletinDefine.ts
  web-app/src/app/pojo/Fields.ts
  web-app/src/app/routes/bulletin/bulletin.component.html
  web-app/src/app/routes/bulletin/bulletin.component.less
  web-app/src/app/routes/bulletin/bulletin.component.spec.ts
  web-app/src/app/routes/bulletin/bulletin.component.ts
  web-app/src/app/routes/routes-routing.module.ts
  web-app/src/app/routes/routes.module.ts
  web-app/src/app/service/app-define.service.ts
  web-app/src/app/service/bulletin-define.service.ts
  web-app/src/app/service/monitor.service.ts
  web-app/src/assets/app-data.json
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, new feature, backend, webapp, script

#2615 [improve]:fix bug
  manager/src/main/java/org/apache/hertzbeat/manager/controller/PluginController.java
  manager/src/main/java/org/apache/hertzbeat/manager/dao/PluginParamDao.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/PluginParametersVO.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/PluginService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/PluginServiceImpl.java
Labels: backend

#2613 [doc]markdown md046
  .markdownlint-cli2.jsonc
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-06-11-hertzbeat-v1.6.0-update.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/update-1.6.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/start/docker-deploy.md
  home/versioned_docs/version-v1.5.x/start/docker-deploy.md
Labels: doc

#2608 [optimize]: update github action
  .github/workflows/backend-build-test.yml
  .github/workflows/doc-build-test.yml
  .github/workflows/nightly-build.yml
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/download.md
  package.json
  script/ci/docs/check_file_name.json
  script/ci/docs/check_file_name.py
  script/ci/exclude_files.txt
  script/ci/github-actions/setup-deps/action.yml
  script/ci/link_check.json
Labels: doc, script, infra

#2614 Add push dao unit tests
  push/src/test/java/org/apache/hertzbeat/push/dao/PushMetricsDaoTest.java
  push/src/test/java/org/apache/hertzbeat/push/dao/PushMonitorDaoTest.java
Labels: backend

#2602 [webapp] bugfix monitors pageable not work
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/service/monitor.service.ts
Labels: webapp

#2595 simplify the convertUnit
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/unit/UnitConvert.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/unit/impl/AbstractUnitConvert.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/unit/impl/DataSizeConvert.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/unit/impl/TimeLengthConvert.java
Labels: collector, backend

#2558 [imporve] null judge modify.
  manager/src/main/java/org/apache/hertzbeat/manager/component/status/CalculateStatus.java
  manager/src/main/java/org/apache/hertzbeat/manager/config/CommonCommandLineRunner.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/CollectorJobScheduler.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/SchedulerInit.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/netty/process/CollectorOnlineProcessor.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AccountServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/CollectorServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ConfigServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ExcelImExportServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/NoticeConfigServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/TagServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/DingTalkRobotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/DiscordBotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/HuaweiCloudSmnAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/SlackAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/TelegramBotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/WeComRobotAlertNotifyHandlerImplTest.java
Labels: backend

#2626 [improve]Centos network card information monitoring optimization
  manager/src/main/resources/define/app-centos.yml
Labels: monitoring-template, backend

#2622 [improve] translate pop3 help md
  home/docs/help/pop3.md
Labels: doc

#2621 [Improve] translate redis help md
  home/docs/help/redis.md
Labels: doc

#2628 fix bug
  manager/src/main/java/org/apache/hertzbeat/manager/controller/PluginController.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/PluginServiceImpl.java
  plugin/src/main/resources/define/define.yml
  web-app/src/app/service/plugin.service.ts
Labels: backend, webapp

#2627 [fix] fix i8n error in bulletin
  web-app/src/app/routes/bulletin/bulletin.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#2624 [improve]Optimize Hbase Master and Regionserver monitoring
  manager/src/main/resources/define/app-hbase_master.yml
  manager/src/main/resources/define/app-hbase_regionserver.yml
Labels: monitoring-template, backend

#2618 [feat] support monitor MQTT connections
  collector/pom.xml
  collector/src/main/java/org/apache/hertzbeat/collector/collect/mqtt/MqttCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/MqttProtocol.java
  manager/src/main/resources/define/app-mqtt.yml
  material/licenses/collector/LICENSE
Labels: monitoring-template, collector, backend, license

#2631 [doc] Bulletin doc
  home/docs/help/bulletin.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/bulletin.md
  home/sidebars.json
  home/static/img/docs/help/bulletin-1.png
  home/static/img/docs/help/bulletin-2.png
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: doc, webapp

#2633 [Improve] add valkey help md
  home/docs/help/valkey.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/valkey.md
  home/sidebars.json
Labels: doc

#2619 [improve] add oceanbase help md
  home/docs/help/oceanbase.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/oceanbase.md
  home/sidebars.json
  manager/src/main/resources/define/app-oceanbase.yml
Labels: doc, monitoring-template, backend

#2634 [improve] support master custom java opts
  script/assembly/server/bin/entrypoint.sh
  script/docker/collector/Dockerfile
Labels: docker, build, script

#2635 [imporve] Adjustment of parameter verification
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/Collector.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/GeneralConfig.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeReceiver.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeRule.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/Param.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/Tag.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/TagController.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/MonitorDto.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/TagServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/TagControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/TagServiceTest.java
Labels: backend

#2636 [doc]Grafana doc
  home/docs/help/grafana_dashboard.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/grafana_dashboard.md
  home/sidebars.json
  home/static/img/docs/help/grafana-1.png
  home/static/img/docs/help/grafana-2.png
Labels: doc

#2638 Fixed #2632
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.html
Labels: webapp

#2642 test: add unit tests for BulletinController
  manager/src/main/java/org/apache/hertzbeat/manager/controller/BulletinController.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/BulletinControllerTest.java
Labels: backend

#2245 [doc]update doc for custom plugin
  home/docs/help/plugin.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/plugin.md
  home/static/img/docs/help/plugin-4.png
  home/static/img/docs/help/plugin-5-en.jpg
  home/static/img/docs/help/plugin-5.jpg
Labels: doc, good first pull request, wait for process

#2606 [improve] update thread pool nums policy
  alerter/src/main/java/org/apache/hertzbeat/alert/AlerterWorkerPool.java
  alerter/src/main/java/org/apache/hertzbeat/alert/calculate/CalculateAlarm.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/WorkerPool.java
  common/src/main/java/org/apache/hertzbeat/common/constants/CommonConstants.java
  common/src/main/java/org/apache/hertzbeat/common/support/CommonThreadPool.java
  common/src/test/java/org/apache/hertzbeat/common/support/CommonThreadPoolTest.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/AccountController.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/AccountControllerTest.java
  remoting/src/main/java/org/apache/hertzbeat/remoting/netty/NettyRemotingClient.java
  remoting/src/main/java/org/apache/hertzbeat/remoting/netty/NettyRemotingServer.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/WarehouseWorkerPool.java
Labels: collector, backend

#2640 [improve] add md-lint command and docs
  .markdownlint-cli2.jsonc
  home/docs/community/document.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/document.md
  home/package.json
Labels: doc

#2523 [improve]improve code
  collector/src/main/java/org/apache/hertzbeat/collector/collect/jmx/JmxClassLoader.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/jmx/JmxCollectImpl.java
Labels: collector, backend
