Repository apache/hertzbeat, pull requests merged in 2024-04, with the labels that each got.

#1700 fix status page logo overflow
  web-app/src/app/routes/status-public/status-public.component.html
  web-app/src/app/routes/status-public/status-public.component.less
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: bugfix

#1701 bugfix npe monitor jobid may be null
  manager/src/main/java/org/dromara/hertzbeat/manager/scheduler/CollectorAndJobScheduler.java
Labels: bugfix

#1723 update manager and collector logback config(#1704)
  collector/src/main/resources/logback-spring.xml
  manager/src/main/resources/logback-spring.xml
Labels: enhancement, good first pull request

#1734 [fixed] fixed click collector online offline button error
  web-app/src/app/service/collector.service.ts
Labels: enhancement, good first pull request, bugfix

#1731 [Improvement]Support multiple receivers.
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/JsonLongListAttributeConverter.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/JsonStringListAttributeConverter.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/JsonTagListAttributeConverter.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeRule.java
  common/src/main/java/org/apache/hertzbeat/common/entity/message/CollectRep.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/DispatcherAlarm.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/NoticeConfigControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/dao/NoticeRuleDaoTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/NoticeConfigServiceTest.java
  web-app/src/app/pojo/NoticeRule.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
Labels: enhancement, good first pull request, new feature

#1744 Backend LICENSE Initialize
  material/licenses/backend/LICENSE-H2.txt
  material/licenses/backend/LICENSE-HdrHistogram.txt
  material/licenses/backend/LICENSE-Java-WebSocket.txt
  material/licenses/backend/LICENSE-LatencyUtils.txt
  material/licenses/backend/LICENSE-angus-activation.txt
  material/licenses/backend/LICENSE-animal-sniffer-annotation.txt
  material/licenses/backend/LICENSE-antlr4-runtime.txt
  material/licenses/backend/LICENSE-asm.txt
  material/licenses/backend/LICENSE-aspectjweaver.txt
  material/licenses/backend/LICENSE-aviator.txt
  material/licenses/backend/LICENSE-checker-qual.txt
  material/licenses/backend/LICENSE-curvesapi.txt
  material/licenses/backend/LICENSE-dnsjava.txt
  material/licenses/backend/LICENSE-eddsa.txt
  material/licenses/backend/LICENSE-hibernate-commons-annotations.txt
  material/licenses/backend/LICENSE-hibernate-core.txt
  material/licenses/backend/LICENSE-influxdb-java.txt
  material/licenses/backend/LICENSE-istack-commons-runtime.txt
  material/licenses/backend/LICENSE-jakarta.activation-api.txt
  material/licenses/backend/LICENSE-jakarta.annotation-api.txt
  material/licenses/backend/LICENSE-jakarta.mail.txt
  material/licenses/backend/LICENSE-jakarta.persistence-api.txt
  material/licenses/backend/LICENSE-jakarta.transaction-api.txt
  material/licenses/backend/LICENSE-jakarta.xml.bind-api.txt
  material/licenses/backend/LICENSE-javassist.txt
  material/licenses/backend/LICENSE-javax.annotation-api.txt
  material/licenses/backend/LICENSE-jaxb-api.txt
  material/licenses/backend/LICENSE-jaxb-core.txt
  material/licenses/backend/LICENSE-jaxb-runtime.txt
  material/licenses/backend/LICENSE-jcl-over-slf4j.txt
  material/licenses/backend/LICENSE-jul-to-slf4j.txt
  material/licenses/backend/LICENSE-logback-classic.txt
  material/licenses/backend/LICENSE-logback-core.txt
  material/licenses/backend/LICENSE-mssql-jdbc.txt
  material/licenses/backend/LICENSE-postgresql.txt
  material/licenses/backend/LICENSE-protobuf-java-util.txt
  material/licenses/backend/LICENSE-protobuf-java.txt
  material/licenses/backend/LICENSE-reactive-streams.txt
  material/licenses/backend/LICENSE-slf4j-api.txt
  material/licenses/backend/LICENSE-stax2-api.txt
  material/licenses/backend/LICENSE-taos-jdbcdriver.txt
  material/licenses/backend/LICENSE-txw2.txt
  material/licenses/backend/LICENSE-zstd-jni.txt
Labels: documentation, enhancement, good first pull request

#1743 Back-end dependency upgrade
  pom.xml
Labels: enhancement, good first pull request

#1748 [Improve] run hertzbeat in docker compose support dependen service condition
  script/docker-compose/hertzbeat-mysql-iotdb/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-tdengine/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/docker-compose.yaml
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-iotdb/docker-compose.yaml
Labels: enhancement, good first pull request, new feature

#1747 [bugfix] fix statuspage index exception
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/StatusPageServiceImpl.java
Labels: good first pull request, bugfix

#1745 remove unlicensed dependency 'wolfy87 eventemitter'
  material/licenses/frontend/LICENSE
  web-app/package.json
  web-app/src/styles.less
  web-app/yarn.lock
Labels: enhancement, good first pull request

#1751 [improve] update asf config set required status checks context
  .asf.yaml
  .github/workflows/license-checker.yml
Labels: infra

#1740 [improve] home add apache info
  .all-contributorsrc
  .github/labeler.yml
  README.md
  README_CN.md
  home/docs/community/become_committer.md
  home/docs/community/become_pmc_member.md
  home/docs/community/code-style-and-quality-guide.md
  home/docs/community/contact.md
  home/docs/community/document.md
  home/docs/community/how-to-release.md
  home/docs/community/how-to-verify.md
  home/docs/community/mailing_lists.md
  home/docs/community/new_committer_process.md
  home/docs/community/new_pmc_member_process.md
  home/docs/community/submit-code.md
  home/docs/introduce.md
  home/docs/others/contact.md
  home/docs/others/developer.md
  home/docusaurus.config.js
  home/i18n/en/code.json
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/en/docusaurus-plugin-content-docs/version-v1.3.x.json
  home/i18n/en/docusaurus-theme-classic/footer.json
  home/i18n/en/docusaurus-theme-classic/navbar.json
  home/i18n/zh-cn/code.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/become_committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/become_pmc_member.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/code-style-and-quality-guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/contact.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/document.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/how-to-release.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/how-to-verify.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/mailing_lists.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/new_committer_process.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/new_pmc_member_process.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/submit-code.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/others/contact.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/others/developer.md
  home/i18n/zh-cn/docusaurus-theme-classic/footer.json
  home/i18n/zh-cn/docusaurus-theme-classic/navbar.json
  home/sidebars.json
  home/src/css/hero.css
  home/src/css/navbar.css
  manager/src/main/resources/application.yml
  script/application.yml
Labels: enhancement, good first pull request, backend, home, docs, script, infra

#1758 [doc] Change e2e path
  .github/PULL_REQUEST_TEMPLATE.md
Labels: infra

#1760 fix : ingress tls inoperative
  script/helm/hertzbeat/templates/manager/ingress.yaml
  script/helm/hertzbeat/values.yaml
Labels: good first pull request, kubernetes, helm, script

#1757 [refactor] method improvement rationale
  collector/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
Labels: enhancement, good first pull request, refactor, collector, backend

#1764 [improve] create disclaimer file, add incubating in describe
  .asf.yaml
  .licenserc.yaml
  DISCLAIMER
Labels: infra

#1766 Complete the code comment translation of the common module
  common/pom.xml
  common/src/main/java/org/apache/hertzbeat/common/config/AviatorConfiguration.java
  common/src/main/java/org/apache/hertzbeat/common/config/CommonProperties.java
  common/src/main/java/org/apache/hertzbeat/common/constants/CommonConstants.java
  common/src/main/java/org/apache/hertzbeat/common/entity/alerter/Alert.java
  common/src/main/java/org/apache/hertzbeat/common/entity/alerter/AlertConverge.java
  common/src/main/java/org/apache/hertzbeat/common/entity/alerter/AlertDefine.java
  common/src/main/java/org/apache/hertzbeat/common/entity/alerter/AlertSilence.java
  common/src/main/java/org/apache/hertzbeat/common/entity/dto/AlertReport.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Configmap.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Job.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/FtpProtocol.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/HttpProtocol.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/JmxProtocol.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/NginxProtocol.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/SnmpProtocol.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/Collector.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/CollectorMonitorBind.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/GeneralConfig.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/Monitor.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeReceiver.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeRule.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeTemplate.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/Param.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/ParamDefine.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/StatusPageOrg.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/Tag.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/TagMonitorBind.java
  common/src/main/java/org/apache/hertzbeat/common/entity/message/ClusterMsg.java
  common/src/main/java/org/apache/hertzbeat/common/entity/warehouse/History.java
  common/src/main/java/org/apache/hertzbeat/common/queue/impl/KafkaCommonDataQueue.java
  common/src/main/java/org/apache/hertzbeat/common/service/TencentSmsClient.java
  common/src/main/java/org/apache/hertzbeat/common/util/AesUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/CommonUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/IntervalExpressionUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/LruHashMap.java
  common/src/main/java/org/apache/hertzbeat/common/util/SnowFlakeIdWorker.java
  common/src/main/java/org/apache/hertzbeat/common/util/StrBuffer.java
  common/src/main/java/org/apache/hertzbeat/common/util/prometheus/PrometheusUtil.java
  common/src/test/java/org/apache/hertzbeat/common/util/SnowFlakeIdGeneratorTest.java
Labels: good first pull request, backend

#1770 Remove unnecessary if-else statement.
  collector/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
Labels: collector, backend

#1773 [doc] remove and translate chinese to english in warehous
  warehouse/pom.xml
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/WarehouseWorkerPool.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/WarehouseProperties.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/controller/MetricsDataController.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/AbstractRealTimeDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryGrepTimeDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryInfluxdbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryIotDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/MetricsDataRedisCodec.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/RealTimeMemoryDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/RealTimeRedisDataStorage.java
Labels: good first pull request, backend

#1772 Replace deprecated methods with builder pattern for RedisURI construction
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/promethus/PrometheusLastParser.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redis/RedisCommonCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/util/JsonPathParser.java
Labels: collector, backend

#1774 remove and translate chinese to english in collector,script,push,remoting and manager module
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefineControllerTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefinesControllerTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertsControllerTest.java
  collector/pom.xml
  manager/pom.xml
  pom.xml
  push/src/main/java/org/apache/hertzbeat/push/controller/PushController.java
  push/src/main/java/org/apache/hertzbeat/push/controller/PushGatewayController.java
  remoting/README.md
  script/assembly/collector/assembly-linux-amd64.xml
  script/assembly/collector/assembly-linux-arm64.xml
  script/assembly/collector/assembly-macos-amd64.xml
  script/assembly/collector/assembly-macos-arm64.xml
  script/assembly/collector/assembly-windows-64.xml
  script/assembly/collector/assembly.xml
  warehouse/pom.xml
Labels: collector, backend, docs, build, script

#1768 Added the function of sending SMS messages through Alibaba Cloud.
  common/pom.xml
  common/src/main/java/org/apache/hertzbeat/common/config/CommonProperties.java
  common/src/main/java/org/apache/hertzbeat/common/service/AliYunSmsClient.java
  common/src/main/java/org/apache/hertzbeat/common/util/AliYunSendSmsUtil.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/AliYunAlertNotifyHandlerImpl.java
  pom.xml
Labels: good first pull request, new feature, backend

#1784 [test] Add RedisSingleCollectImplTest
  collector/src/test/java/org/apache/hertzbeat/collector/collect/redis/RedisSingleCollectImplTest.java
Labels: collector, backend

#1782 [refactor] add override annotation
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryInfluxdbDataStorage.java
Labels: backend

#1793 '[docs]bugfix: display syntax error of ipmi protocol'
  home/docs/introduce.md
Labels: docs

#1765 [doc] translate alerter moudle code chinese to english
  alerter/src/main/java/org/apache/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/java/org/apache/hertzbeat/alert/config/AlerterAutoConfiguration.java
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertConvergeController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertConvergesController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertDefineController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertDefinesController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertReportController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertSilenceController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertSilencesController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertsController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/dao/AlertDao.java
  alerter/src/main/java/org/apache/hertzbeat/alert/dao/AlertDefineDao.java
  alerter/src/main/java/org/apache/hertzbeat/alert/dto/AlertSummary.java
  alerter/src/main/java/org/apache/hertzbeat/alert/dto/GeneralCloudAlertReport.java
  alerter/src/main/java/org/apache/hertzbeat/alert/dto/TenCloudAlertReport.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/AlertDefineImExportService.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/AlertDefineService.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/AlertService.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineAbstractImExportServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineExcelImExportServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertSilenceServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/util/AlertTemplateUtil.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefineControllerTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefinesControllerTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertReportControllerTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertsControllerTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/util/AlertTemplateUtilTest.java
Labels: backend

#1786 [refactor] database-related properties class, type changed to record
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/WarehouseProperties.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryGrepTimeDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryInfluxdbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryIotDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryJpaDatabaseDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryTdEngineDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryVictoriaMetricsDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/RealTimeMemoryDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/RealTimeRedisDataStorage.java
Labels: backend

#1796 Fix snmp template unit conversion problem
  manager/src/main/resources/define/app-cisco_switch.yml
  manager/src/main/resources/define/app-h3c_switch.yml
  manager/src/main/resources/define/app-hpe_switch.yml
  manager/src/main/resources/define/app-huawei_switch.yml
  manager/src/main/resources/define/app-tplink_switch.yml
Labels: good first pull request, monitoring-template, backend

#1798 [doc] Add help documentation for clickhouse monitoring
  home/docs/help/clickhouse.md
  home/docs/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/clickhouse.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/sidebars.json
Labels: good first pull request, docs

#1799 [feature:update-checkstyle] Limit the java file header
  script/checkstyle/checkstyle.xml
Labels: good first pull request, script

#1783 [improve]Add external lib folder to store mysql and oracle driver.
  manager/pom.xml
  manager/src/main/resources/application-test.yml
  script/assembly/collector/assembly-linux-amd64.xml
  script/assembly/collector/assembly-linux-arm64.xml
  script/assembly/collector/assembly-macos-amd64.xml
  script/assembly/collector/assembly-macos-arm64.xml
  script/assembly/collector/assembly-windows-64.xml
  script/assembly/collector/assembly.xml
  script/assembly/collector/bin/entrypoint.sh
  script/assembly/collector/bin/startup.bat
  script/assembly/collector/bin/startup.sh
  script/assembly/server/assembly-linux-amd64.xml
  script/assembly/server/assembly-linux-arm64.xml
  script/assembly/server/assembly-macos-amd64.xml
  script/assembly/server/assembly-macos-arm64.xml
  script/assembly/server/assembly-windows-64.xml
  script/assembly/server/assembly.xml
  script/assembly/server/bin/entrypoint.sh
  script/assembly/server/bin/startup.bat
  script/assembly/server/bin/startup.sh
  script/ext-lib/README
Labels: good first pull request, backend, build, script

#1797 [Improve]When multiple lines are returned, each alarm is triggered instead of only the first alarm
  alerter/src/main/java/org/apache/hertzbeat/alert/calculate/CalculateAlarm.java
Labels: good first pull request, backend

#1800 [doc] add team page in website
  home/docusaurus.config.js
  home/team/team.md
Labels: good first pull request, docs

#1804 [doc] Add help document for dns monitoring
  home/docs/help/dns.md
  home/docs/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/dns.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/sidebars.json
Labels: docs

#1808 [improve] preventing NPE
  collector/src/main/java/org/apache/hertzbeat/collector/collect/pop3/Pop3CollectImpl.java
Labels: collector, backend

#1806 [refactor] change the warehouse properties the type to record
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/WarehouseProperties.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryGrepTimeDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryInfluxdbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryIotDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryJpaDatabaseDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryTdEngineDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryVictoriaMetricsDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/RealTimeMemoryDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/RealTimeRedisDataStorage.java
Labels: good first pull request, backend

#1807 Refactor: upgrade syntax to jdk17(instanceof & switch)
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineExcelImExportServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertServiceImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/ConnectionCommonCache.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/database/JdbcCommonCollect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/dns/DnsCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/promethus/PrometheusMatrixParser.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/promethus/PrometheusVectorParser.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/promethus/exporter/ExporterParser.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/jmx/JmxCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/prometheus/parser/TextParser.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/snmp/SnmpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/ssh/SshCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/WheelTimerTask.java
  common/src/main/java/org/apache/hertzbeat/common/support/SpringContextHolder.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/MetricsController.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ExcelImExportServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ObjectStoreConfigServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/support/GlobalExceptionHandler.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryJpaDatabaseDataStorage.java
Labels: collector, backend

#1809 [test] Add NginxCollect test
  collector/src/test/java/org/apache/hertzbeat/collector/collect/nginx/NginxCollectImplTest.java
Labels: collector, backend

#1803 [website] update team page
  .all-contributorsrc
  .github/labeler.yml
  README.md
  README_CN.md
  home/docs/others/developer.md
  home/docusaurus.config.js
  home/i18n/en/code.json
  home/i18n/en/docusaurus-theme-classic/footer.json
  home/i18n/en/docusaurus-theme-classic/navbar.json
  home/i18n/zh-cn/code.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/others/developer.md
  home/i18n/zh-cn/docusaurus-theme-classic/footer.json
  home/i18n/zh-cn/docusaurus-theme-classic/navbar.json
  home/package.json
  home/sidebars.json
  home/src/pages/team/github.svg
  home/src/pages/team/index.css
  home/src/pages/team/index.jsx
  home/src/pages/team/member.json
  home/team/team.md
  home/yarn.lock
Labels: doc, home, docs, infra

#1789 [test] Add RedisClusterCollectImplTest
  collector/src/test/java/org/apache/hertzbeat/collector/collect/redis/RedisClusterCollectImplTest.java
Labels: collector, backend

#1814 Comparing N objects for null with Assert.noNullElements().
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redis/RedisCommonCollectImpl.java
Labels: collector, backend

#1815 [doc] Add help document for elasticsearch monitoring and ftp monitoring
  home/docs/help/elasticsearch.md
  home/docs/help/ftp.md
  home/docs/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/elasticsearch.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/ftp.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/sidebars.json
Labels: doc

#1813 [doc] add help documentation for huawei switch monitoring
  home/docs/help/guide.md
  home/docs/help/huawei_switch.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/huawei_switch.md
  home/sidebars.json
Labels: doc

#1817 chore: upgrade the api-testing (e2e) to v0.0.16
  e2e/Dockerfile
Labels: e2e

#1819 [Remove][Improve]Mail config
  manager/src/main/resources/application.yml
Labels: backend

#1816 Remove and translate chinese to english in code
  collector/src/main/java/org/apache/hertzbeat/collector/collect/pop3/Pop3CollectImpl.java
Labels: collector, backend

#1820 [feature]Add monitoring for Hbase Master
  home/docs/help/hbase_master.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/hbase_master.md
  manager/src/main/resources/define/app-hbase_master.yml
Labels: doc, good first pull request, monitoring-template, backend

#1821 [doc] resolve code conflicts and coverage caused by pr(#1813) merge
  home/docs/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/sidebars.json
Labels: doc

#1823 [doc] Add help document for tidb and nacos monitoring
  home/docs/help/guide.md
  home/docs/help/nacos.md
  home/docs/help/tidb.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/nacos.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/tidb.md
  home/sidebars.json
  manager/src/main/resources/define/app-tidb.yml
Labels: doc, monitoring-template, backend

#1824 [improve] Add whitespace checkstyle
  alerter/src/main/java/org/apache/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertSilencesController.java
  alerter/src/main/java/org/apache/hertzbeat/alert/dao/AlertDefineDao.java
  alerter/src/main/java/org/apache/hertzbeat/alert/reduce/AlarmSilenceReduce.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertServiceImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/CacheIdentifier.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/dns/DnsCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/promethus/exporter/ExporterParser.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/httpsd/HttpsdImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/httpsd/discovery/impl/NacosDiscoveryClient.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/mongodb/MongodbSingleCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NebulaGraphCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nginx/NginxCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/pop3/Pop3CollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/prometheus/PrometheusAutoCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/snmp/SnmpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/HashedWheelTimer.java
  common/src/main/java/org/apache/hertzbeat/common/entity/alerter/Alert.java
  common/src/main/java/org/apache/hertzbeat/common/entity/alerter/AlertConverge.java
  common/src/main/java/org/apache/hertzbeat/common/entity/alerter/AlertSilence.java
  common/src/main/java/org/apache/hertzbeat/common/entity/dto/AlertReport.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/JsonLongListAttributeConverter.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeReceiver.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeRule.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeTemplate.java
  common/src/main/java/org/apache/hertzbeat/common/support/ResourceBundleUtf8Control.java
  common/src/main/java/org/apache/hertzbeat/common/util/prometheus/PrometheusUtil.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/NoticeConfigServiceImpl.java
  push/src/main/java/org/apache/hertzbeat/push/service/impl/PushServiceImpl.java
  script/checkstyle/checkstyle.xml
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryGrepTimeDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryIotDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryJpaDatabaseDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryTdEngineDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryVictoriaMetricsDataStorage.java
Labels: good first pull request, collector, backend, script

#1825 [bugfix] dns monitoring template add query class parameter
  collector/src/main/java/org/apache/hertzbeat/collector/collect/dns/DnsCollectImpl.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/dns/DnsCollectImplTest.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/DnsProtocol.java
  home/docs/help/dns.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/dns.md
  manager/src/main/resources/define/app-dns.yml
Labels: doc, good first pull request, bugfix, monitoring-template, collector, backend

#1818 [Refactor] Preventing Unnecessary Object Creation and Using Utility Methods
  collector/src/main/java/org/apache/hertzbeat/collector/collect/database/JdbcCommonCollect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/dns/DnsCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/SslCertificateCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/promethus/AbstractPrometheusParse.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/promethus/exporter/ExporterParser.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/promethus/exporter/MetricFamily.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/promethus/exporter/MetricType.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nginx/NginxCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redis/RedisCommonCollectImpl.java
Labels: collector, backend

#1828 [doc]Add and modify Doris FE Chinese and English documentation
  home/docs/help/doris_fe.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/doris_fe.md
Labels: doc

#1827 Code Simplification, Structure Changes, and Translation Work, Along with a Question
  collector/src/main/java/org/apache/hertzbeat/collector/collect/icmp/IcmpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/jmx/JmxCollectImpl.java
Labels: collector, backend

#1834 [doc] add help document for mongodb monitoring
  home/docs/help/guide.md
  home/docs/help/mongodb.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/mongodb.md
  home/sidebars.json
Labels: doc, good first pull request

#1837 [collector] fix: inverts the compareTo sort of MetricsCollect run queue
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
Labels: good first pull request, bugfix, collector, backend

#1842 [doc]Doc add debian system
  home/docs/help/debian.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/debian.md
  home/sidebars.json
Labels: doc

#1833 [feature] Add Apache Hbase RegionServer monitoring
  home/docs/help/hbase_regionserver.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/hbase_master.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/hbase_regionserver.md
  home/sidebars.json
  manager/src/main/resources/define/app-hbase_regionserver.yml
Labels: doc, good first pull request, monitoring-template, backend

#1838 [improve] Optimize websocket monitor
  collector/src/main/java/org/apache/hertzbeat/collector/collect/websocket/WebsocketCollectImpl.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/WebsocketProtocol.java
  manager/src/main/resources/define/app-websocket.yml
Labels: good first pull request, monitoring-template, collector, backend

#1840 [test] Add test for HttpsdImpl
  collector/src/main/java/org/apache/hertzbeat/collector/collect/httpsd/HttpsdImpl.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/httpsd/HttpsdImplTest.java
Labels: good first pull request, unit test case, collector, backend

#1843 [fix] Fix the wrong comment
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryVictoriaMetricsDataStorage.java
Labels: backend

#1841 [refactor] trans and use assert
  collector/src/main/java/org/apache/hertzbeat/collector/collect/memcached/MemcachedCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/mongodb/MongodbSingleCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/mq/RocketmqSingleCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NebulaGraphCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nginx/NginxCollectImpl.java
Labels: collector, backend

#1844 [bugfix] modify the command in the mongodb monitoring template
  manager/src/main/resources/define/app-mongodb.yml
Labels: good first pull request, monitoring-template, backend

#1846 [bigfix]Fix Debian system Top10 monitoring bug
  manager/src/main/resources/define/app-debian.yml
Labels: good first pull request, bugfix, monitoring-template, backend

#1853 [doc] translates chinese comment to english.
  collector/src/main/java/org/apache/hertzbeat/collector/collect/ntp/NtpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/prometheus/PrometheusAutoCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/prometheus/parser/TextParser.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/push/PushCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/smtp/SmtpCollectImpl.java
Labels: collector, backend

#1852 [doc] fix error and add help document for prometheus task
  home/docs/help/prometheus.md
  home/docs/help/udp_port.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/prometheus.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/udp_port.md
  home/sidebars.json
Labels: doc

#1857 [feature] Add Linux process monitoring
  home/docs/help/process.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/process.md
  home/sidebars.json
  manager/src/main/resources/define/app-process.yml
Labels: doc, monitoring-template, backend

#1856 [test] Add test for FtpCollectImpl
  collector/src/main/java/org/apache/hertzbeat/collector/collect/ftp/FtpCollectImpl.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/ftp/FtpCollectImplTest.java
Labels: good first pull request, collector, backend

#1859 [improve] use apache jexl replace of aviator
  README.md
  README_CN.md
  alerter/src/main/java/org/apache/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineServiceImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
  common/pom.xml
  common/src/main/java/org/apache/hertzbeat/common/config/AviatorConfiguration.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/apache/hertzbeat/common/util/JexlCommonFunction.java
  common/src/main/java/org/apache/hertzbeat/common/util/JexlExpressionRunner.java
  common/src/test/java/org/apache/hertzbeat/common/config/AviatorConfigurationTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/JexlTest.java
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_threshold_expr.md
  manager/src/test/java/org/apache/hertzbeat/manager/ManagerTest.java
  material/licenses/backend/LICENSE
  material/licenses/backend/LICENSE-aviator.txt
  pom.xml
Labels: doc, collector, backend, license

#1730 [feature] add influxdb metrics monitoring
  home/docs/help/influxdb.md
  home/i18n/en/docusaurus-plugin-content-docs/version-v1.1.x/help/influxdb.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/influxdb.md
  home/sidebars.json
  manager/src/main/resources/define/app-influxdb.yml
Labels: doc, enhancement, good first pull request, monitoring-template, backend, docs

#1874 [doc] add help document for rocketmq
  home/docs/help/influxdb.md
  home/docs/help/rocketmq.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/rocketmq.md
  home/sidebars.json
Labels: doc

#1864 [improve] Imporve checkstyle of test code.
  alerter/src/test/java/org/apache/hertzbeat/alert/AlerterWorkerPoolTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefineControllerTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefinesControllerTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertReportControllerTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertsControllerTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineServiceTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/util/AlertTemplateUtilTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/ftp/FtpCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/http/promethus/exporter/ExporterParserTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/dispatch/unit/TimeLengthConvertTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/util/CollectUtilTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/util/PrivateKeyUtilsTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/CommonUtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/IpDomainUtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/JsonUtilTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/ManagerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/DingTalkRobotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/DiscordBotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/HuaweiCloudSmnAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/SlackAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/TelegramBotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/WeWorkRobotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/AccountControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/AppControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/I18nControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/MonitorControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/MonitorsControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/NoticeConfigControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/SummaryControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/TagControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/dao/MonitorDaoTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/dao/NoticeRuleDaoTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/dao/ParamDaoTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/dao/ParamDefineDaoTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/dao/TagDaoTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/AppServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/MailServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/MonitorServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/NoticeConfigServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/TagServiceTest.java
  remoting/src/test/java/org/apache/hertzbeat/remoting/RemotingServiceTest.java
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/WarehouseWorkerPoolTest.java
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/controller/MetricsDataControllerTest.java
Labels: good first pull request, collector, backend

#1867 [feature] Support Redfish protocol to monitoring server
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/RedfishConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/ConnectSession.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishClient.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishCollectionSchema.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishConnectSession.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/Session.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  collector/src/test/java/org/apache/hertzbeat/collector/collect/redfish/RedfishCollectImplTest.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/RedfishProtocol.java
  manager/src/main/resources/define/app-redfish.yml
Labels: good first pull request, monitoring-template, collector, backend

#1868 Fix debian monitoring template issue about process monitoring
  manager/src/main/resources/define/app-debian.yml
Labels: good first pull request, monitoring-template, backend

#1870 [bugfix] centos Top10 shows missing one
  manager/src/main/resources/define/app-centos.yml
Labels: good first pull request, monitoring-template, backend

#1861 [doc] update help document
  home/docs/help/guide.md
  home/docs/help/websocket.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/websocket.md
  home/sidebars.json
  manager/src/main/resources/define/app-nebulaGraph.yml
Labels: doc, monitoring-template, backend

#1875 [featurn] support flyway database migration
  .all-contributorsrc
  README.md
  README_CN.md
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/JsonStringListAttributeConverter.java
  common/src/main/java/org/apache/hertzbeat/common/util/JsonUtil.java
  home/src/pages/team/index.jsx
  manager/pom.xml
  manager/src/main/java/org/apache/hertzbeat/manager/config/FlywayConfiguration.java
  manager/src/main/resources/application-test.yml
  manager/src/main/resources/application.yml
  manager/src/main/resources/db/migration/h2/V160__update_column.sql
  manager/src/main/resources/db/migration/mysql/V160__update_column.sql
  manager/src/main/resources/db/migration/postgresql/V160__update_column.sql
  manager/src/main/resources/logback-spring.xml
  material/licenses/backend/LICENSE
  pom.xml
Labels: doc, new feature, backend, home, license

#1879 [improve] Use java.lang.AutoCloseable instead of CacheCloseable
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/CacheCloseable.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/ConnectionCommonCache.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/JdbcConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/JmxConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/MongodbConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/RedfishConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/RedisConnect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/SshConnect.java
Labels: collector, backend

#1876 [bugfix]Fix top10 process command.
  manager/src/main/resources/define/app-almalinux.yml
  manager/src/main/resources/define/app-centos.yml
  manager/src/main/resources/define/app-coreos.yml
  manager/src/main/resources/define/app-euleros.yml
  manager/src/main/resources/define/app-freebsd.yml
  manager/src/main/resources/define/app-linux.yml
  manager/src/main/resources/define/app-opensuse.yml
  manager/src/main/resources/define/app-redhat.yml
  manager/src/main/resources/define/app-rockylinux.yml
  manager/src/main/resources/define/app-ubuntu.yml
Labels: monitoring-template, backend

#1880 [feature] support the VictoriaMetrics cluster
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/store/vm/cluster/VictoriaMetricsClusterProperties.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/store/vm/cluster/VictoriaMetricsInsertProperties.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/store/vm/cluster/VictoriaMetricsSelectProperties.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryVictoriaMetricsClusterDataStorage.java
Labels: good first pull request, backend

#1882 Eliminate Unnecessary Unboxing and Generics
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineExcelImExportServiceImpl.java
  alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefinesControllerTest.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/pop3/Pop3CollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/push/PushCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/HashedWheelTimer.java
  collector/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
  common/src/test/java/org/apache/hertzbeat/common/util/JsonUtilTest.java
  push/src/main/java/org/apache/hertzbeat/push/service/impl/PushServiceImpl.java
Labels: collector, backend

#1883 [bugfix][doc]Add kafka sidebar.
  home/sidebars.json
Labels: doc

#1888 [doc] I18n for monitoring template yml metrics
  manager/src/main/resources/define/app-dm.yml
  manager/src/main/resources/define/app-opengauss.yml
  manager/src/main/resources/define/app-sqlserver.yml
Labels: monitoring-template, backend

#1887 [refactor] StoreProperties is no longer useful, delete it
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/store/StoreProperties.java
Labels: backend

#1884 bugfix statistical metrics data matching fails
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
  collector/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
  collector/src/test/java/org/apache/hertzbeat/collector/util/CollectUtilTest.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/JsonLongListAttributeConverter.java
  common/src/main/java/org/apache/hertzbeat/common/entity/message/ClusterMsg.java
  common/src/main/java/org/apache/hertzbeat/common/entity/message/CollectRep.java
  common/src/main/java/org/apache/hertzbeat/common/util/CommonUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/JsonUtil.java
Labels: collector, backend

#1892 [doc] add almalinux documentation
  home/docs/help/almalinux.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/almalinux.md
  home/sidebars.json
Labels: doc

#1889 [improve] Missing a generic
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/ConnectionCommonCache.java
Labels: collector, backend

#1894 [bugfix] Fixed some metrics of Jexlespression not matching in Elasticsearch
  manager/src/main/resources/define/app-elasticsearch.yml
Labels: monitoring-template, backend
