Repository apache/hertzbeat, pull requests merged in 2024-02, with the labels that each got.

#1522 Add Grafana Dashboard
  common/src/main/java/org/dromara/hertzbeat/common/entity/grafana/Dashboard.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/grafana/Grafana.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/grafana/ServiceAccount.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/grafana/ServiceToken.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/Monitor.java
  common/src/main/java/org/dromara/hertzbeat/common/util/JsonUtil.java
  grafana/pom.xml
  grafana/src/main/java/org/dromara/hertzbeat/grafana/config/GrafanaAutoConfiguration.java
  grafana/src/main/java/org/dromara/hertzbeat/grafana/config/GrafanaConfiguration.java
  grafana/src/main/java/org/dromara/hertzbeat/grafana/config/GrafanaInit.java
  grafana/src/main/java/org/dromara/hertzbeat/grafana/controller/DashboardController.java
  grafana/src/main/java/org/dromara/hertzbeat/grafana/controller/ServiceAccountController.java
  grafana/src/main/java/org/dromara/hertzbeat/grafana/dao/DashboardDao.java
  grafana/src/main/java/org/dromara/hertzbeat/grafana/dao/ServiceAccountDao.java
  grafana/src/main/java/org/dromara/hertzbeat/grafana/dao/ServiceTokenDao.java
  grafana/src/main/java/org/dromara/hertzbeat/grafana/service/DashboardService.java
  grafana/src/main/java/org/dromara/hertzbeat/grafana/service/ServiceAccountService.java
  grafana/src/main/resources/META-INF/spring.factories
  grafana/src/main/resources/template.json
  manager/pom.xml
  manager/src/main/java/org/dromara/hertzbeat/manager/Manager.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/resources/application-test.yml
  manager/src/main/resources/application.yml
  pom.xml
  web-app/src/app/pojo/Grafana.ts
  web-app/src/app/pojo/Monitor.ts
  web-app/src/app/routes/SafePipe.ts
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/app/routes/monitor/monitor.module.ts
  web-app/src/app/service/monitor.service.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature

#1528 [feat] status page incident history
  common/src/main/java/org/dromara/hertzbeat/common/constants/CommonConstants.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/StatusPageIncident.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/StatusPageIncidentComponentBind.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/StatusPageIncidentContent.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/status/CalculateStatus.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/StatusPageController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/StatusPagePublicController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/dao/StatusPageIncidentDao.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/StatusPageService.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/StatusPageServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/support/GlobalExceptionHandler.java
  web-app/src/app/pojo/StatusPageIncident.ts
  web-app/src/app/pojo/StatusPageIncidentContent.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/routes/routes.module.ts
  web-app/src/app/routes/setting/status/status.component.html
  web-app/src/app/routes/setting/status/status.component.ts
  web-app/src/app/routes/status-public/status-public.component.html
  web-app/src/app/routes/status-public/status-public.component.ts
  web-app/src/app/service/status-page-public.service.ts
  web-app/src/app/service/status-page.service.ts
  web-app/src/assets/app-data.json
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature

#1531 [doc] update time series doc
  home/docs/start/greptime-init.md
  home/docs/start/influxdb-init.md
  home/docs/start/iotdb-init.md
  home/docs/start/package-deploy.md
  home/docs/start/tdengine-init.md
  home/docs/start/victoria-metrics-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/greptime-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/influxdb-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/iotdb-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/package-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/tdengine-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/victoria-metrics-init.md
Labels: documentation, good first pull request

#1533 update nginx monitoring help doc
  home/CNAME
  home/docs/help/nginx.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/nginx.md
  web-app/src/app/routes/status-public/status-public.component.ts
Labels: documentation, size:L, lgtm

#1535 Alert yml config
  manager/src/main/resources/application.yml
Labels: enhancement, good first pull request, size:S, lgtm

#1536 notify success when import alarm define success
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertDefinesController.java
  script/docker-compose/hertzbeat-mysql-iotdb/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/sureness.yml
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/sureness.yml
Labels: enhancement, size:M, lgtm

#1538 [hertzbeat] release hertzbeat version v1.5.0
  manager/src/main/resources/sureness.yml
  script/assembly/collector/assembly-linux-amd64.xml
  script/assembly/collector/assembly-linux-arm64.xml
  script/assembly/collector/assembly-macos-amd64.xml
  script/assembly/collector/assembly-macos-arm64.xml
  script/assembly/collector/assembly-windows-64.xml
  script/assembly/collector/assembly.xml
  script/assembly/server/assembly-linux-amd64.xml
  script/assembly/server/assembly-linux-arm64.xml
  script/assembly/server/assembly-macos-amd64.xml
  script/assembly/server/assembly-macos-arm64.xml
  script/assembly/server/assembly-windows-64.xml
  script/assembly/server/assembly.xml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/sureness.yml
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/sureness.yml
  script/helm/hertzbeat/Chart.yaml
  script/sureness.yml
  web-app/src/app/layout/basic/widgets/user.component.ts
  web-app/src/app/layout/passport/passport.component.html
  web-app/src/app/shared/constants.ts
  web-app/src/assets/app-data.json
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: documentation, enhancement, size:M, lgtm

#1542 use okhttp instead of HttpURLConnection in rest template
  manager/pom.xml
  manager/src/main/java/org/dromara/hertzbeat/manager/config/RestTemplateConfig.java
  pom.xml
Labels: enhancement, size:M, lgtm

#1543 auto build docker-compose script zip
  manager/pom.xml
  script/assembly/server/assembly-docker-compose.xml
Labels: enhancement, size:M, lgtm

#1545 bugfix undefined endsWith error
  manager/src/main/java/org/dromara/hertzbeat/manager/Manager.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/AccountController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/support/GlobalExceptionHandler.java
  web-app/src/app/core/interceptor/default.interceptor.ts
Labels: bugfix, size:M, lgtm

#1546 [bugfix]Fix incorrect logo size
  web-app/src/app/routes/status-public/status-public.component.html
Labels: size:XS, lgtm

#1553 [feature]Add gotify notification support
  alerter/src/main/java/org/dromara/hertzbeat/alert/AlerterProperties.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/NoticeReceiver.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/GotifyAlertNotifyHandlerImpl.java
  manager/src/main/resources/application.yml
  manager/src/main/resources/templates/13-GotifyTemplate.txt
  web-app/src/app/pojo/NoticeReceiver.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, size:L, lgtm

#1559 [fix]update aviator version to avoid expression injection
  pom.xml
Labels: size:XS, lgtm

#1564 web npm package version
  web-app/package.json
Labels: dependencies, size:L, lgtm

#1565 bugfix status page combine everyday history error
  manager/src/main/java/org/dromara/hertzbeat/manager/component/status/CalculateStatus.java
Labels: bugfix, size:S, lgtm

#1573 [doc]Translate doc to English
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-01-11-new-committer.md
Labels: size:L, lgtm

#1574 [doc]Translate doc to English
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-08-28-new-committer.md
Labels: size:M, lgtm

#1575 [doc]Translate doc to English
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-05-11-greptimedb-store.md
Labels: documentation, good first pull request, size:L, lgtm

#1569 checkstyle and reformat code style with idea
  alerter/src/main/java/org/dromara/hertzbeat/alert/dao/AlertConvergeDao.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dao/AlertSilenceDao.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmCommonReduce.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmSilenceReduce.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/AlertConvergeService.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/AlertSilenceService.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertSilenceServiceImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/SshConnect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/ftp/FtpCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/timer/Timer.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/Collector.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/CollectorMonitorBind.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/GeneralConfig.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/TagItem.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/message/ClusterMsg.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/message/CollectRep.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MonitorsController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/TagController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/EmailNoticeSender.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/AvailableAlertDefineInit.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/YamlImExportServiceImpl.java
  pom.xml
  push/src/main/java/org/dromara/hertzbeat/push/dao/PushMetricsDao.java
  push/src/main/java/org/dromara/hertzbeat/push/service/impl/PushServiceImpl.java
  remoting/src/main/java/org/dromara/hertzbeat/remoting/netty/NettyRemotingServer.java
  script/checkstyle/checkstyle.xml
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryGrepTimeDbDataStorage.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryJpaDatabaseDataStorage.java
Labels: size:XXL, lgtm

#1588 support monitor metrics name i18n: zookeeper
  manager/src/main/resources/define/app-zookeeper.yml
Labels: size:M, lgtm

#1587 [doc]Translate doc to English
  home/blog/2023-02-02-monitor-dynamic-tp.md
  home/blog/2023-05-11-greptimedb-store.md
  home/blog/2023-08-28-new-committer.md
  home/blog/2024-01-11-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-05-11-greptimedb-store.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-08-28-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-01-11-new-committer.md
Labels: documentation, good first pull request, size:XL, lgtm

#1590 [fix]Fix and pass the checkstyle error in warehouse module code
  script/checkstyle/checkstyle.xml
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/config/WarehouseProperties.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryGrepTimeDbDataStorage.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryJpaDatabaseDataStorage.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryVictoriaMetricsDataStorage.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/RealTimeRedisDataStorage.java
Labels: enhancement, good first pull request, size:M, lgtm

#1589 fix and pass the checkstyle error in alerter module code
  alerter/src/main/java/org/dromara/hertzbeat/alert/AlerterProperties.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertSilencesController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dto/TenCloudAlertReport.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineAbstractImExportServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertServiceImpl.java
Labels: enhancement, good first pull request, size:M, lgtm

#1592 manager check style modify
  manager/src/main/java/org/dromara/hertzbeat/manager/Manager.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/GotifyAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/TelegramBotAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/status/CalculateStatus.java
  manager/src/main/java/org/dromara/hertzbeat/manager/config/AngularErrorViewResolver.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MonitorController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/NoticeConfigController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/pojo/dto/ObjectStoreDTO.java
  manager/src/main/java/org/dromara/hertzbeat/manager/scheduler/ConcurrentTreeMap.java
  manager/src/main/java/org/dromara/hertzbeat/manager/scheduler/SchedulerInit.java
  manager/src/main/java/org/dromara/hertzbeat/manager/scheduler/SchedulerProperties.java
  manager/src/main/java/org/dromara/hertzbeat/manager/scheduler/netty/ManageServer.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/GeneralConfigService.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MailGeneralConfigServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MailServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/ObjectStoreConfigServiceImpl.java
Labels: enhancement, size:M, lgtm

#1593 fix the collect code checkstyle
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/MongodbConnect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/http/CommonHttpClient.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/ssh/CommonSshClient.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/database/JdbcCommonCollect.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/dns/DnsCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/ftp/FtpCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/SslCertificateCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/AbstractPrometheusParse.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/PrometheusLastParser.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/PrometheusMatrixParser.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/PrometheusParseCreater.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/exporter/MetricFamily.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/jmx/JmxCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/memcached/MemcachedCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/mq/RocketmqCollectData.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/mq/RocketmqSingleCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/nginx/NginxCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/ntp/NtpCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/pop3/Pop3CollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/prometheus/parser/MetricFamily.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/redis/RedisCommonCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/snmp/SnmpCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/websocket/WebsocketCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/DispatchProperties.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/entrance/CollectServer.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/timer/HashedWheelTimer.java
Labels: enhancement, good first pull request, size:L, lgtm

#1591 fix common checkstyle error
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmConvergeReduce.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmSilenceReduce.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertConvergeServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertSilenceServiceImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/cache/CacheFactory.java
  common/src/main/java/org/dromara/hertzbeat/common/cache/CaffeineCacheServiceImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/cache/CommonCacheService.java
  common/src/main/java/org/dromara/hertzbeat/common/config/AviatorConfiguration.java
  common/src/main/java/org/dromara/hertzbeat/common/config/CommonProperties.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/dto/PromVectorOrMatrix.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/NginxProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/Pop3Protocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/JsonByteListAttributeConverter.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/NoticeReceiver.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/NoticeTemplate.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/Param.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/ParamDefine.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/push/PushMetricsDto.java
  common/src/main/java/org/dromara/hertzbeat/common/service/TencentSmsClient.java
  common/src/main/java/org/dromara/hertzbeat/common/support/ResourceBundleUtf8Control.java
  common/src/main/java/org/dromara/hertzbeat/common/support/SpringContextHolder.java
  common/src/main/java/org/dromara/hertzbeat/common/support/valid/HostParamValidator.java
  common/src/main/java/org/dromara/hertzbeat/common/util/AesUtil.java
  common/src/test/java/org/dromara/hertzbeat/common/cache/CaffeineCacheTest.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/NoticeConfigServiceImpl.java
  script/checkstyle/checkstyle.xml
Labels: size:L, lgtm

#1586 Blog translation
  common/src/main/java/org/dromara/hertzbeat/common/config/CommonProperties.java
  home/blog/2022-09-10-ssl-practice.md
  home/blog/2022-10-08-hertzbeat-v1.2.0.md
  home/blog/2023-01-08-monitor-shenyu.md
Labels: size:L, lgtm

#1595 Alert apache license
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertReportController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dto/CloudAlertReportAbstract.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dto/GeneralCloudAlertReport.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dto/TenCloudAlertReport.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/enums/CloudServiceAlarmInformationEnum.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmCommonReduce.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmConvergeReduce.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/reduce/AlarmSilenceReduce.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/AlertConvergeService.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/AlertDefineImExportService.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/AlertSilenceService.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertConvergeServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineAbstractImExportServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineExcelImExportServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineJsonImExportServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineYamlImExportServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertSilenceServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/util/DateUtil.java
  alerter/src/test/java/org/dromara/hertzbeat/alert/AlerterWorkerPoolTest.java
  alerter/src/test/java/org/dromara/hertzbeat/alert/controller/AlertDefineControllerTest.java
  alerter/src/test/java/org/dromara/hertzbeat/alert/controller/AlertDefinesControllerTest.java
  alerter/src/test/java/org/dromara/hertzbeat/alert/controller/AlertReportControllerTest.java
  alerter/src/test/java/org/dromara/hertzbeat/alert/controller/AlertsControllerTest.java
  alerter/src/test/java/org/dromara/hertzbeat/alert/service/AlertDefineServiceTest.java
  alerter/src/test/java/org/dromara/hertzbeat/alert/service/AlertServiceTest.java
  alerter/src/test/java/org/dromara/hertzbeat/alert/util/AlertTemplateUtilTest.java
Labels: size:L, lgtm
