Repository apache/hertzbeat, pull requests merged in 2024-03, with the labels that each got.

#1596 add @see
  remoting/src/main/java/org/dromara/hertzbeat/remoting/RemotingService.java
  remoting/src/main/java/org/dromara/hertzbeat/remoting/netty/NettyRemotingAbstract.java
  remoting/src/main/java/org/dromara/hertzbeat/remoting/netty/NettyRemotingClient.java
  remoting/src/main/java/org/dromara/hertzbeat/remoting/netty/NettyRemotingProcessor.java
  remoting/src/main/java/org/dromara/hertzbeat/remoting/netty/NettyRemotingServer.java
Labels: documentation, good first pull request, size:XS, lgtm

#1599 [fix]Fix CNCF link
  README.md
  README_CN.md
Labels: size:XS, lgtm

#1606 Feature# Improve ingress support for helm charts
  script/helm/hertzbeat/README.md
  script/helm/hertzbeat/templates/NOTES.txt
  script/helm/hertzbeat/templates/manager/ingress.yaml
  script/helm/hertzbeat/templates/manager/service-expose.yaml
  script/helm/hertzbeat/values.yaml
Labels: enhancement, new feature, size:M, lgtm

#1602 bugfix status page calculate component status error
  manager/src/main/java/org/dromara/hertzbeat/manager/component/status/CalculateStatus.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/StatusPageServiceImpl.java
Labels: bugfix, size:L, lgtm

#1611 fix jmx custom url cause deserialization vulnerability
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/jmx/JmxCollectImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/AppController.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/YamlImExportServiceImpl.java
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
Labels: bugfix, size:M, lgtm

#1614 bugfix custom jdbc url run local script vulnerability
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/database/JdbcCommonCollect.java
Labels: enhancement, bugfix, size:S, lgtm

#1616 [fix]: Synchronize latest sureness.yml
  script/helm/hertzbeat/templates/manager/configmap.yaml
Labels: documentation

#1615 补充springboot2监控的帮助手册
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/springboot2.md
Labels: documentation, good first pull request, size:S, lgtm

#1617 Supplement the help document for Springboot 2 monitoring
  home/docs/help/springboot2.md
Labels: documentation, size:S, lgtm

#1618 Feature: http_sd monitor
  collector/pom.xml
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/httpsd/HttpsdImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/httpsd/constant/DiscoveryClientInstance.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/httpsd/discovery/ConnectConfig.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/httpsd/discovery/DiscoveryClient.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/httpsd/discovery/DiscoveryClientManagement.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/httpsd/discovery/ServerInfo.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/httpsd/discovery/ServiceInstance.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/httpsd/discovery/impl/ConsulDiscoveryClient.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/httpsd/discovery/impl/NacosDiscoveryClient.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/org.dromara.hertzbeat.collector.collect.AbstractCollect
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/HttpsdProtocol.java
  home/docs/help/http_sd.md
  manager/src/main/resources/define/app-http_sd.yml
Labels: enhancement, good first pull request, new feature, size:XL, lgtm

#1624 bugfix long range history chart render error
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryVictoriaMetricsDataStorage.java
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
Labels: bugfix, size:M, lgtm

#1627 [bugfix]fix the pagination issue results in no data being displayed
  web-app/src/app/routes/alert/alert-center/alert-center.component.ts
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.ts
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/routes/setting/collector/collector.component.ts
  web-app/src/app/routes/setting/tags/tags.component.ts
Labels: enhancement, good first pull request, bugfix, size:M, lgtm

#1629 bugfix swagger-ui not work in springboot3
  alerter/pom.xml
  common/pom.xml
  manager/pom.xml
  pom.xml
  push/pom.xml
  warehouse/pom.xml
Labels: bugfix

#1633 bugfix collector can not startup alone
  collector/src/main/java/org/dromara/hertzbeat/collector/Collector.java
Labels: bugfix

#1635 translate some hertzbeat blog
  home/blog/2022-04-08-hertzbeat-v1.0-beta.7.md
  home/blog/2022-05-17-hertzbeat-v1.0-beta.8.md
  home/blog/2022-06-19-hertzbeat-v1.1.0.md
  home/blog/2022-06-22-one-step-up.md
Labels: documentation, good first pull request

#1638 Check class description
  alerter/src/main/java/org/dromara/hertzbeat/alert/config/AlerterAutoConfiguration.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dto/CloudAlertReportAbstract.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dto/GeneralCloudAlertReport.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/dto/TenCloudAlertReport.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/AbstractPrometheusParse.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/ParseException.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/PrometheusLastParser.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/PrometheusMatrixParser.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/PrometheusParseCreater.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/PrometheusVectorParser.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/promethus/exporter/ExporterParser.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/httpsd/discovery/DiscoveryClient.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/httpsd/discovery/DiscoveryClientManagement.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/httpsd/discovery/ServerInfo.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/httpsd/discovery/ServiceInstance.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/memcached/MemcachedCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/nebulagraph/NebulaGraphCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/ntp/NtpCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/prometheus/parser/TextParser.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/smtp/SmtpCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/websocket/WebsocketCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/config/CollectorAutoConfiguration.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/entrance/processor/GoCloseProcessor.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/entrance/processor/GoOfflineProcessor.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/entrance/processor/GoOnlineProcessor.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/unit/UnitConvert.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/DnsProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/HttpsdProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/IcmpProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/JdbcProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/MemcachedProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/MongodbProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/NebulaGraphProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/NginxProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/NtpProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/Pop3Protocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/PrometheusProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/RedisProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/SmtpProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/SnmpProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/SshProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/TelnetProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/UdpProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/WebsocketProtocol.java
  common/src/main/java/org/dromara/hertzbeat/common/util/AesUtil.java
  common/src/main/java/org/dromara/hertzbeat/common/util/CommonUtil.java
  common/src/main/java/org/dromara/hertzbeat/common/util/IntervalExpressionUtil.java
  common/src/main/java/org/dromara/hertzbeat/common/util/SnowFlakeIdWorker.java
  common/src/main/java/org/dromara/hertzbeat/common/util/StrBuffer.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/WarehouseWorkerPool.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/config/WarehouseAutoConfiguration.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/config/WarehouseProperties.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/controller/MetricsDataController.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/AbstractRealTimeDataStorage.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryInfluxdbDataStorage.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/MetricsDataRedisCodec.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/RealTimeMemoryDataStorage.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/RealTimeRedisDataStorage.java
Labels: documentation, enhancement, good first pull request

#1642 support monitor metrics name i18n: ClickHouse
  manager/src/main/resources/define/app-clickhouse.yml
Labels: enhancement, good first pull request

#1646 translate blog 20220601 to English
  home/blog/2022-06-01-hertzbeat-v1.0.md
Labels: documentation

#1648 translate blog 20220228 to English
  home/blog/2022-02-28-hertzbeat-v1.0-beta.4.md
Labels: documentation

#1651 translate blog 20220310 to English
  home/blog/2022-03-10-hertzbeat-v1.0-beta.5.md
Labels: documentation

#1652 translate blog 20220904 to English
  home/blog/2022-09-04-hertzbeat-v1.1.3.md
Labels: documentation

#1654 support monitor metrics name i18n: Airflow
  manager/src/main/resources/define/app-airflow.yml
Labels: documentation, enhancement, good first pull request

#1659 support monitor metrics name i18n: IoTDB
  manager/src/main/resources/define/app-iotdb.yml
Labels: enhancement, good first pull request

#1643 bugfix The annotation @Transactional specifies rollbackFor.
  push/src/main/java/org/dromara/hertzbeat/push/dao/PushMetricsDao.java
Labels: enhancement, good first pull request, bugfix

#1662 feature:Translate 2022-02-17-hertzbeat Document
  home/blog/2022-02-17-hertzbeat.md
Labels: documentation, good first pull request

#1663 support monitor metrics name i18n: rocketmq
  manager/src/main/resources/define/app-rocketmq.yml
Labels: documentation, good first pull request

#1668 bugfix monitoring mongodb not work in springboot3
  pom.xml
Labels: bugfix

#1636 System config theme
  web-app/src/app/layout/basic/basic.component.ts
  web-app/src/app/pojo/SystemConfig.ts
  web-app/src/app/routes/setting/settings/settings.component.less
  web-app/src/app/routes/setting/settings/system-config/system-config.component.html
  web-app/src/app/routes/setting/settings/system-config/system-config.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature

#1684 [bugfix]fix the issue of add redis cluster node test error report(#1601)
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/cache/CacheIdentifier.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/redis/RedisCommonCollectImpl.java
Labels: good first pull request, bugfix

#1697 mongodb monitoring support custom connection timeout param
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/mongodb/MongodbSingleCollectImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/MongodbProtocol.java
  manager/src/main/resources/define/app-mongodb.yml
Labels: enhancement, good first pull request

#1696 bugfix old data decode error when use new common-secret
  common/src/main/java/org/dromara/hertzbeat/common/util/AesUtil.java
Labels: bugfix

#1698 [bugfix] fix bug where reopening pop-up window still retained previously edited data after closing.
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
Labels: enhancement, good first pull request, bugfix

#1699 monitor center add search type modal
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.less
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor.module.ts
  web-app/src/app/routes/setting/define/define.component.html
  web-app/src/app/shared/components/help-massage-show/help-massage-show.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement
