Repository apache/hertzbeat, pull requests merged in 2024-09, with the labels that each got.

#2645 [doc] help doc for mqtt
  home/docs/help/guide.md
  home/docs/help/mqtt.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/mqtt.md
  home/sidebars.json
  manager/src/main/resources/define/app-mqtt.yml
Labels: doc, monitoring-template, backend

#2647 Grafana doc
  home/docs/help/grafana_dashboard.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/grafana_dashboard.md
Labels: doc

#2644 [improve] added a method to obtain plugin parameters
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Configmap.java
  common/src/main/java/org/apache/hertzbeat/common/entity/plugin/PluginContext.java
  common/src/test/java/org/apache/hertzbeat/common/entity/plugin/PluginContextTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/PluginServiceTest.java
Labels: backend

#2649 [improve] improve markdown format for MD003
  .markdownlint-cli2.jsonc
  home/blog/2022-09-04-hertzbeat-v1.1.3.md
  home/docs/help/memcached.md
  home/docs/help/nebulagraph.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-09-04-hertzbeat-v1.1.3.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/nebulagraph.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/help/nebulagraph.md
  home/versioned_docs/version-v1.5.x/help/memcached.md
  home/versioned_docs/version-v1.5.x/help/nebulagraph.md
Labels: doc

#2654 [improve]improve doc 052
  .markdownlint-cli2.jsonc
  hip/README.md
  home/blog/2022-11-28-hertzbeat-v1.2.2.md
  home/blog/2024-06-15-hertzbeat-v1.6.0.md
  home/docs/community/how-to-release.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-11-28-hertzbeat-v1.2.2.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-06-15-hertzbeat-v1.6.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/how-to-release.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/community/how-to-release.md
  home/versioned_docs/version-v1.5.x/community/how-to-release.md
Labels: doc, HIP

#2656 translation airflow.md to English
  home/docs/help/airflow.md
Labels: doc

#2655 [improve] improve plugin params
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/PluginMetadata.java
  common/src/main/java/org/apache/hertzbeat/common/entity/plugin/PluginConfig.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/PluginServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/PluginServiceTest.java
  web-app/src/app/pojo/Plugin.ts
  web-app/src/app/routes/setting/plugins/plugin.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: backend, webapp

#2659 [fix] fix byte type npe.
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/TagServiceImpl.java
Labels: backend

#2660 fix the mounting issues in script/docker-compose/hertzbeat-postgresql-victoria-metrics/docker-compose.yaml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/docker-compose.yaml
Labels: docker-compose, docker, script

#2662 [improve] Update ElasticSearch monitoring template. Description supports i18n
  manager/src/main/resources/define/app-elasticsearch.yml
Labels: monitoring-template, backend

#2657 [improve] improve markdown format for MD033
  .markdownlint-cli2.jsonc
  home/docs/community/code-style-and-quality-guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/code-style-and-quality-guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/community/code-style-and-quality-guide.md
  home/versioned_docs/version-v1.5.x/community/code-style-and-quality-guide.md
Labels: doc

#2646 [doc] Add doc for linux_script and windows_script
  home/docs/help/linux_script.md
  home/docs/help/windows_script.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/linux_script.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/windows_script.md
  home/sidebars.json
  manager/src/main/resources/define/app-linux_script.yml
  manager/src/main/resources/define/app-windows_script.yml
Labels: doc, monitoring-template, backend

#2653 test: add more unit tests for some services
  collector/src/test/java/org/apache/hertzbeat/collector/collect/database/JdbcCommonCollectTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImplTest.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/BulletinServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/scheduler/CollectorJobSchedulerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/BulletinServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/CollectorServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/DefaultPluginRunnerTest.java
Labels: collector, backend

#1658 [feature]Support grafana charts for Prometheus
  common/src/main/java/org/apache/hertzbeat/common/entity/grafana/GrafanaDashboard.java
  common/src/main/java/org/apache/hertzbeat/common/entity/grafana/ServiceAccount.java
  common/src/main/java/org/apache/hertzbeat/common/entity/grafana/ServiceToken.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/Monitor.java
  grafana/pom.xml
  grafana/src/main/java/org/apache/hertzbeat/grafana/common/CommonConstants.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/config/GrafanaAutoConfiguration.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/config/GrafanaInit.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/config/GrafanaProperties.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/controller/DashboardController.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/controller/ServiceAccountController.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/dao/DashboardDao.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/dao/ServiceAccountDao.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/dao/ServiceTokenDao.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/service/DashboardService.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/service/DatasourceService.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/service/ServiceAccountService.java
  grafana/src/main/resources/META-INF/spring.factories
  manager/pom.xml
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/main/resources/application-test.yml
  manager/src/main/resources/application.yml
  manager/src/main/resources/sureness.yml
  pom.xml
  web-app/src/app/pojo/GrafanaDashboard.ts
  web-app/src/app/pojo/Monitor.ts
  web-app/src/app/routes/SafePipe.ts
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.ts
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.ts
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/app/routes/monitor/monitor.module.ts
  web-app/src/app/service/monitor.service.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature, bugfix, task, feature, refactor, backend, webapp

#2643 [Feature] add NVIDIA monitor
  home/docs/help/nvidia.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/nvidia.md
  manager/src/main/resources/define/app-nvidia.yml
Labels: doc, monitoring-template, backend

#2666 [improve] improve plugin upload check
  home/docs/help/plugin.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/plugin.md
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/PluginServiceImpl.java
Labels: doc, backend

#2667 [bugfix] fix monitor detail display error
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
Labels: webapp

#2668 [task] customize dashboard jump to monitor detail
  web-app/src/app/routes/bulletin/bulletin.component.html
Labels: webapp

#2669 [bugfix] fix bulletin name check
  manager/src/main/java/org/apache/hertzbeat/manager/controller/BulletinController.java
  manager/src/main/java/org/apache/hertzbeat/manager/dao/BulletinDao.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/BulletinServiceImpl.java
Labels: backend

#2673 [bugfix] filter dashboard metrics
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/BulletinServiceImpl.java
Labels: backend

#2674 [bugfix] clear filters when ok\cancel
  web-app/src/app/routes/bulletin/bulletin.component.ts
Labels: webapp

#2675 [bugfix] fix custom dashboard show metrics error
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/bulletin/Bulletin.java
Labels: backend

#2676 [fix] error image
  home/static/img/docs/help/plugin-4.png
Labels: doc

#2677 [bugfix] fix monitor edit error
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
Labels: webapp

#2678 [optimize] In a minor issue, the values of max and min are reversed
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/influxdb/InfluxdbDataStorage.java
Labels: backend

#2681 [improve] add kanban auto refresh
  web-app/src/app/routes/bulletin/bulletin.component.ts
Labels: webapp

#2680 [bugfix] fix kanban failed to add all selections
  web-app/src/app/routes/bulletin/bulletin.component.ts
Labels: webapp

#2682 [bugfix] fix load error when edit monitor and can not update
  common/src/main/java/org/apache/hertzbeat/common/entity/grafana/GrafanaDashboard.java
  common/src/main/java/org/apache/hertzbeat/common/entity/grafana/ServiceAccount.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/Monitor.java
  common/src/main/java/org/apache/hertzbeat/common/util/CommonUtil.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/common/GrafanaConstants.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/config/GrafanaInit.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/config/GrafanaProperties.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/controller/DashboardController.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/controller/ServiceAccountController.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/dao/GrafanaConfigDao.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/dao/ServiceAccountDao.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/dto/GrafanaConfig.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/service/DashboardService.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/service/DatasourceService.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/service/ServiceAccountService.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/MonitorController.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/MonitorDto.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/AccountService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/MonitorService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AccountServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/AccountServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/MonitorServiceTest.java
  web-app/src/app/pojo/Monitor.ts
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.ts
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
Labels: backend, webapp

#2679 chore: make the controller response be easy
  common/src/main/java/org/apache/hertzbeat/common/util/ResponseUtil.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/AccountController.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/AppController.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/BulletinController.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/CollectorController.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/GeneralConfigController.java
Labels: backend

#2683 [improve] beautify lark notification
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImpl.java
Labels: backend

#2687 [doc] add new contributor and committer
  .all-contributorsrc
  README.md
  README_CN.md
  home/src/pages/team/index.jsx
  home/src/pages/team/member.json
Labels: doc, home

#2689 [bugfix] fix status page unknowing status value
  web-app/src/app/pojo/StatusPageHistory.ts
  web-app/src/app/routes/status-public/status-public.component.html
Labels: webapp

#2686 [improve] support kanban set auto refresh Interval
  web-app/src/app/routes/bulletin/bulletin.component.html
  web-app/src/app/routes/bulletin/bulletin.component.ts
Labels: webapp

#2684 fix: fix e2e unstable
  e2e/docker-compose.yml
Labels: e2e

#2685 remove personal info
  home/blog/2024-01-11-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-01-11-new-committer.md
  home/src/pages/team/member.json
Labels: doc, home

#2691 [improve] extract some common methods
  alerter/pom.xml
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineExcelImExportServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineYamlImExportServiceImpl.java
  alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineExcelImExportServiceTest.java
  common/pom.xml
  common/src/main/java/org/apache/hertzbeat/common/util/export/ExcelExportUtils.java
  common/src/main/java/org/apache/hertzbeat/common/util/export/YamlExportUtils.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ExcelImExportServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/YamlImExportServiceImpl.java
Labels: backend

#2694 [doc] update doc for feishu notification
  home/docs/help/alert_feishu.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_feishu.md
Labels: doc

#2688 [bugfix] fix search value not clear
  web-app/src/app/layout/basic/widgets/search.component.ts
Labels: good first pull request, bugfix, webapp

#2699 [doc] Add a new committer
  home/src/pages/team/member.json
Labels: doc, home

#2698 [improve]: extract common constant str
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  common/src/main/java/org/apache/hertzbeat/common/constants/ConfigConstants.java
  common/src/main/java/org/apache/hertzbeat/common/constants/NetworkConstants.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/common/GrafanaConstants.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/config/GrafanaAutoConfiguration.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/config/GrafanaProperties.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/controller/DashboardController.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/service/DashboardService.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/service/DatasourceService.java
  grafana/src/main/java/org/apache/hertzbeat/grafana/service/ServiceAccountService.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsClusterDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsDataStorage.java
Labels: collector, backend

#2705 [improve] add new committer blog
  home/blog/2024-08-31-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-08-31-new-committer.md
Labels: doc

#2706 [doc] Resolve error link
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/start/postgresql-change.md
  home/versioned_docs/version-v1.5.x/start/postgresql-change.md
  script/ci/exclude_files.txt
Labels: doc, script

#2701 test: add unit test case for the util
  common/src/main/java/org/apache/hertzbeat/common/util/ResponseUtil.java
  common/src/test/java/org/apache/hertzbeat/common/cache/CacheFactoryTest.java
  common/src/test/java/org/apache/hertzbeat/common/cache/CaffeineCacheTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/JexlExpressionRunnerTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/JsonUtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/NetworkUtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/PairTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/ResponseUtilTest.java
Labels: backend

#2704 [bugfix] Allow anonymous access for MongoDB Atlas and standalone instances
  collector/src/main/java/org/apache/hertzbeat/collector/collect/mongodb/MongodbSingleCollectImpl.java
Labels: collector, backend

#2708 [doc] Add new committer blog
  home/blog/2024-09-10-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-09-10-new-committer.md
Labels: doc

#2709 [improve] Increase the priority of configuration initialization
  manager/src/main/java/org/apache/hertzbeat/manager/config/ConfigInitializer.java
Labels: backend

#2700 [bugfix] disallow adding tag with same key same value
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/TagServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/TagServiceTest.java
Labels: backend

#2710 [bugfix] template upload
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
Labels: webapp

#2714 [improve] refactor bulletin impl code
  README.md
  README_CN.md
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/Bulletin.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/JsonMapListAttributeConverter.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/bulletin/BulletinVo.java
  home/static/img/home/1.png
  home/static/img/home/2.png
  manager/src/main/java/org/apache/hertzbeat/manager/controller/BulletinController.java
  manager/src/main/java/org/apache/hertzbeat/manager/dao/BulletinDao.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/BulletinMetricsData.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/BulletinService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/BulletinServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/BulletinControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/BulletinServiceTest.java
  web-app/src/app/routes/bulletin/bulletin.component.html
  web-app/src/app/routes/bulletin/bulletin.component.ts
  web-app/src/app/service/bulletin-define.service.ts
  web-app/src/assets/i18n/en-US.json
Labels: doc, backend, webapp

#2712 [improve] support notify auto refresh
  web-app/src/app/layout/basic/widgets/notify.component.ts
Labels: webapp

#2719 [bugfix] fix tag select component display and select error
  web-app/src/app/shared/components/tags-select/tags-select.component.ts
Labels: webapp

#2720 [improve] use post request refresh token
  manager/src/main/java/org/apache/hertzbeat/manager/controller/AccountController.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/TokenDto.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/AccountControllerTest.java
  web-app/src/app/service/auth.service.ts
Labels: backend, webapp

#2722 [improve]Add release windows script and update version.
  pom.xml
  script/release/release-win.ps1
  web-app/src/app/shared/constants.ts
Labels: webapp, script

#2723 [improve] modify bin shells
  script/assembly/collector/assembly-linux-amd64.xml
  script/assembly/collector/assembly-linux-arm64.xml
  script/assembly/collector/assembly-macos-amd64.xml
  script/assembly/collector/assembly-macos-arm64.xml
  script/assembly/collector/assembly-windows-64.xml
  script/assembly/collector/assembly.xml
  script/assembly/collector/bin/entrypoint.sh
  script/assembly/collector/bin/restart.sh
  script/assembly/collector/bin/shutdown.bat
  script/assembly/collector/bin/shutdown.sh
  script/assembly/collector/bin/startup.bat
  script/assembly/collector/bin/startup.sh
  script/assembly/server/assembly-linux-amd64.xml
  script/assembly/server/assembly-linux-arm64.xml
  script/assembly/server/assembly-macos-amd64.xml
  script/assembly/server/assembly-macos-arm64.xml
  script/assembly/server/assembly-windows-64.xml
  script/assembly/server/assembly.xml
  script/assembly/server/bin/entrypoint.sh
  script/assembly/server/bin/restart.sh
  script/assembly/server/bin/shutdown.bat
  script/assembly/server/bin/shutdown.sh
  script/assembly/server/bin/startup.bat
  script/assembly/server/bin/startup.sh
Labels: build, script

#2735 [improve] revert modify bin shells
  script/assembly/collector/assembly-linux-amd64.xml
  script/assembly/collector/assembly-linux-arm64.xml
  script/assembly/collector/assembly-macos-amd64.xml
  script/assembly/collector/assembly-macos-arm64.xml
  script/assembly/collector/assembly-windows-64.xml
  script/assembly/collector/assembly.xml
  script/assembly/collector/bin/entrypoint.sh
  script/assembly/collector/bin/restart.sh
  script/assembly/collector/bin/shutdown.bat
  script/assembly/collector/bin/shutdown.sh
  script/assembly/collector/bin/startup.bat
  script/assembly/collector/bin/startup.sh
  script/assembly/server/assembly-linux-amd64.xml
  script/assembly/server/assembly-linux-arm64.xml
  script/assembly/server/assembly-macos-amd64.xml
  script/assembly/server/assembly-macos-arm64.xml
  script/assembly/server/assembly-windows-64.xml
  script/assembly/server/assembly.xml
  script/assembly/server/bin/entrypoint.sh
  script/assembly/server/bin/restart.sh
  script/assembly/server/bin/shutdown.bat
  script/assembly/server/bin/shutdown.sh
  script/assembly/server/bin/startup.bat
  script/assembly/server/bin/startup.sh
Labels: build, script

#2734 [bugfix] fix code describe
  collector/collector-rocketmq/src/main/java/org/apache/hertzbeat/collector/collect/rocketmq/RocketmqSingleCollectImpl.java
Labels: collector, backend

#2724 Release 1.6.1 rc2
  .devcontainer/devcontainer.json
  .gitpod.yml
  manager/src/main/resources/define/app-tidb.yml
  plugin/src/main/resources/define/define.yml
  script/release/release-win.ps1
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.less
  web-app/src/app/shared/components/monitor-select-menu/monitor-select-menu.component.less
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.less
  web-app/src/app/shared/components/tags-select/tags-select.component.less
  web-app/src/app/shared/components/toolbar/toolbar.component.less
  web-app/yarn.lock
Labels: monitoring-template, backend, webapp, script

#2737 [license] add ngx query builder license and update
  material/licenses/LICENSE
  material/licenses/frontend/LICENSE
  material/licenses/frontend/LICENSE-ngx-query-builder.txt
  web-app/yarn.lock
Labels: webapp, license

#2738 [license] update greptime dependency license
  manager/src/main/resources/define/app-hugegraph.yml
  material/licenses/LICENSE
  material/licenses/backend/LICENSE
Labels: monitoring-template, backend, license

#2739 [release] update collector version 1.6.1
  collector/collector/src/main/resources/application.yml
Labels: collector, backend

#2733 [Feature] support kafka admin monitor
  collector/collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/collector-kafka/pom.xml
  collector/collector-kafka/src/main/java/org/apache/hertzbeat/collector/collect/kafka/KafkaCollectImpl.java
  collector/collector-kafka/src/main/java/org/apache/hertzbeat/collector/collect/kafka/KafkaConnect.java
  collector/collector-kafka/src/main/java/org/apache/hertzbeat/collector/collect/kafka/SupportedCommand.java
  collector/collector-kafka/src/test/java/org/apache/hertzbeat/collector/collect/kafka/KafkaCollectTest.java
  collector/collector/pom.xml
  collector/collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  collector/pom.xml
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/KafkaProtocol.java
  home/docs/help/kafka_client.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/kafka_client.md
  manager/src/main/resources/define/app-kafka_client.yml
Labels: doc, monitoring-template, collector, backend

#2744 [improve]:Improve plugin
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/PluginServiceImpl.java
Labels: backend

#2743 [Improve] Modify Kafka monitoring execution priority
  manager/src/main/resources/define/app-kafka_client.yml
Labels: monitoring-template, backend

#2741 [improve] init default theme
  manager/src/main/java/org/apache/hertzbeat/manager/config/ConfigInitializer.java
Labels: backend

#2749 [improve] support kanban tablename i18n
  web-app/src/app/routes/bulletin/bulletin.component.html
  web-app/src/app/routes/bulletin/bulletin.component.ts
Labels: webapp

#2742 [improve] remove side nav user avatar
  web-app/src/app/layout/basic/basic.component.ts
Labels: webapp

#2736 [fix] Threshold Rules search i18n error (#2692)
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineServiceImpl.java
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/service/alert-define.service.ts
Labels: backend, webapp

#2748 [Improve] Fix cannot upload test report in the PR
  .github/workflows/backend-build-test-reuse.yml
  .github/workflows/backend-build-test.yml
Labels: infra

#2752 JDK17 does not exist in Huawei's mirror station, delete the descripti…
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/package-deploy.md
Labels: doc

#2756 [doc] fix JDK download mirror link
  home/docs/start/package-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/package-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/start/package-deploy.md
  home/versioned_docs/version-v1.5.x/start/package-deploy.md
Labels: doc
