Repository apache/hertzbeat, pull requests merged in 2024-11, with the labels that each got.

#2799 [bugfix] fix collector docker build error
  script/docker/collector/Dockerfile
  script/docker/collector/build.sh
Labels: docker, script

#2802 [doc] update new contributors
  .all-contributorsrc
  README.md
  README_CN.md
  home/src/pages/team/index.jsx
Labels: doc, home

#2718 [feature] Support custom refresh intervals for each group of metrics
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/TimerDispatcher.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/WheelTimerTask.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/Job.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/scheduler/CollectorJobScheduler.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/scheduler/SchedulerInit.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  home/blog/2023-02-10-new-committer.md
  home/docs/advanced/extend-point.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-05-09-hertzbeat-ospp-subject-introduction.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-point.md
Labels: doc, good first pull request, new feature

#2807 [improve] Fix error links caused by module name changes.
  CONTRIBUTING.md
  README.md
  README_CN.md
  home/blog/2024-06-11-hertzbeat-v1.6.0-update.md
  home/docs/community/contribution.md
  home/docs/community/development.md
  home/docs/introduce.md
  home/docs/start/update-1.6.0.md
  home/docs/template.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-06-11-hertzbeat-v1.6.0-update.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/contribution.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/development.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/update-1.6.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/template.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/community/contribution.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/community/development.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/template.md
  home/versioned_docs/version-v1.5.x/community/contribution.md
  home/versioned_docs/version-v1.5.x/community/development.md
  home/versioned_docs/version-v1.5.x/introduce.md
  home/versioned_docs/version-v1.5.x/template.md
Labels: doc, infra

#2810 [fix] fix the Linux process monitoring process exits abnormally without warning
  hertzbeat-manager/src/main/resources/define/app-process.yml
Labels: good first pull request

#2811 [Feature] add e2e code
  .github/workflows/backend-build-test-reuse.yml
  hertzbeat-e2e/hertzbeat-collector-kafka-e2e/pom.xml
  hertzbeat-e2e/hertzbeat-collector-kafka-e2e/src/test/java/org/apache/hertzbeat/collector/collect/kafka/KafkaCollectE2eTest.java
  hertzbeat-e2e/pom.xml
  material/licenses/LICENSE
  material/licenses/backend/LICENSE
  pom.xml
Labels: license, infra

#2814 [improve] modify e2e test
  hertzbeat-e2e/pom.xml
Labels: good first pull request, test, e2e

#2827 [refactor] change name from http_sd to registry
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/registry/RegistryImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/registry/constant/DiscoveryClientHealthStatus.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/registry/constant/DiscoveryClientInstance.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/registry/discovery/DiscoveryClient.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/registry/discovery/DiscoveryClientManagement.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/registry/discovery/entity/ConnectConfig.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/registry/discovery/entity/ServerInfo.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/registry/discovery/entity/ServiceInstance.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/registry/discovery/impl/ConsulDiscoveryClient.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/registry/discovery/impl/NacosDiscoveryClient.java
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/collect/registry/RegistryImplTest.java
  hertzbeat-collector/hertzbeat-collector-collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/RegistryProtocol.java
  hertzbeat-manager/src/main/resources/define/app-registry.yml
  home/docs/help/registry.md
  home/versioned_docs/version-v1.5.x/help/registry.md
Labels: doc

#2831 [fix]fix windows chinese encoding
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/snmp/SnmpCollectImpl.java
Labels: good first pull request, bugfix

#2833 [doc] Added custom development collector documentation
  home/blog/2024-11-24-custom-development.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-11-24-custom-development.md
  home/static/img/blog/model-create.png
  home/static/img/blog/model-desc.png
Labels: doc

#2837 [doc]: update sidebar category label and plugin documentation
  home/docs/help/plugin.md
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/plugin.md
  home/sidebars.json
Labels: doc

#2836 [improve] update victoriametrics and greptime store
  hertzbeat-manager/src/main/resources/application.yml
  hertzbeat-manager/src/main/resources/define/app-mariadb.yml
  hertzbeat-manager/src/main/resources/define/app-mysql.yml
  hertzbeat-warehouse/pom.xml
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/greptime/GreptimeDbDataStorage.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/greptime/GreptimeProperties.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/PromQlQueryContent.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsClusterDataStorage.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsDataStorage.java
  home/docs/start/greptime-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/greptime-init.md
  pom.xml
  script/application.yml
  script/sureness.yml
  web-app/src/app/routes/bulletin/bulletin.component.html
  web-app/src/assets/app-data.json
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: doc, webapp, script

#2842 [fix] auto generated by protocol buffer
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/message/ClusterMsg.java
  hertzbeat-common/src/main/message/cluster_msg.proto
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/MonitorDto.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ExcelImExportServiceImpl.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/controller/MonitorControllerTest.java
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
Labels: webapp

#2845 [bugfix]Fix wrong app name
  hertzbeat-manager/src/main/resources/define/app-greptime.yml
  hertzbeat-manager/src/main/resources/define/app-influxdb.yml
  hertzbeat-manager/src/main/resources/define/app-mongodb_atlas.yml
  hertzbeat-manager/src/main/resources/define/app-nebula_graph.yml
  hertzbeat-manager/src/main/resources/define/app-oceanbase.yml
  hertzbeat-manager/src/main/resources/define/app-prestodb.yml
Labels: good first pull request
