Repository apache/hertzbeat, pull requests merged in 2024-06, with the labels that each got.

#2058 [improve] update dependency licenses and remove the aliyun sms depend
  .all-contributorsrc
  .github/ISSUE_TEMPLATE/task.yml
  README.md
  README_CN.md
  collector/pom.xml
  common/pom.xml
  common/src/main/java/org/apache/hertzbeat/common/service/TencentSmsClient.java
  common/src/main/java/org/apache/hertzbeat/common/util/AliYunSendSmsUtil.java
  home/docs/community/how-to-release.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/how-to-release.md
  home/src/pages/team/index.jsx
  manager/pom.xml
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/AliYunAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/SmsAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/TencentSmsClient.java
  manager/src/test/java/org/apache/hertzbeat/manager/ManagerTest.java
  material/licenses/LICENSE
  material/licenses/backend/LICENSE
  material/licenses/backend/LICENSE-bcpkix-jdk15on.txt
  material/licenses/backend/LICENSE-bcprov-jdk15on.txt
  material/licenses/backend/LICENSE-bcutil-jdk15on.txt
  material/licenses/backend/LICENSE-h2.txt
  material/licenses/backend/LICENSE-jts-core.txt
  material/licenses/backend/LICENSE-org.eclipse.persistence.asm.txt
  material/licenses/backend/LICENSE-org.eclipse.persistence.core.txt
  material/licenses/backend/LICENSE-org.eclipse.persistence.jpa.txt
  material/licenses/backend/LICENSE-org.eclipse.persistence.jpql.txt
  material/licenses/collector/LICENSE
  material/licenses/collector/LICENSE-angus-activation.txt
  material/licenses/collector/LICENSE-bcpkix-jdk15on.txt
  material/licenses/collector/LICENSE-bcprov-jdk15on.txt
  material/licenses/collector/LICENSE-bcutil-jdk15on.txt
  material/licenses/collector/LICENSE-jakarta.activation-api.txt
  material/licenses/collector/LICENSE-jakarta.mail.txt
  material/licenses/collector/LICENSE-jakarta.xml.bind-api.txt
  material/licenses/collector/LICENSE-jaxb-api.txt
  material/licenses/collector/LICENSE-jaxb-core.txt
  material/licenses/collector/LICENSE-jts-core.txt
  material/licenses/collector/LICENSE-org.eclipse.persistence.asm.txt
  material/licenses/collector/LICENSE-org.eclipse.persistence.core.txt
  material/licenses/collector/LICENSE-org.eclipse.persistence.jpa.txt
  material/licenses/collector/LICENSE-org.eclipse.persistence.jpql.txt
  material/licenses/collector/NOTICE
Labels: doc, collector, backend, home, license, infra

#2061 [doc] add telnet protocol custom doc
  home/docs/advanced/extend-telnet.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-telnet.md
  home/sidebars.json
Labels: doc

#2071 fixed: required field check for tag settings
  web-app/src/app/routes/setting/tags/tags.component.ts
Labels: good first pull request, webapp

#2077 [doc]HertzBeat 1.6.0 Upgrade Guide
  home/blog/2024-06-11-hertzbeat-v1.6.0-update.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-06-11-hertzbeat-v1.6.0-update.md
Labels: doc, enhancement, good first pull request

#2076 [improve] update docker compose and k8s helm deploy script
  README.md
  README_CN.md
  home/docs/community/how-to-release.md
  home/docs/start/greptime-init.md
  home/docs/start/influxdb-init.md
  home/docs/start/iotdb-init.md
  home/docs/start/mysql-change.md
  home/docs/start/postgresql-change.md
  home/docs/start/quickstart.md
  home/docs/start/tdengine-init.md
  home/docs/start/victoria-metrics-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/how-to-release.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/greptime-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/influxdb-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/iotdb-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/mysql-change.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/postgresql-change.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/quickstart.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/tdengine-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/victoria-metrics-init.md
  home/sidebars.json
  script/docker-compose/README.md
  script/docker-compose/hertzbeat-mysql-iotdb/README.md
  script/docker-compose/hertzbeat-mysql-iotdb/README_CN.md
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-iotdb/ext-lib/.gitignore
  script/docker-compose/hertzbeat-mysql-iotdb/ext-lib/README
  script/docker-compose/hertzbeat-mysql-tdengine/README.md
  script/docker-compose/hertzbeat-mysql-tdengine/README_CN.md
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-tdengine/ext-lib/.gitignore
  script/docker-compose/hertzbeat-mysql-tdengine/ext-lib/README
  script/docker-compose/hertzbeat-mysql-victoria-metrics/README.md
  script/docker-compose/hertzbeat-mysql-victoria-metrics/README_CN.md
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/application.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/dbdata/mysqldata/.gitignore
  script/docker-compose/hertzbeat-mysql-victoria-metrics/dbdata/tsdbdata/.gitignore
  script/docker-compose/hertzbeat-mysql-victoria-metrics/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/ext-lib/.gitignore
  script/docker-compose/hertzbeat-mysql-victoria-metrics/ext-lib/README
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/README.md
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/README_CN.md
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/conf/sql/schema.sql
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/conf/sureness.yml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/dbdata/pgdata/.gitignore
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/dbdata/tsdbdata/.gitignore
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/docker-compose.yaml
  script/helm/hertzbeat/Chart.yaml
  script/helm/hertzbeat/templates/database/configmap.yaml
  script/helm/hertzbeat/templates/database/service.yaml
  script/helm/hertzbeat/templates/database/statefulset.yaml
  script/helm/hertzbeat/templates/manager/configmap.yaml
  script/helm/hertzbeat/values.yaml
Labels: doc, docker-compose, docker, kubernetes, helm, script

#2038 [feature] designated personnel send message
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeReceiver.java
  common/src/main/java/org/apache/hertzbeat/common/util/StrUtil.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/DingTalkRobotAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/WeWorkRobotAlertNotifyHandlerImpl.java
  web-app/src/app/pojo/NoticeReceiver.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, backend, webapp

#2043 [Improve] Fix possible potential thread unsafe issues
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/ConcurrentTreeMap.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/ConsistentHash.java
  manager/src/test/java/org/apache/hertzbeat/manager/scheduler/ConsistentHashTest.java
Labels: good first pull request, backend

#2052 [feature] support mongodb atlas cluster
  collector/src/main/java/org/apache/hertzbeat/collector/collect/mongodb/MongodbSingleCollectImpl.java
  common/src/main/java/org/apache/hertzbeat/common/constants/CollectorConstants.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/MongodbProtocol.java
  home/docs/help/mongodb_atlas.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/mongodb_atlas.md
  home/sidebars.json
  manager/src/main/resources/define/app-mongodb-atlas.yml
Labels: doc, monitoring-template, collector, backend

#2059 [feature] Implement IMAP protocol support
  collector/src/main/java/org/apache/hertzbeat/collector/collect/imap/ImapCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
  collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  collector/src/test/java/org/apache/hertzbeat/collector/collect/imap/ImapCollectImplTest.java
  common/pom.xml
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/ImapProtocol.java
  home/docs/help/imap.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/imap.md
  home/sidebars.json
  manager/src/main/resources/define/app-netease_mailbox.yml
  manager/src/main/resources/define/app-qq_mailbox.yml
Labels: doc, good first pull request, monitoring-template, collector, backend

#2063 [fix] fix unit test passing but outputting exception stack
  collector/src/main/java/org/apache/hertzbeat/collector/collect/dns/DnsCollectImpl.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/dns/DnsCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/redis/RedisSingleCollectImplTest.java
Labels: good first pull request, collector, backend

#2067 [collector] fix the wrong condition for checking the response
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
Labels: collector, backend

#2083 [doc] add hertzbeat 1.6.0 release blog
  .all-contributorsrc
  README.md
  README_CN.md
  home/blog/2024-06-15-hertzbeat-v1.6.0.md
  home/docs/advanced/extend-http-default.md
  home/docs/advanced/extend-http-example-hertzbeat.md
  home/docs/advanced/extend-http-example-token.md
  home/docs/advanced/extend-http.md
  home/docs/advanced/extend-point.md
  home/docs/advanced/extend-tutorial.md
  home/docs/community/new_committer_process.md
  home/i18n/en/code.json
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-06-15-hertzbeat-v1.6.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http-default.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http-example-hertzbeat.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http-example-token.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http-jsonpath.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-point.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-tutorial.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/new_committer_process.md
  home/sidebars.json
  home/src/pages/team/index.jsx
  home/static/img/docs/cluster-arch.png
  home/static/img/docs/custom-arch.png
  home/static/img/docs/hertzbeat-arch.png
  home/static/img/docs/hertzbeat-arch.svg
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/docker-compose.yaml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/ext-lib/.gitignore
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/ext-lib/README
Labels: doc, home, docker-compose, docker, script

#2078 [improve]add flink on yarn monitoring
  home/docs/help/flink_on_yarn.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/flink_on_yarn.md
  home/sidebars.json
  manager/src/main/resources/define/app-flink_on_yarn.yml
Labels: doc, good first pull request, monitoring-template, backend

#2065 [feature] After new, edit, resume a monitor, display its status directly and correctly
  manager/src/main/java/org/apache/hertzbeat/manager/controller/MonitorController.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
Labels: good first pull request, new feature, backend

#1985 [Improve] Support jacoco and Codecov
  .github/workflows/backend-build-test.yml
  pom.xml
Labels: infra, wait for process

#2082 [license] update license document for jutf7
  material/licenses/LICENSE
  material/licenses/backend/LICENSE
  material/licenses/backend/LICENSE-jutf7.txt
  material/licenses/collector/LICENSE
  material/licenses/collector/LICENSE-jutf7.txt
Labels: good first pull request, license

#2086 [improve] enterprise wechat validate
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
  web-app/src/assets/i18n/zh-CN.json
Labels: good first pull request, webapp

#2090 [bugfix] notice rules api access 409 error when upgrade 1.6.0
  manager/src/main/resources/db/migration/mysql/V160__update_column.sql
Labels: backend

#2092 [bugfix] fix some template menus hidden when too long
  web-app/src/app/routes/setting/define/define.component.less
Labels: bugfix, webapp

#2091 [doc] mysql monitoring help document adds steps for importing drivers
  home/docs/help/mysql.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/mysql.md
Labels: doc, good first pull request

#2089 [doc] Add codecov badge
  README.md
  README_CN.md
Labels: doc

#2093 fix: the e2e failure without broken the ci
  e2e/data/monitor-http.json
  e2e/start.sh
  e2e/testsuite.yaml
Labels: e2e

#2095 fix: greptimedb can't work with version >= 0.5
  home/docs/start/greptime-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/greptime-init.md
  manager/src/main/resources/application.yml
  warehouse/pom.xml
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/greptime/GrepTimeDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/greptime/GreptimeDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/greptime/GreptimeProperties.java
Labels: doc, good first pull request, backend

#2101 feat: supports TTL for greptimedb data storage
  home/docs/start/greptime-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/greptime-init.md
  manager/src/main/resources/application.yml
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/greptime/GreptimeDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/greptime/GreptimeProperties.java
Labels: doc, good first pull request, backend

#2102 [improve] Optimization notification code validation
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImpl.java
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
  web-app/src/assets/i18n/zh-CN.json
Labels: good first pull request, backend, webapp

#2110 Optimize the code by removing unnecessary attribute values
  web-app/src/app/layout/basic/basic.component.ts
Labels: webapp

#2109 Fixed a style issue within the dialog on the about-page.
  web-app/src/app/layout/basic/widgets/user.component.ts
Labels: webapp

#2114 [bugfix] the prompt information on the Collector Cluster page
  web-app/src/app/routes/setting/collector/collector.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, webapp

#2111 Optimize the visual experience of the `level2Message` module.
  web-app/src/app/shared/components/help-massage-show/help-massage-show.component.less
Labels: good first pull request, webapp

#2100 [improve] update collector info, support env config or auto fetch
  .all-contributorsrc
  README.md
  README_CN.md
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/entrance/CollectServer.java
  collector/src/main/resources/application.yml
  common/src/main/java/org/apache/hertzbeat/common/entity/dto/CollectorInfo.java
  common/src/main/java/org/apache/hertzbeat/common/util/IpDomainUtil.java
  home/docs/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.4.x/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/introduce.md
  home/src/pages/team/index.jsx
  home/versioned_docs/version-v1.4.x/introduce.md
  home/versioned_docs/version-v1.5.x/introduce.md
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/netty/process/CollectorOnlineProcessor.java
Labels: doc, collector, backend, home

#2112 Optimize the visual experience of the `nz-table` template.
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/setting/collector/collector.component.html
  web-app/src/app/routes/setting/status/status.component.html
  web-app/src/app/routes/setting/tags/tags.component.html
Labels: good first pull request, webapp

#2116 Optimize the layout of the [New Threshold Rule] form.
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#2119 Fixed the i18n issue similarly to #2117.
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/setting/status/status.component.html
Labels: webapp

#2124 bugfix the status filter in the monitoring center
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
Labels: good first pull request, bugfix, webapp

#2127 Add an input box component with a removal function.
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.html
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.less
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.spec.ts
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.ts
  web-app/src/app/shared/shared.module.ts
Labels: webapp

#2066 [fixbug] fix string type data parsing problem
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
Labels: good first pull request, collector, backend

#2070 [bug]fix the monitor status is abnormal
  alerter/src/main/java/org/apache/hertzbeat/alert/reduce/AlarmConvergeReduce.java
Labels: good first pull request, backend

#2131 Fixed the issues similar to #2127 on the alert center page.
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
Labels: webapp

#2120 [feature] support ai api with zhipu ai
  common/src/main/java/org/apache/hertzbeat/common/constants/AiConstants.java
  manager/pom.xml
  manager/src/main/java/org/apache/hertzbeat/manager/controller/AiController.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/MonitorsController.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/AiMessage.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/ZhiPuAiResponse.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/ZhiPuRequestParamDTO.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/AiService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AiServiceFactoryImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ZhiPuServiceImpl.java
  manager/src/main/resources/application-test.yml
  manager/src/main/resources/application.yml
Labels: good first pull request, new feature, backend

#2130 [docs] : Add an ai configuration document
  home/docs/help/ai_config.md
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/ai_config.md
  home/sidebars.json
Labels: doc

#2132 Add support for password type to the `app-multi-func-input` component.
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.html
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.less
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.ts
Labels: good first pull request, webapp

#2134 Fixed the layout styling issue of the left list on the `setting/define`.
  web-app/src/app/routes/setting/define/define.component.html
  web-app/src/app/routes/setting/define/define.component.less
Labels: good first pull request, webapp

#2136 [doc] Doc add committer process
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/new_committer_process.md
  home/static/img/docs/community/account-1.png
  home/static/img/docs/community/account-10.png
  home/static/img/docs/community/account-11.png
  home/static/img/docs/community/account-2.png
  home/static/img/docs/community/account-3.png
  home/static/img/docs/community/account-4.png
  home/static/img/docs/community/account-5.png
  home/static/img/docs/community/account-6.png
  home/static/img/docs/community/account-7.png
  home/static/img/docs/community/account-8.png
  home/static/img/docs/community/account-9.png
  home/static/img/docs/community/clas-web.png
  home/static/img/docs/community/email-1.png
  home/static/img/docs/community/email-2.png
  home/static/img/docs/community/email-3.png
  home/static/img/docs/community/email-4.png
  home/static/img/docs/community/email-5.png
  home/static/img/docs/community/icla-content-1.png
  home/static/img/docs/community/icla-content-2.png
  home/static/img/docs/community/icla-content-3.png
  home/static/img/docs/community/icla-content-4.png
  home/static/img/docs/community/icla-content-5.png
  home/static/img/docs/community/icla-pdf.png
  home/static/img/docs/community/icla-web.png
Labels: doc

#2137 [doc] add new committer shenghang
  home/docs/community/new_committer_process.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/new_committer_process.md
  home/src/pages/team/member.json
Labels: doc, home

#2140 Unify the `border-radius` values of the all components.
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.less
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/passport/lock/lock.component.html
  web-app/src/app/routes/passport/login/login.component.html
  web-app/src/app/routes/setting/collector/collector.component.html
  web-app/src/app/routes/setting/status/status.component.html
  web-app/src/app/routes/setting/tags/tags.component.html
  web-app/src/app/routes/status-public/status-public.component.html
  web-app/src/app/routes/status-public/status-public.component.less
  web-app/src/app/shared/components/help-massage-show/help-massage-show.component.less
  web-app/src/styles/theme.less
Labels: webapp

#2142 Continuously supplement and improve the goals set in #2140
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/passport/lock/lock.component.html
  web-app/src/app/routes/passport/login/login.component.html
  web-app/src/app/routes/setting/collector/collector.component.html
  web-app/src/app/routes/setting/tags/tags.component.html
  web-app/src/app/routes/status-public/status-public.component.html
  web-app/src/app/routes/status-public/status-public.component.less
  web-app/src/app/shared/components/help-massage-show/help-massage-show.component.html
  web-app/src/app/shared/components/help-massage-show/help-massage-show.component.less
  web-app/src/styles/theme.less
Labels: good first pull request, webapp

#2139 [bugfix] add incident publishing form validation
  web-app/src/app/routes/setting/status/status.component.html
  web-app/src/app/routes/setting/status/status.component.ts
Labels: webapp

#2143 Add a new common toolbar component.
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/setting/collector/collector.component.html
  web-app/src/app/routes/setting/status/status.component.html
  web-app/src/app/routes/setting/tags/tags.component.html
  web-app/src/app/shared/components/toolbar/toolbar.component.html
  web-app/src/app/shared/components/toolbar/toolbar.component.less
  web-app/src/app/shared/components/toolbar/toolbar.component.spec.ts
  web-app/src/app/shared/components/toolbar/toolbar.component.ts
  web-app/src/app/shared/shared.module.ts
Labels: webapp

#2145 Add a loading animation to the `/setting/define` page.
  web-app/src/app/routes/setting/define/define.component.html
  web-app/src/app/routes/setting/define/define.component.ts
Labels: webapp

#2144 Fixed the issue that the [first loading] does not appear
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/styles/theme.less
Labels: webapp

#2148 Add a search to the /setting/define page.
  web-app/src/app/routes/setting/define/define.component.html
  web-app/src/app/routes/setting/define/define.component.less
  web-app/src/app/routes/setting/define/define.component.ts
Labels: good first pull request, new feature, webapp

#2150 Add a basic component for "Monitoring Selection Menu"
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/routes/setting/define/define.component.html
  web-app/src/app/routes/setting/define/define.component.less
  web-app/src/app/routes/setting/define/define.component.ts
  web-app/src/app/shared/components/monitor-select-menu/monitor-select-menu.component.html
  web-app/src/app/shared/components/monitor-select-menu/monitor-select-menu.component.less
  web-app/src/app/shared/components/monitor-select-menu/monitor-select-menu.component.spec.ts
  web-app/src/app/shared/components/monitor-select-menu/monitor-select-menu.component.ts
  web-app/src/app/shared/components/toolbar/toolbar.component.less
  web-app/src/app/shared/shared.module.ts
Labels: webapp

#2152 [bugfix] fix deleting component error
  manager/src/main/java/org/apache/hertzbeat/manager/config/InternationalizationConfig.java
  manager/src/main/java/org/apache/hertzbeat/manager/dao/StatusPageIncidentComponentBindDao.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/StatusPageServiceImpl.java
  manager/src/main/resources/messages.properties
  manager/src/main/resources/messages_en.properties
  manager/src/main/resources/messages_zh.properties
  manager/src/main/resources/messages_zh_TW.properties
Labels: good first pull request, backend

#2154 Add support for `search` type to the `multi-func-input` component.
  web-app/src/app/shared/components/monitor-select-menu/monitor-select-menu.component.html
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.html
Labels: good first pull request, webapp

#2155 [improve]Optimize delimiters
  manager/src/main/resources/define/app-almalinux.yml
  manager/src/main/resources/define/app-centos.yml
  manager/src/main/resources/define/app-coreos.yml
  manager/src/main/resources/define/app-euleros.yml
  manager/src/main/resources/define/app-freebsd.yml
  manager/src/main/resources/define/app-linux.yml
  manager/src/main/resources/define/app-opensuse.yml
  manager/src/main/resources/define/app-redhat.yml
  manager/src/main/resources/define/app-rockylinux.yml
  manager/src/main/resources/define/app-ubuntu.yml
Labels: good first pull request, monitoring-template, backend

#2157 Add support for `formControlName` to the `multi-func-input` component.
  web-app/src/app/routes/passport/lock/lock.component.html
  web-app/src/app/routes/passport/login/login.component.html
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.html
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.less
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.ts
Labels: good first pull request, webapp

#2158 Modified docker command documentation
  home/docs/start/docker-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/docker-deploy.md
Labels: doc

#2160 Fixed notify module error
  web-app/src/app/layout/basic/widgets/notify.component.ts
  web-app/src/app/layout/layout.module.ts
Labels: good first pull request, bugfix, webapp
