Repository apache/hertzbeat, pull requests merged in 2024-05, with the labels that each got.

#1890 feat(*): Support Time Type to Tengine Data Storage
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/HistoryTdEngineDataStorage.java
Labels: good first pull request, backend

#1902 [doc] add opensuse doc
  home/docs/help/opensuse.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/opensuse.md
  home/sidebars.json
Labels: doc, good first pull request

#1896 fix when manager restart, collect register error
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/CollectorJobScheduler.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/SchedulerInit.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/netty/ManageServer.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/netty/process/HeartbeatProcessor.java
Labels: good first pull request, backend

#1900 [bugfix] fix can not use empty collection as query params in eclipselink
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
Labels: bugfix, backend

#1907 fix license
  .gitpod.yml
  .licenserc.yaml
  LICENSE.tpl
Labels: infra

#1908 [type:bugfix] fix customized menu invalid bug #1898
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AppServiceImpl.java
Labels: good first pull request, bugfix, backend

#1909 [type:bugfix] fix HTTP API bug #1895
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
Labels: good first pull request, bugfix, collector, backend

#1912 [test] Add test for WebsocketCollectImpl
  collector/src/main/java/org/apache/hertzbeat/collector/collect/websocket/WebsocketCollectImpl.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/websocket/WebsocketCollectImplTest.java
Labels: good first pull request, unit test case, collector, backend

#1913 [doc] Add HIP document and template
  hip/README.md
  hip/TEMPLATE.md
Labels: doc, good first pull request

#1915 [improve] clean up home webapp unused code
  .all-contributorsrc
  .gitattributes
  .licenserc.yaml
  LICENSE
  README.md
  README_CN.md
  common/src/main/java/org/apache/hertzbeat/common/util/AliYunSendSmsUtil.java
  e2e/start.sh
  home/docs/community/how-to-release.md
  home/docs/help/issue.md
  home/docusaurus.config.js
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/how-to-release.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/issue.md
  home/sidebars.json
  home/src/CdnTransfer.js
  home/src/constants.js
  home/src/css/buttons.css
  home/src/css/custom.css
  home/src/css/docsearch.css
  home/src/css/hero.css
  home/src/css/navbar.css
  home/src/pages/components/DiaLog.js
  home/src/pages/components/DiaLog.module.css
  home/src/pages/components/Feature.js
  home/src/pages/components/Feature.module.css
  home/src/pages/components/Highlight.js
  home/src/pages/components/LogoCarousel.js
  home/src/pages/components/LogoCarousel.module.css
  home/src/pages/components/LogoCarouselStatic.js
  home/src/pages/components/Robot.js
  home/src/pages/components/Robot.module.css
  home/src/pages/components/Section.js
  home/src/pages/components/Section.module.css
  home/src/pages/components/Sponsor.js
  home/src/pages/components/Sponsor.module.css
  home/src/pages/components/highlight.module.css
  home/src/pages/index.js
  home/src/pages/styles.module.css
  home/src/pages/team/index.css
  home/src/pages/team/index.jsx
  home/src/sw.js
  home/src/theme/card.jsx
  home/static/img/icons/tancloud-logo.svg
  home/static/img/icons/tancloud_logo.svg
  home/static/manifest.json
  home/versioned_sidebars/version-v1.1.x-sidebars.json
  manager/src/main/java/org/apache/hertzbeat/manager/nativex/HertzbeatRuntimeHintsRegistrar.java
  script/docker/collector/Dockerfile
  script/docker/server/Dockerfile
  web-app/README.md
  web-app/angular.json
  web-app/proxy.conf.js
  web-app/src/app/core/startup/startup.service.ts
  web-app/src/app/routes/exception/exception-routing.module.ts
  web-app/src/app/routes/exception/exception.component.ts
  web-app/src/app/routes/exception/exception.module.ts
  web-app/src/assets/app-data.json
  web-app/src/assets/img/icon-gitee.js
Labels: doc, backend, e2e, webapp, home, docker, script, license, infra

#1917 [feature] support use ngql query metrics from nebulaGraph
  collector/pom.xml
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NebulaTemplate.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NgqlCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
  collector/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
  collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  collector/src/test/java/org/apache/hertzbeat/collector/util/CollectUtilTest.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/NgqlProtocol.java
  manager/src/main/resources/define/app-nebula_graph_cluster.yml
  material/licenses/backend/LICENSE
Labels: good first pull request, new feature, monitoring-template, collector, backend, license

#1918 [doc] Improve the Contribution Documentation.
  .github/labeler.yml
  CONTRIBUTING.md
  home/docs/others/contributing.md
Labels: doc, good first pull request, infra

#1920 [featrue]add apache hdfs monitor
  home/docs/help/hdfs_datanode.md
  home/docs/help/hdfs_namenode.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/hdfs_datanode.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/hdfs_namenode.md
  home/sidebars.json
  manager/src/main/resources/define/app-hdfs_datanode.yml
  manager/src/main/resources/define/app-hdfs_namenode.yml
Labels: doc, good first pull request, new feature, monitoring-template, backend

#1921 [doc] update hbase documentation description
  home/docs/help/hbase_master.md
  home/docs/help/hbase_regionserver.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/hbase_master.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/hbase_regionserver.md
Labels: doc, good first pull request

#1923 [doc] Add documentation for nebulaGraph cluster monitoring and custom monitoring using NGQL, and clean up useless parameters
  home/docs/advanced/extend-ngql.md
  home/docs/help/guide.md
  home/docs/help/nebulagraph_cluster.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-ngql.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/nebulagraph_cluster.md
  home/sidebars.json
  manager/src/main/resources/define/app-nebula_graph_cluster.yml
Labels: doc, monitoring-template, backend

#1924 [test] Add test for TelnetCollectImplTest
  collector/src/test/java/org/apache/hertzbeat/collector/collect/telnet/TelnetCollectImplTest.java
Labels: collector, backend

#1891 fix(*): fix TdEngine Init not found Database
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/tdengine/TdEngineDataStorage.java
Labels: good first pull request, backend

#1919 [doc] update contribution and add run-build guide
  CONTRIBUTING.md
  home/blog/2022-12-19-new-committer.md
  home/docs/community/contribution.md
  home/docs/community/development.md
  home/docs/community/how-to-release.md
  home/docs/start/quickstart.md
  home/docusaurus.config.js
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/en/docusaurus-plugin-content-docs/version-v1.1.x.json
  home/i18n/en/docusaurus-theme-classic/footer.json
  home/i18n/en/docusaurus-theme-classic/navbar.json
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-12-19-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/contribution.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/development.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/how-to-release.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/quickstart.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.1.x.json
  home/i18n/zh-cn/docusaurus-theme-classic/footer.json
  home/i18n/zh-cn/docusaurus-theme-classic/navbar.json
  home/sidebars.json
Labels: doc, infra

#1925 bugfix collector startup error can not find JdbcClient
  collector/pom.xml
  collector/src/main/resources/application.yml
  common/src/main/java/org/apache/hertzbeat/common/config/EclipseLinkJpaConfiguration.java
Labels: bugfix, collector, backend

#1928 [doc] add help document for freebsd monitoring
  home/docs/help/freebsd.md
  home/docs/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/freebsd.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/sidebars.json
Labels: doc

#1931 [fix] fixed name error in monitoring template and improve NGQL protocol
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NgqlCollectImpl.java
  manager/src/main/resources/define/app-nebula_graph_cluster.yml
Labels: bugfix, monitoring-template, collector, backend

#1934 [bugfix] fix ssl-cert days_remaining and npe
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/SslCertificateCollectImpl.java
  common/src/main/java/org/apache/hertzbeat/common/util/JexlCommonFunction.java
  common/src/main/java/org/apache/hertzbeat/common/util/JexlExpressionRunner.java
  common/src/test/java/org/apache/hertzbeat/common/util/JexlTest.java
  manager/src/main/resources/define/app-ssl_cert.yml
Labels: bugfix, monitoring-template, collector, backend

#1937 [feature] add apache yarn monitor
  home/docs/help/yarn.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/yarn.md
  home/sidebars.json
  manager/src/main/resources/define/app-yarn.yml
Labels: doc, good first pull request, monitoring-template, backend

#1940 [test] Add test for NtpCollectImpl
  collector/src/main/java/org/apache/hertzbeat/collector/collect/ntp/NtpCollectImpl.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/ntp/NtpCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/telnet/TelnetCollectImplTest.java
Labels: good first pull request, collector, backend

#1938 [bugfix] fix alarm center tags display error
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-center/alert-center.component.ts
  web-app/src/app/routes/setting/tags/tags.component.html
Labels: bugfix, webapp

#1943 add:Updated the Open Source Summer Project blog.
  home/blog/2024-05-09-hertzbeat-ospp-subject-introduction.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-05-09-hertzbeat-ospp-subject-introduction.md
Labels: doc, good first pull request

#1947 [feature] Support monitoring of OpenAI accounts
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  home/docs/help/openai.md
  home/docs/help/udp_port.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/openai.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/udp_port.md
  home/sidebars.json
  manager/src/main/resources/define/app-openai.yml
Labels: doc, good first pull request, monitoring-template, collector, backend

#1946 [refactoring] AbstractHistoryDataStorage implement the DisposableBean
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/AbstractHistoryDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/HistoryDataReader.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/HistoryDataWriter.java
Labels: backend

#1948 [doc] update iotdb init document
  home/docs/start/iotdb-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/iotdb-init.md
Labels: doc, good first pull request

#1949 [improve] update build script
  .github/workflows/backend-build-test.yml
  collector/pom.xml
  home/docs/community/development.md
  home/docs/community/how-to-release.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/development.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/how-to-release.md
  manager/pom.xml
  pom.xml
  script/assembly/collector/assembly-linux-amd64.xml
  script/assembly/collector/assembly-linux-arm64.xml
  script/assembly/collector/assembly-macos-amd64.xml
  script/assembly/collector/assembly-macos-arm64.xml
  script/assembly/collector/assembly-windows-64.xml
  script/assembly/collector/assembly.xml
  script/assembly/server/assembly-docker-compose.xml
  script/assembly/server/assembly-linux-amd64.xml
  script/assembly/server/assembly-linux-arm64.xml
  script/assembly/server/assembly-macos-amd64.xml
  script/assembly/server/assembly-macos-arm64.xml
  script/assembly/server/assembly-windows-64.xml
  script/assembly/server/assembly.xml
  script/docker/collector/Dockerfile
  script/docker/server/Dockerfile
  script/docker/server/build.sh
Labels: doc, collector, backend, docker, build, script, infra

#1953 [test] add test for NgqlCollectImpl
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NebulaTemplate.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NgqlCollectImpl.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/nebulagraph/NgqlCollectImplTest.java
Labels: good first pull request, collector, backend

#1954 [bugfix]Replace monitors to alert.
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, webapp

#1955 [improve] add llm, server menu and update doc
  home/docs/help/guide.md
  home/docs/help/redis.md
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/sidebars.json
  manager/src/main/resources/define/app-openai.yml
  manager/src/main/resources/define/app-redfish.yml
  web-app/src/assets/app-data.json
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: doc, monitoring-template, backend, webapp

#1930 [improve][HIP] HIP-01: Refactoring AbstractCollect
  hip/hip-01.md
Labels: good first pull request, HIP

#1959 [bugfix] fix ConnectionCommonCache possible npe
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/ConnectionCommonCache.java
Labels: collector, backend

#1960 [doc] add help document for eulerOS monitoring
  home/docs/help/euleros.md
  home/docs/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/euleros.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/sidebars.json
Labels: doc, good first pull request

#1961 [fixbug] Fix the problem of no data for springboot3 monitoring
  manager/src/main/resources/define/app-springboot2.yml
  manager/src/main/resources/define/app-springboot3.yml
Labels: monitoring-template, backend

#1957 commit：fix the front-end popup cannot exit
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
Labels: good first pull request, bugfix, webapp

#1963 [fixbug] expression rule adaptation
  manager/src/main/resources/define/app-docker.yml
  manager/src/main/resources/define/app-flink.yml
  manager/src/main/resources/define/app-hbase_regionserver.yml
  manager/src/main/resources/define/app-hertzbeat.yml
  manager/src/main/resources/define/app-hertzbeat_token.yml
  manager/src/main/resources/define/app-hive.yml
  manager/src/main/resources/define/app-spring_gateway.yml
Labels: good first pull request, bugfix, monitoring-template, backend

#1965 [doc] add help doc for influxdb-promql and kafka-promql monitoring
  home/docs/help/influxdb_promql.md
  home/docs/help/kafka_promql.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/influxdb_promql.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/kafka_promql.md
  home/sidebars.json
  manager/src/main/resources/define/app-influxdb_promql.yml
  manager/src/main/resources/define/app-kafka_promql.yml
Labels: doc, monitoring-template, backend

#1964 [doc]: update readme-cn docs
  README_CN.md
Labels: doc

#1966 [improve][HIP] HIP-01: Implement refactoring AbstractCollect
  collector/src/main/java/org/apache/hertzbeat/collector/collect/AbstractCollect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/database/JdbcCommonCollect.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/dns/DnsCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/ftp/FtpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/SslCertificateCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/httpsd/HttpsdImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/icmp/IcmpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/jmx/JmxCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/memcached/MemcachedCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/mongodb/MongodbSingleCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/mq/RocketmqSingleCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NebulaGraphCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NgqlCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nginx/NginxCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/ntp/NtpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/pop3/Pop3CollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/push/PushCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redis/RedisCommonCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/smtp/SmtpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/snmp/SnmpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/ssh/SshCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/telnet/TelnetCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/udp/UdpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/websocket/WebsocketCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/ftp/FtpCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/httpsd/HttpsdImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/nebulagraph/NgqlCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/nginx/NginxCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/ntp/NtpCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/redfish/RedfishCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/redis/RedisClusterCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/redis/RedisSingleCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/telnet/TelnetCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/udp/UdpCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/websocket/WebsocketCollectImplTest.java
Labels: good first pull request, collector, backend

#1971 [chore] update .gitignore to save .idea/icon.png
  .gitignore
Labels: infra

#1969 [improve][bugfix]: fix AlertTemplateUtilTest test exception and update code style
  alerter/src/main/java/org/apache/hertzbeat/alert/AlerterProperties.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/AlertDefineImExportService.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineAbstractImExportServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineExcelImExportServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineJsonImExportServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineYamlImExportServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/util/AlertTemplateUtil.java
  alerter/src/main/java/org/apache/hertzbeat/alert/util/DateUtil.java
  alerter/src/main/resources/META-INF/spring.factories
  alerter/src/test/java/org/apache/hertzbeat/alert/AlerterWorkerPoolTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineServiceTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertServiceTest.java
Labels: good first pull request, backend

#1972 [feature] add apache hugegraph monitor
  home/docs/help/hugegraph.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/hugegraph.md
  home/sidebars.json
  manager/src/main/resources/define/hugegraph.yml
Labels: doc, good first pull request, monitoring-template, backend

#1976 [improve] Implement cascading parameter list for SNMP protocol
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/ParamDefine.java
  manager/src/main/resources/define/app-cisco_switch.yml
  manager/src/main/resources/define/app-h3c_switch.yml
  manager/src/main/resources/define/app-hpe_switch.yml
  manager/src/main/resources/define/app-huawei_switch.yml
  manager/src/main/resources/define/app-tplink_switch.yml
  manager/src/main/resources/define/app-windows.yml
  web-app/src/app/pojo/Param.ts
  web-app/src/app/pojo/ParamDefine.ts
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
Labels: monitoring-template, backend, webapp

#1974 [improve] optimize DateUtil and add test case
  alerter/src/main/java/org/apache/hertzbeat/alert/dto/GeneralCloudAlertReport.java
  alerter/src/main/java/org/apache/hertzbeat/alert/dto/TenCloudAlertReport.java
  alerter/src/main/java/org/apache/hertzbeat/alert/util/AlertTemplateUtil.java
  alerter/src/main/java/org/apache/hertzbeat/alert/util/DateUtil.java
  alerter/src/test/java/org/apache/hertzbeat/alert/util/DateUtilTest.java
Labels: backend

#1973 [feature]Hertzbeat custom plugin.
  .licenserc.yaml
  manager/pom.xml
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/DispatcherAlarm.java
  plugin/pom.xml
  plugin/src/main/java/org/apache/hertzbeat/plugin/Plugin.java
  plugin/src/main/java/org/apache/hertzbeat/plugin/impl/DemoPluginImpl.java
  plugin/src/main/resources/META-INF/services/org.apache.hertzbeat.plugin.Plugin
  pom.xml
Labels: good first pull request, backend, infra

#1977 update login page and status page color
  web-app/src/app/routes/status-public/status-public.component.html
  web-app/src/app/routes/status-public/status-public.component.ts
  web-app/src/index.html
Labels: webapp

#1975 [chore] update code style and add some comment
  common/src/main/java/org/apache/hertzbeat/common/cache/CacheFactory.java
  common/src/main/java/org/apache/hertzbeat/common/cache/CaffeineCacheServiceImpl.java
  common/src/main/java/org/apache/hertzbeat/common/constants/CommonConstants.java
  common/src/main/java/org/apache/hertzbeat/common/constants/SignConstants.java
  common/src/main/java/org/apache/hertzbeat/common/entity/alerter/Alert.java
  common/src/main/java/org/apache/hertzbeat/common/entity/alerter/AlertConverge.java
  common/src/main/java/org/apache/hertzbeat/common/entity/alerter/AlertDefine.java
  common/src/main/java/org/apache/hertzbeat/common/entity/alerter/AlertDefineMonitorBind.java
  common/src/main/java/org/apache/hertzbeat/common/entity/alerter/AlertSilence.java
  common/src/main/java/org/apache/hertzbeat/common/entity/alerter/JsonMapAttributeConverter.java
  common/src/main/java/org/apache/hertzbeat/common/entity/dto/AlertReport.java
  common/src/main/java/org/apache/hertzbeat/common/entity/dto/CollectorInfo.java
  common/src/main/java/org/apache/hertzbeat/common/entity/dto/MetricsData.java
  common/src/main/java/org/apache/hertzbeat/common/entity/dto/MetricsHistoryData.java
  common/src/main/java/org/apache/hertzbeat/common/entity/dto/PromVectorOrMatrix.java
  common/src/main/java/org/apache/hertzbeat/common/entity/dto/ValueRow.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/JsonLongListAttributeConverter.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeReceiver.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeRule.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeTemplate.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/Param.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/TagMonitorBind.java
  common/src/main/java/org/apache/hertzbeat/common/queue/impl/KafkaCommonDataQueue.java
  common/src/main/java/org/apache/hertzbeat/common/serialize/AlertSerializer.java
  common/src/main/java/org/apache/hertzbeat/common/serialize/KafkaMetricsDataSerializer.java
  common/src/main/java/org/apache/hertzbeat/common/util/AesUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/AliYunSendSmsUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/Base64Util.java
  common/src/main/java/org/apache/hertzbeat/common/util/CommonUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/IntervalExpressionUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/IpDomainUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/JsonUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/LruHashMap.java
  common/src/main/java/org/apache/hertzbeat/common/util/MapCapUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/NetworkUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/Pair.java
  common/src/main/java/org/apache/hertzbeat/common/util/ProtoJsonUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/ResourceBundleUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/SnowFlakeIdGenerator.java
  common/src/main/java/org/apache/hertzbeat/common/util/SnowFlakeIdWorker.java
  common/src/main/java/org/apache/hertzbeat/common/util/TimePeriodUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/prometheus/Metric.java
  common/src/main/java/org/apache/hertzbeat/common/util/prometheus/PrometheusUtil.java
  common/src/test/java/org/apache/hertzbeat/common/cache/CaffeineCacheTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/AesUtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/Base64UtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/CommonUtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/IntervalExpressionUtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/LruHashMapTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/ProtoJsonUtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/ResourceBundleUtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/SnowFlakeIdGeneratorTest.java
Labels: good first pull request, backend

#1980 [doc]Hertzbeat plugin doc.
  home/docs/help/guide.md
  home/docs/help/issue.md
  home/docs/help/plugin.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/plugin.md
  home/sidebars.json
  home/static/img/docs/help/plugin-1.png
  home/static/img/docs/help/plugin-2.png
  home/static/img/docs/help/plugin-3.png
  home/static/img/docs/help/plugin-4.png
Labels: doc

#1981 [doc] update contributors and update status page style
  .all-contributorsrc
  README.md
  README_CN.md
  home/src/pages/team/index.jsx
  web-app/src/app/routes/status-public/status-public.component.html
Labels: doc, webapp, home

#1983 [doc]update threshold alarm doc
  home/docs/help/alert_threshold.md
  home/docs/help/alert_threshold_expr.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_threshold.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_threshold_expr.md
  home/static/img/docs/help/alert-threshold-1-en.png
  home/static/img/docs/help/alert-threshold-1.png
  home/static/img/docs/help/alert-threshold-2-en.png
  home/static/img/docs/help/alert-threshold-2.png
  home/static/img/docs/help/alert-threshold-3-en.png
  home/static/img/docs/help/alert-threshold-3.png
  home/static/img/docs/help/alert-threshold-4-en.png
  home/static/img/docs/help/alert-threshold-4.png
Labels: doc, good first pull request

#1988 [fix] Compatible with MongoDB versions earlier than 3.6
  collector/src/main/java/org/apache/hertzbeat/collector/collect/mongodb/MongodbSingleCollectImpl.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/mongodb/MongoCollectImplTest.java
Labels: good first pull request, collector, backend

#1993 [chore] optimize manager code style
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/GotifyAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/ServerChanAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/I18nController.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/MonitorsController.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/NoticeConfigController.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/StatusPageController.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/StatusPagePublicController.java
  manager/src/main/java/org/apache/hertzbeat/manager/dao/CollectorDao.java
  manager/src/main/java/org/apache/hertzbeat/manager/dao/CollectorMonitorBindDao.java
  manager/src/main/java/org/apache/hertzbeat/manager/dao/MonitorDao.java
  manager/src/main/java/org/apache/hertzbeat/manager/dao/NoticeTemplateDao.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/EmailNoticeSender.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/ObjectStoreConfigChangeEvent.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/RefreshTokenResponse.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/TemplateConfig.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/GeneralConfigService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/MonitorService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/NoticeConfigService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MailGeneralConfigServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SystemSecretServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/TagServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/TemplateConfigServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/YamlImExportServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/support/GlobalExceptionHandler.java
  manager/src/test/java/org/apache/hertzbeat/manager/ManagerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/AlertNotifyHandlerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/DispatcherAlarmTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/DbAlertStoreHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/EmailAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/HuaweiCloudSmnAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/SlackAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/TelegramBotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/WebHookAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/AppControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/I18nControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/MonitorControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/TagControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/dao/MonitorDaoTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/dao/NoticeRuleDaoTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/MonitorServiceTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/TagServiceTest.java
  manager/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: backend

#1995 [doc] Translate part of documentation development.md under `zh-cn` directory from `en` to `zh-cn`
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/development.md
Labels: doc, good first pull request

#1994 [feature] add at function for wechat
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/WeWorkRobotAlertNotifyHandlerImpl.java
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, backend, webapp

#2001 [improve] add common util test
  common/src/main/java/org/apache/hertzbeat/common/util/AesUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/Base64Util.java
  common/src/test/java/org/apache/hertzbeat/common/util/AesUtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/Base64UtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/JsonUtilTest.java
Labels: good first pull request, backend

#2004 [bugfix] fix collector startup error classpath
  script/assembly/collector/bin/startup.sh
Labels: bugfix, build, script

#2000 [chore] optimize code style
  hip/README.md
  hip/TEMPLATE.md
  hip/hip-01.md
  plugin/src/main/java/org/apache/hertzbeat/plugin/Plugin.java
  plugin/src/main/java/org/apache/hertzbeat/plugin/impl/DemoPluginImpl.java
  plugin/src/main/resources/META-INF/services/org.apache.hertzbeat.plugin.Plugin
  push/src/main/resources/META-INF/spring.factories
  remoting/src/main/java/org/apache/hertzbeat/remoting/RemotingServer.java
  script/docker/server/README.md
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/dao/HistoryDao.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/listener/WareHouseApplicationReadyListener.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/HistoryDataReader.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/HistoryDataWriter.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsClusterDataStorage.java
  warehouse/src/main/resources/META-INF/spring.factories
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/store/MemoryDataStorageTest.java
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/store/MetricsDataRedisCodecTest.java
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/store/RedisDataStorageTest.java
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/store/TdEngineDataStorageTest.java
Labels: doc, backend, docker, script, HIP

#2005 [improve] Bump up `eslint-plugin-jsdoc` to 48.2.5 to support node 20+
  web-app/.eslintrc.js
  web-app/package.json
  web-app/yarn.lock
Labels: good first pull request, webapp

#2006 [doc] fix doc highlighting
  CONTRIBUTING.md
Labels: doc, good first pull request, infra

#2007 [web-app]feature: case insensitive search
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
Labels: good first pull request, webapp

#2009 [feature] Support time calculation expressions.
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/util/TimeExpressionUtil.java
  collector/src/test/java/org/apache/hertzbeat/collector/util/TimeExpressionUtilTest.java
  manager/src/main/resources/define/app-openai.yml
Labels: good first pull request, monitoring-template, collector, backend

#2012 [doc] add document for time expression
  home/docs/advanced/extend-http.md
  home/docs/help/api.md
  home/docs/help/time_expression.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/api.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/time_expression.md
  home/sidebars.json
Labels: doc, good first pull request

#2013 [feature] Add Apache Pulsar monitor
  home/docs/help/pulsar.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/pulsar.md
  home/sidebars.json
  manager/src/main/resources/define/app-pulsar.yml
Labels: doc, good first pull request, monitoring-template, backend

#2014 [doc] home verify release doc update
  home/docs/community/how-to-verify.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/how-to-verify.md
  plugin/src/main/java/org/apache/hertzbeat/plugin/impl/DemoPluginImpl.java
Labels: doc

#2015 [Improve] Improve clickhouse monitor And Improve Pulsar monitor
  home/docs/help/clickhouse.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/clickhouse.md
  manager/src/main/resources/define/app-clickhouse.yml
  manager/src/main/resources/define/app-pulsar.yml
Labels: doc, enhancement, good first pull request, monitoring-template, backend

#2010 [optimize] optimize code style and logic, add unit test
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/SslCertificateCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/icmp/IcmpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/memcached/MemcachedCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NebulaGraphCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nginx/NginxCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/ntp/NtpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/pop3/Pop3CollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/prometheus/PrometheusAutoCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/push/PushCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/smtp/SmtpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/telnet/TelnetCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/udp/UdpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/websocket/WebsocketCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchProperties.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/entrance/CollectServer.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/entrance/internal/CollectJobService.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/export/NettyDataQueue.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/unit/impl/DataSizeConvert.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/unit/impl/TimeLengthConvert.java
  collector/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
  collector/src/main/java/org/apache/hertzbeat/collector/util/JsonPathParser.java
  collector/src/test/java/org/apache/hertzbeat/collector/dispatch/unit/DataSizeConvertTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/dispatch/unit/TimeLengthConvertTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/util/CollectUtilTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/util/JsonPathParserTest.java
Labels: good first pull request, collector, backend

#2021 [fix] Fix possible potential thread safe bugs
  collector/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/ConnectionCommonCache.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/common/cache/CommonCacheTest.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/ConcurrentTreeMap.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/ConsistentHash.java
Labels: collector, backend

#2024 [improve] add ci for home
  .github/workflows/doc-build-test.yml
Labels: good first pull request, infra

#2025 [bugfix]Tag with empty value Shouldn't transform to Tag:
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/TagServiceImpl.java
Labels: good first pull request, bugfix, backend

#2026 [bugfix] modify popup confirm to clear cache and cancel popup save
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
Labels: good first pull request, bugfix, webapp

#2028 [improve] update monitor state desc
  alerter/src/main/java/org/apache/hertzbeat/alert/calculate/CalculateAlarm.java
  common/src/main/java/org/apache/hertzbeat/common/constants/CommonConstants.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/Monitor.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/DbAlertStoreHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/status/CalculateStatus.java
  manager/src/main/java/org/apache/hertzbeat/manager/scheduler/CollectorJobScheduler.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/MonitorServiceTest.java
  web-app/src/app/pojo/Monitor.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: backend, webapp

#2029 bugfix: fix overflow of integers
  alerter/src/main/java/org/apache/hertzbeat/alert/reduce/AlarmConvergeReduce.java
  push/src/main/java/org/apache/hertzbeat/push/service/impl/PushServiceImpl.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/greptime/GrepTimeDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/jpa/JpaDatabaseDataStorage.java
Labels: good first pull request, bugfix, backend

#2030 [improve] tips need update initial default password
  manager/src/main/resources/sureness.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/sureness.yml
  script/docker-compose/hertzbeat-postgresql-iotdb/conf/sureness.yml
  script/helm/hertzbeat/templates/manager/configmap.yaml
  script/sureness.yml
  web-app/src/app/core/startup/startup.service.ts
  web-app/src/app/routes/passport/login/login.component.html
  web-app/src/app/routes/passport/login/login.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: backend, webapp, docker-compose, docker, kubernetes, helm, script

#2032 [improve] deprecate support iotdb 0.* version
  home/docs/start/iotdb-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/iotdb-init.md
  manager/src/main/resources/application.yml
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/iotdb/IotDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/iotdb/IotDbProperties.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/iotdb/IotDbVersion.java
Labels: doc, good first pull request, backend

#2022 [fixbug] required field check
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
Labels: good first pull request, webapp

#2033 [improve] add IcmpCollectImplTest
  collector/src/test/java/org/apache/hertzbeat/collector/collect/icmp/IcmpCollectImplTest.java
Labels: good first pull request, collector, backend

#2034 [improve] fix code style
  collector/src/test/java/org/apache/hertzbeat/collector/collect/common/cache/CommonCacheTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/http/promethus/exporter/ExporterParserTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/mongodb/MongoCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/udp/UdpCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/util/CollectUtilTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/util/JsonPathParserTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/util/TimeExpressionUtilTest.java
Labels: collector, backend

#2036 [improve] Checkstyle include testSource
  alerter/src/test/java/org/apache/hertzbeat/alert/util/DateUtilTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/icmp/IcmpCollectImplTest.java
  common/src/test/java/org/apache/hertzbeat/common/cache/CaffeineCacheTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/AesUtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/Base64UtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/JsonUtilTest.java
  pom.xml
  script/checkstyle/suppressions.xml
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/controller/MetricsDataControllerTest.java
Labels: good first pull request, collector, backend, script

#2044 [improve] Add test for MemcachedCollectImpl
  collector/src/test/java/org/apache/hertzbeat/collector/collect/memcached/MemcachedCollectImplTest.java
Labels: good first pull request, collector, backend

#2045 [imprve] Remove duplicate indices
  home/sidebars.json
Labels: doc, bugfix

#2047 [docs]: fix several typos in docs
  home/docs/introduce.md
  home/docs/start/upgrade.md
  home/versioned_docs/version-v1.4.x/introduce.md
  home/versioned_docs/version-v1.4.x/start/upgrade.md
Labels: doc, good first pull request, bugfix

#2048 Add the missing parts of docs, fix layout, sync the English version with the Chinese version
  home/docs/start/mysql-change.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/mysql-change.md
Labels: doc, good first pull request

#2049 [improve] add filename check in home ci
  .github/workflows/doc-build-test.yml
  home/docs/community/document.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/document.md
Labels: doc, infra
