Repository apache/hertzbeat, pull requests merged in 2024-07, with the labels that each got.

#2161 [fix] remove i18 message in restful api
  manager/src/main/java/org/apache/hertzbeat/manager/config/InternationalizationConfig.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/StatusPageServiceImpl.java
  manager/src/main/resources/messages.properties
  manager/src/main/resources/messages_en.properties
  manager/src/main/resources/messages_zh.properties
  manager/src/main/resources/messages_zh_TW.properties
Labels: backend

#2163 Add missing multi-language translations.
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, webapp

#2162 [docs] : Alibaba Ai config doc
  home/docs/help/ai_config.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/ai_config.md
Labels: doc

#2164 Update contribution.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/contribution.md
Labels: doc, good first pull request

#2165 [bugfix] modify the prompt information for deleting used tags
  manager/src/main/java/org/apache/hertzbeat/manager/dao/TagMonitorBindDao.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/TagServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/TagServiceTest.java
Labels: good first pull request, bugfix, backend

#2169 Optimize the help-message-show component
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/setting/collector/collector.component.html
  web-app/src/app/routes/setting/define/define.component.html
  web-app/src/app/routes/setting/status/status.component.html
  web-app/src/app/routes/setting/tags/tags.component.html
  web-app/src/app/shared/components/help-message-show/help-message-show.component.html
  web-app/src/app/shared/components/help-message-show/help-message-show.component.less
  web-app/src/app/shared/components/help-message-show/help-message-show.component.spec.ts
  web-app/src/app/shared/components/help-message-show/help-message-show.component.ts
  web-app/src/app/shared/shared.module.ts
  web-app/src/assets/i18n/en-US.json
Labels: webapp

#2168 Optimize the content styling of the monitoring details page.
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.html
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.less
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.ts
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.less
Labels: webapp

#2167 Optimize the style of the header on the monitoring details page.
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
Labels: webapp

#2170 [doc]Add new committer crossoverJie.
  home/src/pages/team/member.json
Labels: doc, home

#2172 Optimize the monitoring editing form.
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.spec.ts
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/app/routes/monitor/monitor.module.ts
  web-app/src/app/shared/components/form-item/form-item.component.html
  web-app/src/app/shared/components/form-item/form-item.component.less
  web-app/src/app/shared/components/form-item/form-item.component.spec.ts
  web-app/src/app/shared/components/form-item/form-item.component.ts
  web-app/src/app/shared/shared.module.ts
Labels: good first pull request, webapp

#2177 Fixed issue of monitor-select-menu-modal
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.less
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
Labels: good first pull request, webapp

#2171 [feature] : support Kimi Ai
  common/src/main/java/org/apache/hertzbeat/common/constants/AiConstants.java
  common/src/main/java/org/apache/hertzbeat/common/constants/AiTypeEnum.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/MonitorsController.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/KimiAiRequestParamDTO.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/KimiAiResponse.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/KimiAiServiceImpl.java
  manager/src/main/resources/application.yml
Labels: good first pull request, backend

#2181 Fixed issue of acions in list-page.
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.less
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.ts
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/setting/collector/collector.component.html
  web-app/src/app/routes/setting/status/status.component.html
  web-app/src/app/routes/setting/tags/tags.component.html
  web-app/src/styles/theme.less
Labels: webapp

#2186 [doc]add status page doc
  home/docs/help/status.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/status.md
  home/static/img/docs/help/status-1.png
  home/static/img/docs/help/status-2.png
  home/static/img/docs/help/status-3.png
  home/static/img/docs/help/status-4.png
Labels: doc, good first pull request

#2184 [doc] : add kimiAi doc
  home/docs/help/ai_config.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/ai_config.md
Labels: doc

#2180 [Improve] Refactor the notification sending logic.
  alerter/src/main/java/org/apache/hertzbeat/alert/AlerterWorkerPool.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/DispatcherAlarm.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MailServiceImpl.java
Labels: good first pull request, backend

#2189 Optimize the visual experience of the monitoring details page.
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.html
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.less
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.ts
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
Labels: good first pull request, webapp

#2193 Optimize the dashboard.
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/dashboard/dashboard.component.less
  web-app/src/app/routes/dashboard/dashboard.component.ts
Labels: good first pull request, webapp

#2190 Optimize the [Threshold Rule] Form.
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
Labels: good first pull request, webapp

#2191 [bugfix] fixed "Alert Threshold Association with Monitors" is invalid bug #2105
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineServiceImpl.java
Labels: good first pull request, backend

#2194 Add a missing multi-language translation.
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, webapp

#2196 Optimize the detail-page of monitor.
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.ts
Labels: good first pull request, webapp

#2198 Optimize the tags-selection.
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/shared/components/form-item/form-item.component.html
  web-app/src/app/shared/components/toolbar/toolbar.component.less
Labels: webapp

#2202 [improve]add zookeeper envi monitor
  collector/src/main/java/org/apache/hertzbeat/collector/collect/telnet/TelnetCollectImpl.java
  common/src/main/java/org/apache/hertzbeat/common/constants/CollectorConstants.java
  manager/src/main/resources/define/app-zookeeper.yml
Labels: monitoring-template, collector, backend

#2199 [chore] update community contribution.md files
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/contribution.md
Labels: doc

#2204 [Improve] add IpDomainUtil & IntervaiExpressionUtil unit test
  common/src/main/java/org/apache/hertzbeat/common/util/IntervalExpressionUtil.java
  common/src/main/java/org/apache/hertzbeat/common/util/IpDomainUtil.java
  common/src/test/java/org/apache/hertzbeat/common/util/IntervalExpressionUtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/IpDomainUtilTest.java
Labels: backend

#2207 Unified the search interaction of the list page.
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/setting/collector/collector.component.html
  web-app/src/app/routes/setting/tags/tags.component.html
Labels: webapp

#2209 Optimize the user experience of monitoring list pages.
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.html
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.ts
Labels: webapp

#2211 Optimize the user experience of monitoring list pages.
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.html
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.ts
  web-app/src/app/shared/utils/common-util.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#2210 [doc] add redis-cluster help document[New]
  home/docs/help/redis_cluster.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/redis_cluster.md
  home/static/img/docs/help/redis-cluster-add.png
  home/static/img/docs/help/redis-cluster-view.png
Labels: doc

#2185 [feature] : add SparkDesk Ai
  common/src/main/java/org/apache/hertzbeat/common/constants/AiConstants.java
  common/src/main/java/org/apache/hertzbeat/common/constants/AiTypeEnum.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SparkDeskRequestParamDTO.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SparkDeskResponse.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SparkDeskAiServiceImpl.java
  manager/src/main/resources/application-test.yml
  manager/src/main/resources/application.yml
Labels: good first pull request, backend

#2213 [Chore] translate zh -> en in pom.xml
  alerter/src/main/java/org/apache/hertzbeat/alert/calculate/CalculateAlarm.java
  pom.xml
Labels: backend

#2214 Two new functions are added to the notification center
  web-app/src/app/layout/basic/widgets/notify.component.ts
  web-app/src/app/layout/layout.module.ts
Labels: good first pull request, webapp

#2215 Hide the area when there are no advanced settings
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
Labels: good first pull request, webapp

#2219 Fixed style issue of chart in detail-page
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.less
Labels: webapp

#2224 [Improve] add @Override
  collector/src/main/java/org/apache/hertzbeat/collector/collect/ftp/FtpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/mongodb/MongodbSingleCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/mq/RocketmqSingleCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redis/RedisCommonCollectImpl.java
Labels: collector, backend

#2220 [improve]WeCom app supports sending to specific users, departments, tags
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/NoticeReceiver.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/WeComAppAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/WeComRobotAlertNotifyHandlerImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/WeComRobotAlertNotifyHandlerImplTest.java
  web-app/src/app/pojo/NoticeReceiver.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, backend, webapp

#2222 [improve]optimize code structure and doc modify
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/KimiAiRequestParamDTO.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/KimiAiResponse.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/ZhiPuRequestParamDTO.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/KimiAiServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ZhiPuServiceImpl.java
Labels: good first pull request, backend

#2225 [doc] update new contributors wall
  .all-contributorsrc
  README.md
  README_CN.md
  home/src/pages/team/index.jsx
Labels: doc, home

#2226 [refactor] remove chinese in application.yml
  manager/src/main/resources/application-test.yml
  manager/src/main/resources/application.yml
Labels: backend

#2227 [Improve] add MapCap & LruMap unit test
  common/src/test/java/org/apache/hertzbeat/common/util/LruHashMapTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/MapCapUtilTest.java
Labels: backend

#2228 [Improve] add ProtoJsonUtil unit test
  common/src/main/java/org/apache/hertzbeat/common/util/ProtoJsonUtil.java
  common/src/test/java/org/apache/hertzbeat/common/util/ProtoJsonUtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/entity/PersonTest.java
  common/src/test/proto/person.proto
Labels: backend

#2230 [fix] add sb3.0 autoconfig
  alerter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  collector/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  common/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  push/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  warehouse/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: good first pull request, collector, backend

#2122 bugfix: auto config timezone for Jackson
  common/src/main/java/org/apache/hertzbeat/common/util/TimeZoneUtil.java
  e2e/data/monitor-ftp.json
  e2e/data/monitor-http.json
  e2e/data/monitor-ping.json
  e2e/data/monitor-port.json
  e2e/data/monitor-sitemap.json
  e2e/data/monitor-ssl.json
  e2e/data/monitor-udp.json
  e2e/data/monitor-website.json
  e2e/testsuite.yaml
  manager/src/main/java/org/apache/hertzbeat/manager/component/listener/TimeZoneListener.java
  manager/src/main/java/org/apache/hertzbeat/manager/config/CommonCommandLineRunner.java
  manager/src/main/java/org/apache/hertzbeat/manager/config/JacksonConfig.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SystemGeneralConfigServiceImpl.java
Labels: good first pull request, bugfix, backend, e2e

#2231 [e2e] complete e2e test case
  e2e/testsuite.yaml
Labels: e2e

#2232 [doc] Introduce Committer
  home/blog/2024-07-07-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-06-07-new-committer.md
Labels: doc

#2233 [Improve] add TimePeriodUtil & ResourceBundleUtil unit test
  common/src/main/java/org/apache/hertzbeat/common/util/TimePeriodUtil.java
  common/src/test/java/org/apache/hertzbeat/common/util/ResourceBundleUtilTest.java
  common/src/test/java/org/apache/hertzbeat/common/util/TimePeriodUtilTest.java
Labels: backend

#2234 [feature] Add presto db monitor
  home/docs/help/prestodb.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/prestodb.md
  home/sidebars.json
  manager/src/main/resources/define/app-prestodb.yml
Labels: doc, good first pull request, monitoring-template, backend

#2236 [improve] : Delete Chinese comments, modify word errors, add Operatio…
  manager/src/main/java/org/apache/hertzbeat/manager/controller/AiController.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AlibabaAiServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/KimiAiServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SparkDeskAiServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ZhiPuServiceImpl.java
  manager/src/main/resources/application-test.yml
  manager/src/main/resources/application.yml
Labels: backend

#2241 For Spring applications, newly added support basic-auth.
  manager/src/main/resources/define/app-spring_gateway.yml
  manager/src/main/resources/define/app-springboot2.yml
  manager/src/main/resources/define/app-springboot3.yml
Labels: monitoring-template, backend

#2242 Optimize the monitor-edit page
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/shared/components/help-message-show/help-message-show.component.html
  web-app/src/app/shared/components/help-message-show/help-message-show.component.ts
Labels: webapp

#2238 [feature] add plugin management and support plugin hot reloading
  common/src/main/java/org/apache/hertzbeat/common/constants/PluginType.java
  common/src/main/java/org/apache/hertzbeat/common/entity/dto/PluginUpload.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/PluginItem.java
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/PluginMetadata.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/DispatcherAlarm.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/PluginController.java
  manager/src/main/java/org/apache/hertzbeat/manager/dao/PluginItemDao.java
  manager/src/main/java/org/apache/hertzbeat/manager/dao/PluginMetadataDao.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/PluginService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/PluginServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/PluginControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/PluginServiceTest.java
  web-app/src/app/pojo/Plugin.ts
  web-app/src/app/pojo/PluginItem.ts
  web-app/src/app/routes/setting/plugins/plugin.component.html
  web-app/src/app/routes/setting/plugins/plugin.component.spec.ts
  web-app/src/app/routes/setting/plugins/plugin.component.ts
  web-app/src/app/routes/setting/setting-routing.module.ts
  web-app/src/app/routes/setting/setting.module.ts
  web-app/src/app/service/plugin.service.spec.ts
  web-app/src/app/service/plugin.service.ts
  web-app/src/assets/app-data.json
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: backend, webapp

#2237 [test] : Added the AppControllerTest test case
  manager/src/test/java/org/apache/hertzbeat/manager/controller/AppControllerTest.java
Labels: backend

#2239 [improve] : Optimize refactoring code, and supplement documentation
  common/src/main/java/org/apache/hertzbeat/common/constants/AiConstants.java
  home/docs/help/ai_config.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/ai_config.md
  manager/src/main/java/org/apache/hertzbeat/manager/controller/AiController.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/KimiAiRequestParamDTO.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/KimiAiResponse.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/OpenAiRequestParamDTO.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/OpenAiResponse.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SparkDeskRequestParamDTO.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SparkDeskResponse.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/AiService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AlibabaAiServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/KimiAiServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SparkDeskAiServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ZhiPuServiceImpl.java
Labels: doc, backend

#2243 [improve]update doc and prestodb properties
  home/docs/help/prestodb.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/prestodb.md
  manager/src/main/resources/define/app-prestodb.yml
Labels: doc, monitoring-template, backend

#2246 [doc]add new committer blog
  home/blog/2024-07-08-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-07-08-new-committer.md
Labels: doc, good first pull request

#2247 [doc] Rename the blog file.
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-07-07-new-committer.md
Labels: doc

#2248 Optimize the processing logic for Depend-type fields
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
Labels: good first pull request, webapp

#2249 Further enhance and refine the optimizations implemented in #2215.
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.ts
Labels: webapp

#2258 Fixed failure of monitoring form validation
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.less
  web-app/src/app/shared/components/form-field/form-field.component.html
  web-app/src/app/shared/components/form-field/form-field.component.less
  web-app/src/app/shared/components/form-field/form-field.component.spec.ts
  web-app/src/app/shared/components/form-field/form-field.component.ts
  web-app/src/app/shared/components/form-item/form-item.component.html
  web-app/src/app/shared/components/form-item/form-item.component.spec.ts
  web-app/src/app/shared/shared.module.ts
Labels: good first pull request, webapp

#2259 Fixed failure of alert form validation
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
Labels: webapp

#2267 Fixed issue of plugin-upload form
  web-app/src/app/routes/setting/plugins/plugin.component.html
  web-app/src/app/routes/setting/plugins/plugin.component.ts
Labels: webapp

#2265 [bugfix] fix error when delete plugin
  manager/src/main/java/org/apache/hertzbeat/manager/controller/PluginController.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/PluginServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/PluginServiceTest.java
Labels: good first pull request, backend

#2264 [doc] update download link doc
  README.md
  README_CN.md
  home/i18n/en/code.json
  home/i18n/zh-cn/code.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/new_committer_process.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.3.x/start/package-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.3.x/start/quickstart.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.4.x/start/package-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.4.x/start/quickstart.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.4.x/start/upgrade.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/start/quickstart.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/start/upgrade.md
  home/src/constants.js
  home/static/img/blog/multi-protocol.png
  home/versioned_docs/version-v1.3.x/start/package-deploy.md
  home/versioned_docs/version-v1.3.x/start/quickstart.md
  home/versioned_docs/version-v1.4.x/start/package-deploy.md
  home/versioned_docs/version-v1.4.x/start/quickstart.md
  home/versioned_docs/version-v1.4.x/start/upgrade.md
  home/versioned_docs/version-v1.5.x/start/quickstart.md
  home/versioned_docs/version-v1.5.x/start/upgrade.md
Labels: doc, home

#2266 [feature] support collect data from header
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  manager/src/main/resources/define/app-api.yml
  manager/src/main/resources/define/app-website.yml
Labels: monitoring-template, collector, backend

#2251 [fixbug]fix parameter parsing problem
  manager/src/main/java/org/apache/hertzbeat/manager/config/JacksonConfig.java
Labels: good first pull request, backend

#2256 [improve] : Modified loading application.yml
  manager/src/main/java/org/apache/hertzbeat/manager/config/AiProperties.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/AiController.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AiServiceFactoryImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AlibabaAiServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/KimiAiServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SparkDeskAiServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ZhiPuServiceImpl.java
  manager/src/main/resources/application-test.yml
Labels: good first pull request, backend

#2218 [bugfix] fixed "Unable to establish a connection to nginx's https port" bug #1655
  collector/src/main/java/org/apache/hertzbeat/collector/collect/nginx/NginxCollectImpl.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/NginxProtocol.java
  manager/src/main/resources/define/app-nginx.yml
Labels: good first pull request, monitoring-template, collector, backend

#2221 [bugfix] fixed self signed certificate detected bug #1534
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/SslCertificateCollectImpl.java
  manager/src/main/resources/define/app-ssl_cert.yml
Labels: good first pull request, monitoring-template, collector, backend

#2282 [bugfix] added basic auth support for VictoriaMetrics status check
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsDataStorage.java
Labels: good first pull request, backend

#2287 [Improve] add springContextHolder unit test
  common/src/test/java/org/apache/hertzbeat/common/support/SpringContextHolderTest.java
Labels: unit test case, backend

#2290 [test] : add NoticeConfigControllerTest and MonitorsControllerTest test
  manager/src/test/java/org/apache/hertzbeat/manager/controller/MonitorsControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/NoticeConfigControllerTest.java
Labels: backend

#2280 [Improve] add common/memory unit test
  common/src/test/java/org/apache/hertzbeat/common/queue/impl/InMemoryCommonDataQueueTest.java
  common/src/test/java/org/apache/hertzbeat/common/queue/impl/KafkaCommonDataQueueTest.java
Labels: backend

#2294 [doc] fix mysql connections field explanation
  manager/src/main/resources/define/app-mysql.yml
Labels: good first pull request, monitoring-template, backend

#2295 [doc] update committer and contributor
  .all-contributorsrc
  README.md
  README_CN.md
  home/src/pages/team/index.jsx
  home/src/pages/team/member.json
Labels: doc, home

#2299 A small code specification change.
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MailServiceImpl.java
Labels: backend

#2312 [refactor] remove chinese and change code style in Warehouse
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/listener/WareHouseApplicationReadyListener.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/DataStorageDispatch.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/iotdb/IotDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/tdengine/TdEngineDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/realtime/redis/RedisDataStorage.java
Labels: backend

#2297 [Improve] Optimize ResourceBundle & add unit test.
  common/src/main/java/org/apache/hertzbeat/common/support/ResourceBundleUtf8Control.java
  common/src/test/java/org/apache/hertzbeat/common/support/ResourceBundleUtf8ControlTest.java
  common/src/test/resources/msg.properties
  common/src/test/resources/msg_en.properties
Labels: good first pull request, backend

#2302 [bugfix] Only POST and PUT methods carry payload
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
Labels: good first pull request, bugfix, collector, backend

#2304 [Improve] Optimize spring auto configuration registry
  alerter/src/main/java/org/apache/hertzbeat/alert/config/AlerterAutoConfiguration.java
  alerter/src/main/resources/META-INF/spring.factories
  alerter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  collector/src/main/java/org/apache/hertzbeat/collector/config/CollectorAutoConfiguration.java
  collector/src/main/resources/META-INF/spring.factories
  collector/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  common/src/main/java/org/apache/hertzbeat/common/config/CommonConfig.java
  common/src/main/resources/META-INF/spring.factories
  push/src/main/java/org/apache/hertzbeat/push/config/PushAutoConfiguration.java
  push/src/main/resources/META-INF/spring.factories
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/config/WarehouseAutoConfiguration.java
  warehouse/src/main/resources/META-INF/spring.factories
  warehouse/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: good first pull request, collector, backend

#2305 [chore] Update readme doc style
  README.md
  README_CN.md
Labels: doc

#2306 [manager]collectorApi unit test case and example
  manager/src/test/java/org/apache/hertzbeat/manager/controller/CollectorControllerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/dao/CollectorDaoTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/CollectorServiceTest.java
Labels: good first pull request, backend

#2315 Add the editing mode of "complex rule nesting" to support "threshold rules"
  web-app/package.json
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.less
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/routes/alert/alert.module.ts
  web-app/yarn.lock
Labels: good first pull request, webapp

#2320 Notice template fix
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
Labels: good first pull request, bugfix, backend

#2313 [feature] Support collector to run scripts directly as agents to collect metrics.
  collector/src/main/java/org/apache/hertzbeat/collector/collect/script/ScriptCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/ScriptProtocol.java
  manager/src/main/resources/define/app-linux_script.yml
Labels: good first pull request, new feature, monitoring-template, collector, backend

#2322 [doc] modify the document that uses PostgreSQL to store metadata
  home/docs/start/postgresql-change.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/postgresql-change.md
Labels: doc

#2321 [bugfix]: fix theme is invalidated after refresh
  web-app/src/app/app.component.ts
  web-app/src/app/routes/setting/settings/system-config/system-config.component.ts
  web-app/src/app/service/theme.service.ts
Labels: good first pull request, bugfix, webapp

#2319 [Improve] add redis data queue impl
  common/pom.xml
  common/src/main/java/org/apache/hertzbeat/common/config/CommonProperties.java
  common/src/main/java/org/apache/hertzbeat/common/queue/impl/RedisCommonDataQueue.java
Labels: good first pull request, backend

#2323 [type:fix] fix empty value not be handled by custom metrics
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/realtime/memory/MemoryDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/realtime/redis/RedisDataStorage.java
Labels: good first pull request, bugfix, backend

#2327 [Improve] add commonThreadPoll unit test
  common/src/test/java/org/apache/hertzbeat/common/support/CommonThreadPoolTest.java
Labels: backend

#2326 [Improve] add unit test & fix some bugs
  common/src/main/java/org/apache/hertzbeat/common/support/valid/HostParamValidator.java
  common/src/test/java/org/apache/hertzbeat/common/support/vaild/EmailParamValidatorTest.java
  common/src/test/java/org/apache/hertzbeat/common/support/vaild/HostParamValidatorTest.java
  common/src/test/java/org/apache/hertzbeat/common/support/vaild/PhoneNumParamValidatorTest.java
Labels: good first pull request, bugfix, backend

#2317 [Improve] add kafak queue unit test
  common/src/test/java/org/apache/hertzbeat/common/queue/impl/KafkaCommonDataQueueTest.java
Labels: unit test case, backend

#2316 [chore] optimize e2e folder struct
  .github/workflows/backend-build-test.yml
  e2e/Dockerfile
  e2e/Makefile
  e2e/README.md
  e2e/compose.yaml
  e2e/script/entrypoint.sh
  e2e/script/start.sh
  e2e/testsuite.yaml
Labels: doc, e2e, infra

#2332 Fixed an i18n issue
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AppServiceImpl.java
Labels: bugfix, backend

#2334 [Improve] add some unit test
  collector/src/test/java/org/apache/hertzbeat/collector/dispatch/MetricsCollectorQueueTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/dispatch/WorkerPoolTest.java
Labels: unit test case, collector, backend

#2338 [type:fix] fix i18n null
  common/src/main/java/org/apache/hertzbeat/common/util/CommonUtil.java
Labels: bugfix, backend

#2343 [refactor] translate chinese into english in web-app
  web-app/src/app/core/interceptor/default.interceptor.ts
  web-app/src/app/layout/basic/widgets/search.component.ts
  web-app/src/app/pojo/Alert.ts
  web-app/src/app/pojo/AlertDefine.ts
  web-app/src/app/pojo/NoticeReceiver.ts
  web-app/src/app/pojo/NoticeRule.ts
  web-app/src/app/pojo/NoticeTemplate.ts
  web-app/src/app/pojo/ObjectStore.ts
  web-app/src/app/pojo/Page.ts
  web-app/src/app/pojo/Param.ts
  web-app/src/app/pojo/ParamDefine.ts
  web-app/src/app/pojo/Tag.ts
  web-app/src/app/routes/alert/alert-center/alert-center.component.ts
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.html
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.ts
  web-app/src/app/routes/dashboard/dashboard.component.ts
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.less
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.ts
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.ts
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.ts
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/app/routes/passport/login/login.component.ts
  web-app/src/app/routes/setting/collector/collector.component.ts
  web-app/src/app/routes/setting/plugins/plugin.component.ts
  web-app/src/app/routes/setting/settings/system-config/system-config.component.ts
  web-app/src/app/routes/setting/status/status.component.html
  web-app/src/app/routes/setting/tags/tags.component.html
  web-app/src/app/routes/setting/tags/tags.component.ts
  web-app/src/app/service/alert-converge.service.ts
  web-app/src/app/service/alert-define.service.ts
  web-app/src/app/service/alert-silence.service.ts
  web-app/src/app/service/alert.service.ts
  web-app/src/app/service/collector.service.ts
  web-app/src/app/service/monitor.service.ts
  web-app/src/app/service/plugin.service.ts
  web-app/src/app/service/tag.service.ts
Labels: webapp

#2340 [type:fix] fix threshold rule modal not clear bug
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
Labels: webapp

#2341 [type:feat] support KingBase database monitor
  manager/src/main/resources/define/app-kingbase.yml
Labels: good first pull request, new feature, monitoring-template, backend

#2350 Fixed an issue of ssl linkage port on the monitoring editing page
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.ts
Labels: webapp

#2352 Remove the empty footer of "AppSwitchModal"
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
Labels: webapp

#2330 [Improve] add redis data queue unit test
  common/src/main/java/org/apache/hertzbeat/common/queue/impl/RedisCommonDataQueue.java
  common/src/test/java/org/apache/hertzbeat/common/queue/impl/RedisCommonDataQueueTest.java
Labels: good first pull request, unit test case, backend

#2351 [Improve] add collectJonService unit test
  collector/src/test/java/org/apache/hertzbeat/collector/dispatch/entrance/internal/CollectJobServiceTest.java
Labels: unit test case, collector, backend

#2336 [Improve] add CollectDispatcher & NettyDataQueue unit test
  collector/src/main/java/org/apache/hertzbeat/collector/dispatch/CommonDispatcher.java
  collector/src/test/java/org/apache/hertzbeat/collector/dispatch/CommonDispatcherTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/dispatch/export/NettyDataQueueTest.java
Labels: unit test case, collector, backend

#2354 Optimize the layout of the "Deploy Collector" modal
  web-app/src/app/routes/setting/collector/collector.component.html
Labels: webapp

#2355 [bugfix]: correct setInterval time interval to 2 minutes
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
Labels: bugfix, webapp

#2353 [Improve] add DbAlertStoreHandlerImpl unit test
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/AliYunAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/DbAlertStoreHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/GotifyAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/ServerChanAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/SmsAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/WeComAppAlertNotifyHandlerImplTest.java
Labels: unit test case, backend

#2356 [improve] add redis data storage test case
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/store/RedisDataStorageTest.java
Labels: backend

#2348 [type:improve] modify Intervals steps
  web-app/src/app/shared/components/form-field/form-field.component.html
Labels: webapp

#2346 [Improve] add CommonUtil unit test
  common/src/test/java/org/apache/hertzbeat/common/util/CommonUtilTest.java
Labels: unit test case, backend

#2311 [bugfix] Unable to specify collector when creating a monitor
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
Labels: good first pull request, bugfix, webapp

#2349 [type:improve] upgrade ssh core dependency version
  collector/pom.xml
Labels: collector, backend

#2345 [imporve] add template i18n map verify
  common/src/main/java/org/apache/hertzbeat/common/util/CommonUtil.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AppServiceImpl.java
Labels: good first pull request, backend

#2367 [feature] Optimize script protocol and add Windows-script yml template
  collector/src/main/java/org/apache/hertzbeat/collector/collect/script/ScriptCollectImpl.java
  common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/ScriptProtocol.java
  manager/src/main/resources/define/app-linux_script.yml
  manager/src/main/resources/define/app-windows_script.yml
Labels: good first pull request, monitoring-template, collector, backend

#2360 [Improve] add prometheusUtil unit test
  common/src/test/java/org/apache/hertzbeat/common/util/prometheus/PrometheusUtilTest.java
Labels: unit test case, backend

#2368 Fixed the issue of style anomaly caused by incorrect usage of nz-card-tab
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/dashboard/dashboard.component.less
  web-app/src/app/routes/dashboard/dashboard.component.ts
Labels: webapp

#2361 [Improve] add strbuffer unit test
  common/src/test/java/org/apache/hertzbeat/common/util/StrBufferTest.java
Labels: backend

#2372 [fix] fix committer name
  .all-contributorsrc
  README.md
  README_CN.md
  home/src/pages/team/index.jsx
  home/src/pages/team/member.json
Labels: doc, home

#2362 [Improve] add timezoneutil unit test
  common/src/test/java/org/apache/hertzbeat/common/util/TimeZoneUtilTest.java
Labels: backend

#2364 [Improve] add dispatchalarm unit test
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/AlertNotifyHandlerTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/DispatcherAlarmTest.java
Labels: backend

#2369 [Improve] add WeComAppAlertNotifyHandlerImpl send notify test
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/WeComAppAlertNotifyHandlerImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/WeComAppAlertNotifyHandlerImplTest.java
Labels: backend

#2370 [Improve] add EmailAlertNotifyHandlerImpl unit test
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/EmailAlertNotifyHandlerImplTest.java
Labels: unit test case, backend

#2380 [Improve] add GotifyAlertNotifyHandlerImpl unit test
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/GotifyAlertNotifyHandlerImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/GotifyAlertNotifyHandlerImplTest.java
Labels: backend

#2378 [bufix] fix email send error
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/EmailAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/EmailNoticeSender.java
  manager/src/main/resources/application.yml
  web-app/src/app/pojo/EmailNoticeSender.ts
  web-app/src/app/routes/setting/settings/message-server/message-server.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, bugfix, backend, webapp

#2379 [Improve] add CollectServer unit test
  collector/src/test/java/org/apache/hertzbeat/collector/dispatch/entrance/CollectServerTest.java
Labels: unit test case, collector, backend

#2382 [bugfix] fix monitors alarms some query filter not work, update link
  alerter/src/main/java/org/apache/hertzbeat/alert/AlerterProperties.java
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/custom-config.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.4.x/start/custom-config.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/start/custom-config.md
  home/versioned_docs/version-v1.4.x/start/custom-config.md
  home/versioned_docs/version-v1.5.x/start/custom-config.md
  manager/src/main/resources/application.yml
  manager/src/main/resources/templates/1-EmailTemplate.html
  script/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/conf/application.yml
  script/helm/hertzbeat/templates/manager/configmap.yaml
  web-app/src/app/layout/passport/passport.component.ts
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/passport/login/login.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: doc, backend, webapp, docker-compose, docker, kubernetes, helm, script

#2375 [Improve] add AlertDefineExcel unit test and fix bugs
  alerter/pom.xml
  alerter/src/main/java/org/apache/hertzbeat/alert/dto/AlertDefineDTO.java
  alerter/src/main/java/org/apache/hertzbeat/alert/dto/ExportAlertDefineDTO.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineAbstractImExportServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineExcelImExportServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineJsonImExportServiceImpl.java
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineYamlImExportServiceImpl.java
  alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertConvergeServiceTest.java
  alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineExcelImExportServiceTest.java
Labels: backend

#2385 [type:feature] support alerts click to monitor detail
  web-app/src/app/layout/basic/widgets/notify.component.ts
Labels: webapp

#2383 [Improve] add WebHookAlertNotifyHandlerImpl unit test
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/WebHookAlertNotifyHandlerImplTest.java
Labels: backend

#2384 [Improve] add SmsAlertNotifyHandlerImpl unit test
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/SmsAlertNotifyHandlerImplTest.java
Labels: backend

#2387 Fixed the issue of missing form validation for the "Rule(Expr)" item in the "Threshold" form
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.less
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
Labels: good first pull request, bugfix, webapp

#2389 [docs] update img of new_committer_process.md
  home/static/img/docs/community/icla-content-1.png
  home/static/img/docs/community/icla-content-3.png
Labels: doc

#2390 [docs] add 2024-07-27-new_committer.md
  home/blog/2024-07-27-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-07-27-new-committer.md
Labels: doc, good first pull request

#2373 [refactor] move code from AccountController to AccountService
  manager/src/main/java/org/apache/hertzbeat/manager/controller/AccountController.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/AccountService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AccountServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/AccountControllerTest.java
Labels: good first pull request, refactor, backend

#2394 [doc] : add committer introduction doc
  home/blog/2024-07-28-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-07-28-new-committer.md
Labels: doc, good first pull request

#2376 [improve] add some code style improve
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertServiceImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/http/promethus/PrometheusParseCreator.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/push/PushCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/redis/RedisCommonCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/script/ScriptCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/snmp/SnmpCollectImpl.java
  collector/src/main/java/org/apache/hertzbeat/collector/collect/ssh/SshCollectImpl.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/icmp/IcmpCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/imap/ImapCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/memcached/MemcachedCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/nginx/NginxCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/ntp/NtpCollectImplTest.java
  collector/src/test/java/org/apache/hertzbeat/collector/collect/udp/UdpCollectImplTest.java
  common/src/main/java/org/apache/hertzbeat/common/support/SpringContextHolder.java
  common/src/test/java/org/apache/hertzbeat/common/util/TimePeriodUtilTest.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/DispatcherAlarm.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/WeChatAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/config/AngularErrorViewResolver.java
  manager/src/main/java/org/apache/hertzbeat/manager/config/HeaderRequestInterceptor.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/AccountController.java
  manager/src/main/java/org/apache/hertzbeat/manager/controller/GeneralConfigController.java
  manager/src/main/java/org/apache/hertzbeat/manager/nativex/HertzbeatRuntimeHintsRegistrar.java
  manager/src/test/java/org/apache/hertzbeat/manager/ManagerTest.java
  push/src/main/java/org/apache/hertzbeat/push/service/impl/PushServiceImpl.java
  remoting/src/test/java/org/apache/hertzbeat/remoting/RemotingServiceTest.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/greptime/GreptimeDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/iotdb/IotDbDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/jpa/JpaDatabaseDataStorage.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/realtime/redis/RedisDataStorage.java
  warehouse/src/test/java/org/apache/hertzbeat/warehouse/controller/MetricsDataControllerTest.java
Labels: good first pull request, improve, refactor, collector, backend

#2393 [Improve] add AlertSilenceServiceImpl unit test
  alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertSilenceServiceTest.java
Labels: backend

#2391 [Improve] add AlertDefineJsonImExportServiceImpl unit test
  alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineJsonImExportServiceImpl.java
  alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineJsonImExportServiceTest.java
Labels: backend

#2401 Submit the introduction document for the new committer
  home/blog/2024-07-29-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-07-29-new-committer.md
Labels: doc

#2398 [collector]bugfix: Fix ssh session not closing properly
  collector/src/main/java/org/apache/hertzbeat/collector/collect/ssh/SshCollectImpl.java
Labels: good first pull request, bugfix, collector, backend

#2371 [Improve] add database file server provider
  common/src/main/java/org/apache/hertzbeat/common/entity/manager/Define.java
  manager/src/main/java/org/apache/hertzbeat/manager/dao/DefineDao.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/ObjectStoreDTO.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/ObjectStoreService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AppServiceImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ObsObjectStoreServiceImpl.java
  web-app/src/app/pojo/ObjectStore.ts
  web-app/src/app/routes/setting/settings/object-store/object-store.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, new feature, backend, webapp

#2406 [bugfix] fix mistake md content
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-07-10-hertzbeat-v1.1.1.md
Labels: doc

#2399 [feature] add sms config
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/SmsAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SmsAlibabaConfig.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SmsNoticeSender.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SmsTencentConfig.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SmsGeneralConfigServiceImpl.java
  web-app/src/app/pojo/AlibabaSmsConfig.ts
  web-app/src/app/pojo/SmsNoticeSender.ts
  web-app/src/app/pojo/TencentSmsConfig.ts
  web-app/src/app/routes/setting/settings/message-server/message-server.component.html
  web-app/src/app/routes/setting/settings/message-server/message-server.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, new feature, backend, webapp

#2408 [doc]Fix profile
  home/blog/2024-07-28-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-07-28-new-committer.md
Labels: doc

#2409 [Improve] add AlarmSilenceReduce unit test
  alerter/src/test/java/org/apache/hertzbeat/alert/reduce/AlarmSilenceReduceTest.java
Labels: backend

#2410 [Improve] add AlarmConvergeReduce unit test
  alerter/src/test/java/org/apache/hertzbeat/alert/reduce/AlarmConvergeReduceTest.java
Labels: backend

#2418 [refactor] move code from TagController to TagService
  manager/src/main/java/org/apache/hertzbeat/manager/controller/TagController.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/TagService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/TagServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/TagServiceTest.java
Labels: backend

#2417 [refactor] move code from PluginController to PluginService
  manager/src/main/java/org/apache/hertzbeat/manager/controller/PluginController.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/PluginService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/PluginServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/PluginServiceTest.java
Labels: backend

#2423 chore: update web-app readme
  web-app/README.md
Labels: doc, webapp

#2415 [refactor] move code from MonitorsController to MonitorService
  manager/src/main/java/org/apache/hertzbeat/manager/controller/MonitorsController.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/MonitorService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/MonitorServiceTest.java
Labels: backend
