Repository apache/hertzbeat, pull requests merged in 2024-01, with the labels that each got.

#1460 update dashboard ui, remove ssh custom SignatureFactories, update app name
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/common/ssh/CommonSshClient.java
  home/docs/help/nebulagraph.md
  home/docs/help/smtp.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/airflow.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/memcached.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/nebulagraph.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/ntp.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/smtp.md
  home/sidebars.json
  home/static/img/home/1.png
  home/static/img/home/15.png
  home/static/img/home/4.png
  home/static/img/home/6.png
  home/static/img/home/7.png
  home/static/img/home/8.png
  manager/src/main/resources/define/app-nginx.yml
  manager/src/main/resources/define/app-ntp.yml
  manager/src/main/resources/define/app-pop3.yml
  manager/src/main/resources/define/app-smtp.yml
  manager/src/main/resources/define/app-websocket.yml
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/dashboard/dashboard.component.ts
Labels: documentation, enhancement

#1461 [Task] Monitoring Template Yml Metrics I18n | 监控模版指标国际化任务认领 #1212
  manager/src/main/resources/define/app-docker.yml
Labels: enhancement, good first pull request

#1464 Add alarm trigger time for alarm restore
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  alerter/src/main/resources/alerter_en_US.properties
  alerter/src/main/resources/alerter_zh_CN.properties
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/HuaweiCloudSmnAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/ServerChanAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MailServiceImpl.java
  manager/src/main/resources/define/app-dns.yml
  manager/src/main/resources/templates/1-EmailTemplate.html
  manager/src/main/resources/templates/10-WeWorkAppTemplate.txt
  manager/src/main/resources/templates/11-HuaweiCloudSmnTemplate.txt
  manager/src/main/resources/templates/12-ServerChanTemplate.txt
  manager/src/main/resources/templates/2-WebhookTemplate.txt
  manager/src/main/resources/templates/4-WeWorkRobotTemplate.txt
  manager/src/main/resources/templates/5-DingTalkRobotTemplate.txt
  manager/src/main/resources/templates/6-FlyBookRobotTemplate.txt
  manager/src/main/resources/templates/7-TelegramBotTemplate.txt
  manager/src/main/resources/templates/8-SlackTemplate.txt
  manager/src/main/resources/templates/9-DiscordBotTemplate.txt
Labels: enhancement, good first pull request, new feature

#1463 bugfix history range query not work when victoria-metrics store
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryVictoriaMetricsDataStorage.java
Labels: bugfix

#1465 bugfix telegram-notice can not input bot-token
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.html
Labels: bugfix

#1455 feat: support hostname target
  common/src/main/java/org/dromara/hertzbeat/common/support/valid/HostValid.java
  common/src/main/java/org/dromara/hertzbeat/common/util/IpDomainUtil.java
  common/src/test/java/org/dromara/hertzbeat/common/util/IpDomainUtilTest.java
Labels: enhancement, good first pull request

#1469 [feature] support snmp v3 monitoring protocol
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/snmp/SnmpCollectImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/SnmpProtocol.java
  manager/src/main/resources/define/app-cisco_switch.yml
  manager/src/main/resources/define/app-h3c_switch.yml
  manager/src/main/resources/define/app-hpe_switch.yml
  manager/src/main/resources/define/app-huawei_switch.yml
  manager/src/main/resources/define/app-tplink_switch.yml
Labels: enhancement, good first pull request, new feature

#1468 bugfix alarm trigger-times not work when alarm and recovered trigger cyclically
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: bugfix

#1472 update switch monitoring metrics i18n
  README.md
  home/blog/2023-12-11-hertzbeat-v1.4.3.md
  home/docs/introduce.md
  manager/src/main/resources/define/app-activemq.yml
  manager/src/main/resources/define/app-centos.yml
  manager/src/main/resources/define/app-cisco_switch.yml
  manager/src/main/resources/define/app-fullsite.yml
  manager/src/main/resources/define/app-h3c_switch.yml
  manager/src/main/resources/define/app-hadoop.yml
  manager/src/main/resources/define/app-hpe_switch.yml
  manager/src/main/resources/define/app-huawei_switch.yml
  manager/src/main/resources/define/app-jetty.yml
  manager/src/main/resources/define/app-jvm.yml
  manager/src/main/resources/define/app-kafka.yml
  manager/src/main/resources/define/app-mariadb.yml
  manager/src/main/resources/define/app-memcached.yml
  manager/src/main/resources/define/app-mysql.yml
  manager/src/main/resources/define/app-nacos.yml
  manager/src/main/resources/define/app-nginx.yml
  manager/src/main/resources/define/app-ntp.yml
  manager/src/main/resources/define/app-pop3.yml
  manager/src/main/resources/define/app-smtp.yml
  manager/src/main/resources/define/app-spark.yml
  manager/src/main/resources/define/app-tomcat.yml
  manager/src/main/resources/define/app-tplink_switch.yml
  manager/src/main/resources/define/app-websocket.yml
Labels: documentation, enhancement

#1473 fixed: snmpv3 contextName bug
  README.md
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/snmp/SnmpCollectImpl.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/job/protocol/SnmpProtocol.java
  home/blog/2023-12-11-hertzbeat-v1.4.3.md
  home/docs/introduce.md
Labels: enhancement, good first pull request, bugfix

#1474 Fix npt of webhook notify
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WebHookAlertNotifyHandlerImpl.java
  manager/src/main/resources/templates/2-WebhookTemplate.txt
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/WebHookAlertNotifyHandlerImplTest.java
Labels: enhancement, good first pull request, bugfix

#1475 [hertzbeat] release hertzbeat version v1.4.4
  README.md
  README_CN.md
  home/docs/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
  script/assembly/collector/assembly-linux-amd64.xml
  script/assembly/collector/assembly-linux-arm64.xml
  script/assembly/collector/assembly-macos-amd64.xml
  script/assembly/collector/assembly-macos-arm64.xml
  script/assembly/collector/assembly-windows-64.xml
  script/assembly/collector/assembly.xml
  script/assembly/server/assembly-linux-amd64.xml
  script/assembly/server/assembly-linux-arm64.xml
  script/assembly/server/assembly-macos-amd64.xml
  script/assembly/server/assembly-macos-arm64.xml
  script/assembly/server/assembly-windows-64.xml
  script/assembly/server/assembly.xml
  script/helm/hertzbeat/Chart.yaml
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/DataStorageDispatch.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/HistoryVictoriaMetricsDataStorage.java
  web-app/src/app/shared/constants.ts
Labels: documentation

#1476 bugfix nginx collect http deadlock error
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/http/HttpCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/nginx/NginxCollectImpl.java
Labels: bugfix

#1478 alarm calculate ignore metrics collect code - TIMEOUT
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/udp/UdpCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/timer/TimerDispatcher.java
  common/src/main/java/org/dromara/hertzbeat/common/constants/CommonConstants.java
  warehouse/src/main/java/org/dromara/hertzbeat/warehouse/store/RealTimeRedisDataStorage.java
Labels: enhancement

#1484 update introduce doc
  home/docs/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
Labels: documentation

#1489 feature: add new field description in hertzbeat tag detail
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/Tag.java
  script/sql/schema.sql
  web-app/src/app/pojo/Tag.ts
  web-app/src/app/routes/setting/tags/tags.component.html
  web-app/src/app/routes/setting/tags/tags.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request, new feature

#1491 bugfix: search monitors error when pageable #1470
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/service/monitor.service.ts
Labels: enhancement, good first pull request, bugfix

#1488 bugfix mongodb collect cause system thread oom
  collector/src/main/java/org/dromara/hertzbeat/collector/collect/mongodb/MongodbSingleCollectImpl.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/CommonDispatcher.java
  collector/src/main/java/org/dromara/hertzbeat/collector/dispatch/WorkerPool.java
  collector/src/main/resources/application.yml
Labels: enhancement, bugfix

#1494 webapp add build package script
  web-app/package.json
Labels: enhancement

#1497 [doc] add 1.4.4 new publish doc
  home/blog/2023-02-10-new-committer.md
  home/blog/2023-05-09-hertzbeat-v1.3.1.md
  home/blog/2023-07-05-hertzbeat-v1.3.2.md
  home/blog/2023-08-28-new-committer.md
  home/blog/2024-01-11-new-committer.md
  home/blog/2024-01-18-hertzbeat-v1.4.4.md
  home/docs/introduce.md
  home/docs/others/media.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-02-10-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-07-05-hertzbeat-v1.3.2.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-08-28-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-01-11-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-01-18-hertzbeat-v1.4.4.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/others/media.md
  home/static/img/blog/new-committer.png
Labels: documentation

#1498 bugfix prometheus type metrics threshold alarm not work
  alerter/src/main/java/org/dromara/hertzbeat/alert/calculate/CalculateAlarm.java
Labels: enhancement, good first pull request, bugfix

#1499 Alert define add export and import function
  alerter/pom.xml
  alerter/src/main/java/org/dromara/hertzbeat/alert/controller/AlertDefinesController.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/AlertDefineImExportService.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/AlertDefineService.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineAbstractImExportServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineExcelImExportServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineJsonImExportServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineServiceImpl.java
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineYamlImExportServiceImpl.java
  alerter/src/test/java/org/dromara/hertzbeat/alert/service/AlertDefineServiceTest.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/routes/alert/alert.module.ts
  web-app/src/app/service/alert-define.service.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: enhancement, good first pull request

#1501 Alert tests fix
  alerter/src/test/java/org/dromara/hertzbeat/alert/service/AlertDefineServiceTest.java
Labels: enhancement, good first pull request, bugfix

#1502 bugfix exportMonitor.monitor.tags npe
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
Labels: bugfix

#1504 bugfix webhook notice error
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
  manager/src/main/resources/templates/2-WebhookTemplate.txt
  manager/src/test/java/org/dromara/hertzbeat/manager/service/NoticeConfigServiceTest.java
Labels: enhancement, good first pull request, bugfix

#1506 Alert define export tags combine
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineExcelImExportServiceImpl.java
  common/src/test/java/org/dromara/hertzbeat/common/util/JsonUtilTest.java
Labels: enhancement, good first pull request, bugfix

#1515 alert notice add monitor host
  alerter/src/main/resources/alerter_en_US.properties
  alerter/src/main/resources/alerter_zh_CN.properties
  common/src/main/java/org/dromara/hertzbeat/common/constants/CommonConstants.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/manager/NoticeTemplate.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/DbAlertStoreHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/MailServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/service/impl/NoticeConfigServiceImpl.java
  manager/src/main/resources/templates/1-EmailTemplate.html
  manager/src/main/resources/templates/10-WeWorkAppTemplate.txt
  manager/src/main/resources/templates/11-HuaweiCloudSmnTemplate.txt
  manager/src/main/resources/templates/12-ServerChanTemplate.txt
  manager/src/main/resources/templates/4-WeWorkRobotTemplate.txt
  manager/src/main/resources/templates/5-DingTalkRobotTemplate.txt
  manager/src/main/resources/templates/6-FlyBookRobotTemplate.txt
  manager/src/main/resources/templates/7-TelegramBotTemplate.txt
  manager/src/main/resources/templates/8-SlackTemplate.txt
  manager/src/main/resources/templates/9-DiscordBotTemplate.txt
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/DingTalkRobotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/DiscordBotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/FlyBookAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/HuaweiCloudSmnAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/SlackAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/TelegramBotAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeChatAppAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeWorkRobotAlertNotifyHandlerImplTest.java
Labels: enhancement, good first pull request

#1516 add wechat alarm notify, refactor code
  alerter/src/main/java/org/dromara/hertzbeat/alert/service/impl/AlertDefineServiceImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/component/alerter/impl/WeChatAlertNotifyHandlerImpl.java
  manager/src/main/java/org/dromara/hertzbeat/manager/controller/MonitorsController.java
Labels: enhancement

#1517 snowflake id
  common/src/main/java/org/dromara/hertzbeat/common/entity/alerter/Alert.java
  common/src/main/java/org/dromara/hertzbeat/common/entity/warehouse/History.java
  common/src/main/java/org/dromara/hertzbeat/common/util/SnowFlakeIdGenerator.java
Labels: enhancement, good first pull request
