Repository apache/hertzbeat, pull requests merged in 2024-10, with the labels that each got.

#2763 [Improve] modify kafka log level
  manager/src/main/resources/logback-spring.xml
Labels: backend

#2768 [doc] add baota extern install doc
  .all-contributorsrc
  README.md
  README_CN.md
  home/docs/start/baota-deploy.md
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/baota-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/rainbond-deploy.md
  home/sidebars.json
  home/src/pages/team/index.jsx
  home/static/img/docs/start/install-to-baota-1.png
  home/static/img/docs/start/install-to-baota-2.png
  home/static/img/docs/start/install-to-baota-3.png
Labels: doc, home

#2775 [improve] email notice template use the common render
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/AbstractAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/EmailAlertNotifyHandlerImpl.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/MailService.java
  manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MailServiceImpl.java
  manager/src/main/resources/templates/1-EmailTemplate.html
  manager/src/test/java/org/apache/hertzbeat/manager/component/alerter/impl/EmailAlertNotifyHandlerImplTest.java
  manager/src/test/java/org/apache/hertzbeat/manager/service/MailServiceTest.java
  web-app/src/assets/app-data.json
Labels: backend, webapp

#2777 [doc] drop dead link
  README.md
  README_CN.md
  home/docs/help/alert_threshold_expr.md
  home/docs/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_threshold_expr.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/help/alert_threshold_expr.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/introduce.md
  home/versioned_docs/version-v1.5.x/help/alert_threshold_expr.md
  home/versioned_docs/version-v1.5.x/introduce.md
  script/ci/exclude_files.txt
Labels: doc, script

#2778 [improve] update docker-compose license and fix compose config yml
  manager/src/main/resources/define/app-cisco_switch.yml
  manager/src/main/resources/define/app-h3c_switch.yml
  manager/src/main/resources/define/app-hpe_switch.yml
  manager/src/main/resources/define/app-huawei_switch.yml
  manager/src/main/resources/define/app-tplink_switch.yml
  script/assembly/server/assembly-docker-compose.xml
  script/docker-compose/LICENSE
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/application.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/sureness.yml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/conf/sureness.yml
Labels: monitoring-template, backend, docker-compose, docker, build, script

#2788 [bugfix]Update JDBC URL prefix for TDengine connection
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/tdengine/TdEngineDataStorage.java
Labels: backend

#2783 [Improve] Improve log config
  manager/src/main/resources/logback-spring.xml
Labels: backend

#2785 [improve] code according to code specifications(#2784)
  collector/collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/http/promethus/exporter/ExporterParser.java
  collector/collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/prometheus/parser/TextParser.java
  collector/collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/snmp/SnmpCollectImpl.java
  collector/collector-common/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/SshConnect.java
  common/src/main/java/org/apache/hertzbeat/common/queue/impl/RedisCommonDataQueue.java
  manager/src/main/java/org/apache/hertzbeat/manager/component/alerter/impl/EmailAlertNotifyHandlerImpl.java
  warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/AbstractHistoryDataStorage.java
Labels: collector, backend

#2789 [doc]Correct PostgreSQL image name in documentation
  home/docs/start/postgresql-change.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/postgresql-change.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/start/postgresql-change.md
  home/versioned_docs/version-v1.5.x/start/postgresql-change.md
Labels: doc

#2786 [collector]bugfix: close connection when common cache is timeout
  collector/collector-common/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/ConnectionCommonCache.java
Labels: good first pull request, bugfix, collector, backend

#2782 [Feature] add seatunnel monitor
  home/docs/help/seatunnel.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/seatunnel.md
  home/sidebars.json
  manager/src/main/resources/define/app-seatunnel.yml
Labels: doc, monitoring-template, backend

#2794 [doc](download): update for v1.6.1 release
  home/docs/download.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/download.md
Labels: doc

#2795 [Doc] improve website
  home/docs/help/hadoop.md
  home/docs/help/spark.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/almalinux.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/centos.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/debian.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/euleros.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/flink.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/flink_on_yarn.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/freebsd.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/hadoop.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/ipmi.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/kafka.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/kafka_client.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/linux.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/opensuse.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/redhat.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/redis.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/rockylinux.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/ubuntu.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/windows.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/zookeeper.md
  home/sidebars.json
Labels: doc

#2796 [doc] update deploy doc
  home/docs/start/baota-deploy.md
  home/docs/start/docker-compose-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/docker-compose-deploy.md
  home/sidebars.json
  home/static/img/docs/start/install-to-aapanel-1.png
  home/static/img/docs/start/install-to-aapanel-2.png
  home/static/img/docs/start/install-to-aapanel-3.png
Labels: doc

#2762 [improve]:Improve the way Ai is entered and requested
  manager/src/main/java/org/apache/hertzbeat/manager/controller/AiController.java
  manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/AiControllerRequestParam.java
  manager/src/test/java/org/apache/hertzbeat/manager/controller/AiControllerTest.java
Labels: backend
