Repository apache/hertzbeat, pull requests merged in 2024-12, with the labels that each got.

#2846 [doc] add security model doc and update contributors
  .all-contributorsrc
  README.md
  README_CN.md
  home/docs/download.md
  home/docs/help/security_model.md
  home/docs/introduce.md
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/download.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/security_model.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/introduce.md
  home/sidebars.json
  home/src/pages/team/index.jsx
  home/versioned_docs/version-v1.5.x/introduce.md
Labels: doc, home

#2856 [doc] update security doc and some
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/ISSUE_TEMPLATE/volunteer.yml
  .github/workflows/backend-build-test-reuse.yml
  .github/workflows/backend-build-test.yml
  SECURITY.md
  home/docs/help/security_model.md
  home/docusaurus.config.js
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/security_model.md
Labels: doc, infra

#2853 A bug fix
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/database/JdbcCommonCollect.java
Labels: bugfix

#2865 [doc] Add ',' separator between monitoring types
  home/docs/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
Labels: doc

#2869 [doc]improve-windows-monitoring:Update Windows system monitoring docu…
  home/docs/help/windows.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/windows.md
Labels: doc

#2844 [Optimize] Add a reminder about potential collection issues caused by the Docker deployment method of collector.
  home/docs/help/linux_script.md
  home/docs/help/windows_script.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/linux_script.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/windows_script.md
Labels: doc, good first pull request

#2876 [improve]Add more helpful messages when adding a Kafka monitor
  hertzbeat-manager/src/main/resources/define/app-kafka.yml
Labels: doc, good first pull request

#2874 [Fix] fix clickhouse monitor
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  hertzbeat-manager/src/main/resources/define/app-api.yml
  hertzbeat-manager/src/main/resources/define/app-clickhouse.yml
Labels: good first pull request, bugfix

#2888 [improve]Remove stack property from line charts
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
Labels: good first pull request, webapp

#2891 [Improve]Beautify Charts
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
Labels: good first pull request, webapp

#2880 [doc] Add more hints when users are switching data source.
  home/docs/start/mysql-change.md
  home/docs/start/postgresql-change.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/mysql-change.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/postgresql-change.md
Labels: doc, good first pull request

#2887 [collector]feature:Add monitoring metrics for consumer groups in Kafka client
  hertzbeat-collector/hertzbeat-collector-kafka/src/main/java/org/apache/hertzbeat/collector/collect/kafka/KafkaCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-kafka/src/main/java/org/apache/hertzbeat/collector/collect/kafka/SupportedCommand.java
  hertzbeat-manager/src/main/resources/define/app-kafka_client.yml
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/kafka_client.md
Labels: doc, good first pull request

#2894 [Improve] Improve Kafka chart display
  hertzbeat-manager/src/main/resources/define/app-kafka_client.yml
Labels: good first pull request

#2895 [collector]bugfix:fix the issue of reusing the `adminClient` in the Kafka client.
  hertzbeat-collector/hertzbeat-collector-kafka/src/main/java/org/apache/hertzbeat/collector/collect/kafka/KafkaConnect.java
Labels: good first pull request, bugfix

#2850 [improve]add Plc protocol , Modbus monitor
  hertzbeat-collector/hertzbeat-collector-basic/pom.xml
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/modbus/ModbusCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/plc/AbstractPlcCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/collect/modbus/ModbusCollectTest.java
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/collect/plc/PlcCollectTest.java
  hertzbeat-collector/hertzbeat-collector-collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/ModbusProtocol.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/PlcProtocol.java
  hertzbeat-manager/src/main/resources/define/app-modbus.yml
  home/docs/help/modbus.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/modbus.md
  home/sidebars.json
  material/licenses/LICENSE
  material/licenses/backend/LICENSE
  material/licenses/collector/LICENSE
Labels: doc, license

#2896 [Improve] add notification when port number changes automatically due to HTTPS toggle.(#2779)
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, webapp

#2900 [Doc] update doc
  CONTRIBUTING.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/contribution.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/development.md
Labels: doc, infra

#2901 [Imporve] Support Kafka internal topic configuration
  hertzbeat-collector/hertzbeat-collector-kafka/src/main/java/org/apache/hertzbeat/collector/collect/kafka/KafkaCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-kafka/src/main/java/org/apache/hertzbeat/collector/collect/kafka/constants/InternalTopic.java
  hertzbeat-collector/hertzbeat-collector-kafka/src/main/java/org/apache/hertzbeat/collector/collect/kafka/constants/SupportedCommand.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/KafkaProtocol.java
  hertzbeat-manager/src/main/resources/define/app-kafka_client.yml
Labels: good first pull request

#2905 [fix](flink): update calculate metrics definitions
  hertzbeat-manager/src/main/resources/define/app-flink.yml
Labels: good first pull request, bugfix

#2907 [feature] Add a new Singleton-pattern-based LRU local cache
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/database/JdbcCommonCollect.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/ipmi2/IpmiCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/jmx/JmxCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/redfish/RedfishCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/redis/RedisCommonCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/ssh/SshCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/collect/common/cache/CommonCacheTest.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/collect/common/cache/GlobalConnectionCache.java
  hertzbeat-collector/hertzbeat-collector-kafka/src/main/java/org/apache/hertzbeat/collector/collect/kafka/KafkaCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-kafka/src/main/java/org/apache/hertzbeat/collector/collect/kafka/KafkaConnect.java
  hertzbeat-collector/hertzbeat-collector-mongodb/src/main/java/org/apache/hertzbeat/collector/collect/mongodb/MongodbSingleCollectImpl.java
Labels: good first pull request

#2909 [Improve] Improve OBS
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ObjectStoreConfigServiceImpl.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/ObjectStoreConfigServiceTest.java
Labels: good first pull request

#2906 [feature](web-app): Add Alarm Voice Alerts
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/constants/GeneralConfigTypeEnum.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/config/ConfigInitializer.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/MuteConfig.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MuteGeneralConfigServiceImpl.java
  web-app/angular.json
  web-app/package.json
  web-app/src/app/layout/basic/widgets/notify.component.ts
  web-app/src/app/pojo/Mute.ts
  web-app/src/app/service/alert-sound.service.ts
  web-app/src/assets/audio/default-alert-CN.mp3
  web-app/src/assets/audio/default-alert-EN.mp3
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
  web-app/yarn.lock
Labels: webapp

#2911 [bugfix] Fix the bug where canceling an edit on a record still updates the page values.
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/controller/NoticeConfigController.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/controller/NoticeConfigControllerTest.java
  web-app/src/app/routes/alert/alert-notice/alert-notice.component.ts
  web-app/src/app/service/notice-receiver.service.ts
  web-app/src/app/service/notice-rule.service.ts
  web-app/src/app/service/notice-template.service.ts
Labels: good first pull request, bugfix, webapp

#2914 [bugfix] Fix docker container name unable to display problem
  hertzbeat-collector/hertzbeat-collector-collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
Labels: bugfix

#2912 [improve] Optimize CacheService and add relevant unit test
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/cache/CaffeineCacheServiceImpl.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/cache/CommonCacheService.java
  hertzbeat-common/src/test/java/org/apache/hertzbeat/common/cache/CaffeineCacheTest.java
Labels: refactor

#2913 [improve] Add required field indicators and form validation prompts for convergence strategies and silent strategies in the form.
  web-app/src/app/routes/alert/alert-converge/alert-converge.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
Labels: good first pull request, improve, webapp

#2920 [bugfix] Bug fix for alarm voice.
  web-app/src/app/layout/basic/widgets/notify.component.ts
Labels: webapp

#2922 Update app-windows_script.yml
  hertzbeat-manager/src/main/resources/define/app-windows_script.yml
Labels: doc, good first pull request
