Repository apache/hertzbeat, pull requests merged in 2025-05, with the labels that each got.

#3315 [refactor] set default encoding charset utf8
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/notice/impl/DbAlertStoreHandlerImpl.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/util/AlertTemplateUtil.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/notice/impl/DbAlertStoreHandlerImplTest.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/TimerDispatcher.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/alerter/GroupAlert.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/Job.java
  home/blog/2025-04-23-hertzbeat-upgrade-guide-docker-mode.md
  home/blog/2025-04-23-hertzbeat-upgrade-guide-from-v1.6.1-to-v1.7.0-helm-mode.md
  home/blog/hertzbeat-upgrade-guide-docker-mode-en.md
  home/blog/hertzbeat-upgrade-guide-from-v1.6.1-to-v1.7.0-helm-mode-en.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2025-04-23-hertzbeat-upgrade-guide-docker-mode.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2025-04-23-hertzbeat-upgrade-guide-from-v1.6.1-to-v1.7.0-helm-mode.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2025-04-23-hertzbeat-v1.7.0-docker-and-helm-upgrade-guide.md
  script/assembly/collector/bin/entrypoint.sh
  script/assembly/collector/bin/startup.bat
  script/assembly/collector/bin/startup.sh
  script/assembly/server/bin/entrypoint.sh
  script/assembly/server/bin/startup.bat
  script/assembly/server/bin/startup.sh
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
Labels: doc, webapp, build, script

#3318 update the license file, to add the plc4j-driver-s7 license
  material/licenses/LICENSE
  material/licenses/backend/LICENSE
  material/licenses/collector/LICENSE
Labels: license

#3330 [Improve] Add i18 for ai bot
  web-app/src/app/layout/basic/basic.component.html
  web-app/src/app/layout/basic/basic.component.ts
  web-app/src/app/shared/components/ai-bot/ai-bot.component.html
  web-app/src/app/shared/components/ai-bot/ai-bot.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/pt-BR.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: bugfix, webapp

#3323 [feature] Support Eureka Service Discovery
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/sd/EurekaSdCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  hertzbeat-common/pom.xml
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/EurekaSdProtocol.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/sd/EurekaDiscoveryResponseEntity.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/util/XmlUtil.java
  hertzbeat-manager/src/main/resources/define/app-eureka_sd.yml
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/pt-BR.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#3333 [doc] japanese activemq
  hertzbeat-manager/src/main/resources/define/app-activemq.yml
  web-app/src/assets/i18n/ja-JP.json
Labels: webapp

#3339 [doc] japanese airflow
  README_JP.md
  hertzbeat-manager/src/main/resources/define/app-airflow.yml
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/zh-CN.json
Labels: webapp

#3326 [feature] Support Consul Service Discovery
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/sd/ConsulSdCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/ConsulSdProtocol.java
  hertzbeat-manager/src/main/resources/define/app-consul_sd.yml
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/pt-BR.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: new feature, webapp

#3327 [feat] Enhance Label Management for Monitors
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/LabelService.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/LabelServiceImpl.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/app/routes/setting/label/label.component.ts
  web-app/src/app/shared/components/form-field/form-field.component.html
  web-app/src/app/shared/components/form-field/form-field.component.ts
  web-app/src/app/shared/components/label-selector/label-selector.component.html
  web-app/src/app/shared/components/label-selector/label-selector.component.less
  web-app/src/app/shared/components/label-selector/label-selector.component.spec.ts
  web-app/src/app/shared/components/label-selector/label-selector.component.ts
  web-app/src/app/shared/shared.module.ts
Labels: new feature, webapp

#3346 [build] Update .gitignore and add Maven wrapper properties
  .gitignore
  .mvn/wrapper/maven-wrapper.properties
Labels: infra

#3345 [bugfix] Fix frontend error when all monitor metrics are selected in new bulletin form
  web-app/src/app/routes/bulletin/bulletin.component.html
  web-app/src/app/routes/bulletin/bulletin.component.ts
Labels: webapp

#3347 [release] update release version 1.7.1
  hertzbeat-collector/hertzbeat-collector-collector/src/main/resources/application.yml
  pom.xml
  script/docker-compose/hertzbeat-mysql-iotdb/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-tdengine/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/docker-compose.yaml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/docker-compose.yaml
  script/release/release-win.ps1
  web-app/src/app/shared/constants.ts
Labels: webapp, docker-compose, docker, script

#3351 [bugfix] Fix incorrect webhook URLs for Uptime Kuma, Zabbix, and Tencent Cloud
  web-app/src/assets/doc/alert-integration/tencent.en-US.md
  web-app/src/assets/doc/alert-integration/tencent.ja-JP.md
  web-app/src/assets/doc/alert-integration/tencent.zh-CN.md
  web-app/src/assets/doc/alert-integration/tencent.zh-TW.md
  web-app/src/assets/doc/alert-integration/uptime-kuma.en-US.md
  web-app/src/assets/doc/alert-integration/uptime-kuma.zh-CN.md
  web-app/src/assets/doc/alert-integration/uptime-kuma.zh-TW.md
  web-app/src/assets/doc/alert-integration/zabbix.en-US.md
  web-app/src/assets/doc/alert-integration/zabbix.zh-CN.md
  web-app/src/assets/doc/alert-integration/zabbix.zh-TW.md
Labels: webapp

#3355 [doc](start): update greptime-init documentation
  home/docs/start/greptime-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/greptime-init.md
  home/sidebars.json
Labels: doc

#3357 [doc] new ppmc liutianyou and update qq num
  README.md
  README_CN.md
  README_JP.md
  home/docs/community/contact.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/contact.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/community/contact.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/introduce.md
  home/src/pages/team/member.json
  home/versioned_docs/version-v1.6.x/community/contact.md
  home/versioned_docs/version-v1.6.x/introduce.md
Labels: doc, home

#3340 [bugfix] Incorrect SD sub-monitor status
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/component/sd/ServiceDiscoveryWorker.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/dao/MonitorBindDao.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
Labels: bugfix

#3358 [improve] improve jndi validation
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/jmx/JmxCollectImpl.java
Labels: improve

#3378 [doc] fix incorrect time template syntax usercase in doc
  home/docs/help/time_expression.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/time_expression.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/help/time_expression.md
  home/versioned_docs/version-v1.6.x/help/time_expression.md
Labels: doc

#3377 [feat] Support Zookeeper Service Discovery
  hertzbeat-collector/hertzbeat-collector-basic/pom.xml
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/sd/ZookeeperSdCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/collect/sd/ZookeeperSdCollectImplTest.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/ZookeeperSdProtocol.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/manager/Monitor.java
  hertzbeat-manager/src/main/resources/define/app-zookeeper_sd.yml
  material/licenses/LICENSE
  material/licenses/backend/LICENSE
  material/licenses/collector/LICENSE
  pom.xml
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/pt-BR.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, new feature, webapp, license

#3337 [Task] Batch import metrics data in victoria-metrics
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/dispatch/entrance/CollectServerTest.java
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/dispatch/entrance/internal/CollectJobServiceTest.java
  hertzbeat-collector/hertzbeat-collector-collector/src/main/java/org/apache/hertzbeat/collector/dispatch/CommonDispatcher.java
  hertzbeat-collector/hertzbeat-collector-collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/CollectDataDispatch.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsTaskDispatch.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/entrance/CollectServer.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/entrance/internal/CollectJobService.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/entrance/processor/GoCloseProcessor.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/entrance/processor/GoOfflineProcessor.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/entrance/processor/GoOnlineProcessor.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/timer/TimerDispatch.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/timer/TimerDispatcher.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/timer/WheelTimerTask.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/timer/HashedWheelTimer.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/timer/Timeout.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/timer/Timer.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/timer/TimerTask.java
  hertzbeat-e2e/hertzbeat-collector-common-e2e/src/test/java/org/apache/hertzbeat/collector/collect/AbstractCollectE2eTest.java
  hertzbeat-manager/src/main/resources/application-test.yml
  hertzbeat-manager/src/main/resources/application.yml
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/ManagerTest.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/PromQlQueryContent.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsClusterDataStorage.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsDataStorage.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsInsertProperties.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsProperties.java
Labels: good first pull request, new feature

#3324 [feature] support auto nacos service discovery
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/sd/NacosSdCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/collect/sd/NacosSdCollectImplTest.java
  hertzbeat-collector/hertzbeat-collector-collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/NacosSdProtocol.java
  hertzbeat-manager/src/main/resources/define/app-nacos_sd.yml
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/pt-BR.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: new feature, webapp

#3386 [test] Add unit tests for HttpSdCollectImpl
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/collect/sd/HttpSdCollectImplTest.java
Labels: unit test case

#3387 [fix](warehouse): improve GreptimeDB data storage and querying
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/prometheus/PrometheusAutoCollectImpl.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/greptime/GreptimeDbDataStorage.java
Labels: bugfix

#3395 [doc]add new committer blog
  home/blog/2025-05-22-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2025-05-22-new-committer.md
Labels: doc

#3388 [improve] http sd collector adds authentication
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/sd/HttpSdCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/collect/sd/HttpSdCollectImplTest.java
  hertzbeat-manager/src/main/resources/define/app-http_sd.yml
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
Labels: new feature, webapp

#3418 [doc] update home doc
  home/blog/2024-08-18-new-committer.md
  home/blog/2025-04-06-new-pmc.md
  home/blog/2025-5-19-new-pmc.md
  home/docs/community/become_pmc_member.md
  home/docs/community/how-to-release.md
  home/docs/community/new_pmc_member_process.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-08-18-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2025-04-06-new-pmc.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2025-5-19-new-pmc.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/become_pmc_member.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/how-to-release.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/new_pmc_member_process.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/community/become_pmc_member.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/community/how-to-release.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/community/new_pmc_member_process.md
  home/versioned_docs/version-v1.6.x/community/become_pmc_member.md
  home/versioned_docs/version-v1.6.x/community/how-to-release.md
  home/versioned_docs/version-v1.6.x/community/new_pmc_member_process.md
Labels: doc

#3407 [doc] Update anonymous user auth configuration of the grafana dashboard document
  home/docs/help/grafana_dashboard.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/grafana_dashboard.md
  home/static/img/docs/help/grafana-1.png
  home/static/img/docs/help/grafana-2.png
Labels: doc
