Repository apache/hertzbeat, pull requests merged in 2025-01, with the labels that each got.

#2923 [bugfix] Fixed the 'java.lang.UnsupportedOperationException' exception caused by getCurrentMetricsData
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/serialize/RedisMetricsDataCodec.java
Labels: good first pull request, bugfix

#2929 [improve] optimize website navbar css(#2928)
  home/src/css/navbar.css
Labels: doc, home

#2931 [feature] update alert define and add realtime, periodic threshold
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineServiceImpl.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/constants/CommonConstants.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/alerter/AlertDefine.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/message/CollectRep.java
  web-app/src/app/pojo/AlertDefine.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.less
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
  web-app/src/styles/theme.less
Labels: webapp

#2930 [feature] Adding CPU Temperature Check Into Default Ubuntu Checks
  hertzbeat-manager/src/main/resources/define/app-ubuntu.yml
Labels: good first pull request

#2933 [refactor] support alarm threshold bind monitors
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/calculate/RealTimeAlertCalculator.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertDefineController.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertsController.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/dao/AlertDefineDao.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/dao/AlertSilenceDao.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/reduce/AlarmGroupReduce.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/reduce/AlarmSilenceReduce.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/AlertDefineService.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/AlertService.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineServiceImpl.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertServiceImpl.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefineControllerTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefinesControllerTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineServiceTest.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/cache/CacheFactory.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/constants/CommonConstants.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/alerter/AlertDefine.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/alerter/JsonMapAttributeConverter.java
  hertzbeat-common/src/test/java/org/apache/hertzbeat/common/util/JexlExpressionRunnerTest.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/controller/MonitorController.java
  hertzbeat-manager/src/main/resources/db/migration/h2/V170__update_column.sql
  hertzbeat-manager/src/main/resources/db/migration/mysql/V170__update_column.sql
  hertzbeat-manager/src/main/resources/db/migration/postgresql/V170__update_column.sql
  web-app/src/app/layout/basic/widgets/notify.component.ts
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-center/alert-center.component.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/dashboard/dashboard.component.ts
  web-app/src/app/service/alert.service.ts
  web-app/src/app/service/monitor.service.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#2927 [improve] Improve the synchronization of the mute status.
  web-app/src/app/layout/basic/widgets/notify.component.ts
Labels: webapp

#2935 [bugfix] Corrected case 'DashBoard' is a lower case 'B'
  web-app/src/assets/i18n/en-US.json
Labels: webapp

#2940 [alarm] support alarm inhibit web ui
  web-app/src/app/routes/alert/alert-group/alert-group-converge.component.html
  web-app/src/app/routes/alert/alert-group/alert-group-converge.component.ts
  web-app/src/app/routes/alert/alert-inhibit/alert-inhibit.component.html
  web-app/src/app/routes/alert/alert-inhibit/alert-inhibit.component.less
  web-app/src/app/routes/alert/alert-inhibit/alert-inhibit.component.ts
  web-app/src/app/service/alert-inhibit.service.spec.ts
  web-app/src/app/service/alert-inhibit.service.ts
  web-app/src/app/shared/components/labels-input/labels-input.component.html
  web-app/src/app/shared/components/labels-input/labels-input.component.less
  web-app/src/app/shared/components/labels-input/labels-input.component.spec.ts
  web-app/src/app/shared/components/labels-input/labels-input.component.ts
  web-app/src/app/shared/shared.module.ts
  web-app/src/assets/i18n/zh-CN.json
Labels: webapp

#2936 [bugfix] Modify the doris_be.md document into an English version
  home/docs/help/doris_be.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/doris_be.md
Labels: doc, good first pull request

#2934 [home] updated navbar css #2928
  home/src/css/navbar.css
Labels: doc, home

#2945 [Improve]Improve e2e code
  hertzbeat-collector/hertzbeat-collector-collector/src/main/java/org/apache/hertzbeat/collector/dispatch/CommonDispatcher.java
  hertzbeat-collector/hertzbeat-collector-collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
  hertzbeat-e2e/hertzbeat-collector-basic-e2e/src/test/java/org/apache/hertzbeat/collector/collect/basic/http/DockerMonitorE2eTest.java
  hertzbeat-e2e/hertzbeat-collector-basic-e2e/src/test/resources/http/docker/containers_result.txt
  hertzbeat-e2e/hertzbeat-collector-basic-e2e/src/test/resources/http/docker/containers_stats.txt
  hertzbeat-e2e/hertzbeat-collector-basic-e2e/src/test/resources/http/docker/system_result.txt
  hertzbeat-e2e/hertzbeat-collector-common-e2e/src/test/java/org/apache/hertzbeat/collector/collect/AbstractCollectE2eTest.java
Labels: good first pull request, improve

#2946 [impove] update alarm and labels relate ui
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/calculate/RealTimeAlertCalculator.java
  web-app/src/app/routes/alert/alert-notice/alert-notice-receiver/alert-notice-receiver.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-rule/alert-notice-rule.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-template/alert-notice-template.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/routes/bulletin/bulletin.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/setting/define/define.component.html
  web-app/src/app/routes/setting/plugins/plugin.component.html
  web-app/src/app/routes/setting/setting-routing.module.ts
  web-app/src/app/routes/setting/tags/tags.component.html
  web-app/src/app/routes/setting/tags/tags.component.less
  web-app/src/app/routes/setting/tags/tags.component.ts
  web-app/src/app/shared/components/tags-select/tags-select.component.html
  web-app/src/app/shared/components/tags-select/tags-select.component.less
  web-app/src/app/shared/components/tags-select/tags-select.component.spec.ts
  web-app/src/app/shared/components/tags-select/tags-select.component.ts
  web-app/src/app/shared/shared.module.ts
  web-app/src/assets/app-data.json
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#2832 [refactor] refactoring methods replaceCryPlaceholder and replaceSmilingPlace
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/util/CollectUtilTest.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/util/CollectUtil.java
Labels: good first pull request

#2947 [bugfix](db): optimize column update.
  hertzbeat-manager/src/main/resources/db/migration/mysql/V170__update_column.sql
Labels: bugfix

#2949 [doc] Add Supported MySQL Versions.
  home/docs/start/mysql-change.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/mysql-change.md
Labels: doc, good first pull request

#2932 [Feature] Support customized JMX monitoring through the Factory Pattern.
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/jmx/CustomizedJmxFactory.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/jmx/JmxCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/jmx/JmxValidator.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/jmx/MbeanProcessor.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/jmx/kafkajmx/KafkaJmxValidator.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/jmx/kafkajmx/kafkaprocessor/KafkaBytesInAndOutPerSecProcessor.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/jmx/kafkajmx/kafkaprocessor/KafkaCommonProcessor.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/jmx/kafkajmx/kafkaprocessor/KafkaReplicaManageProcessor.java
  hertzbeat-manager/src/main/resources/define/app-kafka.yml
Labels: good first pull request, new feature

#2951 [improve] fix some alarm relate bug, update alarm center ui
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/calculate/RealTimeAlertCalculator.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertDefinesController.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertsController.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/dao/GroupAlertDao.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/dao/SingleAlertDao.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/notice/impl/DbAlertStoreHandlerImpl.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/reduce/AlarmGroupReduce.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/reduce/AlarmInhibitReduce.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/AlertDefineService.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineServiceImpl.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertServiceImpl.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefinesControllerTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineServiceTest.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/alerter/GroupAlert.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/alerter/SingleAlert.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/controller/MonitorsController.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/dao/MonitorDao.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/scheduler/SchedulerInit.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/MonitorService.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/dao/MonitorDaoTest.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/MonitorServiceTest.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/DataStorageDispatch.java
  web-app/src/app/pojo/SingleAlert.ts
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-center/alert-center.component.less
  web-app/src/app/routes/alert/alert-center/alert-center.component.ts
  web-app/src/app/routes/alert/alert-group/alert-group-converge.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/dashboard/dashboard.component.ts
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/routes/setting/tags/tags.component.html
  web-app/src/app/routes/setting/tags/tags.component.less
  web-app/src/app/service/alert.service.ts
  web-app/src/app/service/monitor.service.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#2953 [Doc]:Add English version of documentation for Kafka Consumer Detail
  home/docs/help/kafka_client.md
Labels: doc

#2957 [improve] update alarm inhibit rule and alarm ui
  .all-contributorsrc
  README.md
  README_CN.md
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/AlerterProperties.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/dto/AlertDefineDTO.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/reduce/AlarmInhibitReduce.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertDefineExcelImExportServiceImpl.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/reduce/AlarmGroupReduceTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/reduce/AlarmInhibitReduceTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineExcelImExportServiceTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineJsonImExportServiceTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineYamlImExportServiceTest.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/controller/MonitorsController.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/ExcelImExportServiceImpl.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  hertzbeat-manager/src/main/resources/application.yml
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/YamlImExportServiceTest.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/DataStorageDispatch.java
  home/src/pages/team/index.jsx
  script/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/conf/application.yml
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.less
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.less
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/app/service/alert.service.ts
Labels: doc, webapp, home, docker-compose, docker, script

#2961 [Improve]:Standardize Kafka metric naming
  hertzbeat-manager/src/main/resources/define/app-kafka.yml
Labels: good first pull request

#2965 [BUG] "Advanced Settings" is all white in dark mode
  web-app/src/assets/style.dark.css
Labels: good first pull request, bugfix, webapp

#2969 [Improve] add no popup option after next login
  web-app/src/app/layout/basic/widgets/user.component.ts
  web-app/src/app/layout/layout.module.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
Labels: good first pull request, improve, webapp

#2877 [feature] replace googletagmanager to matomo
  home/docusaurus.config.js
  home/package.json
  web-app/src/index.html
Labels: doc, good first pull request, webapp

#2970 Fix the search functionality issue.
  web-app/src/app/routes/alert/alert-group/alert-group-converge.component.html
  web-app/src/app/routes/alert/alert-group/alert-group-converge.component.ts
  web-app/src/app/routes/alert/alert-inhibit/alert-inhibit.component.html
  web-app/src/app/routes/alert/alert-inhibit/alert-inhibit.component.ts
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.ts
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
Labels: good first pull request, bugfix, webapp

#2973 [bugfix](warehouse): add metrics data update logic in memory storage
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/realtime/memory/MemoryDataStorage.java
Labels: bugfix

#2976 [Improve] Add more test cases for Kafka junit tests
  hertzbeat-collector/hertzbeat-collector-kafka/src/test/java/org/apache/hertzbeat/collector/collect/kafka/KafkaCollectTest.java
Labels: improve

#2849 [bugfix] Fix NullPointerException
  hertzbeat-collector/hertzbeat-collector-collector/src/main/java/org/apache/hertzbeat/collector/dispatch/CommonDispatcher.java
Labels: good first pull request, bugfix

#2972 [webapp] key-value-input component hover effect fixed
  web-app/src/app/shared/components/key-value-input/key-value-input.component.less
  web-app/src/app/shared/components/labels-input/labels-input.component.less
  web-app/src/app/shared/components/metrics-field-input/metrics-field-input.component.less
Labels: good first pull request, bugfix, webapp

#2979 [bugfix] fix alert integration extern source bug
  .all-contributorsrc
  README.md
  README_CN.md
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/controller/AlertReportController.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/dto/PrometheusExternAlert.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/notice/impl/DbAlertStoreHandlerImpl.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlertManagerExternAlertService.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/DefaultExternAlertService.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/PrometheusExternAlertService.java
  hertzbeat-manager/src/main/resources/templates/1-EmailTemplate.html
  hertzbeat-manager/src/main/resources/templates/10-WeWorkAppTemplate.txt
  hertzbeat-manager/src/main/resources/templates/11-HuaweiCloudSmnTemplate.txt
  hertzbeat-manager/src/main/resources/templates/12-ServerChanTemplate.txt
  hertzbeat-manager/src/main/resources/templates/13-GotifyTemplate.txt
  hertzbeat-manager/src/main/resources/templates/2-WebhookTemplate.txt
  hertzbeat-manager/src/main/resources/templates/4-WeWorkRobotTemplate.txt
  hertzbeat-manager/src/main/resources/templates/5-DingTalkRobotTemplate.txt
  hertzbeat-manager/src/main/resources/templates/6-FlyBookRobotTemplate.txt
  hertzbeat-manager/src/main/resources/templates/7-TelegramBotTemplate.txt
  hertzbeat-manager/src/main/resources/templates/8-SlackTemplate.txt
  hertzbeat-manager/src/main/resources/templates/9-DiscordBotTemplate.txt
  home/src/pages/team/index.jsx
  web-app/src/app/layout/basic/basic.component.ts
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-group/alert-group-converge.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.less
  web-app/src/app/shared/components/help-message-show/help-message-show.component.less
  web-app/src/assets/doc/alert-integration/alertmanager.en-US.md
  web-app/src/assets/doc/alert-integration/alertmanager.zh-CN.md
  web-app/src/assets/doc/alert-integration/alertmanager.zh-TW.md
  web-app/src/assets/doc/alert-integration/prometheus.en-US.md
  web-app/src/assets/doc/alert-integration/prometheus.zh-CN.md
  web-app/src/assets/doc/alert-integration/prometheus.zh-TW.md
  web-app/src/assets/doc/alert-integration/webhook.en-US.md
  web-app/src/assets/doc/alert-integration/webhook.zh-CN.md
  web-app/src/assets/doc/alert-integration/webhook.zh-TW.md
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: doc, webapp, home

#2981 [Feature] Support copy monitoring
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/controller/MonitorController.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/MonitorService.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/service/monitor.service.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
Labels: webapp

#2980 [bugfix] fix hbase dashboard display anomalies and turn on HTTPS
  hertzbeat-manager/src/main/resources/define/app-hbase_master.yml
  hertzbeat-manager/src/main/resources/define/app-hbase_regionserver.yml
Labels: good first pull request, bugfix

#2986 [improve] update i18n json stru and update search ui
  web-app/src/app/layout/basic/widgets/search.component.less
  web-app/src/app/layout/basic/widgets/search.component.ts
  web-app/src/app/routes/alert/alert-center/alert-center.component.html
  web-app/src/app/routes/alert/alert-group/alert-group-converge.component.html
  web-app/src/app/routes/alert/alert-inhibit/alert-inhibit.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-rule/alert-notice-rule.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/bulletin/bulletin.component.html
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.ts
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.html
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.ts
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/app/routes/monitor/monitor-routing.module.ts
  web-app/src/app/routes/setting/collector/collector.component.html
  web-app/src/app/routes/setting/settings/message-server/message-server.component.html
  web-app/src/app/routes/setting/tags/tags.component.html
  web-app/src/app/shared/components/help-message-show/help-message-show.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#2988 [MINOR UPDATE] improve xml parsing code
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
Labels: good first pull request, improve

#2987 [docs]doc:Added spark Chinese documents and changed the original spar…
  home/docs/help/spark.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/spark.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/help/spark.md
  home/versioned_docs/version-v1.5.x/help/spark.md
Labels: doc, good first pull request

#2982 [feature] Add privateKey passphrase config for linux monitor
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/ssh/SshCollectImpl.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/SshProtocol.java
  hertzbeat-manager/src/main/resources/define/app-almalinux.yml
  hertzbeat-manager/src/main/resources/define/app-centos.yml
  hertzbeat-manager/src/main/resources/define/app-coreos.yml
  hertzbeat-manager/src/main/resources/define/app-debian.yml
  hertzbeat-manager/src/main/resources/define/app-euleros.yml
  hertzbeat-manager/src/main/resources/define/app-freebsd.yml
  hertzbeat-manager/src/main/resources/define/app-linux.yml
  hertzbeat-manager/src/main/resources/define/app-opensuse.yml
  hertzbeat-manager/src/main/resources/define/app-redhat.yml
  hertzbeat-manager/src/main/resources/define/app-rockylinux.yml
  hertzbeat-manager/src/main/resources/define/app-ubuntu.yml
Labels: good first pull request, new feature

#2990 [type:fix] remove matomo ip
  web-app/src/index.html
Labels: webapp

#2991 [feature] Added multilingual defaults for forms
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
  web-app/src/app/shared/components/form-field/form-field.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#2992 [Improve]Add Copy token button
  web-app/src/app/routes/alert/alert-integration/alert-integration.component.html
  web-app/src/app/routes/alert/alert-integration/alert-integration.component.ts
Labels: good first pull request, webapp

#2993 [MINOR UPDATE] close HttpResponse in HttpCollectImpl
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
Labels: good first pull request

#2994 [MINOR UPDATE] close http response in PrometheusAutoCollectImpl
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/prometheus/PrometheusAutoCollectImpl.java
Labels: good first pull request, improve

#2995 [MINOR UPDATE] fix more instances of unclosed Http Responses
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/push/PushCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-nebulagraph/src/main/java/org/apache/hertzbeat/collector/collect/nebulagraph/NebulaGraphCollectImpl.java
Labels: good first pull request, bugfix

#2996 [bugfix] fix wrong http user-agent content
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/collect/common/http/CommonHttpClient.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/constants/NetworkConstants.java
Labels: bugfix

#2997 [feature] Support monitoring for StarRocks FE and StarRocks BE.
  hertzbeat-manager/src/main/resources/define/app-starrocks_be.yml
  hertzbeat-manager/src/main/resources/define/app-starrocks_fe.yml
  home/docs/help/starrocks_be.md
  home/docs/help/starrocks_fe.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/starrocks_be.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/starrocks_fe.md
  home/sidebars.json
Labels: doc, good first pull request, new feature

#2999 [MINOR UPDATE] refactor base64 code to simplify the conversions
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/prometheus/PrometheusAutoCollectImpl.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/util/Base64Util.java
  hertzbeat-grafana/src/main/java/org/apache/hertzbeat/grafana/service/ServiceAccountService.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/greptime/GreptimeDbDataStorage.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsClusterDataStorage.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsDataStorage.java
Labels: good first pull request, improve

#3001 [webapp] bugfix edit monitor http query params error
  web-app/src/app/shared/components/form-field/form-field.component.html
  web-app/src/app/shared/components/key-value-input/key-value-input.component.html
  web-app/src/app/shared/components/key-value-input/key-value-input.component.ts
Labels: bugfix, webapp

#3002 [feature] Complete multiple languages
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#3007 [bugfix] fix some unit tests that failed to run
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineYamlImExportServiceTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertGroupConvergeServiceTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertServiceTest.java
Labels: good first pull request, bugfix

#3005 [feature](alert): implement drag-and-drop functionality for alert templates
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.less
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/styles/theme.less
Labels: good first pull request, new feature, webapp

#3009 [improve] Freeze the 'Operate' column on the right side of the list.
  web-app/src/app/routes/alert/alert-group/alert-group-converge.component.html
  web-app/src/app/routes/alert/alert-inhibit/alert-inhibit.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-receiver/alert-notice-receiver.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-rule/alert-notice-rule.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-template/alert-notice-template.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/setting/collector/collector.component.html
Labels: webapp

#3011 [MINOR UPDATE] always specify the char encoding in getBytes
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineJsonImExportServiceTest.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/telnet/TelnetCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/websocket/WebsocketCollectImpl.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/message/CollectRep.java
  hertzbeat-common/src/test/java/org/apache/hertzbeat/common/serialize/KafkaMetricsDataDeserializerTest.java
  hertzbeat-common/src/test/java/org/apache/hertzbeat/common/util/FileUtilTest.java
  hertzbeat-e2e/hertzbeat-collector-basic-e2e/src/test/java/org/apache/hertzbeat/collector/collect/basic/http/DockerMonitorE2eTest.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/controller/PluginControllerTest.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/JsonImExportServiceTest.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/PluginServiceTest.java
  template-marketplace/hertzbeat-template-hub/src/main/java/org/apache/hertzbeat/templatehub/service/impl/LocalFileStorageServiceImpl.java
  template-marketplace/hertzbeat-template-hub/src/test/java/org/apache/hertzbeat/templatehub/controller/VersionControllerTest.java
  template-marketplace/hertzbeat-template-hub/src/test/java/org/apache/hertzbeat/templatehub/controller/VersionDOControllerTest.java
Labels: improve

#3014 [bugfix]Fix page not found
  web-app/src/app/routes/alert/alert-routing.module.ts
  web-app/src/app/routes/routes-routing.module.ts
  web-app/src/assets/app-data.json
Labels: bugfix, webapp

#3018 [bugfix] Modify mask issue
  web-app/src/assets/style.compact.css
  web-app/src/assets/style.dark.css
Labels: webapp

#3016 [MINOR UPDATE] Use Encode to string when possible (Base64)
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/util/AesUtil.java
  hertzbeat-grafana/src/main/java/org/apache/hertzbeat/grafana/service/ServiceAccountService.java
Labels: improve

#3029 [Feature] Add API e2e code
  hertzbeat-e2e/hertzbeat-collector-basic-e2e/src/test/java/org/apache/hertzbeat/collector/collect/basic/http/HttpMonitorE2eTest.java
Labels: good first pull request, new feature

#3025 [doc] update new contributor wall
  .all-contributorsrc
  README.md
  README_CN.md
  home/src/pages/team/index.jsx
  home/yarn.lock
Labels: doc, home

#3031 [bugfix] fix and enable some unit tests.
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefineControllerTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertDefinesControllerTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertGroupConvergeControllerTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertGroupConvergesControllerTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/notice/impl/DbAlertStoreHandlerImplTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/reduce/AlarmSilenceReduceTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/AlertDefineExcelImExportServiceTest.java
Labels: unit test case, bugfix

#2948 [feature] Add pagination and name-based search functionality in notification module
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/controller/NoticeConfigController.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/NoticeConfigService.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/NoticeConfigServiceImpl.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/controller/NoticeConfigControllerTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/NoticeConfigServiceTest.java
  web-app/src/app/routes/alert/alert-notice/alert-notice-receiver/alert-notice-receiver.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-receiver/alert-notice-receiver.component.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice-rule/alert-notice-rule.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-rule/alert-notice-rule.component.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice-template/alert-notice-template.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-template/alert-notice-template.component.ts
  web-app/src/app/service/notice-receiver.service.ts
  web-app/src/app/service/notice-rule.service.ts
  web-app/src/app/service/notice-template.service.ts
Labels: good first pull request, new feature, webapp

#3034 [bugfix] Fixed the bug in the threshold rules search box.
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.ts
Labels: bugfix, webapp

#3035 [improve] Replaced hardcoded text with internationalized string.
  web-app/src/app/routes/monitor/monitor-data-table/monitor-data-table.component.html
Labels: webapp
