Repository apache/hertzbeat, pull requests merged in 2025-02, with the labels that each got.

#3046 [update] upgrade actions/upload-artifact to v4
  .github/workflows/backend-build-test.yml
  .github/workflows/doc-pdf-builder.yml
Labels: infra

#3042 [improve] Search ignores case sensitivity.
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/CollectorServiceImpl.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/TagServiceImpl.java
Labels: improve

#3054 [alert] support multi query expr threshold
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/DataSourceServiceImpl.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/DataSourceServiceTest.java
  hertzbeat-manager/src/main/resources/define/app-nvidia.yml
  web-app/src/app/layout/basic/widgets/notify.component.ts
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#3055 [improve](alert-center): enhance alert card animations and interactions
  web-app/src/app/routes/alert/alert-center/alert-center.component.less
Labels: improve, webapp

#3030 [Feature]Add zookeeper e2e code
  hertzbeat-e2e/hertzbeat-collector-basic-e2e/pom.xml
  hertzbeat-e2e/hertzbeat-collector-basic-e2e/src/test/java/org/apache/hertzbeat/collector/collect/basic/http/HttpMonitorE2eTest.java
  hertzbeat-e2e/hertzbeat-collector-basic-e2e/src/test/java/org/apache/hertzbeat/collector/collect/basic/ssh/SshCollectE2eTest.java
  hertzbeat-e2e/hertzbeat-collector-basic-e2e/src/test/java/org/apache/hertzbeat/collector/collect/basic/telnet/ZookeeperMonitorE2eTest.java
  hertzbeat-e2e/hertzbeat-collector-common-e2e/src/test/java/org/apache/hertzbeat/collector/collect/AbstractCollectE2eTest.java
Labels: test, new feature

#3038 [feature] Add Sftp config for monitor
  e2e/data/monitor-ftp.json
  hertzbeat-collector/hertzbeat-collector-basic/pom.xml
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/ftp/FtpCollectImpl.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/FtpProtocol.java
  hertzbeat-manager/src/main/resources/define/app-ftp.yml
  material/licenses/LICENSE
  material/licenses/backend/LICENSE
  material/licenses/collector/LICENSE
  pom.xml
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, new feature, e2e, webapp, license

#3013 [feature] Add Japanese
  web-app/src/app/core/i18n/i18n.service.ts
  web-app/src/app/routes/setting/settings/system-config/system-config.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: new feature, webapp

#3062 [bugfix] fix singleton not support remove, search id error, audio fetch 401
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/reduce/AlarmGroupReduce.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  hertzbeat-manager/src/main/resources/sureness.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/sureness.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/sureness.yml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/conf/sureness.yml
  script/sureness.yml
Labels: docker-compose, docker, script

#3064 [webapp] update ui theme
  web-app/src/app/routes/alert/alert-center/alert-center.component.less
  web-app/src/app/routes/alert/alert-integration/alert-integration.component.less
  web-app/src/app/routes/dashboard/dashboard.component.html
  web-app/src/app/routes/dashboard/dashboard.component.less
  web-app/src/app/routes/dashboard/dashboard.component.ts
  web-app/src/app/routes/setting/define/define.component.html
  web-app/src/app/routes/setting/define/define.component.ts
  web-app/src/app/routes/setting/tags/tags.component.less
  web-app/src/app/service/theme.service.ts
  web-app/src/styles/theme.less
Labels: webapp

#3065 [improve] Complete the missing labels in the i18n file.
  web-app/src/app/routes/setting/tags/tags.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#3066 [Feature]Add Chinese check
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/notice/impl/WeChatAlertNotifyHandlerImpl.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/notice/impl/EmailAlertNotifyHandlerImplTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/reduce/AlarmInhibitReduceTest.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchProperties.java
  hertzbeat-common/pom.xml
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/Configmap.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/util/AesUtil.java
  hertzbeat-common/src/test/java/org/apache/hertzbeat/common/queue/impl/KafkaCommonDataQueueTest.java
  hertzbeat-common/src/test/java/org/apache/hertzbeat/common/util/ChineseCharacterCheckTest.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/AppCount.java
  pom.xml
  script/checkstyle/checkstyle.xml
Labels: test, script

#3063 [improve] Refactor SMS sending and replace Tencent Cloud SDK with HTTP API.
  hertzbeat-alerter/pom.xml
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/config/AlibabaSmsProperties.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/config/SmsConfig.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/config/TencentSmsProperties.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/notice/AlertNoticeDispatch.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/notice/impl/AliYunAlertNotifyHandlerImpl.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/notice/impl/SmsAlertNotifyHandlerImpl.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/SmsClient.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/SmsClientFactory.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/TencentSmsClient.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/TencentSmsClientImpl.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/util/TencentCloudApiSignV3.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/config/CommonProperties.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/constants/SmsConstants.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/support/event/SmsConfigChangeEvent.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SmsGeneralConfigServiceImpl.java
  hertzbeat-manager/src/main/resources/application.yml
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/ManagerTest.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/DataStorageDispatch.java
  material/licenses/LICENSE
  material/licenses/backend/LICENSE
  pom.xml
Labels: good first pull request, new feature, license

#3067 [Bugfix] fix when the monitor is modified, the status is erroneously changed
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
Labels: bugfix

#3071 [improve](web-app): update monitor chart configuration and springboot GreptimeDB version
  pom.xml
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
Labels: improve, webapp

#3073 [doc] Update the SMS configuration document.
  home/docs/start/custom-config.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/custom-config.md
Labels: doc

#3082 [webapp] update and fix alert ui when theme dark
  web-app/src/app/routes/alert/alert-center/alert-center.component.less
  web-app/src/app/routes/alert/alert-group/alert-group-converge.component.html
  web-app/src/app/routes/alert/alert-inhibit/alert-inhibit.component.html
  web-app/src/app/routes/alert/alert-integration/alert-integration.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-receiver/alert-notice-receiver.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-rule/alert-notice-rule.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-template/alert-notice-template.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-template/alert-notice-template.component.less
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.less
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/setting/collector/collector.component.html
  web-app/src/app/routes/setting/plugins/plugin.component.html
  web-app/src/app/routes/setting/settings/object-store/object-store.component.html
  web-app/src/app/routes/setting/settings/object-store/object-store.component.ts
  web-app/src/app/routes/setting/status/status.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
  web-app/src/styles/theme.less
Labels: webapp

#3085 [improve] Improve and unify the search.
  web-app/src/app/routes/alert/alert-group/alert-group-converge.component.html
  web-app/src/app/routes/alert/alert-inhibit/alert-inhibit.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-receiver/alert-notice-receiver.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-rule/alert-notice-rule.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-template/alert-notice-template.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/routes/setting/collector/collector.component.html
  web-app/src/app/routes/setting/plugins/plugin.component.html
  web-app/src/app/routes/setting/tags/tags.component.html
Labels: good first pull request, improve, webapp

#3084 [feature] supports alibaba SMS.
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/config/AlibabaSmsProperties.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/SmsClientFactory.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/AlibabaSmsClientImpl.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SmsAlibabaConfig.java
  hertzbeat-manager/src/main/resources/application.yml
  script/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/conf/application.yml
  web-app/src/app/pojo/AlibabaSmsConfig.ts
  web-app/src/app/routes/setting/settings/message-server/message-server.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp, docker-compose, docker, script

#3094 correct home's new_committer_process
  home/docs/community/new_committer_process.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/new_committer_process.md
Labels: doc

#3088 [bugfix] kafka client detect error
  hertzbeat-collector/hertzbeat-collector-kafka/src/main/java/org/apache/hertzbeat/collector/collect/kafka/KafkaCollectImpl.java
Labels: good first pull request, bugfix

#3097 [Doc]Improve openai doc
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/openai.md
Labels: doc

#3095 [Improve] Message notification prompt optimization
  web-app/src/app/layout/basic/widgets/notify.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#3100 [webapp] fix web oom crash when backend api can not access
  web-app/src/app/layout/basic/widgets/notify.component.ts
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/assets/i18n/en-US.json
Labels: webapp

#3096 [Feature] Add deepseek Api Monitor
  hertzbeat-manager/src/main/resources/define/app-deepseek.yml
  home/docs/help/deepseek.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/deepseek.md
Labels: doc

#3098 feat/adding-ptBR-translation
  web-app/src/app/core/i18n/i18n.service.spec.ts
  web-app/src/app/core/i18n/i18n.service.ts
  web-app/src/app/routes/setting/settings/system-config/system-config.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/pt-BR.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, webapp

#3109 [bugfix] Fix exception thrown when searching for CollectRep.Field in the list
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/message/CollectRep.java
  hertzbeat-common/src/test/java/org/apache/hertzbeat/common/entity/message/CollectRepTest.java
Labels: good first pull request, bugfix
