Repository apache/hertzbeat, pull requests merged in 2025-07, with the labels that each got.

#3531 download version deal
  home/docs/download.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/download.md
Labels: doc

#3543 enable GitHub Dependabot to create PRs for security alerts but not for every dependency update
  .asf.yaml
Labels: infra

#3525 [refactor] `AlarmCacheManager` refactoring processing logic
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/calculate/AlarmCacheManager.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/calculate/PeriodicAlertCalculator.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/calculate/RealTimeAlertCalculator.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/calculate/AlarmCacheManagerTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/calculate/PeriodicAlertCalculatorTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/calculate/RealTimeAlertCalculatorMatchTest.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/constants/CommonConstants.java
Labels: good first pull request, refactor

#3552 [bugfix] fix npe due the victoria insert not config when startup
  hertzbeat-manager/src/main/resources/application.yml
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/tsdb/vm/VictoriaMetricsDataStorage.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/tsdb/vm/VictoriaMetricsProperties.java
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/conf/application.yml
Labels: docker-compose, docker, script

#3559 [doc] Fix documentation error and adjust Chinese semantics
  README_CN.md
  home/i18n/zh-cn/code.json
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-08-14-hertzbeat-v1.4.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-08-28-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-09-26-hertzbeat-v1.4.1.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-11-12-hertzbeat-v1.4.2.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-12-11-hertzbeat-v1.4.3.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-01-11-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-01-18-hertzbeat-v1.4.4.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-04-17-to-apache.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-05-09-hertzbeat-ospp-subject-introduction.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-06-15-hertzbeat-v1.6.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/introduce.md
  template-marketplace/hertzbeat-template-hub-web-app/src/app/routes/home-page/home-page.component.html
Labels: doc

#3561 [doc] add new pmc and committer
  home/docs/community/maturity.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/maturity.md
  home/src/pages/team/member.json
Labels: doc, home

#3563 [doc] add new committer
  home/src/pages/team/member.json
Labels: doc, home

#3474 [mqtt] refact the MQTT based on the Paho SDK and support both unidirectional and bidirectional MQTT over TLS connections.
  .github/workflows/backend-build-test.yml
  hertzbeat-collector/hertzbeat-collector-basic/pom.xml
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/mqtt/CertificateFormatter.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/mqtt/MqttCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/mqtt/MqttSslFactory.java
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/collect/mqtt/MqttCollectTest.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/MqttProtocol.java
  hertzbeat-manager/src/main/resources/define/app-mqtt.yml
Labels: good first pull request, infra

#3569 [docs] Add new committer blog
  home/blog/2025-07-11-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2025-07-11-new-committer.md
Labels: doc

#3588 [feature] System time zone optimization.
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/controller/GeneralConfigController.java
  web-app/src/app/routes/setting/settings/system-config/system-config.component.html
  web-app/src/app/routes/setting/settings/system-config/system-config.component.ts
  web-app/src/app/service/general-config.service.ts
Labels: good first pull request, new feature, webapp

#3579 [fix] Fix collector online metadata filling
  .github/workflows/backend-build-test.yml
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/scheduler/CollectorJobScheduler.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/scheduler/CollectorJobSchedulerTest.java
Labels: good first pull request, bugfix, infra
