Repository apache/hertzbeat, pull requests merged in 2025-06, with the labels that each got.

#3421 [infra]: Update issue tmpl
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: infra

#3410 [feat] support sql("...") and promql("...") expressions including SQL condition parsing
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/expr/AlertExpressionBaseVisitor.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/expr/AlertExpressionEvalVisitor.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/expr/AlertExpressionLexer.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/expr/AlertExpressionParser.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/expr/AlertExpressionVisitor.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/DataSourceServiceImpl.java
  hertzbeat-alerter/src/main/resources/expr/AlertExpression.g4
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/expr/AlertExpressionEvalVisitorTest.java
Labels: good first pull request, new feature

#3443 [feature] Support Huawei Cloud `Cloud Eye` alert source
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/dto/HuaweiCloudExternAlert.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/HuaweiCloudExternAlertService.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/util/DateUtil.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/HuaweiCloudExternAlertServiceTest.java
  web-app/src/app/routes/alert/alert-integration/alert-integration.component.ts
  web-app/src/assets/doc/alert-integration/huaweicloud-ces.en-US.md
  web-app/src/assets/doc/alert-integration/huaweicloud-ces.zh-CN.md
  web-app/src/assets/doc/alert-integration/huaweicloud-ces.zh-TW.md
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/pt-BR.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
  web-app/src/assets/img/integration/huaweicloud.svg
Labels: webapp

#3440 docs: Add one-click installation for Rainbond Cloud
  home/docs/start/rainbond-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/rainbond-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/start/rainbond-deploy.md
  home/static/img/docs/start/hertzbeat-desc.png
  home/static/img/docs/start/hertzbeat-link.png
  home/static/img/docs/start/hertzbeat-topology-en.png
  home/static/img/docs/start/hertzbeat-versions.png
  home/static/img/docs/start/rainbond-cloud.png
  home/versioned_docs/version-v1.6.x/start/rainbond-deploy.md
Labels: doc

#3439 [feat] add support for OpenRouter AI provider
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/constants/AiConstants.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/constants/AiTypeEnum.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/ai/OpenRouterServiceImpl.java
  hertzbeat-manager/src/main/resources/application.yml
  home/docs/help/ai_config.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/ai_config.md
Labels: doc

#3450 [security] update hertzbeat security model
  home/docs/help/security_model.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/security_model.md
Labels: doc

#3451 [feature] support volcengine alert source
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/dto/VolcEngineExternEventAlert.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/dto/VolcEngineExternMetricAlert.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/VolcEngineExternAlertService.java
Labels: good first pull request, new feature

#3449 [doc] add publish version 1.7.1 blog
  home/blog/2025-06-10-hertzbeat-v1.7.1.md
Labels: doc

#3460 [doc] add doc for integrate volcengine alerts
  web-app/src/app/routes/alert/alert-integration/alert-integration.component.ts
  web-app/src/assets/doc/alert-integration/volcengine.en-US.md
  web-app/src/assets/doc/alert-integration/volcengine.ja-JP.md
  web-app/src/assets/doc/alert-integration/volcengine.pt-BR.md
  web-app/src/assets/doc/alert-integration/volcengine.zh-CN.md
  web-app/src/assets/doc/alert-integration/volcengine.zh-TW.md
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/pt-BR.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
  web-app/src/assets/img/integration/volcengine.svg
Labels: webapp

#3466 [doc] Alert notification template
  home/docs/help/alert_notification_template.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_notification_template.md
  home/sidebars.json
  home/static/img/docs/help/alert-notification-template-1-en.png
  home/static/img/docs/help/alert-notification-template-1.png
Labels: doc

#3467 [fix] Fix `Monitors` paging display.
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
Labels: webapp

#3478 [docs](webhook): update Chinese documentation for alert integration
  web-app/src/assets/doc/alert-integration/webhook.zh-CN.md
Labels: webapp

#3482 [fix] antlr4 `vectors and` parse semantic fixes and optimizations
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/expr/AlertExpressionEvalVisitor.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/expr/AlertExpressionEvalVisitorTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/DataSourceServiceTest.java
Labels: good first pull request, bugfix

#3491 [ci]: add mvnd support and update backend build
  .github/workflows/backend-build-test.yml
  script/ci/github-actions/setup-deps/action.yml
Labels: script, infra

#3488 [fix] Fix antlr4 parsing of `or` and `unless` logical and set binary operators
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/expr/AlertExpressionEvalVisitor.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/expr/AlertExpressionEvalVisitorTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/DataSourceServiceTest.java
Labels: bugfix

#3500 add:a small jdbc modified.
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/database/JdbcCommonCollect.java
  hertzbeat-mcp/pom.xml
Labels: good first pull request

#3497 [bugfix] Fix incorrect expression parsing in alert setting component
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
Labels: good first pull request, bugfix, webapp

#3522 [doc] Add new commiter blog
  home/blog/2025-06-29-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2025-06-29-new-committer.md
Labels: doc

#3514 [fix] fix i18n error and append two metrics about disk infos
  hertzbeat-manager/src/main/resources/define/app-darwin.yml
  home/docs/help/darwin.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/darwin.md
Labels: doc

#3523 [feat]parallel ci
  .github/workflows/doc-build-test.yml
  home/docs/help/shenyu.md
Labels: doc, infra

#3527 [doc] japanese influxdb promql
  hertzbeat-manager/src/main/resources/define/app-activemq.yml
  hertzbeat-manager/src/main/resources/define/app-dynamic_tp.yml
  hertzbeat-manager/src/main/resources/define/app-fullsite.yml
  hertzbeat-manager/src/main/resources/define/app-hadoop.yml
  hertzbeat-manager/src/main/resources/define/app-hive.yml
  hertzbeat-manager/src/main/resources/define/app-iceberg.yml
  hertzbeat-manager/src/main/resources/define/app-influxdb_promql.yml
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/pt-BR.json
Labels: webapp
