Repository apache/hertzbeat, pull requests merged in 2025-09, with the labels that each got.

#3747 [doc] update new version download link
  home/docs/download.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/download.md
Labels: doc

#3746 fix: update CNCF link
  README.md
  README_CN.md
  README_JP.md
  home/docs/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/introduce.md
  home/versioned_docs/version-v1.6.x/introduce.md
Labels: doc

#3751 [bugfix] synchronise AI-related configuration for Docker Compose
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/conf/application.yml
Labels: docker-compose, docker, script

#3722 [GSOC] Added all the necessary tools across services
  hertzbeat-ai-agent/pom.xml
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/adapters/AlertDefineServiceAdapter.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/adapters/AlertServiceAdapter.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/adapters/MetricsServiceAdapter.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/adapters/MonitorServiceAdapter.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/adapters/impl/AlertDefineServiceAdapterImpl.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/adapters/impl/AlertServiceAdapterImpl.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/adapters/impl/MetricsServiceAdapterImpl.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/adapters/impl/MonitorServiceAdapterImpl.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/config/LlmConfig.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/config/PromptProvider.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/pojo/dto/Hierarchy.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/service/McpServerService.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/service/OpenAiConfigService.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/service/impl/ChatClientProviderServiceImpl.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/service/impl/McpServerServiceImpl.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/tools/AlertDefineTools.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/tools/AlertTools.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/tools/MetricsTools.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/tools/MonitorTools.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/tools/impl/AlertDefineToolsImpl.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/tools/impl/AlertToolsImpl.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/tools/impl/MetricsToolsImpl.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/tools/impl/MonitorToolsImpl.java
  hertzbeat-ai-agent/src/main/java/org/apache/hertzbeat/ai/agent/utils/UtilityClass.java
  home/docs/help/ai_agent_chat.md
  home/docs/help/mcp_sse_server.md
  web-app/src/app/layout/basic/basic.component.less
  web-app/src/app/shared/components/ai-chat/chat.component.html
Labels: doc, new feature, webapp

#3483 [fix]bugfix:Prevent Long.parseLong() error when search param is a float
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/MonitorServiceTest.java
Labels: bugfix

#3774 [feat] Support jenkins monitoring
  hertzbeat-manager/src/main/resources/define/app-jenkins.yml
  home/docs/help/jenkins.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/jenkins.md
Labels: doc

#3761 [improve] Prometheus streaming parsing optimization enhancements
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/prometheus/parser/OnlineParser.java
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/collect/prometheus/parser/OnlineParserSingleTest.java
Labels: improve

#3547 [OSPP] Implement a mcp server to run any scripts or commands securely
  .github/workflows/mcp-bashserver-test.yml
  mcp-servers/README.md
  mcp-servers/mcp-bash-server/.gitignore
  mcp-servers/mcp-bash-server/Cargo.lock
  mcp-servers/mcp-bash-server/Cargo.toml
  mcp-servers/mcp-bash-server/Dockerfile
  mcp-servers/mcp-bash-server/README.md
  mcp-servers/mcp-bash-server/config.toml
  mcp-servers/mcp-bash-server/src/common/bash_server.rs
  mcp-servers/mcp-bash-server/src/common/config.rs
  mcp-servers/mcp-bash-server/src/common/mod.rs
  mcp-servers/mcp-bash-server/src/common/oauth.rs
  mcp-servers/mcp-bash-server/src/common/validator.rs
  mcp-servers/mcp-bash-server/src/html/mcp_oauth_index.html
  mcp-servers/mcp-bash-server/src/main.rs
  mcp-servers/mcp-bash-server/templates/mcp_oauth_authorize.html
Labels: doc, good first pull request, new feature, infra, OSPP
