Repository apache/hertzbeat, pull requests merged in 2025-08, with the labels that each got.

#3612 [feat] Http collect supports jsonpath parsing of numeric type
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImplTest.java
Labels: good first pull request, new feature

#3616 [doc] Optimize the home website navbar layout UI for medium-sized screens
  home/src/css/custom.css
Labels: doc, home

#3629 [fix] Fixed `springboot3`abnormal use of the keyword jexl
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/constants/JexlKeywordsEnum.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AppServiceImpl.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  hertzbeat-manager/src/main/resources/define/app-springboot3.yml
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/script/YamlCheckScript.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/AppServiceTest.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/MonitorServiceTest.java
Labels: good first pull request, bugfix

#3622 [Feature] add customized labels to VM metrics
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/tsdb/vm/VictoriaMetricsClusterDataStorage.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/tsdb/vm/VictoriaMetricsDataStorage.java
Labels: enhancement, good first pull request

#3636 [fix] remove optional metrics
  hertzbeat-manager/src/main/resources/define/app-ubuntu.yml
  home/docs/help/ubuntu.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/ubuntu.md
Labels: doc

#3631 [doc] add English version of linux operating system practice usecase
  home/docs/start/usecase/linux-os-practice.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/usecase/linux-os-practice.md
Labels: doc

#3641 [feature] Support HertzBeat self monitor
  hertzbeat-collector/hertzbeat-collector-collector/pom.xml
  hertzbeat-collector/hertzbeat-collector-collector/src/main/java/org/apache/hertzbeat/collector/dispatch/CommonDispatcher.java
  hertzbeat-collector/hertzbeat-collector-collector/src/main/java/org/apache/hertzbeat/collector/metrics/HertzBeatMetricsCollector.java
  hertzbeat-collector/hertzbeat-collector-collector/src/main/resources/application.yml
  hertzbeat-manager/pom.xml
  hertzbeat-manager/src/main/resources/application.yml
  hertzbeat-manager/src/main/resources/grafana/hertzbeat-monitor-zh-CN.json
  hertzbeat-otel/pom.xml
  hertzbeat-otel/src/main/java/org/apache/hertzbeat/otel/config/OpenTelemetryConfig.java
  script/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/conf/application.yml
Labels: docker-compose, docker, script

#3659 [doc] improve documentation formatting and readability
  home/docs/help/ubuntu.md
  home/docs/start/usecase/linux-os-practice.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/ubuntu.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/usecase/linux-os-practice.md
Labels: doc

#3656 [Feature] add Apache DolphinScheduler monitoring support
  hertzbeat-manager/src/main/resources/define/app-dolphinscheduler.yml
  home/docs/help/dolphinscheduler.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/dolphinscheduler.md
  home/sidebars.json
Labels: doc

#3666 [fix] Fixed Grafana visualization integration display issue
  hertzbeat-grafana/src/main/java/org/apache/hertzbeat/grafana/service/DashboardService.java
  hertzbeat-grafana/src/test/java/org/apache/hertzbeat/grafana/service/DashboardServiceTest.java
Labels: bugfix

#3695 [doc] Fixed menu path errors and MD document format anomalies.
  home/docs/help/mcp_sse_server.md
  home/docs/help/spring_gateway.md
  home/docs/start/usecase/linux-os-practice.md
  home/docs/start/usecase/sslcert-practice.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-09-10-ssl-practice.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/spring_gateway.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/usecase/sslcert-practice.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/start/sslcert-practice.md
  home/versioned_docs/version-v1.6.x/start/sslcert-practice.md
Labels: doc

#3678 [feat] Support TDengine monitoring
  hertzbeat-manager/src/main/resources/define/app-tdengine.yml
  home/docs/help/tdengine_promql.md
  home/docs/start/usecase/tdengine-practice.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/tdengine_promql.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/usecase/tdengine-practice.md
  home/sidebars.json
  home/static/img/docs/start/tdengine_1.png
  home/static/img/docs/start/tdengine_1_1.png
  home/static/img/docs/start/tdengine_1_2.png
  home/static/img/docs/start/tdengine_1_3.png
  home/static/img/docs/start/tdengine_1_4.png
  home/static/img/docs/start/tdengine_1_5.png
  home/static/img/docs/start/tdengine_1_6.png
  home/static/img/docs/start/tdengine_2.png
  home/static/img/docs/start/tdengine_3.png
  home/static/img/docs/start/tdengine_4.png
  home/static/img/docs/start/tdengine_5.png
  home/static/img/docs/start/tdengine_6.png
  home/static/img/docs/start/tdengine_7.png
  home/static/img/docs/start/tdengine_8.png
  home/static/img/docs/start/tdengine_9.png
Labels: doc

#3662 [improve] Improve the parsing logic of prometheus label
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImplTest.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/constants/CommonConstants.java
Labels: improve

#3714 [doc] modify github link.
  home/src/pages/team/member.json
Labels: doc, home

#3719 [improve] Improve performance issues when loading large numbers of metric cards in Monitors
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.html
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.ts
Labels: webapp

#3721 [feature] add Synology NAS monitoring support
  hertzbeat-manager/src/main/resources/define/app-synology_nas.yml
  home/docs/help/synology_nas.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/synology_nas.md
  home/sidebars.json
Labels: doc, good first pull request, new feature

#3724 [release] release new version 1.7.3
  hertzbeat-collector/hertzbeat-collector-collector/src/main/resources/application.yml
  pom.xml
  script/docker-compose/hertzbeat-mysql-iotdb/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-tdengine/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/docker-compose.yaml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/docker-compose.yaml
  script/release/release-win.ps1
  web-app/src/app/shared/constants.ts
Labels: webapp, docker-compose, docker, script

#3726 [Improve] changed scroll of intervals in New Monitor page
  web-app/src/app/shared/components/form-field/form-field.component.html
Labels: webapp

#3727 [improve] optimize the incident list on the status page to support paginated queries
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/controller/StatusPageController.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/controller/StatusPagePublicController.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/StatusPageService.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/StatusPageServiceImpl.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/controller/StatusPageControllerTest.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/controller/StatusPagePublicControllerTest.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/StatusPageServiceTest.java
  web-app/src/app/routes/setting/status/status.component.html
  web-app/src/app/routes/setting/status/status.component.ts
  web-app/src/app/routes/status-public/status-public.component.html
  web-app/src/app/routes/status-public/status-public.component.ts
  web-app/src/app/service/status-page-public.service.ts
  web-app/src/app/service/status-page.service.ts
  web-app/src/app/shared/shared-zorro.module.ts
Labels: good first pull request, improve, webapp
