Repository apache/hertzbeat, pull requests merged in 2025-03, with the labels that each got.

#3113 [type: fix] #3090 garbled characters
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/snmp/SnmpCollectImpl.java
Labels: good first pull request, bugfix

#3123 [doc]fix link
  script/ci/exclude_files.txt
Labels: script

#3122 [doc] Add GSOC doc
  home/blog/2025-03-03-gsoc-2025.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2025-03-03-gsoc-2025.md
  script/ci/exclude_files.txt
Labels: doc, script

#3114 [doc] Add alibaba SMS and unisms documentation.
  README.md
  README_CN.md
  home/docs/community/contact.md
  home/docs/help/alert_sms.md
  home/docs/introduce.md
  home/docs/start/custom-config.md
  home/docusaurus.config.js
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/contact.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_sms.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/custom-config.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/community/contact.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/introduce.md
  home/sidebars.json
  home/versioned_docs/version-v1.5.x/community/contact.md
  home/versioned_docs/version-v1.5.x/introduce.md
Labels: doc

#3101 [improve] support reuse jdbc connection switch
  .all-contributorsrc
  README.md
  README_CN.md
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/database/JdbcCommonCollect.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/JdbcProtocol.java
  hertzbeat-manager/src/main/resources/define/app-oracle.yml
  home/docs/community/contribution.md
  home/docs/community/development.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/contribution.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/development.md
  home/src/pages/team/index.jsx
  script/ci/link_check.json
  web-app/README.md
Labels: doc, webapp, home, script

#3118 [webapp] fix monitor define param wrong placeholder tip
  web-app/src/app/routes/monitor/monitor-edit/monitor-edit.component.ts
  web-app/src/app/routes/monitor/monitor-new/monitor-new.component.ts
Labels: webapp

#3129 [bugfix] Fix swagger opening exception that Failed to load API definition. (#3127)
  pom.xml
Labels: bugfix

#3140 [doc] Add new committer blog
  home/blog/2025-03-10-new-committer.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2025-03-10-new-committer.md
Labels: doc

#3142 Fix the issue of the empty dropdown menu on the Kanban board page.
  web-app/src/app/routes/bulletin/bulletin.component.html
Labels: webapp

#3144 [feature] Support skywalking alert source
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/dto/SkyWalkingExternAlert.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/SkyWalkingExternAlertService.java
  web-app/src/app/routes/alert/alert-integration/alert-integration.component.ts
  web-app/src/assets/doc/alert-integration/skywalking.en-US.md
  web-app/src/assets/doc/alert-integration/skywalking.zh-CN.md
  web-app/src/assets/doc/alert-integration/skywalking.zh-TW.md
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/pt-BR.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
  web-app/src/assets/img/integration/skywalking.svg
Labels: good first pull request, new feature, webapp

#3138 [feature] support SSH proxy jump connections
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/ssh/SshCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/collect/common/ssh/SshHelper.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/SshProtocol.java
  hertzbeat-manager/src/main/resources/define/app-almalinux.yml
  hertzbeat-manager/src/main/resources/define/app-centos.yml
  hertzbeat-manager/src/main/resources/define/app-coreos.yml
  hertzbeat-manager/src/main/resources/define/app-debian.yml
  hertzbeat-manager/src/main/resources/define/app-euleros.yml
  hertzbeat-manager/src/main/resources/define/app-freebsd.yml
  hertzbeat-manager/src/main/resources/define/app-linux.yml
  hertzbeat-manager/src/main/resources/define/app-nvidia.yml
  hertzbeat-manager/src/main/resources/define/app-opensuse.yml
  hertzbeat-manager/src/main/resources/define/app-process.yml
  hertzbeat-manager/src/main/resources/define/app-redhat.yml
  hertzbeat-manager/src/main/resources/define/app-rockylinux.yml
  hertzbeat-manager/src/main/resources/define/app-ubuntu.yml
Labels: good first pull request, new feature

#3146 [improve] support bind metrics label and others into alert
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/calculate/RealTimeAlertCalculator.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/NoticeConfigServiceImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/prometheus/PrometheusAutoCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/constants/CommonConstants.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/constants/MetricDataConstants.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/Job.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/message/CollectRep.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/scheduler/SchedulerInit.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/MonitorServiceTest.java
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#3116 [bugfix] Fixed #3112, disappear left menu tree item when restart service
  hertzbeat-e2e/hertzbeat-collector-common-e2e/src/test/java/org/apache/hertzbeat/collector/collect/AbstractCollectE2eTest.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AppServiceImpl.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/AppServiceTest.java
Labels: bugfix

#3148 [improve] Merge SMS configuration class.
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/config/AlibabaSmsProperties.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/config/AwsSmsProperties.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/config/SmsConfig.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/config/SmslocalSmsProperties.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/config/TencentSmsProperties.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/config/UniSmsProperties.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SmsAlibabaConfig.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SmsAwsConfig.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SmsNoticeSender.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SmsTencentConfig.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SmsUniSmsConfig.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/pojo/dto/SmslocalConfig.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/SmsGeneralConfigServiceImpl.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/SmsGeneralConfigServiceTest.java
Labels: good first pull request, improve

#3151 [webapp] fix less style file over max build error
  web-app/angular.json
  web-app/src/index.html
Labels: webapp

#3153 [bugfix] fix nightly docker build github action
  .github/workflows/codeql-analysis.yml
  .github/workflows/doc-build-test.yml
  .github/workflows/doc-pdf-builder.yml
  .github/workflows/frontend-build-test.yml
  .github/workflows/license-checker.yml
  .github/workflows/nightly-build.yml
Labels: infra

#3143 [feature] Supports sending messages to a specific Telegram group topic.(#3079)
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/notice/impl/TelegramBotAlertNotifyHandlerImpl.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/alerter/NoticeReceiver.java
  web-app/src/app/pojo/NoticeReceiver.ts
  web-app/src/app/routes/alert/alert-notice/alert-notice-receiver/alert-notice-receiver.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/pt-BR.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#3152 Abstract Redundant Input Components into ConfigurableFieldComponent for Unified Management
  web-app/src/app/routes/alert/alert-inhibit/alert-inhibit.component.html
  web-app/src/app/routes/alert/alert-notice/alert-notice-rule/alert-notice-rule.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-silence/alert-silence.component.html
  web-app/src/app/routes/monitor/monitor-form/monitor-form.component.html
  web-app/src/app/routes/setting/status/status.component.html
  web-app/src/app/shared/components/configurable-field/configurable-field.component.html
  web-app/src/app/shared/components/configurable-field/configurable-field.component.less
  web-app/src/app/shared/components/configurable-field/configurable-field.component.spec.ts
  web-app/src/app/shared/components/configurable-field/configurable-field.component.ts
  web-app/src/app/shared/components/form-field/form-field.component.html
  web-app/src/app/shared/components/form-field/form-field.component.ts
  web-app/src/app/shared/components/key-value-input/key-value-input.component.html
  web-app/src/app/shared/components/key-value-input/key-value-input.component.less
  web-app/src/app/shared/components/key-value-input/key-value-input.component.ts
  web-app/src/app/shared/components/labels-input/labels-input.component.html
  web-app/src/app/shared/components/labels-input/labels-input.component.less
  web-app/src/app/shared/components/labels-input/labels-input.component.spec.ts
  web-app/src/app/shared/components/labels-input/labels-input.component.ts
  web-app/src/app/shared/components/metrics-field-input/metrics-field-input.component.html
  web-app/src/app/shared/components/metrics-field-input/metrics-field-input.component.less
  web-app/src/app/shared/components/metrics-field-input/metrics-field-input.component.spec.ts
  web-app/src/app/shared/components/metrics-field-input/metrics-field-input.component.ts
  web-app/src/app/shared/components/multi-func-input/multi-func-input.component.less
  web-app/src/app/shared/shared.module.ts
Labels: webapp

#3149 [feature] Support TencentCloud alert source
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/dto/TencentCloudExternAlert.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/TencentExternAlertService.java
  web-app/src/app/routes/alert/alert-integration/alert-integration.component.ts
  web-app/src/assets/doc/alert-integration/tencent.en-US.md
  web-app/src/assets/doc/alert-integration/tencent.zh-CN.md
  web-app/src/assets/doc/alert-integration/tencent.zh-TW.md
Labels: good first pull request, new feature, webapp

#3108 [bugfix] Fix http header being incorrectly encoded.
  e2e/data/monitor-http.json
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/HttpProtocol.java
  hertzbeat-manager/src/main/resources/define/app-api.yml
Labels: good first pull request, bugfix, e2e

#3156 [bugfix] retain sorting state after monitor list auto-refresh
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
Labels: bugfix, webapp

#3164 [doc] Add alert integration japanese i18
  web-app/src/assets/doc/alert-integration/alertmanager.ja-JP.md
  web-app/src/assets/doc/alert-integration/prometheus.ja-JP.md
  web-app/src/assets/doc/alert-integration/skywalking.ja-JP.md
  web-app/src/assets/doc/alert-integration/skywalking.zh-CN.md
  web-app/src/assets/doc/alert-integration/tencent.ja-JP.md
  web-app/src/assets/doc/alert-integration/webhook.ja-JP.md
Labels: good first pull request, webapp, docs

#3165 [release] update release version 1.7.0 version and docs
  .all-contributorsrc
  README.md
  README_CN.md
  hertzbeat-collector/hertzbeat-collector-collector/src/main/resources/application.yml
  hertzbeat-manager/src/main/resources/application-test.yml
  home/sidebars.json
  home/src/pages/team/index.jsx
  pom.xml
  script/docker-compose/hertzbeat-mysql-iotdb/conf/application.yml
  script/docker-compose/hertzbeat-mysql-iotdb/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-tdengine/conf/application.yml
  script/docker-compose/hertzbeat-mysql-tdengine/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/conf/application.yml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/docker-compose.yaml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/conf/application.yml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/docker-compose.yaml
  script/docker/collector/README.md
  script/docker/collector/build.sh
  script/docker/server/README.md
  script/docker/server/build.sh
  script/release/release-win.ps1
  web-app/src/app/shared/constants.ts
Labels: doc, webapp, home, docker-compose, docker, script

#3161 [feature] implement labels-based monitors filtering in bulletin creation flow
  home/docs/help/bulletin.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/bulletin.md
  home/static/img/docs/help/bulletin-1.png
  web-app/src/app/routes/bulletin/bulletin.component.html
  web-app/src/app/routes/bulletin/bulletin.component.ts
Labels: doc, new feature, webapp

#3168 [bugfix] fix postgre mount error, use mariadb instead of mysql in compose
  .gitignore
  hertzbeat-manager/src/main/resources/db/migration/mysql/V170__update_column.sql
  script/docker-compose/hertzbeat-mysql-iotdb/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-tdengine/docker-compose.yaml
  script/docker-compose/hertzbeat-mysql-victoria-metrics/docker-compose.yaml
  script/docker-compose/hertzbeat-postgresql-victoria-metrics/docker-compose.yaml
  script/docker/collector/build.sh
  script/docker/server/build.sh
Labels: docker-compose, docker, script, infra

#3170 [bugfix] fix bind Labels are not updated when the Alarm Severity switches
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
Labels: webapp

#3171 [improve] update notice copyright years
  NOTICE
  home/docs/community/how-to-release.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/how-to-release.md
  material/licenses/NOTICE
  material/licenses/collector/NOTICE
Labels: doc, license

#3176 fix: Ai is a typo
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.5.x/help/guide.md
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: doc, webapp

#3178 [Doc] Modify the error records in the document
  home/docs/community/development.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/development.md
Labels: doc

#3187 [docs] add collector user guide
  home/docs/help/collector.md
  home/sidebars.json
Labels: doc, good first pull request

#3190 [bugfix] Modify inconsistent icons
  web-app/src/app/routes/alert/alert-inhibit/alert-inhibit.component.html
  web-app/src/app/routes/alert/alert-integration/alert-integration.component.html
  web-app/src/app/routes/bulletin/bulletin.component.html
  web-app/src/app/shared/components/help-message-show/help-message-show.component.html
Labels: good first pull request, webapp

#3195 [doc] add blog bout How Does Metrics Collection Work
  home/blog/2025-03-30-how-does-metrics-collection-work.md
  home/static/img/docs/hertzbeat-metrics-collection-arch.png
Labels: doc, good first pull request

#3191 [doc] update new hertzbeat ppmc
  home/i18n/en/docusaurus-theme-classic/footer.json
  home/i18n/zh-cn/docusaurus-theme-classic/footer.json
  home/src/pages/team/member.json
Labels: doc, home

#3200 [improve] update monitor list ui
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.less
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/routes/monitor/monitor.module.ts
Labels: webapp
