Repository apache/hertzbeat, pull requests merged in 2025-04, with the labels that each got.

#3203 update download info
  home/docs/download.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/download.md
Labels: doc

#3201 [bugfix] fix bulletin indicator selection status error
  web-app/src/app/routes/bulletin/bulletin.component.html
  web-app/src/app/routes/bulletin/bulletin.component.ts
Labels: webapp

#3192 [improve] support the use of time expressions in HTTP payloads
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  home/docs/help/api.md
  home/docs/help/time_expression.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/api.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/time_expression.md
Labels: doc, good first pull request, new feature

#3193 [improve] i18n Portuguese
  web-app/src/assets/doc/alert-integration/alertmanager.pt-BR.md
  web-app/src/assets/doc/alert-integration/prometheus.pt-BR.md
  web-app/src/assets/doc/alert-integration/prometheus.zh-CN.md
  web-app/src/assets/doc/alert-integration/skywalking.pt-BR.md
  web-app/src/assets/doc/alert-integration/tencent.pt-BR.md
  web-app/src/assets/doc/alert-integration/webhook.pt-BR.md
  web-app/src/assets/i18n/pt-BR.json
Labels: good first pull request, improve, webapp

#3194 support plc s7 protocol for siemens
  hertzbeat-collector/hertzbeat-collector-basic/pom.xml
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/s7/S7CollectImpl.java
  hertzbeat-collector/hertzbeat-collector-collector/src/main/resources/META-INF/services/org.apache.hertzbeat.collector.collect.AbstractCollect
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/protocol/S7Protocol.java
  hertzbeat-manager/src/main/resources/define/app-s7.yml
Labels: good first pull request, new feature

#3206 [doc] add doc for alarm grouping and alarm inhibit
  home/docs/help/alarm_group.md
  home/docs/help/alarm_inhibit.md
  home/docs/help/guide.md
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alarm_group.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alarm_inhibit.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/guide.md
  home/sidebars.json
Labels: doc, good first pull request

#3209 [improve] optimize `DnsCollectTest` with status code.
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/collect/dns/DnsCollectImplTest.java
Labels: good first pull request, improve

#3211 Implementation of Hikvision camera monitoring and http monitoring xml parsing function
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  hertzbeat-manager/src/main/resources/define/app-hikvision_isapi.yml
  home/docs/advanced/extend-http-xmlpath.md
  home/docs/help/hikvision_isapi.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http-xmlpath.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/hikvision_isapi.md
  home/sidebars.json
Labels: doc, good first pull request, new feature

#3183 [test]add test for controller AlertInhibitController
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/controller/AlertInhibitControllerTest.java
Labels: good first pull request, unit test case

#3214 [feature]add support for Dahua and Uniview devices
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImpl.java
  hertzbeat-collector/hertzbeat-collector-basic/src/test/java/org/apache/hertzbeat/collector/collect/http/HttpCollectImplTest.java
  hertzbeat-collector/hertzbeat-collector-collector/src/main/java/org/apache/hertzbeat/collector/dispatch/MetricsCollect.java
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/DispatchConstants.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/job/Metrics.java
  hertzbeat-manager/src/main/resources/define/app-dahua.yml
  hertzbeat-manager/src/main/resources/define/app-hikvision_isapi.yml
  hertzbeat-manager/src/main/resources/define/app-uniview.yml
  home/docs/advanced/extend-http-xmlpath.md
  home/docs/help/dahua.md
  home/docs/help/uniview.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/advanced/extend-http-xmlpath.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/dahua.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/uniview.md
  home/sidebars.json
Labels: doc, good first pull request, new feature

#3227 [Doc] Fix dead link
  script/ci/exclude_files.txt
Labels: script

#3218 [feature]A preliminary logging module implementation
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/constants/ConfigConstants.java
  hertzbeat-log/pom.xml
  hertzbeat-log/src/main/java/org/apache/hertzbeat/log/config/LogAutoConfiguration.java
  hertzbeat-log/src/main/java/org/apache/hertzbeat/log/config/OpenTelemetryConfig.java
  hertzbeat-log/src/main/resources/META-INF/spring.factories
  hertzbeat-manager/pom.xml
  hertzbeat-manager/src/main/resources/logback-spring.xml
  material/licenses/LICENSE
  pom.xml
Labels: license

#3231 [Doc] Modify the YML configuration parameters for Spring Boot 2.0/3.0 monitoring
  home/docs/help/springboot2.md
  home/docs/help/springboot3.md
Labels: doc

#3232 [doc] code style check
  home/docs/community/code-style-and-quality-guide.md
Labels: doc

#3174 [bugfix]: Fix the issue where pendingTimeouts may be incorrect in the HashedWheelTimer.
  hertzbeat-collector/hertzbeat-collector-common/src/main/java/org/apache/hertzbeat/collector/dispatch/timer/HashedWheelTimer.java
Labels: good first pull request, bugfix

#3236 [doc] add code-style-check zh-ch.
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/community/code-style-and-quality-guide.md
Labels: doc

#3238 [doc]update Grafana dashboard setup instructions
  home/docs/help/grafana_dashboard.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/grafana_dashboard.md
Labels: doc

#3240 [bugfix] Added jobContentCache.remove(jobId) to cancelAsyncCollectJob
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/scheduler/CollectorJobScheduler.java
Labels: good first pull request, bugfix

#3237 [doc] add new release 1.7.0 blog
  home/blog/2025-04-10-hertzbeat-v1.7.0.md
  home/docs/download.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2025-04-10-hertzbeat-v1.7.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/download.md
  home/src/css/custom.css
Labels: doc, home

#3223 [feat] enable label-based filtering and selection for monitoring thresholds
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/calculate/RealTimeAlertCalculator.java
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.html
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.less
  web-app/src/app/routes/alert/alert-setting/alert-setting.component.ts
  web-app/src/app/routes/alert/alert.module.ts
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.less
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/pt-BR.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, new feature, webapp

#3243 [doc] add new contributors to wall
  .all-contributorsrc
  README.md
  README_CN.md
  home/src/pages/team/index.jsx
Labels: doc, home

#3244 fix UriComponentsBuilder in PromqlQueryExecutor
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/db/PromqlQueryExecutor.java
Labels: bugfix

#3254 [Feature] Add log mcp for java
  hertzbeat-mcp/README.md
  hertzbeat-mcp/pom.xml
  hertzbeat-mcp/src/main/java/org/apache/hertzbeat/mcp/server/McpServerApplication.java
  hertzbeat-mcp/src/main/java/org/apache/hertzbeat/mcp/server/service/LogService.java
  hertzbeat-mcp/src/main/resources/application.yml
  pom.xml
Labels: doc

#3250 [bugfix] fix a remote command execution.
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/database/JdbcCommonCollect.java
Labels: good first pull request, bugfix

#3253 [refactor] Alert datasource calculate
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/expr/AlertExpressionBaseVisitor.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/expr/AlertExpressionEvalVisitor.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/expr/AlertExpressionLexer.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/expr/AlertExpressionParser.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/expr/AlertExpressionVisitor.java
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/service/impl/DataSourceServiceImpl.java
  hertzbeat-alerter/src/main/resources/expr/AlertExpression.g4
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/expr/AlertExpressionEvalVisitorTest.java
  hertzbeat-alerter/src/test/java/org/apache/hertzbeat/alert/service/DataSourceServiceTest.java
Labels: good first pull request, refactor

#3248 [bugfix] Resolve incorrect display of detailed information in Prometheus task history monitoring charts under VictoriaMetrics.
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsClusterDataStorage.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsDataStorage.java
Labels: good first pull request, bugfix

#3259 [doc] add new contributor in wall
  .all-contributorsrc
  README.md
  README_CN.md
  home/src/pages/team/index.jsx
Labels: doc, home

#3269 [bugfix] correct instance filtering regex in RealTimeAlertCalculator
  hertzbeat-alerter/src/main/java/org/apache/hertzbeat/alert/calculate/RealTimeAlertCalculator.java
Labels: good first pull request, bugfix

#3271 [feature] add Maven Wrapper scripts
  .gitignore
  mvnw
  mvnw.cmd
Labels: infra

#3272 [webapp] update header logo style
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.html
  web-app/src/styles/theme.less
Labels: webapp

#3275 [feature] new alert supports reminding through system notifications
  web-app/src/app/layout/basic/widgets/notify.component.ts
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/pt-BR.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: webapp

#3278 [refactor] refact tag to label code
  e2e/testsuite.yaml
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/manager/Label.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/util/SdMonitorOperator.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/controller/LabelController.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/dao/LabelDao.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/LabelService.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AbstractImExportServiceImpl.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/LabelServiceImpl.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/MonitorServiceImpl.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/controller/LabelControllerTest.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/dao/LabelDaoTest.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/LabelServiceTest.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/MonitorServiceTest.java
  web-app/src/app/pojo/Label.ts
  web-app/src/app/routes/dashboard/dashboard.component.ts
  web-app/src/app/routes/monitor/monitor-list/monitor-list.component.ts
  web-app/src/app/routes/setting/label/label.component.html
  web-app/src/app/routes/setting/label/label.component.less
  web-app/src/app/routes/setting/label/label.component.spec.ts
  web-app/src/app/routes/setting/label/label.component.ts
  web-app/src/app/routes/setting/setting-routing.module.ts
  web-app/src/app/routes/setting/setting.module.ts
  web-app/src/app/service/label.service.spec.ts
  web-app/src/app/service/label.service.ts
  web-app/src/app/service/plugin.service.ts
  web-app/src/app/shared/utils/common-util.ts
Labels: e2e, webapp

#3281 [doc] update contributors wall
  .all-contributorsrc
  README.md
  README_CN.md
  home/blog/2022-06-01-hertzbeat-v1.0.md
  home/blog/2022-06-19-hertzbeat-v1.1.0.md
  home/blog/2022-06-22-one-step-up.md
  home/blog/2022-07-10-hertzbeat-v1.1.1.md
  home/blog/2022-10-08-hertzbeat-v1.2.0.md
  home/blog/2022-11-28-hertzbeat-v1.2.2.md
  home/blog/2022-12-28-hertzbeat-v1.2.3.md
  home/blog/2023-03-15-hertzbeat-v1.3.0.md
  home/blog/2023-05-09-hertzbeat-v1.3.1.md
  home/blog/2023-07-05-hertzbeat-v1.3.2.md
  home/blog/2023-11-12-hertzbeat-v1.4.2.md
  home/blog/2023-12-11-hertzbeat-v1.4.3.md
  home/blog/2024-01-18-hertzbeat-v1.4.4.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-06-01-hertzbeat-v1.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-06-19-hertzbeat-v1.1.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-06-22-one-step-up.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-09-04-hertzbeat-v1.1.3.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-10-08-hertzbeat-v1.2.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-11-28-hertzbeat-v1.2.2.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2022-12-28-hertzbeat-v1.2.3.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-03-15-hertzbeat-v1.3.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-05-09-hertzbeat-v1.3.1.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-07-05-hertzbeat-v1.3.2.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-11-12-hertzbeat-v1.4.2.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2023-12-11-hertzbeat-v1.4.3.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-01-18-hertzbeat-v1.4.4.md
  home/src/pages/team/index.jsx
Labels: doc, home

#3273 [improve] Add jdbc common collect e2e code (#3273)
  hertzbeat-collector/hertzbeat-collector-basic/src/main/java/org/apache/hertzbeat/collector/collect/database/JdbcCommonCollect.java
  hertzbeat-e2e/hertzbeat-collector-basic-e2e/pom.xml
  hertzbeat-e2e/hertzbeat-collector-basic-e2e/src/test/java/org/apache/hertzbeat/collector/collect/basic/database/DatabaseImagesEnum.java
  hertzbeat-e2e/hertzbeat-collector-basic-e2e/src/test/java/org/apache/hertzbeat/collector/collect/basic/database/JdbcCommonCollectE2eTest.java
  hertzbeat-e2e/pom.xml
Labels: good first pull request, test

#3283 [improve] Add E2E tests for Redis collector
  hertzbeat-e2e/hertzbeat-collector-basic-e2e/src/test/java/org/apache/hertzbeat/collector/collect/basic/redis/RedisCommonCollectE2eTest.java
Labels: good first pull request, test

#3285 [Feature]Support AI bot
  pom.xml
  web-app/src/app/layout/basic/basic.component.html
  web-app/src/app/layout/basic/basic.component.less
  web-app/src/app/layout/basic/basic.component.ts
  web-app/src/app/service/dashboard-layout.service.ts
  web-app/src/app/shared/components/ai-bot/ai-bot.component.html
  web-app/src/app/shared/components/ai-bot/ai-bot.component.less
  web-app/src/app/shared/components/ai-bot/ai-bot.component.scss
  web-app/src/app/shared/components/ai-bot/ai-bot.component.ts
  web-app/src/app/shared/services/ai-bot.service.ts
  web-app/src/app/shared/shared.module.ts
Labels: good first pull request, new feature, webapp

#3289 [bugfix]: page title show "Not page name" when filter monitor list by type
  web-app/src/app/routes/routes-routing.module.ts
Labels: webapp

#3282 [Task] Set local database as default file server provider
  hertzbeat-e2e/hertzbeat-collector-common-e2e/src/test/java/org/apache/hertzbeat/collector/collect/AbstractCollectE2eTest.java
  hertzbeat-manager/src/main/java/org/apache/hertzbeat/manager/service/impl/AppServiceImpl.java
  hertzbeat-manager/src/test/java/org/apache/hertzbeat/manager/service/AppServiceTest.java
  web-app/src/app/pojo/ObjectStore.ts
  web-app/src/app/routes/setting/settings/object-store/object-store.component.html
  web-app/src/assets/i18n/en-US.json
  web-app/src/assets/i18n/ja-JP.json
  web-app/src/assets/i18n/pt-BR.json
  web-app/src/assets/i18n/zh-CN.json
  web-app/src/assets/i18n/zh-TW.json
Labels: good first pull request, webapp

#3286 [doc] update doc, usecase blog and help doc
  home/docs/help/ai_config.md
  home/docs/help/alarm_silence.md
  home/docs/help/alert_threshold.md
  home/docs/introduce.md
  home/docs/start/update-1.6.0.md
  home/docs/start/update-1.7.0.md
  home/docs/start/usecase/sslcert-practice.md
  home/i18n/en/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current.json
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/ai_config.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_enterprise_wechat_app.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_threshold.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/update-1.6.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/update-1.7.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/usecase/sslcert-practice.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/help/alert_threshold.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/introduce.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/start/sslcert-practice.md
  home/sidebars.json
  home/static/img/docs/help/alert-threshold-1-en.png
  home/static/img/docs/help/alert-threshold-1.png
  home/static/img/docs/help/alert-threshold-2-en.png
  home/static/img/docs/help/alert-threshold-2.png
  home/static/img/docs/help/alert-threshold-3-en.png
  home/static/img/docs/help/alert-threshold-3.png
  home/static/img/docs/help/alert-threshold-4-en.png
  home/static/img/docs/help/alert-threshold-4.png
  home/static/img/docs/start/notice_policy_1.png
  home/static/img/docs/start/notice_receiver_1.png
  home/static/img/docs/start/ssl_1.png
  home/static/img/docs/start/ssl_10.png
  home/static/img/docs/start/ssl_11.png
  home/static/img/docs/start/ssl_2.png
  home/static/img/docs/start/ssl_3.png
  home/static/img/docs/start/ssl_4.png
  home/static/img/docs/start/ssl_5.png
  home/static/img/docs/start/ssl_6.png
  home/static/img/docs/start/ssl_7.png
  home/static/img/docs/start/ssl_8.png
  home/static/img/docs/start/ssl_9.png
  home/static/img/home/10.png
  home/static/img/home/11.png
  home/static/img/home/12.png
  home/static/img/home/13.png
  home/static/img/home/14.png
  home/static/img/home/18.png
  home/static/img/home/19.png
  home/static/img/home/2.png
  home/static/img/home/3.png
  home/static/img/home/6.png
  home/static/img/home/7.png
  home/versioned_docs/version-v1.6.x/help/alert_threshold.md
  home/versioned_docs/version-v1.6.x/introduce.md
  home/versioned_docs/version-v1.6.x/start/sslcert-practice.md
Labels: doc

#3280 [e2e] add e2e test for k8s monitor
  .github/workflows/monitor-e2e-test.yml
  .gitignore
  e2e/k8s/data/config/k3s.yaml
  e2e/k8s/data/config/node-token.txt
  e2e/k8s/data/create_k8s_monitor_data.json
  e2e/k8s/data/testsuite.yaml
  e2e/k8s/docker-compose.yml
Labels: e2e, infra

#3292 [webapp] try reduce memory growth and fix crash
  web-app/src/app/routes/monitor/monitor-data-chart/monitor-data-chart.component.ts
  web-app/src/app/routes/monitor/monitor-detail/monitor-detail.component.ts
  web-app/src/app/shared/utils/common-util.ts
Labels: webapp

#3293 [Doc] Add springboot auto practice usecase
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/usecase/springboot-auto-practice.md
  home/static/img/docs/start/springboot-auto-practice-1.png
  home/static/img/docs/start/springboot-auto-practice-10.png
  home/static/img/docs/start/springboot-auto-practice-11.png
  home/static/img/docs/start/springboot-auto-practice-2.png
  home/static/img/docs/start/springboot-auto-practice-3.png
  home/static/img/docs/start/springboot-auto-practice-4.png
  home/static/img/docs/start/springboot-auto-practice-5.png
  home/static/img/docs/start/springboot-auto-practice-6.png
  home/static/img/docs/start/springboot-auto-practice-7.png
  home/static/img/docs/start/springboot-auto-practice-8.png
  home/static/img/docs/start/springboot-auto-practice-9.png
Labels: doc, good first pull request

#3295 [bugfix] fix collector direct oom
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/entity/message/CollectRep.java
  hertzbeat-common/src/main/java/org/apache/hertzbeat/common/util/ArrowUtil.java
Labels: bugfix

#3298 [Doc] Add English doc for springboot auto practice usecase
  home/blog/2024-06-11-hertzbeat-v1.6.0-update.md
  home/docs/help/oracle.md
  home/docs/start/docker-deploy.md
  home/docs/start/update-1.6.0.md
  home/docs/start/usecase/springboot-auto-practice.md
  home/i18n/zh-cn/docusaurus-plugin-content-blog/2024-06-11-hertzbeat-v1.6.0-update.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/oracle.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/docker-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/update-1.6.0.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/help/oracle.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/start/docker-deploy.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/version-v1.6.x/start/update-1.6.0.md
  home/sidebars.json
  home/versioned_docs/version-v1.6.x/help/oracle.md
  home/versioned_docs/version-v1.6.x/start/docker-deploy.md
  home/versioned_docs/version-v1.6.x/start/update-1.6.0.md
Labels: doc

#3297 [bugfix] enables support for VictoriaMetrics in cluster mode within HertzBeat
  hertzbeat-manager/src/main/resources/application.yml
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsClusterDataStorage.java
  hertzbeat-warehouse/src/main/java/org/apache/hertzbeat/warehouse/store/history/vm/VictoriaMetricsClusterProperties.java
  home/docs/start/victoria-metrics-init.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/start/victoria-metrics-init.md
Labels: doc, good first pull request, bugfix

#3302 [improve] Optimize the way of Dead Link Check
  .github/workflows/doc-build-test.yml
Labels: infra

#3294 [docs] Add Chinese and English versions of the Hertzbeat upgrade guide
  home/blog/2025-04-23-HertzBeat Upgrade Guide (Docker Mode).md
  home/blog/2025-04-23-HertzBeat Upgrade Guide from v1.6.1 to v1.7.0 (Helm Mode).md
  home/blog/2025-04-23-hertzbeat-v1.7.0-docker-and-helm-upgrade-guide.md
  home/blog/HertzBeat Upgrade Guide (Docker Mode)-en.md
  home/blog/HertzBeat Upgrade Guide from v1.6.1 to v1.7.0 (Helm Mode)-en.md
Labels: doc

#3303 [refactor] Remove the possible CVE-2025-30066 security vulnerability action and ignore the 500 code for link check
  .github/workflows/doc-build-test.yml
  script/ci/link_check.json
Labels: script, infra

#3308 [docs] add help documentation for alert integration
  home/docs/help/alert_integration.md
  home/i18n/zh-cn/docusaurus-plugin-content-docs/current/help/alert_integration.md
  home/sidebars.json
  home/static/img/docs/help/alert_integration_cn.png
  home/static/img/docs/help/alert_integration_en.png
Labels: doc
